.query-group{
    float: left;
    cursor: pointer;
}
.query-group .syntax{
    font-weight: bold;
}
.query-item{
    position: relative;
    margin-right: 11px;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
    display: inline-flex;
    border-radius: 4px;
}
.query-item .param, .value{
    font-weight: bold;
}
.query-item .operator{
    margin: 0 3px;
}


.query-icon-close:after {
    content: '\2716';
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    padding-left: 2px;
    top: 5px;
    right: 5px;
    height: 10px;
    width: 10px;
    right: 0;
    font-weight: bold;
    font-size: 20px;
  }
  
  .query-item {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2px;
  }
  
  .query-item:hover {
    padding-left: 5px;
    padding-right: 25px;
    transition: 0.5s;
  }

  .query-item:hover  .query-icon-close:after {
    opacity: 1;
    right: 10px;
  }


