<!-- <ba-picture-upload [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-upload> -->
<div class="panel-group" id="accordion5" role="tablist" style="margin-bottom:200px">
  <div class="panel panel-default" *ngIf="is_load">
    <div class="row" style="margin-top:10px;">
      <div class="col-md-12" [ngStyle]="{'display': hideTitle===false? 'block': 'none'}">
        <span *ngIf="blocksType === 'default'" class="campaign-name">{{blocks.name}}</span>
        <!-- <span *ngIf="blocks.type !== 'default'" (blur)="save()" class="campaign-name" contenteditable [textContent]="blocks.name"
          (input)="blocks.name=$event.target.textContent;">{{blocks.name}}</span> -->

        <span *ngIf="blocksType !== 'default'" class="campaign-name" contenteditable (blur)="blocks.name =$event.target.textContent; updateSaveBlockname()">{{blocks.name}}</span>
        <span (click)="request()" class="icon-copy btn-json" style="position: absolute; cursor: pointer; padding-left: 5px; margin-top: -4px;"></span>
        <!-- <i ngxClipboard [cbContent]="this.blocks.content" class="material-icons icon-copy" style="position: absolute; cursor: pointer; padding-left: 5px; margin-top: -4px;">content_copy</i> -->
        <span *ngIf="blocksType !== 'default'" class="group-block-delete" (click)="deleteBlockItem()"></span>
      </div>
    </div>
    <div class="row">
      <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <div class="row">
      <div class="col-md-8 xxx" [style.width.px]="width_value_list_card">
        <div [dragula]='"seventh-bag"' [dragulaModel]='responseMessage'>
          <ng-container *ngFor="let res of responseMessage; let i = index">
            <!-- TEXT -->
            <div class="response-text" *ngIf="res?.type===1" style="clear: both">
              <div class="col-md-8 p-left-0" style="width: 400px; clear: both;padding-left: 6px;">
                <div class="card-res">
                  <p class="md-card-header">TEXT
                    <span style="font-size: 13px; margin-top: 0px; position: absolute; padding-left: 5px;">({{(640 - res.message.attachment.payload.text?.length) || 0}})</span>
                    <i (click)="removeResponseMessage(res)" class="block-delete"></i>
                  </p>
                  <div>

                    <!-- Truong hop co buttons -->
                    <div class="prompt-row" *ngIf="res.message.attachment != undefined && res.message.attachment.payload.text != undefined">
                      <div class="prompt-cell prompt-cell-second">
                        <textarea [style.border-color]="getStyle(res.message.attachment.payload.text.trim().length)" (blur)="save()" (keyup)="focus(i)"
                                  autosize maxlength="640" id="prompt-empty" name="text.content-{{i}}" [(ngModel)]="res.message.attachment.payload.text"
                                  class="borderless ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength res-text-{{i}} input_err2"
                                  placeholder="Nội dung tin nhắn...(*)"></textarea>
                        <!-- <p style="position: inherit; margin-top: -30px;"><span style="font-size: 13px;padding-left: 349px;">({{(640 - res.message.attachment.payload.text?.length) || 0}})</span></p> -->

                        <ba-button-block [block_cur]="blocks" [input_list_buttons]="res.message.attachment.payload.buttons" (output)="res.message.attachment.payload.buttons=$event"></ba-button-block>
                      </div>
                    </div>
                    <!-- End truong hop co buttons -->

                  </div>
                </div>
              </div>
            </div>
            <!-- CARD -->
            <div (click)="save()" class="response-text" *ngIf="res?.type===2" style="position: relative; clear: both;" [style.width.px]="width_value_list_card">
              <div class="col-md-7 p-left-0" style="width: 265px; float: left; margin-left: 7px" *ngFor="let element of res.message.attachment.payload.elements; let k = index">
                <div class="card-res">
                  <p class="md-card-header">GALLERY
                    <i (click)="removeCardItem(i, element)" class="block-delete"></i>
                  </p>
                  <res-card [block_cur]="blocks" [id_component]="id_component" [index]="k" [index_nam]="i" [res]="element"></res-card>
                </div>
              </div>
              <div class="col-md-7 p-left-0" style="width: 265px; float: left; min-height: 240px; cursor: pointer; margin-left: 7px" *ngIf="res.message.attachment.payload.elements.length < 10">
                <div class="card-res" (click)="addCard(i)">
                  <md-icon class="mat-icon material-icons" role="img" style="line-height: 24px; padding-top: 39%; padding-left: 44%; font-size: 31px; color: #aaafb6;"
                           aria-hidden="true">add</md-icon>
                </div>
              </div>
            </div>
            <!-- IMAGE -->
            <div class="response-text" *ngIf="res?.type===3" style="clear: both; width: 500px;padding-left: 6px;">
              <div class="col-md-7 p-left-0" style="width: 265px;clear: both">
                <div class="card-res">
                  <p class="md-card-header">IMAGE
                    <i (click)="removeResponseMessage(res)" class="block-delete"></i>
                  </p>
                  <div>
                    <img *ngIf="res.message.attachment.payload.url?.length > 0" class="img" style="width: 100%; border-radius: 0px" src="{{res.message.attachment.payload.url}}"
                         onError="this.src='../assets/no_image.jpg';">
                    <div class="input-group solid-input first" style="width: 100%">
                      <div class="completer__wrapper">
                        <ba-file-upload [type]="'dao_tao_noidung'" [url]="res.message.attachment.payload.url" (output)="res.message.attachment.payload.url=$event"></ba-file-upload>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- QUICK REPLY -->
            <div class="response-text" *ngIf="res?.type===4" style="clear: both">
              <div class="col-md-8 p-left-0" style="width: 400px; clear: both; padding-left: 6px;">
                <div class="card-res">
                  <p class="md-card-header">QUICK REPLY
                    <span style="font-size: 13px; margin-top: 0px; position: absolute; padding-left: 5px;">({{(640 - res.message.text?.length) || 0}})</span>
                    <i (click)="removeResponseMessage(res)" class="block-delete"></i>
                  </p>
                  <div>
                    <div class="input-group solid-input first" style="width: 100%">
                      <div class="completer__wrapper">
                        <textarea [style.border-color]="getStyle(res.message.text.trim().length)" (blur)="save()" style="resize:none" autosize maxlength="640"
                                  #quick_reply [(ngModel)]="res.message.text" name="message-quick_reply-{{i}}" class="borderless ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength input_err2 res-text-quick-reply"
                                  placeholder="Nội dung câu hỏi nếu cần (*)"></textarea>
                        <!--  <p style="position: inherit; margin-top: -30px;"><span style="font-size: 13px;padding-left: 349px;">({{(640 - res.message.text?.length) || 0}})</span></p> -->
                        <!--<hr style="margin-top: 0px; margin-bottom: -8px;">-->
                        <ba-button-quick-reply [block_cur]="blocks" [input_list_buttons]="res.message.quick_replies" (output)="res.message.quick_replies=$event"></ba-button-quick-reply>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="div-add col-md-12" style="padding-left: 19px">
        <h4 style="padding-bottom: 10px">
          <i class="fa fa-plus"></i> THÊM CARD</h4>
        <div class="button-row">
          <button md-raised-button (click)="addResponseMessageType(1)">
            <i class="material-icons">font_download</i>TEXT</button>
          <button md-raised-button (click)="addResponseMessageType(3)">
            <i class="material-icons">photo</i>IMAGE</button>
          <button md-raised-button (click)="addResponseMessageType(2)">
            <i class="material-icons">photo_library</i>GALLERY</button>
          <button *ngIf="show_quick_reply" md-raised-button (click)="addResponseMessageType(4)">
            <i class="material-icons">textsms</i>QUICK REPLY</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body" style="padding-top:0;padding-bottom:0">
        <b style="margin-left: 15px;margin-right: 15px;margin-bottom:10px;font-weight: bold;" id="myModalLabel">
          {{json ? 'Bạn hãy chọn "copy" để sao chép nội dung JSON bên dưới' : 'Không có dữ liệu'}}
        </b>
        <div *ngIf="json" class="col-md-12">
          <div id="facebook-json">
            {{json}}
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <div class="col-md-12">
          <button *ngIf="json" md-raised-button style="margin-top:20px" type="button" (click)="copyToClipboard()" data-dismiss="modal">Copy</button>
          <button *ngIf="!json" md-raised-button style="margin-top:20px" type="button" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>