<div class="container-custom" >
    <div class="input-field col s12">
        <input id="country" name="country" placeholder="Chọn loại dữ liệu" type="text" class="form-control validate filter-input" [(ngModel)]="query" (keyup)=filter() (click)="filter_click()">
    </div>
    <div class="suggestions"  *ngIf="filteredList.length > 0">
        <ul *ngFor="let item of filteredList" >
            <li >
                <a (click)="select(item)">{{item}}</a>
            </li>
        </ul>

    </div>
</div>