<div class="wrapper">
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="main-content">
            <div class="container-fluid">
                <div _ngcontent-c0="" class="main main-raised">
                    <div _ngcontent-c0="" class="section">
                        <div _ngcontent-c0="" class="container">
                            <div _ngcontent-c0="" class="row">
                                <div _ngcontent-c0="" class="col-md-3">
                                    <div _ngcontent-c0="" class="fixed-section affix-top" data-offset-top="390" data-spy="affix">
                                        <ul _ngcontent-c0="">
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/tutorial">License and Tutorial</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/buttons">Buttons</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" class="active" href="/documentation/crs">Checkbox/Radio/Toggle</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/dropdown">Dropdown/Dropup</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/inputs">Inputs</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/textarea">Textarea</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/select-bootstrap">Select Bootstrap</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/jasny">FileUpload Jasny</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/navigation">Navigation</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/tables">Tables</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/icons">Material Icons</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/tags">Tags</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/notifications">Bootstrap Notify</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/sweet-alert">Sweet Alert 2</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/datepicker">DatePicker</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/perfectscrollbar">Perfect Scrollbar</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/cards">Cards</a></li>
                                            <li _ngcontent-c0=""><a _ngcontent-c0="" routerlinkactive="active" href="/documentation/colors">Changing Colors</a></li>
                
                                        </ul>
                                    </div>
                                </div>
                                <div _ngcontent-c0="" class="col-md-8">
                                    <div _ngcontent-c0="" class="space-top"></div>
                                    <div _ngcontent-c0="" class="tim-container">
                                        <router-outlet _ngcontent-c0=""></router-outlet><app-crs _nghost-c1="">
                <div _ngcontent-c1="" class="tim-row" id="checkbox-row">
                    <h2 _ngcontent-c1=""> Checkboxes </h2>
                    <legend _ngcontent-c1=""></legend>
                    <p _ngcontent-c1="">
                        To use the custom checkboxes, you don't need to import any separate Javascript file, everything is inside material.min.js
                    </p>
                        <div _ngcontent-c1="" class="checkbox">
                            <label _ngcontent-c1="">
                                <input _ngcontent-c1="" name="optionsCheckboxes" type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Subscribe to newsletter
                            </label>
                        </div>
                        <div _ngcontent-c1="" class="checkbox">
                            <label _ngcontent-c1="">
                                <input _ngcontent-c1="" name="optionsCheckboxes" type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Unchecked
                            </label>
                        </div>
                        <div _ngcontent-c1="" class="checkbox">
                            <label _ngcontent-c1="">
                                <input _ngcontent-c1="" checked="" name="optionsCheckboxes" type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Checked
                            </label>
                        </div>
                        <div _ngcontent-c1="" class="checkbox">
                            <label _ngcontent-c1="">
                                <input _ngcontent-c1="" disabled="" name="optionsCheckboxes" type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Disabled Unchecked
                            </label>
                        </div>
                        <div _ngcontent-c1="" class="checkbox">
                            <label _ngcontent-c1="">
                                <input _ngcontent-c1="" checked="" disabled="" name="optionsCheckboxes" type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Disabled Checked
                            </label>
                        </div>
                    <pre _ngcontent-c1="" class="prettyprint">&lt;div class="checkbox"&gt;
                    &lt;label&gt;
                        &lt;input type="checkbox" name="optionsCheckboxes"&gt;
                        Unchecked
                    &lt;/label&gt;
                &lt;/div&gt;
                &lt;div class="checkbox"&gt;
                    &lt;label&gt;
                        &lt;input type="checkbox" name="optionsCheckboxes" checked&gt;
                        Checked
                    &lt;/label&gt;
                &lt;/div&gt;
                &lt;div class="checkbox"&gt;
                    &lt;label&gt;
                        &lt;input type="checkbox" name="optionsCheckboxes" disabled&gt;
                        Disabled Unchecked
                    &lt;/label&gt;
                &lt;/div&gt;
                &lt;div class="checkbox"&gt;
                    &lt;label&gt;
                        &lt;input type="checkbox" name="optionsCheckboxes" disabled checked&gt;
                        Disabled Checked
                    &lt;/label&gt;
                &lt;/div&gt;
                
                </pre>
                </div>
                
                
                <div _ngcontent-c1="" class="tim-row" id="radio-row">
                    <h2 _ngcontent-c1=""> Radio Buttons </h2>
                    <legend _ngcontent-c1=""></legend>
                    <p _ngcontent-c1="">
                        To use the custom radio buttons, you don't need to import any separate Javascript file, everything is inside material.min.js.
                    </p>
                        <div _ngcontent-c1="" class="radio">
                            <label _ngcontent-c1="">
                                <input _ngcontent-c1="" name="optionsRadios" type="radio"><span class="circle"></span><span class="check"></span> Radio is off
                            </label>
                        </div>
                        <div _ngcontent-c1="" class="radio">
                            <label _ngcontent-c1="">
                                <input _ngcontent-c1="" checked="true" name="optionsRadios" type="radio"><span class="circle"></span><span class="check"></span> Radio is on
                            </label>
                        </div>
                        <div _ngcontent-c1="" class="radio">
                            <label _ngcontent-c1="">
                                <input _ngcontent-c1="" disabled="" name="optionsRadiosDisabled" type="radio"><span class="circle"></span><span class="check"></span> Disabled Radio is off
                            </label>
                        </div>
                        <div _ngcontent-c1="" class="radio">
                            <label _ngcontent-c1="">
                                <input _ngcontent-c1="" checked="true" disabled="" name="optionsRadiosDisabled" type="radio"><span class="circle"></span><span class="check"></span> Disabled Radio is on
                            </label>
                        </div>
                    <pre _ngcontent-c1="" class="prettyprint">&lt;div class="radio"&gt;
                    &lt;label&gt;
                        &lt;input type="radio" name="optionsRadios"&gt;
                        Radio is off
                    &lt;/label&gt;
                &lt;/div&gt;
                &lt;div class="radio"&gt;
                    &lt;label&gt;
                        &lt;input type="radio" name="optionsRadios" checked="true"&gt;
                        Radio is on
                    &lt;/label&gt;
                &lt;/div&gt;
                &lt;div class="radio"&gt;
                    &lt;label&gt;
                        &lt;input type="radio" name="optionsRadiosDisabled" disabled&gt;
                        Disabled Radio is off
                    &lt;/label&gt;
                &lt;/div&gt;
                &lt;div class="radio"&gt;
                    &lt;label&gt;
                        &lt;input type="radio" name="optionsRadiosDisabled" checked="true" disabled&gt;
                        Disabled Radio is on
                    &lt;/label&gt;
                &lt;/div&gt;
                </pre>
                </div>
                
                
                <div _ngcontent-c1="" class="tim-row" id="switch-row">
                    <h2 _ngcontent-c1="">Toggle Buttons</h2>
                    <legend _ngcontent-c1=""></legend>
                    <p _ngcontent-c1="">If you want to use something more special than a checkbox, we recommend the toggle buttons.</p>
                    <div _ngcontent-c1="" class="togglebutton">
                        <label _ngcontent-c1="">
                            <input _ngcontent-c1="" checked="" type="checkbox"><span class="toggle"></span> Toggle is on
                        </label>
                    </div>
                    <div _ngcontent-c1="" class="togglebutton">
                        <label _ngcontent-c1="">
                            <input _ngcontent-c1="" type="checkbox"><span class="toggle"></span> Toggle is off
                        </label>
                    </div>
                    <pre _ngcontent-c1="" class="prettyprint">
                &lt;div class="togglebutton"&gt;
                    &lt;label&gt;
                        &lt;input type="checkbox" checked=""&gt;
                        Toggle is on
                    &lt;/label&gt;
                &lt;/div&gt;
                
                &lt;div class="togglebutton"&gt;
                    &lt;label&gt;
                        &lt;input type="checkbox"&gt;
                        Toggle is off
                    &lt;/label&gt;
                &lt;/div&gt;
                </pre>
                </div>
                
                </app-crs>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>
