<!--<a (click)="showDetail()" class="button_show" *ngIf="count_actions > 0 ">Hành Động ({{count_actions}})  </a>-->
<!--<a (click)="showDetail()" class="button_show" *ngIf="count_actions <= 0 ">Hành Động  </a>-->

<a (click)="showDetail()" class="button_show">Hành Động </a>