<md-input-container>
    <input mdInput placeholder="Chọn bộ nhớ" (click)="check()"  (keyup)="check()" name="intent-action-auto-cp" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl" class="input-auto-entity">
</md-input-container>
<md-autocomplete #auto="mdAutocomplete">
    <md-option (onSelectionChange)="enterSelect($event, state)" (click)="selectValue(state)"  *ngFor="let state of filteredStates" [value]="state">
        {{ state }}
    </md-option>
</md-autocomplete>