// component css goes here
.main-panel {
  position: relative;
  float: right;
  overflow: auto;
  width: calc(100% - 260px) !important;
  min-height: 100%;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.sidebar .logo, .off-canvas-sidebar .logo {
  padding: 15px 0px !important;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
  min-height: 50px !important;
}
