<div class="wrapper">
    <div class="sidebar" style="width: 260px" data-active-color="white" data-background-color="blue" data-image="../assets/img/sidebar-1.jpg">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    </div>
    <div class="main-panel" id="my-main-panel" style="background-color: #fff">
        <navbar-cmp></navbar-cmp>
        <div class="row">
            <div class="col-md-9">
                <div class="loader" *ngIf="!is_load"></div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div *ngIf="!isMap()">
            <footer-cmp></footer-cmp>
        </div>
    </div>
    
</div>
<!-- list popub delete agent-->
<agent-delete></agent-delete>
<!-- them entity san pham -->
<add-entity-product></add-entity-product>
