<div class="wrapper">
        <div class="sidebar" data-active-color="white" data-background-color="blue-light" data-image="./assets/img/sidebar-1.jpg">
            <!-- SIDEBAR -->
            <div class="logo logo-side-bar" [routerLink]="['/application-hana/application-list']">
                <div class="logo-normal">
                    <a [routerLink]="['/application-hana/application-list']" class="simple-text">
                    HANA.ai
                </a>
                </div>

                <div class="logo-img">
                    <img src="/assets/img/chat/logo.png" />
                </div>
            </div>
            <div class="sidebar-wrapper">
                <div class="nav-container nav-container-chat">

                </div>
            </div>
            <!-- SIDEBAR -->
            <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
        </div>
        <div class="main-panel">
            <navbar-cmp></navbar-cmp>

            <div class="chat-hana" style="margin-top: -19px;">
                <div class="container-fluid-no-padding">
                    <div class="chat-main-box">
                        <div class="scroll-content-chat-all" style="position: fixed;top: 45%;left: 40%;width: 100px;height: 100px;"><img style="height: 100px;width: 100px;" src="./assets/img/chat/loading.gif" alt="Loading"></div>
                        <div class="chat-left-aside mideas-contact-chat">
                            <div class="loading-contact-list" style="position: fixed;top: 50%;left: 7%;width: 100px;height: 100px; display: none"><img style="height: 100px;width: 100px;" src="./assets/img/chat/loading.gif" alt="Loading"></div>
                            <!--danh sach chat-->
                        </div>
                        <div class="chat-right-aside chatbox-messenger-content">
                            <div class="scroll-content-chat" style="position: fixed;top: 50%;left: 45%;width: 100px;height: 100px; display: none"><img style="height: 100px;width: 100px;" src="./assets/img/chat/loading.gif" alt="Loading"></div>
                            
                        </div>
                        <!-- .chat-right-panel -->
                    </div>
                    <div class="info-right-aside">
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- <chat-popup-tags [partnerId]="partnerId" [listTags]="listTags" [subscription]="subscription" (isChange)="counterUpdate($event)"></chat-popup-tags> -->