.chat-body .tooltip.in {
    opacity: 1;
    background-color: red;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}

[data-notify="container"] {
    width: 300px !important;
}

/* .sidebar, .off-canvas-sidebar {
    width: 60px;
}
.sidebar .sidebar-wrapper, .off-canvas-sidebar  .sidebar-wrapper {
    width: 60px;
} */