.guild-login {
  cursor: pointer;
  color: #D75A4A;
  font-size: 25px;
}
.btn-create-app i {
  font-size: 25px;
}    
.btn-create-app {
  background-color: #3B5998;
  color: white;
} 
.btn-fanpage-app {
  background-color: #3B5998;
  color: white;
} 
.btn-fanpage-app i {
  font-size: 25px;
} 
.card-footer .hana-app-config{
  width: 40px;
  float: right;
  cursor: pointer;
  padding-top: 5px;
}
.card-footer .hana-fb-config{
  width: 310px;
  float: left;
  padding-left: 10px;
  
}
.hana-app-config .icon-config {
  font-size: 30px;
  opacity: .3;
}
.hana-app-config .icon-config:hover {
  font-size: 32px;
  opacity: 1;
}
.card .card-footer {
 padding-top: 5px;
 margin: 0px;
 height: 50px;
 border: none;
}

.card .card-footer .btn{
  float: left;
  padding: 3px 12px;
  text-align: center;
  color: #000;
  background-color: #fff;
  font-size: 14px;
  border-radius: 7px;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,.13);
  border: 1px solid rgba(0,0,0,.13);
  border-bottom-color: rgba(0,0,0,.17);
  transition: box-shadow 80ms ease,border-color 80ms ease,background-color 80ms ease;
  text-transform: uppercase;
  text-decoration: none!important;
}
.card .card-footer .btn.btn-facebook{
  padding: 3px 12px;
  text-align: center;
  color: #000;
  background-color: #fff;
  font-size: 14px;
  border-radius: 7px;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,.13);
  border: 1px solid rgba(0,0,0,.13);
  border-bottom-color: rgba(0,0,0,.17);
  transition: box-shadow 80ms ease,border-color 80ms ease,background-color 80ms ease;
  text-transform: none;
  max-width: 288px;
  overflow: hidden;
}
.card.card-stats {
  width: 352px;
  margin: 10px 14px;
}
.card .card-content {
  height: 100px;
  min-height: 100px;
  padding: 0px;
  cursor: pointer;
}
.card .card-content .card-title {
  font-family: Consolas, monaco, monospace;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
.card-footer .fa-facebook-square {
  color:blue; 
  font-size: 18px;
  padding-right: 6px;
}
.card-footer .hana-fanpage {
  // font-style: italic;
}
.card-content img {
  margin: 12px; 
  width: 70px; 
  height: 70px
}
.card-content .hana-app-name {
  width: 252px;
  float: right;
  padding: 15px 10px 0px 0px;
}
.card-content .hana-app-img {
  width: 100px;
  float: left;
}

.card-stats .card-content {
  text-align: left;
}
.main-panel {
  width: 100%;
  max-height: calc(100vh - 110px);
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.main-panel .main-content {
  margin-top: 0px;
}
.wizard-container .card {
  width: 80%;
}
.tab-content .card {
  width: auto;
}
.card {
  display: inline-block;
  position: relative;
  // width: auto;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}
.ng-pristine input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 0.5rem;
  height: 38px;
  font-size: 1em;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: transparent !important;
}
.ng2-tag-input  {
  border-bottom: 1px double #d2d2d2 !important;
}
input {
  background-color: transparent !important;
}
.card-pricing {
  box-shadow: 6px -5px 21px 0px rgba(173,168,173,1);
}
.app-img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.category {
    height: 25px;
    overflow: hidden;
}
.card-description{
    height: 25px;
    overflow: hidden;
}

.card .ui.items > .item > .image > img {
  display: block;
  width: 50px;
  height: auto;
  border-radius: 40px;
  border: none;
}
.item .ui.tiny.image {
  width: auto;
}
.card  .ui.items .item .content {
  padding-left: 3px !important;
}
.add-app {
  margin: 10px;
}

.hana-cursor {
  cursor: pointer;
}
// .hana-list-app-scroll {
//   overflow-x: hidden;
//   max-height: calc(100vh - 110px);
// }


// /** trash-popup **/
// .btn-trash-popup-large:before, .btn-trash-popup-medium:before {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
//     opacity: .3;
//     background-size: 24px 24px;
// }

// .btn-trash-popup-large, .btn-trash-popup-medium{
//     position: absolute;
//     z-index: 10000;
//     top: -6px;
//     right: -6px;
//     width: 24px;
//     height: 24px;
//     background-color: #fff;
//     box-shadow: 0 2px 4px 0 rgba(0,0,0,.07);
//     border: 1px solid rgba(0,0,0,.12);
//     border-radius: 50%;
//     transform: scale(.3);
//     opacity: 0;
// }

// .parent-trash-popup-large:hover .btn-trash-popup-large{
//    transform: scale(1);
//    opacity: 1;
//    transition: transform .2s cubic-bezier(.2,.7,.5,1),opacity .2s cubic-bezier(.2,.7,.5,1);
//    cursor: pointer;
// }

// .parent-trash-popup-medium:hover .btn-trash-popup-medium{
//    transform: scale(1);
//    opacity: 1;
//    transition: transform .2s cubic-bezier(.2,.7,.5,1),opacity .2s cubic-bezier(.2,.7,.5,1);
// }
