<div class="wrapper">
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row text-center" style="padding-bottom: 10px; padding-top: 10px;">
          <!-- <button class="btn btn-fanpage-app" (click)="showGuideModel()">
              <span class="btn-label">
                  <i class="material-icons">format_list_bulleted</i>
              </span>
              Showguide
          <div class="ripple-container"></div></button> -->
          <button class="btn btn-fanpage-app" (click)="listAllFanpage()" *ngIf="currentUser.login_type == 'facebook'">
              <span class="btn-label">
                  <i class="material-icons">format_list_bulleted</i>
              </span>
              Danh sách fanpage
          <div class="ripple-container"></div></button>
          <button class="btn btn-create-app" [routerLink]="['/application-hana/application-create']">
              <span class="btn-label">
                  <i class="material-icons">add</i>
              </span>
              Tạo ứng dụng
          <div class="ripple-container"></div></button>
           <i class="fa fa-question-circle-o guild-login" aria-hidden="true" (click)="showGuideModel()"></i> 
        </div>
        <div class="row text-center" *ngIf="loadingProcess">
          <md-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" style="margin: 0 auto;">
          </md-progress-spinner>
        </div>

        <div class="row apps-content text-center hana-list-app-scroll">

          <div class="card card-stats parent-popup-event" *ngFor="let app of listApplication">
            <ng-container *ngFor="let userBk of app.backendPartnerUsers">
              <div *ngIf="currentUser.id == userBk.user_id && userBk.role_id != 3" (click)="showSwal(app.id, app.applications[0].app_id)"
                class="btn-trash-icon btn-popup-one"></div>
            </ng-container>

            <div class="card-content" (click)="resetAgentId()" [routerLink]="['/' + app.id,'messages']">
              <ng-container *ngIf="app.integrations?.length == 2; else defaultimg">
                <ng-container *ngFor="let integrate of app.integrations">
                  <ng-container *ngIf="integrate.gatewayId == 1 && integrate.isExpire == 0">
                    <div class="hana-app-img">
                      <img src="{{integrate.picture}}">
                    </div>
                    <div class="hana-app-name">
                      <p class="card-title">{{app.company | lengthlimit:44}}</p>
                      <p><i class="fa fa-facebook-official" aria-hidden="true" style="color: #3b5998 ;padding: 0px 5px;"></i>Đã kết nối "{{integrate.pageName | lengthlimit:50}}"</p>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="integrate.gatewayId == 1 && integrate.isExpire == 1">
                    <div class="hana-app-img">
                      <img src="./assets/img/faces/hana-avatar-bw.png">
                    </div>
                    <div class="hana-app-name">
                      <p class="card-title">{{app.company | lengthlimit:44 }}</p>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-template #defaultimg>
                <div class="hana-app-img">
                  <img src="./assets/img/faces/hana-avatar-bw.png">
                </div>
                <div class="hana-app-name">
                  <p class="card-title">{{app.company | lengthlimit:44 }}</p>
                </div>
              </ng-template>

            </div>
            <div class="card-footer">
              <ng-container *ngIf="currentUser.role_id == 1">
                <div class="hana-fb-config" (click)="configAppDetail(app.id)">
                  <button class="btn">Tích hợp facebook<div class="ripple-container"></div></button>
                </div>
                <div class="hana-app-config" (click)="configAppDetail(app.id)">
                  <i class="fa fa-cog icon-config" aria-hidden="true"></i>
                </div>
              </ng-container>
              <ng-container *ngIf="currentUser.role_id == 2">
                <div class="hana-fb-config" (click)="configAppDetail(app.id)">
                  <button class="btn">Tích hợp facebook<div class="ripple-container"></div></button>
                </div>
                <div class="hana-app-config" (click)="configAppDetail(app.id)">
                  <i class="fa fa-cog icon-config" aria-hidden="true"></i>
                </div>
              </ng-container>
              <ng-container *ngIf="currentUser.role_id == 3">
                <ng-container *ngFor="let userBk of app.backendPartnerUsers">
                  <ng-container *ngIf="currentUser.id == userBk.user_id && userBk.role_id != 3">
                    <div class="hana-fb-config" (click)="configAppDetail(app.id)">
                      <button class="btn">Tích hợp facebook<div class="ripple-container"></div></button>
                    </div>
                    <div class="hana-app-config" (click)="configAppDetail(app.id)">
                      <i class="fa fa-cog icon-config" aria-hidden="true"></i>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="currentUser.role_id == 4">
                <ng-container *ngFor="let userBk of app.backendPartnerUsers">
                  <ng-container *ngIf="currentUser.id == userBk.user_id && userBk.role_id != 3">
                    <div class="hana-fb-config" (click)="configAppDetail(app.id)">
                      <button class="btn">Tích hợp facebook<div class="ripple-container"></div></button>
                    </div>
                    <div class="hana-app-config" (click)="configAppDetail(app.id)">
                      <i class="fa fa-cog icon-config" aria-hidden="true"></i>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="!currentUser.role_id">
                <ng-container *ngFor="let userBk of app.backendPartnerUsers">
                  <ng-container *ngIf="currentUser.id == userBk.user_id && userBk.role_id != 3">
                    <div class="hana-fb-config" (click)="configAppDetail(app.id)">
                      <button class="btn">Tích hợp facebook<div class="ripple-container"></div></button>
                    </div>
                    <div class="hana-app-config" (click)="configAppDetail(app.id)">
                      <i class="fa fa-cog icon-config" aria-hidden="true"></i>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<application-fanpage-choose ></application-fanpage-choose>

<guide-cpm></guide-cpm>