<!--<a (click)="showDetail()" class="button_show" *ngIf="count_actions > 0 ">Hành Động ({{count_actions}})  </a>-->
<!--<a (click)="showDetail()" class="button_show" *ngIf="count_actions <= 0 ">Hành Động  </a>-->

<a (click)="showDetail()" class="button_show" *ngIf="currentIntent.intent_actions != undefined">Hành Động ({{currentIntent.intent_actions.length}}) </a>
<a (click)="showDetail()" class="button_show" *ngIf="currentIntent.intent_actions == undefined">Hành Động (0) </a>