<div class="parent-popup-event">
  <div class="btn-close-popup-large" (click)="dialogRef.close('')"></div>
  <h6 class="text-center">THÔNG ĐIỆP TRUYỀN THÔNG ĐẾN KHÁCH HÀNG</h6>
  <div class="row">
    <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
  </div>
  <md-dialog-content class="text-left">

    <div class="row">
      <div class="col-md-12" style="margin-top: 13px;margin-bottom: 13px;">
        <div class="checkbox-radios">
          <div class="checkbox">
            <label>
              <input type="checkbox" (change)="isTachTiep = !isTachTiep" name="optionsCheckboxes"><span style="color:#000">CẤU HÌNH GỬI THEO TỪNG ĐỢT</span>
            </label>
          </div>
        </div>
        <!-- <md-checkbox class="example-margin" (change)="isTachTiep = !isTachTiep">CẤU HÌNH GỬI THEO TỪNG ĐỢT</md-checkbox> -->
        <!-- <label style="color:black">CẤU HÌNH GỬI THEO TỪNG ĐỢT</label> -->
      </div>
      <div class="config-tach-tiep" *ngIf="isTachTiep">
        <div class="col-md-12">
          <label>(Nếu ngày 01/10/2017 bạn gửi tin cho 2900 người với cấu hình số lượng khách hàng mỗi đợt là 1000 và số ngày cách
            nhau mỗi đợt là 2 thì đợt 1 gửi ngày 01/10/2017, đợt tiếp theo gửi ngày 03/10/2017 và đợt cuối gửi ngày 05/10/2017
            với số lượng khách tối đa mỗi đợt là 1000)</label>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <label>Số lượng khách hàng gửi mỗi đợt:</label>
            </div>
            <div class="col-md-5">

              <input type="number" autocomplete="off" [(ngModel)]="dataSetSize" value="{{dataSetSize}}" mdInput placeholder="Nhập tối đa 1000"
                style="float:left; height: 30px;border: 0;padding-left: 5px; padding-right: 5px; padding-top: 5px;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
              <!-- <input placeholder="Tối đa 1000 khách hàng" [(ngModel)]="dataSetSize" value="{{dataSetSize}}" type="number"> -->
            </div>
          </div>
        </div>

        <div class="col-md-12" style="margin-top:10px">
          <div class="row">
            <div class="col-md-3">
              <label>Số ngày cách nhau giữa mỗi đợt gửi:</label>
            </div>
            <div class="col-md-5">
              <!-- <input [(ngModel)]="expendDays" value="{{expendDays}}" type="number"> -->
              <input type="number" autocomplete="off" pattern="[0-9]" [(ngModel)]="expendDays" value="{{expendDays}}" mdInput placeholder="Nhập lớn hơn 0"
                style="float:left; height: 30px;border: 0;padding-left: 5px; padding-right: 5px; padding-top: 5px;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="row">
      <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <div class="row" style="margin-bottom:5px">
      <div class="col-md-12">
        <label style="color:black">NỘI DUNG TIN NHẮN CẤU TRÚC</label>
      </div>
      <div class="col-md-12">
        <ba-structured [id_component]="'send-now'" [hideTitle]="true" [blockInput]="blockCurrent"></ba-structured>
      </div>
    </div>
  </md-dialog-content>
  <div class="row">
    <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
  </div>
  <md-dialog-actions>
    <div class="col-md-12 text-center">
      <button [disabled]="isSending" md-raised-button (click)="send()">GỬI NGAY</button>
      <!-- <button md-button (click)="dialogRef.close('')">ĐÓNG</button> -->
      <button md-raised-button (click)="reset()">XÓA NỘI DUNG</button>
    </div>
  </md-dialog-actions>
</div>