#facebook-json {
    border: 0;
    // border-radius: 4px;
    // resize: none;
    width: 100%;
    padding: 5px;
    // max-height: 100px;
    float: left;
    // overflow-y: scroll;
    overflow-x: hidden;
  }
  