<!--component html goes here -->
<div class="sidebar" data-active-color="white" data-background-color="blue-light" data-image="./assets/img/sidebar-1.jpg">
    <!-- SIDEBAR -->
    <div class="logo logo-side-bar" [routerLink]="['/application-hana/application-list']">
        <div class="logo-normal">
            <a [routerLink]="['/application-hana/application-list']" class="simple-text">
                HANA.ai
            </a>
        </div>

        <div class="logo-img">
            <img src="/assets/img/chat/logo.png" />
        </div>
    </div>
    <div class="sidebar-wrapper">
        <div class="nav-container nav-container-chat">
            <ul class="nav nav-filter nav-filter-chat">
                <ng-container *ngFor="let fil of chatFilter">
                    <ng-container *ngIf="fil.show">
                        <ng-container *ngIf="fil.key === 'filterAll'">
                            <ng-container *ngIf="fil.filter else filterAll">
                                <li class="example-tooltip-host" mdTooltip="Lọc tất cả" [mdTooltipPosition]="position"  (click)="filterRule('filterAll')" style="cursor: pointer" class="nav-filter-chat-all  active visible">
                                    <a>
                                        <i class="material-icons">sort_by_alpha</i>
                                        <p>All </p>
                                    </a>
                                </li>
                            </ng-container>
                            <ng-template #filterAll>
                                <li class="example-tooltip-host" mdTooltip="Lọc tất cả" [mdTooltipPosition]="position"  (click)="filterRule('filterAll')" style="cursor: pointer" class="nav-filter-chat-all">
                                    <a>
                                        <i class="material-icons">sort_by_alpha</i>
                                        <p>All </p>
                                    </a>
                                </li>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="fil.key === 'filterUnread'">
                            <ng-container *ngIf="fil.filter else filterUnread">
                                <li class="example-tooltip-host" mdTooltip="Cuộc chat chưa đọc" [mdTooltipPosition]="position"  (click)="filterRule('filterUnread')" style="cursor: pointer" class="nav-filter-chat-unread active visible">
                                    <a>
                                        <i class="material-icons">visibility_off</i>
                                        <p>Request </p>
                                    </a>
                                </li>
                            </ng-container>
                            <ng-template #filterUnread>
                                <li class="example-tooltip-host" mdTooltip="Cuộc chat chưa đọc" [mdTooltipPosition]="position"  (click)="filterRule('filterUnread')" style="cursor: pointer" class="nav-filter-chat-unread">
                                    <a>
                                        <i class="material-icons">visibility_off</i>
                                        <p>Request </p>
                                    </a>
                                </li>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="fil.key === 'filterComment'">
                            <ng-container *ngIf="fil.filter else filterComment">
                                <li class="example-tooltip-host" mdTooltip="Lọc bình luận" [mdTooltipPosition]="position"  (click)="filterRule('filterComment')" style="cursor: pointer" class="nav-filter-chat-comment active visible">
                                    <a>
                                        <i class="material-icons">chat_bubble_outline</i>
                                        <p>Request </p>
                                    </a>
                                </li>
                            </ng-container>
                            <ng-template #filterComment>
                                <li class="example-tooltip-host" mdTooltip="Lọc bình luận" [mdTooltipPosition]="position"  (click)="filterRule('filterComment')" style="cursor: pointer" class="nav-filter-chat-comment">
                                    <a>
                                        <i class="material-icons">chat_bubble_outline</i>
                                        <p>Request </p>
                                    </a>
                                </li>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="fil.key === 'filterChat'">
                            <ng-container *ngIf="fil.filter else filterChat">
                                <li class="example-tooltip-host" mdTooltip="Lọc theo chat" [mdTooltipPosition]="position"  (click)="filterRule('filterChat')" style="cursor: pointer" class="nav-filter-chat-groupchat active visible">
                                    <a>
                                        <i class="material-icons">mail_outline</i>
                                        <p>Request </p>
                                    </a>
                                </li>
                            </ng-container>
                            <ng-template #filterChat>
                                <li class="example-tooltip-host" mdTooltip="Lọc theo chat" [mdTooltipPosition]="position"  (click)="filterRule('filterChat')" style="cursor: pointer" class="nav-filter-chat-groupchat">
                                    <a>
                                        <i class="material-icons">mail_outline</i>
                                        <p>Request </p>
                                    </a>
                                </li>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="fil.key === 'filterDontUn'">
                            <ng-container *ngIf="fil.filter else filterDontUn">
                                <li class="example-tooltip-host" mdTooltip="Lọc cuộc chat Hana không hiểu" [mdTooltipPosition]="position"  (click)="filterRule('filterDontUn')" style="cursor: pointer" class="nav-filter-chat-need-support active visible">
                                    <a>
                                        <i class="material-icons">info_outline</i>
                                        <p>Request </p>
                                        <span class="notification notification-need-support fa fa-bell-o" style="display:none"></span>
                                    </a>
                                </li>
                            </ng-container>
                            <ng-template #filterDontUn>
                                <li class="example-tooltip-host" mdTooltip="Lọc cuộc chat Hana không hiểu" [mdTooltipPosition]="position"  (click)="filterRule('filterDontUn')" style="cursor: pointer" class="nav-filter-chat-need-support">
                                    <a>
                                        <i class="material-icons">info_outline</i>
                                        <p>Request </p>
                                        <span class="notification notification-need-support fa fa-bell-o" style="display:none"></span>
                                    </a>
                                </li>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="fil.key === 'filterPhone'">
                            <ng-container *ngIf="fil.filter else filterPhone">
                                <li class="example-tooltip-host" mdTooltip="Cuộc chat có SĐT" [mdTooltipPosition]="position"  (click)="filterRule('filterPhone')" style="cursor: pointer" class="nav-filter-chat-phone-number active visible">
                                    <a>
                                        <i class="material-icons">phone</i>
                                        <p>Request </p>
                                    </a>
                                </li>
                            </ng-container>
                            <ng-template #filterPhone>
                                <li class="example-tooltip-host" mdTooltip="Cuộc chat có SĐT" [mdTooltipPosition]="position"  (click)="filterRule('filterPhone')" style="cursor: pointer" class="nav-filter-chat-phone-number">
                                    <a>
                                        <i class="material-icons">phone</i>
                                        <p>Request </p>
                                    </a>
                                </li>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="fil.key === 'filterForward'">
                            <ng-container *ngIf="fil.filter else filterForward">
                                <li class="example-tooltip-host" mdTooltip="Cuộc chat được yêu cầu" [mdTooltipPosition]="position"  (click)="filterRule('filterForward')" style="cursor: pointer" class="nav-filter-chat-group-forwarded active visible">
                                    <a>
                                        <i class="material-icons">forward</i>
                                        <p>Request </p>
                                        <ng-container *ngIf="fil.alert">
                                            <span class="notification notification-group-forwarded fa fa-bell-o"></span>
                                        </ng-container>
                                        
                                    </a>
                                </li>
                            </ng-container>
                            <ng-template #filterForward>
                                <li class="example-tooltip-host" mdTooltip="Cuộc chat được yêu cầu" [mdTooltipPosition]="position"  (click)="filterRule('filterForward')" style="cursor: pointer" class="nav-filter-chat-group-forwarded">
                                    <a>
                                        <i class="material-icons">forward</i>
                                        <p>Request </p>
                                        <ng-container *ngIf="fil.alert">
                                            <span class="notification notification-group-forwarded fa fa-bell-o"></span>
                                        </ng-container>
                                    </a>
                                </li>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="fil.key === 'filterMe'">
                            <ng-container *ngIf="fil.filter else filterMe">
                                <li class="example-tooltip-host" mdTooltip="Cuộc chat của tôi" [mdTooltipPosition]="position"  (click)="filterRule('filterMe')" style="cursor: pointer" class="nav-filter-chat-group-supporter active visible">
                                    <a>
                                        <i class="material-icons">account_circle</i>
                                        <p>Request </p>
                                        <span class="notification notification-group-supporter fa fa-bell-o" style="display:none"></span>
                                    </a>
                                </li>
                            </ng-container>
                            <ng-template #filterMe>
                                <li class="example-tooltip-host" mdTooltip="Cuộc chat của tôi" [mdTooltipPosition]="position"  (click)="filterRule('filterMe')" style="cursor: pointer" class="nav-filter-chat-group-supporter">
                                    <a>
                                        <i class="material-icons">account_circle</i>
                                        <p>Request </p>
                                        <span class="notification notification-group-supporter fa fa-bell-o" style="display:none"></span>
                                    </a>
                                </li>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ul>
        </div>
    </div>
    <!-- SIDEBAR -->
    <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
</div>