<div class="parent-popup-event">
  <div class="btn-close-popup-large" (click)="dialogRef.close('')"></div>
  <h6 class="text-center">THÔNG ĐIỆP TRUYỀN THÔNG ĐẾN KHÁCH HÀNG</h6>
  <div class="row">
    <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
  </div>
  <md-dialog-content class="text-left">
    <div class="row">
      <div class="col-md-12">
        <label>LỊCH SỬ TIN NHẮN</label>
      </div>

        <div class="col-md-12" style="margin-top:10px">
          <ul class="campaign-history" *ngIf="datasource.length>0">
            <li>
              <span>Ngày gửi</span>
              <span>Nội dung</span>
              <span>Gửi</span>
              <span>Nhận</span>
              <span>Đọc</span>
            </li>
            <li rel="tooltip" data-placement="right" title="{{item.content_text}}" class="body" *ngFor="let item of broadcasts">
              <!-- <span>{{item.send_time | amUtc | amLocal | amLocale:'vi' | amDateFormat: 'DD/MM/YYYY'}} <p>{{item.send_time | amLocale:'vi' | amDateFormat: 'HH:mm:ss a'}}</p></span> -->
              <span>{{item.send_time_day}} <p>{{item.send_time_hour}}</p></span>
              <span>{{item.content_text | truncate:20}}</span>
              <span style="height: 40px;line-height: 40px;">{{item.num_sent || "0"}}</span>
              <span style="height: 40px;line-height: 40px;">{{item.num_delivered || "0"}}</span>
              <span style="height: 40px;line-height: 40px;">{{item.num_seen || "0"}}</span>
            </li>
          </ul>
          <span>{{messageLoading}}</span>
        </div>

      <div class="col-md-12" *ngIf="datasource.length > 5">
        <md-paginator style="border-radius:7px;box-shadow: 2px 2px 2px #888888;margin-right: 10px;margin-bottom: 10px;" [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event; changeEvent($event) ">
        </md-paginator>
      </div>
    </div>
  </md-dialog-content>
</div>
