<div class="parent-popup-event">
  <div class="btn-close-popup-large" (click)="dialogRef.close('')"></div>
  <h6 class="text-center">Bạn hãy chọn "copy" để sao chép nội dung JSON bên dưới</h6>
  <div class="row">
    <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
  </div>
  <md-dialog-content class="text-left">
    <div class="row">
      <!-- <div class="col-md-12">
        <label>NỘI DUNG TIN NHẮN</label>
      </div> -->

      <div class="col-md-12">
        <div id="facebook-json">
          {{this.data.message}}
        </div>
      </div>
    </div>

  </md-dialog-content>
  <div class="row">
    <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
  </div>
  <md-dialog-actions>
    <div class="col-md-12 text-center">
      <button md-raised-button (click)="copyToClipboard()" >COPY</button>
    </div>
  </md-dialog-actions>
</div>
