<h5 class="text-center">ĐÀO TẠO CÂU NÓI HANA KHÔNG HIỂU</h5>
<md-dialog-content class="text-center">
  <!-- <div class="btn-close-popup-large" (click)="close()"></div> -->
  <div class="row">
    <div class="col-md-12">
       <ba-faq [index]="0" [intentId]="intendId" [typeFaq]="'training'" [usersays]="usersays" [response]="responseMessage" (output)="update($event)" (outputDelete)="deleteIntent($event)"></ba-faq> 
      <!-- <ba-faq-v2 [index]="0" [typeFaq]="'training'" [currentIntent]="currentIntent" [blocks]="blocks" (outputDelete)="deleteIntent($event)"></ba-faq-v2> -->
    </div>
  </div>
</md-dialog-content>
