<div class="card order" style="margin: 0">
    <div class="loader" *ngIf="id_loading">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div class="card-content" style="height: 100%">
        <br>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-md-12">
                <div class="col-md-3" style="margin-left: -10px">
                    <p-calendar showButtonBar="true" clearButtonStyleClass="button_delete_calendar" readonlyInput="true" dateFormat="dd/mm/yy" (onSelect)="onFilterDate()" (onBlur)="onFilterDate()" (onClearClick)="onFilterDateClear()" [style]="{'height':'30px', 'width':'100%', 'border': '1px solid #d6d6d6'}" [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-md-3">
                    <p-dropdown (onChange)="onFilterDate()" placeholder="Lọc theo nguồn kênh" [options]="sourceLists" [(ngModel)]="selectedSource" [style]="{'width':'100%'}" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 15px;">
                <div class="col-md-3" style="margin-left: -10px">
                    <p-dropdown (onChange)="onFilterDate()"  placeholder="Lọc theo người tạo đơn" [options]="userCreates" [(ngModel)]="selectedCreateOrder" [style]="{'width':'100%'}" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-md-3">
                    <p-dropdown (onChange)="onFilterDate()"  placeholder="Lọc theo trạng thái đơn hàng" [options]="orderStatus" [(ngModel)]="selectedStatusOrder" [style]="{'width':'100%'}" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <div class="col-md-6" style="margin-left: -10px;">
                    <div class="form-group is-empty" style="margin: 0px">
                        <input (keyup)="onFilterDate()" autocomplete="off" class="form-control" style="border: 1px solid #ccc; padding-left: 5px !important; width: 100%;background-image: none;background-position: none;background-color:#fff;border-radius:7px"
                               placeholder="Tìm theo thông tin name, nickname, số điện thoại của khách hàng" type="text" id="inputFilter" name="inputFilter" [(ngModel)]="inputFilter">
                        <i style="position: absolute; right: 10px; bottom: 17px; font-size: 20px;" class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: -15px">
                    <span class="condition-item1" data-toggle="dropdown" (click)="exportExcel()">
                        <span style="margin-top: 2px" class="btn btn-social btn-fill btn-linkedin"><i class="fa fa-file-excel-o" aria-hidden="true" style="padding-right: 3px; padding-left: 0px"></i> Xuất Excel</span>
                    </span>
                    <!--<span class="condition-item1" data-toggle="dropdown" (click)="deleteOrders()">-->
                    <!--<span style="margin-top: 2px" class="btn btn-social btn-fill btn-linkedin"><i class="fa fa-trash-o" aria-hidden="true" style="padding-right: 3px; padding-left: 0px"></i> Xóa Đơn Hàng</span>-->
                    <!--</span>-->
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-12" style="margin-left: 0px">
                <span class="condition-item1" data-toggle="dropdown" (click)="deleteOrders()">
                    <span style="margin-top: 2px" class="btn btn-social btn-fill btn-linkedin"><i class="fa fa-trash-o" aria-hidden="true" style="padding-right: 3px; padding-left: 0px"></i> Xóa Đơn Hàng</span>
                    </span>
                <span *ngIf="totalRecords > 0" style="float:right;margin-top:5px;padding-right: 15px">(Đang chọn {{list_checked_delete.length}} trên {{totalRecords}})</span>
            </div>
            <div class="col-md-12">
                <!--<p-dataTable emptyMessage="{{tableMessage}}" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)"  (onSort)="changeSort($event)" (onRowSelect)="onRowSelect($event)" [style]="{'margin-left':'4px'}" [value]="orders" [rows]="pageSize" [paginator]="true"-->
                             <!--[totalRecords]="totalRecords" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,50,100,500]">-->
               <p-dataTable emptyMessage="{{tableMessage}}" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" (onRowSelect)="onRowSelect($event)"
                                 [style]="{'margin-left':'4px'}" [value]="orders" [rows]="pageSize" [paginator]="true"
                                 [totalRecords]="totalRecords" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,50,100,500]">
                   <p-column [style]="{'width':'35px', 'background':'#fff', 'color':'#000', 'border': '1px solid #d6d6d6'}">
                       <ng-template let-col let-car="rowData" pTemplate="body">
                           <input type="checkbox" [(ngModel)]="car.status" (ngModelChange)="checked(car, $event)" />
                       </ng-template>
                   </p-column>
                    <!--<p-column field="stt" header="STT" [sortable]="true" [style]="{'width':'50px', 'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>-->
                    <!---->
                   <p-column field="phone" header="SỐ ĐIỆN THOẠI" [sortable]="true" [style]="{'width':'100px','background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="name" header="HỌ VÀ TÊN" [sortable]="true" [style]="{'width':'100px', 'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="address" header="ĐỊA CHỈ" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="source" header="NGUỒN KÊNH" [sortable]="true" [style]="{'width':'130px','background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="product_code" header="MÃ SẢN PHẨM" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <!--<p-column field="note" header="MÔ TẢ" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>-->
                    <!---->
                    <p-column field="quality" header="SỐ LƯỢNG" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="price" header="ĐƠN GIÁ" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column header="MÔ TẢ" [style]="{'width':'130px', 'background':'#fff', 'color':'#000', 'border': '1px solid #d6d6d6'}">
                       <ng-template let-col let-car="rowData" pTemplate="body">
                           <span>{{car?.note | truncate:30}}</span>
                           <br>
                           <span><a title="Cập nhật đơn hàng" class="link_edit" style="color: #337ab7" (click)="showEditOrder(car)">Sửa</a></span>
                       </ng-template>
                    </p-column>
                    <p-column field="order_status_vn" header="TRẠNG THÁI" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="created_date" header="NGÀY TẠO" [sortable]="true" [style]="{'width':'130px','background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>

                    <p-column header="CHI TIẾT CUỘC CHAT" [style]="{'width':'100px', 'background':'#fff', 'color':'#000', 'border': '1px solid #d6d6d6'}">
                       <ng-template let-col let-car="rowData" pTemplate="body">
                           <!--<span class="fa fa-envelope-o" *ngIf="car.room_id != null" (click)="showChat(car.room_id)" style="cursor: pointer; font-size: 22px; text-align: center; margin-left: 40%"></span>-->
                           <!---->
                           <span class="fa fa-envelope-o"  *ngIf="car.room_id != null" (click)="showChat(car.room_id)" style="cursor: pointer; font-size: 22px; text-align: center; margin-left: 40%; color: #337ab7"></span>

                       </ng-template>
                    </p-column>

                </p-dataTable>

            </div>
        </div>
    </div>
</div>