.ui-button.ui-button-secondary.ui-state-default, .ui-splitbutton.ui-button-secondary .ui-button.ui-state-default {
  display: none !important;
}
.link_edit {
  cursor: pointer;
}
.link_edit:hover{
  text-decoration: underline;
}