.button_show {
  float: right;
  clear: both;
  cursor: pointer;
  color: #3f51b5;
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 5px;
  margin-right: -6px;
}

.button_show:hover {
  text-decoration: underline;
}