<input type="hidden" id="token" name="token">
<nav class="navbar navbar-default" style="background-color: #fff;">
  <div class="container-fluid">
    <!-- <div class="navbar-minimize" style="position:relative">
      <img style="width:40px;height:40px;border-radius:50%;margin-top:5px;margin-bottom: 5px;" src="{{avatarUrl}}" onerror="if (this.src != './assets/img/logo-hana-40.png') this.src = './assets/img/logo-hana-40.png';">
      <span style="color: #000; font-size: 20px; line-height: 40px">
        <span style="color: #000">{{appName}}</span></span>
        <span *ngIf="pageUrl" style="position:absolute;top: 35px;margin-left: 45px;color:#3b5998">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <a href="{{pageUrl}}" style="font-size: 10px;position: absolute;top: 0;margin-left: 15px;color:#3b5998;font-style: italic;" target="_blank">{{pageUrl}}</a>
        </span>
    </div> -->
    <div class="navbar-minimize" style="position:relative">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>keyboard_arrow_down</md-icon>
      </button>
      <md-menu #menu="matMenu">
        <button md-menu-item *ngFor="let col of menus; let i = index" [routerLink]="['/redirect-app', col.id]">
        <!-- <button md-menu-item *ngFor="let col of menus; let i = index" [routerLink]="['/' + col.id,'messages']"> -->
          <!-- <md-icon></md-icon> -->
          <img style="width:24px;height:24px;border-radius:50%;" src="{{menusAvatar[i]}}" onerror="if (this.src != './assets/img/logo-hana-40.png') this.src = './assets/img/logo-hana-40.png';">
          <span>{{col.company}}</span>
        </button>
        <!-- <button md-menu-item disabled>
          <md-icon>voicemail</md-icon>
          <span>Check voicemail</span>
        </button>
        <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          <span>Disable alerts</span>
        </button> -->
      </md-menu>
      <img [mdMenuTriggerFor]="menu" style="cursor:pointer; width:40px;height:40px;border-radius:50%;margin-top:5px;margin-bottom: 5px;"
        src="{{avatarUrl}}" onerror="if (this.src != './assets/img/logo-hana-40.png') this.src = './assets/img/logo-hana-40.png';">
      <span style="color: #000;display: inline-grid;margin-left: 5px;">
        <span style="color: #000;font-size:20px">{{appName | lengthlimit:20}}</span>
        <span *ngIf="pageUrl" style="color:#3b5998">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <a href="{{pageUrl}}" style="font-size: 10px;color:#3b5998;font-style: italic;" target="_blank">{{pageUrl}}</a>
        </span>
      </span>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{getPath()}}"> {{getTitle()}} </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i *ngIf="!currentUser?.avatar_url" class="material-icons" style="color: #000;">person</i>
            <img *ngIf="currentUser?.avatar_url" src="{{currentUser?.avatar_url}}" class="icon-user-login" />
            <span style="color: #000;">{{currentUser?.full_name}}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/application-hana/application-list']">DANH SÁCH ỨNG DỤNG</a>
              <li *ngIf="currentUser?.partner_id" class="role-4" style="display:none">
                <!-- <a href="/#/application-hana/application-config-detail/{{currentUser?.partner_id}}">CÀI ĐẶT ỨNG DỤNG</a>  -->
                <a [routerLink]="['/application-hana/application-config-detail', currentUser.partner_id]">CÀI ĐẶT ỨNG DỤNG</a>
              </li>
              <li>
                <a (click)="logout()">ĐĂNG XUẤT</a>
              </li>
          </ul>
          </li>
          <li class="separator hidden-lg hidden-md"></li>
      </ul>

      <ul class="nav navbar-nav navbar-right version-1 version-2" style="display: none">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <i style="font-size:25px; color: #000;" class="material-icons">more_horiz</i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/guide-advisory']" class="role- role-1 role-2 role-3 role-4" style="display:none">GÓI ĐẶC BIỆT</a>
            </li>
            <!--<li>-->
            <!--<a (click)="redirect('customer-search')" class="role- role-1 role-2 role-3 role-4" style="display:none">KHÁCH HÀNG</a>-->
            <!--</li>-->
            <!-- @Tam them -->
            <li>
              <a (click)="redirectCustomerSearch()" class="role-1 role-2 role-4">KHÁCH HÀNG</a>
            </li>

            <!-- End @Tam them -->
            <!-- <li>
              <a (click)="redirect('task-search')" class="role-1 role-2 role-3 role-4" style="display:none">CÔNG VIỆC</a>
            </li> -->
            <!--<li>-->
            <!--<a (click)="redirect('demand-search')" class="role- role-1 role-2 role-3 role-4" style="display:none">NHU CẦU</a>-->
            <!--</li>-->
            <li>
              <a (click)="redirectTaskSearch()" class="role-1 role-2 role-4">NHU CẦU</a>
            </li>
            <li class="version-1" style="display:none">
              <a (click)="redirect('faq-search')" class="role- role-1 role-2 role-3 role-4" style="display:none">FAQ</a>
            </li>
            <!-- <li><a href="{{consoleHana}}/mgmt-chat-search" class="role- role-1 role-2 role-3 role-4" style="display:none">QUẢN LÝ CHAT</a></li> -->
            <!-- <li>
              <a (click)="redirect('report-search')" class="role-1 role-2 role-4" style="display:none">BÁO CÁO</a>
            </li>
            <li>
              <a (click)="redirect('user-agent-search')" class="role-1 role-2 role-4" style="display:none">NHÂN VIÊN</a>
            </li> -->
            <li>
              <a [routerLink]="['/crm-customer/customer-list']" class="role- role-1 role-2 role-3 role-4" style="display:none">XUẤT EXCEL</a>
            </li>
            <li>
              <!--<a (click)="exportBill()" class="role-1 role-2 role-4" style="display:none">DANH SÁCH ĐƠN HÀNG</a>-->
              <a (click)="redirectOrder()" class="role-1 role-2 role-4" style="display:none">DANH SÁCH ĐƠN HÀNG</a>
            </li>
            <li>
              <a [routerLink]="['/hana-config/popup-config']" class="role- role-1 role-2 role-4" style="display:none">CÂU HÌNH CHAT</a>
            </li>
            <li class="version-1" style="display:none">
              <a (click)="redirect('agent-search')" class="role- role-1 role-2 role-4" style="display:none">TRỢ LÝ HANA</a>
            </li>
          </ul>
        </li>
        <li class="separator hidden-lg hidden-md"></li>
      </ul>
      <!-- <a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none;" href="/#/training-faq"
        class="navbar-brand navbar-menu version-2 navbar-training-faq">ĐÀO TẠO HANA</a> -->
      <!-- <a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none;" href="/#/remarketingv2/faq" class="navbar-brand navbar-menu version-2 navbar-remarketingv2_faq">ĐÀO TẠO HANA</a>   -->
      <!-- <a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none;" href="{{consoleHana}}/training-manager"
        class="navbar-brand navbar-menu version-1 navbar-training-faq">ĐÀO TẠO HANA</a> -->
      <!-- <div class="version-2" style="display:none">  
      </div> -->
      <a href="/#/pages/agents/agentList" style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none; cursor: pointer;"
        (click)="configHana()" class="navbar-brand navbar-menu version-2_role-1 version-2_role-2 navbar-pages_agents_agentList navbar-pages_entities_entityList navbar-pages_products_product-list navbar-pages_actions_actionList navbar-pages_intents_intentList">ĐÀO TẠO NÂNG CAO</a>
      <!-- <a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none; cursor: pointer;"
        href="/#/guide-advisory" class="navbar-brand navbar-menu role-2 role-3 role-4 navbar-guide-advisory">GÓI ĐẶC BIỆT</a> -->
      <a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000;  cursor: pointer;" href="http://hdsd.hana.ai"
        target="_blank" class="navbar-brand navbar-menu navbar-guide-hana">HƯỚNG DẪN</a>
      <a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none; cursor: pointer;"
        [routerLink]="['/training-hana/blocksv2']" class="navbar-brand navbar-menu role-2 role-3 role-4 navbar-training-hana navbar-training-hana_blocksv2 navbar-training-hana_faq navbar-training-hana_hastags navbar-training-hana_post navbar-training-hana_setting-menu">ĐÀO TẠO</a>
      <a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none; cursor: pointer;"
        href="/#/remarketingv2/campaigns" class="navbar-brand navbar-menu role-2 role-3 role-4 navbar-remarketingv2_customers navbar-remarketingv2_faq navbar-remarketingv2_blocks navbar-remarketingv2_campaigns nav-remarketing">MARKETING</a>
      <a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none; cursor: pointer;"
        [routerLink]="['/customer-hana/customers']" class="navbar-brand navbar-menu role-2 role-3 role-4 navbar-customer-hana navbar-customer-hana_customers nav-customer">KHÁCH HÀNG</a>
      <a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none; cursor: pointer;"
        [routerLink]="['/' + currentUser.partner_id,'messages']" class="navbar-brand navbar-menu role-2 role-3 role-4 navbar-messages">CHAT</a>
      <!--<a style="float: right;padding-left:10px; padding-right:10px;font-size:12px; color: #000; display: none; cursor: pointer;"  (click)="redirectChat()" class="navbar-brand navbar-menu role-2 role-3 role-4 navbar-chat">CHAT</a>-->
      <!-- <ul class="nav navbar-nav navbar-right" style="float: right;font-size:12px; color: #000;">
        <li class="dropdown dropdown-customer"><a href="#" style="font-size:12px; color: #000;" data-toggle="dropdown" class="dropdown-toggle version-1 version-2  navbar-remarketing_customers">NHẮN TIN</a>
          <ul class="dropdown-menu">
            <li><a href="/#/remarketing/customers" class="">DANH SÁCH KHÁCH HÀNG</a></li>
          </ul>
        </li>
        <li class="separator hidden-lg hidden-md"></li>
      </ul> -->
    </div>
  </div>
</nav>