.icon-user-login {
    width: 26px;
    margin-top: -3px;
    margin-right: 10px;
    border-radius: 3px ;
}
.navbar .navbar-nav > li > a {
   color: gray;
}
.navbar-header {
  display: none;
}
.dropdown-menu li > a:hover{
  background-color: #4183C4
}
.navbar-collapse .navbar-menu:hover{
    color: #4183C4;
}
