
.ui-select-container{
    border: 1px solid #ccc;
}
.ui-select-toggle {
    position: relative;

    /* hardcoded, should use variable from bootstrap */
    padding: 0.375rem 0.75rem;
}

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .dropdown {
    /* Instead of relative */
    position: static;
}

.ui-select-match > .btn-select {
    /* Instead of center because of .btn-select */
    text-align: left !important;
}

.ui-select-match > .caret {
    position: absolute;
    top: 45%;
    right: 15px;
}

.ui-disabled {
    border-radius: 4px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.6;
    top: 0;
    left: 0;
    cursor: not-allowed;
}

.ui-select-choices {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin-top: 0;
}

.ui-select-multiple .ui-select-choices {
    margin-top: 1px;
}

.ui-select-multiple {
    height: auto;
    padding: 3px 3px 0 3px;
}

.ui-select-multiple input.ui-select-search {
    background-color: transparent !important; /* To prevent double background when disabled */
    border: none;
    outline: none;
    height: 1.9em;
    margin-bottom: 3px;

    /* hardcoded, should use variable from bootstrap, but must be adjusted because... reasons */
    padding: 0.375rem 0.55rem;
}

.ui-select-multiple .ui-select-match-item {
    outline: 0;
    margin: 0 3px 3px 0;
}
.ui-select-choices-row a{
    color:#969696;
    display:block;
    text-decoration:none;
    padding:5px 10px;
}
.ui-select-choices-row.active, .ui-select-choices-row:hover{
    background:transparent !important;
}

.ui-select-choices-row.active a, .ui-select-choices-row:hover a{
    color:#ffffff;
}

.btn-select {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-select:focus,
.btn-select.focus,
.btn-select:active:focus,
.btn-select:active.focus,
.btn-select.active:focus,
.btn-select.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn-select:hover,
.btn-select:focus,
.btn-select.focus {
    color: #666;
    text-decoration: none;
}

.btn-select:active,
.btn-select.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-select.disabled,
.btn-select[disabled],
fieldset[disabled] .btn-select {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-select-default {
    color: #666;
    border-color: #eee;
}

.btn-select-default:focus,
.btn-select-default.focus {
    color: #666;
    border-color: #aeaeae;
}

.btn-select-default:hover {
    color: #666;
    border-color: #cfcfcf;
}

.btn-select-default:active,
.btn-select-default.active,
.open > .btn-select-default.dropdown-toggle {
    color: #666;
    border-color: #cfcfcf;
}

.btn-select-default:active:hover,
.btn-select-default:active:focus,
.btn-select-default:active.focus,
.btn-select-default.active:hover,
.btn-select-default.active:focus,
.btn-select-default.active.focus,
.open > .btn-select-default.dropdown-toggle:hover,
.open > .btn-select-default.dropdown-toggle:focus,
.open > .btn-select-default.dropdown-toggle.focus {
    color: #666;
    border-color: #aeaeae;
}

.btn-select-default:active,
.btn-select-default.active,
.open > .btn-select-default.dropdown-toggle {
    background-image: none;
}

.btn-select-default.disabled:hover,
.btn-select-default.disabled:focus,
.btn-select-default.disabled.focus,
.btn-select-default[disabled]:hover,
.btn-select-default[disabled]:focus,
.btn-select-default[disabled].focus,
fieldset[disabled] .btn-select-default:hover,
fieldset[disabled] .btn-select-default:focus,
fieldset[disabled] .btn-select-default.focus {
    border-color: #eee;
}

.btn-select-default .badge {
    color: #fff;
}

.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu.pull-right,
.page-header .dropdown-menu.actions {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 10.5px 0;
    overflow: hidden;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.846;
    color: #666;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #141414;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #e91e63;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #bbb;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
}

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.close {
    float: right;
    font-size: 19.5px;
    font-weight: normal;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.single-span {
    border: none !important;
    text-transform: inherit !important;
    position: relative !important;
    border-radius: 0 !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    -webkit-transition: unset !important;
    -o-transition: unset !important;
    transition: unset !important;
    background-color: transparent !important;
    outline: none;
    height: 1.9em;
    margin-bottom: 3px;
    padding: 0.375rem 0.55rem;
    width: 100%;
}

.singleInput {
    background-color: transparent !important; /* To prevent double background when disabled */
    border: none;
    outline: none;
    height: 1.9em;
    margin-bottom: 3px;

    /* hardcoded, should use variable from bootstrap, but must be adjusted because... reasons */
    padding: 0.375rem 0.55rem;
}
.ui-select-container {
    border: none;
    width: 200px;
    margin-top: -2px;
}

@media (max-width: 991px) {
    .ui-select-container {
        border: none;
        width: 142px !important;
        margin-top: -6px;
        margin-left: 4px;
    }
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px 0px;
    vertical-align: middle;
}
.ui-select-toggle {
    background-color: transparent !important;
    color: #999999 !important;
    padding: 0px !important;
    text-align: center !important;
    padding-left: 5px !important;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    /* border: 1px double #ddd; */
    border-radius: 5px;
}
.ui-select-toggle {
    background-color: transparent !important;
    color: #333 !important;
    padding: 0px !important;
    text-align: center !important;
    padding-left: 5px !important;
}
.btn-group.bootstrap-select.open .dropdown-menu,
.dropdown.open .dropdown-menu,
.dropdown-menu.bootstrap-datetimepicker-widget.open,
.bootstrap-table .open .dropdown-menu,
.timeline .dropdown.open .dropdown-menu {
    opacity: 1;
    margin-top: -2px;
    filter: alpha(opacity=100);
    visibility: visible;
    -webkit-transform: translate3d(0, 1px, 0);
    -moz-transform: translate3d(0, 1px, 0);
    -o-transform: translate3d(0, 1px, 0);
    -ms-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
}
.ui-select-match .form-control {
    height: 23px !important;
}
.ui-select-match-text {
    color: #777;
}
.ui-select-match .pull-right {
    margin-top: -9px !important;
    color: #777;
}
.ui-select-match > .btn {
    text-align: left !important;
    padding-left: 0px !important;
}
.ui-select-container {
    border: none;
    width: 200px;
    margin-top: -2px;
}
.group-san-pham {
    margin-top: 10px;
    height: 29px;
}
.form-group {
    padding-bottom: 0;
    margin: 7px 0 0;
}
.dropdown, .dropup {
    position: relative;
    max-height: 53px;
}
.ui-select-match>.btn {
    text-align: left!important;
    padding-left: 0!important;
}
.ui-select-match .form-control {
    height: 33px!important;
    margin-top: 0px;
}
.ui-select-match .pull-right {
    margin-top: -9px!important;
    color: #777;
}
.pull-right {
    float: right;
}
.pull-right {
    float: right!important;
}
.ui-select-toggle {
    background-color: transparent!important;
    color: #333!important;
    padding: 0!important;
    text-align: center!important;
    padding-left: 5px!important;
}