// component css goes here
#hana-chat-room .direct-chat-primary {
    height: calc(100vh - 60px) !important;
    overflow-x: hidden;
}

#hana-chat-room .hana-chatroom-group {
    height: calc(100vh - 225px) !important;
    overflow-x: hidden;
}
#hana-chat-room .hana-commentroom-group {
    height: calc(100vh - 270px) !important;
    overflow-x: hidden;
}
#hana-chat-room .post-facebook {
    height: 100px;
}
.mideasvn-chat-action .mideasvn-chat-action-icon {
    font-size: 19px;
}

#hana-chat-room .example-tooltip-host {
    display: inline-flex;
    align-items: center;
    margin: 50px;
    font-size: 19px;
  }
  
#hana-chat-room .example-select {
    margin: 0 10px;
}
#hana-chat-room .hana-icon-traing {
    font-size: 16px;
}

#hana-chat-room .right .chat-text {
    text-align: left;
}