<div class="chat-right-aside chatbox-messenger-content" id="hana-chat-room">
    <div class="scroll-content-chat" style="position: fixed;top: 50%;left: 45%;width: 100px;height: 100px; display: none">
        <img style="height: 100px;width: 100px;" src="./assets/img/chat/loading.gif" alt="Loading">
    </div>
    <div class="chat-box direct-chat-primary">
        <div *ngIf="chatOpenObject">
            <!-- start header -->
            <ng-container *ngIf="chatOpenObject.entry == 'groupchat' else headcomment">
                <div class="chat-main-header-chat chat-main-header">
                    <ng-container *ngIf="chatOpenObject.type_user == 'facebook' else headgrweb">
                        <div class="col-md-6">
                            <a href="{{chatOpenObject.fb_link ? chatOpenObject.fb_link : '#'}}" target="_blank">
                                <img src="{{chatOpenObject.cus_avatar ? chatOpenObject.cus_avatar : './assets/img/chat/user128.png'}}" alt="user-img" class="img-circle">
                                <span>
                                    <ng-container *ngIf="chatOpenObject.cus_name; else fbusHead">
                                        <strong>{{chatOpenObject.cus_name | lengthlimit: 30}}</strong>
                                    </ng-container>
                                    <ng-template #fbusHead>
                                        <strong>Facebook User</strong>
                                    </ng-template>

                                </span>
                            </a>
                        </div>
                    </ng-container>
                    <ng-template #headgrweb>
                        <div class="col-md-6">
                            <a href="javascript:void(0)">
                                <img src="./assets/img/chat/user128.png" alt="user-img" class="img-circle">
                                <span>
                                    <ng-container *ngIf="chatOpenObject.cus_name; else fbusHead">
                                        <strong>{{chatOpenObject.cus_name | lengthlimit: 30}}</strong>
                                    </ng-container>
                                    <ng-template #fbusHead>
                                        <strong>Website User</strong>
                                    </ng-template>
                                </span>
                            </a>
                        </div>
                    </ng-template>
                    <div class="col-md-5 mideasvn-chat-action">

                        <button (click)="markUnRead()" rel="tooltip" data-container="body" data-placement="right" title="Đánh dấu chưa đọc" class="btn btn-just-icon btn-simple btn-linkedin mideasvn-chat-action-icon mideasvn-pointer mideasvn-show-unread"
                            style="padding: 3px 5px; ">
                            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                            <div class="ripple-container"></div>
                        </button>
                        <button (click)="allChatMeSearch()" rel="tooltip" data-container="body" data-placement="right" title="Tất cả hội thoại của người dùng này"
                            class="btn btn-just-icon btn-simple btn-linkedin mideasvn-chat-action-icon mideasvn-pointer mideasvn-show-all-list"
                            style="padding: 3px 5px ;">
                            <i class="fa fa-list-alt" aria-hidden="true" style="padding-top: 3px"></i>
                            <div class="ripple-container"></div>
                        </button>

                        <ng-container *ngIf="chatOpenObject.need_support == true else headdontneed">
                            <button (click)="markSupport('unneedsp')" rel="tooltip" data-container="body" data-placement="right" title="Đánh dấu đã hỗ trợ"
                                class="btn btn-just-icon btn-simple btn-linkedin mideasvn-chat-action-icon mideasvn-pointer mideasvn-mark unneedsupport"
                                style="padding: 3px 5px; ">
                                <i class="fa fa-bell mark-need-icon" aria-hidden="true"></i>
                                <div class="ripple-container"></div>
                            </button>
                        </ng-container>
                        <ng-template #headdontneed>
                            <button (click)="markSupport('needsp')" rel="tooltip" data-container="body" data-placement="right" title="Đánh dấu cần hỗ trợ"
                                class="btn btn-just-icon btn-simple btn-linkedin mideasvn-chat-action-icon mideasvn-pointer mideasvn-mark unneedsupport"
                                style="padding: 3px 5px; ">
                                <i class="fa fa-bell-o mark-need-icon" aria-hidden="true"></i>
                                <div class="ripple-container"></div>
                            </button>
                        </ng-template>

                    </div>
                </div>
            </ng-container>
            <ng-template #headcomment>
                <div class="chat-main-header-chat post-facebook hana-post-info">
                    <ng-container *ngIf="postInfo">
                        <ng-container *ngIf="postInfo.item === 'photo'">
                            <div class="col-md-3 col-sm-3">
                                <a>
                                    <img class="hana-single-image" src="{{postInfo.link}}">
                                </a>
                            </div>
                            <div class="hana-multiphoto-content col-md-4 col-sm-4">
                                <p>
                                    <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-header">
                                        <strong>Nội dung</strong>
                                    </a>
                                </p>
                                <div class="post-msg">{{postInfo.message | lengthlimit : 100}}
                                    <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-view">Xem trên facebook</a>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="postInfo.item === 'status'">
                            <ng-container *ngIf="postInfo.photos; else justPostText">
                                <div class="col-md-3 col-sm-3" id="photo-{{postInfo.post_id}}">
                                    <a *ngFor="let image of postInfo.photos">
                                        <img class="hana-single-image" src="{{image}}">
                                    </a>
                                </div>
                                <div class="hana-multiphoto-content col-md-4 col-sm-4">
                                    <p>
                                        <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-header">
                                            <strong>Nội dung</strong>
                                        </a>
                                    </p>
                                    <div class="post-msg">{{postInfo.message | lengthlimit : 100}}
                                        <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-view">Xem trên facebook</a>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-template #justPostText>
                                <div class="hana-multiphoto-content col-md-7 col-sm-7">
                                    <p>
                                        <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-header">
                                            <strong>Nội dung</strong>
                                        </a>
                                    </p>
                                    <div class="post-msg">{{postInfo.message | lengthlimit : 100}}
                                        <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-view">Xem trên facebook</a>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngIf="postInfo.item === 'video'">
                            <div class="col-md-3 col-sm-3">
                                <a>
                                    <img class="hana-single-image" src="{{postInfo.link}}">
                                </a>
                            </div>
                            <div class="hana-multiphoto-content col-md-4 col-sm-4">
                                <p>
                                    <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-header">
                                        <strong>Nội dung</strong>
                                    </a>
                                </p>
                                <div class="post-msg">{{postInfo.message | lengthlimit : 100 }}
                                    <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-view">Xem trên facebook</a>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="postInfo.item === 'share'">
                            <div class="hana-multiphoto-content col-md-7 col-sm-7">
                                <p>
                                    <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-header">
                                        <strong>Nội dung</strong>
                                    </a>
                                </p>
                                <div class="post-msg">{{postInfo.message | lengthlimit : 100 }}
                                    <a href="https://www.facebook.com/{{postInfo.post_id}}" target="_blank" class="post-view">Xem trên facebook</a>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>

                    <div class="col-md-3 mideasvn-chat-action">

                        <button (click)="markUnRead()" rel="tooltip" data-container="body" data-placement="right" title="Đánh dấu chưa đọc" class="btn btn-just-icon btn-simple btn-linkedin mideasvn-chat-action-icon mideasvn-pointer mideasvn-show-unread"
                            style="padding: 3px 5px; ">
                            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                            <div class="ripple-container"></div>
                        </button>
                        <button (click)="allChatMeSearch()" rel="tooltip" data-container="body" data-placement="right" title="Tất cả hội thoại của người dùng này"
                            class="btn btn-just-icon btn-simple btn-linkedin mideasvn-chat-action-icon mideasvn-pointer mideasvn-show-all-list"
                            style="padding: 3px 5px ;">
                            <i class="fa fa-list-alt" aria-hidden="true" style="padding-top: 3px"></i>
                            <div class="ripple-container"></div>
                        </button>

                        <ng-container *ngIf="chatOpenObject.need_support == true else headdontneed">
                            <button (click)="markSupport('unneedsp')" rel="tooltip" data-container="body" data-placement="right" title="Đánh dấu đã hỗ trợ"
                                class="btn btn-just-icon btn-simple btn-linkedin mideasvn-chat-action-icon mideasvn-pointer mideasvn-mark unneedsupport"
                                style="padding: 3px 5px; ">
                                <i class="fa fa-bell mark-need-icon" aria-hidden="true"></i>
                                <div class="ripple-container"></div>
                            </button>
                        </ng-container>
                        <ng-template #headdontneed>
                            <button (click)="markSupport('needsp')" rel="tooltip" data-container="body" data-placement="right" title="Đánh dấu cần hỗ trợ"
                                class="btn btn-just-icon btn-simple btn-linkedin mideasvn-chat-action-icon mideasvn-pointer mideasvn-mark unneedsupport"
                                style="padding: 3px 5px; ">
                                <i class="fa fa-bell-o mark-need-icon" aria-hidden="true"></i>
                                <div class="ripple-container"></div>
                            </button>
                        </ng-template>

                    </div>

                </div>
            </ng-template>

            <!-- end header -->

            <ul class="chat-list direct-chat-messages hana-chatroom-group" #scrollMeChat (scroll)="chatRoomScroll($event)" *ngIf="chatOpenObject.entry == 'groupchat'; else bodycomment">
                <!-- <time class="chat-info chat-date" data-isodate="1509033761431" style="width: 100%; margin: auto; display: table; text-align: center; font-size: 16px; font-weight: bold;">thứ năm, ngày 26 tháng 10 năm 2017</time> -->

                <ng-container *ngFor="let message of listMessage">
                    <ng-container *ngIf="message.msg_type == 'msgindicator'">
                        <time class="chat-info chat-date" data-isodate="1509033761431" style="width: 100%; margin: auto; display: table; text-align: center; font-size: 16px; font-weight: bold;">{{message.formatDay}}</time>
                    </ng-container>
                    <ng-container *ngIf="message.msg_type == 'body'">
                        <ng-container *ngIf="message.is_customer == true else bodyAgent">
                            <li class="direct-chat-msg chat-message">
                                <div class="chat-image chat-msg-them">
                                    <!-- <img alt="male" class="avatar-userchat" src="./assets/img/chat/user128.png"> -->
                                    <ng-container *ngIf="message.url_avatar else avatarAgent1">
                                        <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                    </ng-container>
                                    <ng-template #avatarAgent1>
                                        <img alt="male" class="avatar-userchat" src="./assets/img/chat/user128.png">
                                    </ng-template>

                                </div>
                                <div class="chat-body" *ngIf="message.body_json.type == 'text'" (click)="showLogTraining(message)">
                                    <div class="chat-text  parent-popup-event">
                                        <!-- <p class="chat-msg-content hana-message-item"  [innerHTML]="message.body_json.body | addHyperlinks ">{{message.body_json.body | addHyperlinks }}</p> -->
                                        <p class="chat-msg-content hana-message-item" [innerHTML]="message.body_json.body | addHyperlinks | addEmoticons "></p>
                                        <b>{{message.timesend | unixtomessagetime: message.timeStore}}</b>
                                        <div class="btn-popup-one" (click)="trainingContent(message.body_json.body)" aria-hidden="true" mdTooltip="Đào tạo câu nói này"
                                            [mdTooltipPosition]="position">
                                            <i class="fa fa-android hana-icon-traing"></i>
                                        </div>
                                    </div>

                                </div>
                                <ng-container *ngIf="message.body_json.type == 'images'">
                                    <div class="chat-body parent-popup-event">
                                        <a class="example-image-link " href="{{message.body_json.img_url[0]}}" target="_blank">
                                            <img class="example-image hana-image-receive" src="{{message.body_json.img_url[0]}}" alt="image" width="auto" height="100"
                                                style="float: left;">
                                        </a>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="message.body_json.type == 'postback'">
                                    <div class="chat-body parent-popup-event">
                                        <div class="chat-text  parent-popup-event">
                                            <p class="chat-msg-content hana-message-item" [innerHTML]="message.body_json.body.title | addHyperlinks | addEmoticons "></p>
                                            <b>{{message.timesend | unixtomessagetime: message.timeStore}}</b>
                                            <div class="btn-popup-one" (click)="trainingContent(message.body_json.body.title)" aria-hidden="true" mdTooltip="Đào tạo câu nói này"
                                                [mdTooltipPosition]="position">
                                                <i class="fa fa-android hana-icon-traing"></i>
                                            </div>
                                        </div>

                                    </div>
                                </ng-container>
                            </li>
                        </ng-container>
                        <ng-template #bodyAgent>
                            <li class="odd direct-chat-msg right chat-message">
                                <div class="chat-image chat-msg-them">
                                    <ng-container *ngIf="message.url_avatar else avatarAgent">
                                        <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                    </ng-container>
                                    <ng-template #avatarAgent>
                                        <img alt="Female" class="avatar-userchat" src="./assets/img/chat/hana-user.jpg">
                                    </ng-template>

                                </div>
                                <div class="chat-body" *ngIf="message.body_json.type == 'text'">
                                    <div class="chat-text send-error show-error" *ngIf="message.errormsg">
                                        <img src="./assets/img/chat/error.png">
                                    </div>
                                    <div class="chat-text send-error show-error" *ngIf="message.loadingsend">
                                        <img src="./assets/img/chat/loadingmsg.gif">
                                    </div>
                                    <div class="chat-text">
                                        <p class="chat-msg-content" [innerHTML]="message.body_json.body | addHyperlinks | addEmoticons"></p>
                                        <!-- <p class="chat-msg-content">{{message.body_json.body | addHyperlinks | addEmoticons}}</p> -->
                                        <b>{{message.timesend | unixtomessagetime: message.timeStore}}</b>
                                    </div>
                                </div>
                                <ng-container *ngIf="message.body_json.type == 'images'">
                                    <div class="chat-body">
                                        <div class="chat-text send-error show-error" *ngIf="message.errormsg">
                                            <img src="./assets/img/chat/error.png">
                                        </div>
                                        <div class="chat-text send-error show-error" *ngIf="message.loadingsend">
                                            <img src="./assets/img/chat/loadingmsg.gif">
                                        </div>
                                        <a class="example-image-link " href="{{message.body_json.img_url[0]}}" target="_blank">
                                            <img class="example-image hana-image-receive" src="{{message.body_json.img_url[0]}}" alt="image" width="auto" height="100"
                                                style="float: right;">
                                        </a>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="message.body_json.type == 'attachment'">
                                    <ng-container *ngIf="message.body_json.body.attachments[0].type == 'image'; else attachmentfile">
                                        <div class="chat-body">
                                            <div class="chat-text send-error show-error" *ngIf="message.errormsg">
                                                <img src="./assets/img/chat/error.png">
                                            </div>

                                            <div class="chat-text send-error show-error">
                                                <img src="./assets/img/chat/loadingmsg.gif" *ngIf="message.loadingsend">
                                            </div>
                                            <a class="example-image-link " href="{{message.body_json.body.attachments[0].payload.url}}" target="_blank">
                                                <img class="example-image hana-image-receive" src="{{message.body_json.body.attachments[0].payload.url}}" alt="image" width="auto"
                                                    height="100" style="float: right;">
                                            </a>
                                        </div>
                                    </ng-container>
                                    <ng-template #attachmentfile>
                                        <div class="chat-body">
                                            <div class="chat-text send-error show-error" *ngIf="message.errormsg">
                                                <img src="./assets/img/chat/error.png">
                                            </div>
                                            <div class="chat-text send-error show-error">
                                                <img src="./assets/img/chat/loadingmsg.gif" *ngIf="message.loadingsend">
                                            </div>
                                            <div class="chat-text" style="background-color: darkgrey">
                                                <div class="chat">
                                                    <div class="item">
                                                        <div class="attachment-right pull-right">
                                                            <h4>Đính kèm:</h4>
                                                            <div class="pull-right">
                                                                <a href="{{message.body_json.body.attachments[0].payload.url}}" download="{{message.body_json.body.attachments[0].payload.url}}">
                                                                    <button type="button" class="btn btn-facebook btn-sm btn-flat">Tải xuống</button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <b>{{message.timesend | unixtomessagetime: message.timeStore}}</b>
                                            </div>
                                        </div>
                                    </ng-template>

                                </ng-container>
                            </li>
                        </ng-template>
                    </ng-container>
                    <!-- quick reply -->
                    <ng-container *ngIf="message.msg_type == 'quickreply'">
                        <li class="odd direct-chat-msg right chat-message">
                            <div class="chat-image chat-msg-them">
                                <ng-container *ngIf="message.url_avatar else avatarAgent">
                                    <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                </ng-container>
                                <ng-template #avatarAgent>
                                    <img alt="Female" class="avatar-userchat" src="./assets/img/chat/hana-user.jpg">
                                </ng-template>

                            </div>
                            <div class="chat-body" *ngIf="message.body_json.message.text  && message.body_json.message.text != ''">
                                <div class="chat-text send-error">
                                    <img src="./assets/img/chat/error.png">
                                </div>
                                <div class="chat-text">
                                    <p class="chat-msg-content">{{message.body_json.message.text}}</p>
                                    <b>{{message.timesend | unixtomessagetime: message.timeStore}}</b>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <!-- text reply -->
                    <ng-container *ngIf="message.msg_type == 'text'">
                        <ng-container *ngIf="message.is_customer == true else textAgent">
                            <li class="direct-chat-msg chat-message">
                                <div class="chat-image chat-msg-them">
                                    <ng-container *ngIf="message.url_avatar else avatarAgent">
                                        <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                    </ng-container>
                                    <ng-template #avatarAgent>
                                        <img alt="Female" class="avatar-userchat" src="./assets/img/chat/hana-user.jpg">
                                    </ng-template>

                                </div>
                                <div class="chat-body" *ngIf="message.body_json.message.text  && message.body_json.message.text != ''">
                                    <div class="chat-text">
                                        <!-- <p class="chat-msg-content" >{{message.body_json.message.text | addHyperlinks }}</p> -->
                                        <p class="chat-msg-content" [innerHTML]="message.body_json.message.text | addHyperlinks | addEmoticons "></p>
                                        <b>{{message.timesend | unixtomessagetime: message.timeStore}}</b>
                                    </div>
                                </div>
                            </li>
                        </ng-container>
                        <ng-template #textAgent>
                            <li class="odd direct-chat-msg right chat-message">
                                <div class="chat-image chat-msg-them">
                                    <ng-container *ngIf="message.url_avatar else avatarAgent">
                                        <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                    </ng-container>
                                    <ng-template #avatarAgent>
                                        <img alt="Female" class="avatar-userchat" src="./assets/img/chat/hana-user.jpg">
                                    </ng-template>

                                </div>
                                <div class="chat-body" *ngIf="message.body_json.message.text  && message.body_json.message.text != ''">
                                    <div class="chat-text">
                                        <p class="chat-msg-content" [innerHTML]="message.body_json.message.text | addHyperlinks | addEmoticons "></p>
                                        <b>{{message.timesend | unixtomessagetime: message.timeStore}}</b>
                                    </div>
                                </div>
                            </li>
                        </ng-template>

                    </ng-container>
                    <!-- image struct -->
                    <ng-container *ngIf="message.msg_type == 'imagestruct'">
                        <li class="odd direct-chat-msg right chat-message">
                            <div class="chat-image chat-msg-them">
                                <ng-container *ngIf="message.url_avatar else avatarAgent">
                                    <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                </ng-container>
                                <ng-template #avatarAgent>
                                    <img alt="Female" class="avatar-userchat" src="./assets/img/chat/hana-user.jpg">
                                </ng-template>

                            </div>
                            <a class="example-image-link " href="{{message.body_json.message.attachment.payload.url}}" target="_blank">
                                <img class="example-image hana-image-receive" src="{{message.body_json.message.attachment.payload.url}}" alt="image" width="auto"
                                    height="100" style="float: right; padding-right: 5px;">
                            </a>
                        </li>
                    </ng-container>
                    <!-- generic struct -->
                    <ng-container *ngIf="message.msg_type == 'generic'">
                        <li class="odd direct-chat-msg right chat-message">
                            <div class="chat-image chat-msg-them">
                                <ng-container *ngIf="message.url_avatar else avatarAgent">
                                    <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                </ng-container>
                                <ng-template #avatarAgent>
                                    <img alt="Female" class="avatar-userchat" src="./assets/img/chat/hana-user.jpg">
                                </ng-template>

                            </div>
                            <div class="chat-body">
                                <div class="your-class mideas-structure-template" id="slick-{{message.id}}">
                                    <ng-container *ngFor="let element of message.body_json.message.attachment.payload.elements">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="card card-product">
                                                <div class="card-image" *ngIf="element.image_url">
                                                    <a>
                                                        <img class="img" src="{{element.image_url}}">
                                                    </a>
                                                    <div class="ripple-container"></div>
                                                </div>
                                                <div class="card-content">
                                                    <h4 class="card-title" *ngIf="element.title">
                                                        <a>{{element.title}}</a>
                                                    </h4>
                                                    <div class="card-description" *ngIf="element.subtitle">
                                                        {{element.subtitle}}
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <ng-container *ngFor="let button of element.buttons">
                                                        <button type="button mideas-button-action" class="btn btn-default col-lg-12 col-md-12">{{button.title}}</button>
                                                    </ng-container>

                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <!-- button struct -->
                    <ng-container *ngIf="message.msg_type == 'button'">
                        <li class="odd direct-chat-msg right chat-message">
                            <div class="chat-image chat-msg-them">
                                <ng-container *ngIf="message.url_avatar else avatarAgent">
                                    <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                </ng-container>
                                <ng-template #avatarAgent>
                                    <img alt="Female" class="avatar-userchat" src="./assets/img/chat/hana-user.jpg">
                                </ng-template>

                            </div>
                            <div class="chat-body">
                                <div class="your-class mideas-structure-template" id="slick-{{message.id}}">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="card card-product">
                                            <div class="card-content">
                                                <div class="card-description" *ngIf="message.body_json.message.attachment.payload.text">
                                                    {{message.body_json.message.attachment.payload.text}}
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <ng-container *ngFor="let button of message.body_json.message.attachment.payload.buttons">
                                                    <button type="button mideas-button-action" class="btn btn-default col-lg-12 col-md-12">{{button.title}}</button>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                    <!-- attachments struct -->
                    <ng-container *ngIf="message.msg_type == 'attachments'">
                        <ng-container *ngIf="message.is_customer == true; else attachmentsAgent">
                            <li class="direct-chat-msg chat-message">
                                <div class="chat-image chat-msg-them">
                                    <!-- <img alt="male" class="avatar-userchat" src="./assets/img/chat/user128.png"> -->
                                    <ng-container *ngIf="message.url_avatar else avatarAgent1">
                                        <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                    </ng-container>
                                    <ng-template #avatarAgent1>
                                        <img alt="male" class="avatar-userchat" src="./assets/img/chat/user128.png">
                                    </ng-template>

                                </div>
                                <ng-container *ngIf="message.body_json.type == 'image'; else attachmentsFile">
                                    <div class="chat-body">
                                        <a class="example-image-link " href="{{message.body_json.payload.url}}" target="_blank">
                                            <img class="example-image hana-image-receive" src="{{message.body_json.payload.url}}" alt="image" width="auto" height="100"
                                                style="float: left;">
                                        </a>
                                    </div>
                                </ng-container>
                                <ng-template #attachmentsFile>
                                    <div class="chat-text" style="background-color: darkgrey">
                                        <div class="chat">
                                            <div class="item">
                                                <div class="attachment-right pull-right">
                                                    <h4>Đính kèm:</h4>
                                                    <div class="pull-right">
                                                        <a href="{{message.body_json.payload.url}}" download="{{message.body_json.payload.url}}">
                                                            <button type="button" class="btn btn-facebook btn-sm btn-flat">Tải xuống</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <b>{{message.timesend | unixtomessagetime: message.timeStore}}</b>
                                    </div>
                                </ng-template>
                            </li>
                        </ng-container>
                        <ng-template #attachmentsAgent>
                            <ng-container *ngIf="message.body_json.type == 'template'">
                                <li class="odd direct-chat-msg right chat-message">
                                    <div class="chat-image chat-msg-them">
                                        <ng-container *ngIf="message.url_avatar else avatarAgent">
                                            <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                        </ng-container>
                                        <ng-template #avatarAgent>
                                            <img alt="Female" class="avatar-userchat" src="./assets/img/chat/hana-user.jpg">
                                        </ng-template>

                                    </div>
                                    <div class="chat-body">
                                        <div class="your-class mideas-structure-template" id="slick-{{message.id}}">
                                            <ng-container *ngIf="message.body_json.payload">
                                                <ng-container *ngFor="let element of message.body_json.payload.elements">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="card card-product">
                                                            <div class="card-image" *ngIf="element.image_url">
                                                                <a>
                                                                    <img class="img" src="{{element.image_url}}">
                                                                </a>
                                                                <div class="ripple-container"></div>
                                                            </div>
                                                            <div class="card-content">
                                                                <h4 class="card-title" *ngIf="element.title">
                                                                    <a>{{element.title}}</a>
                                                                </h4>
                                                                <div class="card-description" *ngIf="element.subtitle">
                                                                    {{element.subtitle}}
                                                                </div>
                                                            </div>
                                                            <div class="card-footer">
                                                                <ng-container *ngFor="let button of element.buttons">
                                                                    <button type="button mideas-button-action" class="btn btn-default col-lg-12 col-md-12">{{button.title}}</button>
                                                                </ng-container>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </ng-container>

                                        </div>
                                    </div>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="message.body_json.type == 'image'">
                                <li class="odd direct-chat-msg right chat-message">
                                    <div class="chat-image chat-msg-them">
                                        <ng-container *ngIf="message.url_avatar else avatarAgent">
                                            <img alt="Female" class="avatar-userchat" src="{{message.url_avatar}}">
                                        </ng-container>
                                        <ng-template #avatarAgent>
                                            <img alt="Female" class="avatar-userchat" src="./assets/img/chat/hana-user.jpg">
                                        </ng-template>

                                    </div>
                                    <a class="example-image-link " href="{{message.body_json.payload.url}}" target="_blank">
                                        <img class="example-image hana-image-receive" src="{{message.body_json.payload.url}}" alt="image" width="auto" height="100"
                                            style="float: right; padding-right: 5px;">
                                    </a>
                                </li>
                            </ng-container>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </ul>
            <ng-template #bodycomment>
                <ul class="chat-list direct-chat-messages hana-commentroom-group" #scrollMeChat (scroll)="chatRoomScroll($event)">
                    <ng-container *ngFor="let message of listMessage">
                        <ng-container *ngIf="message.body_json.is_customer; else commentAgent">
                            <div class="comment-left">
                                <li class="direct-chat-msg chat-message">
                                    <div class="chat-image chat-msg-them">
                                        <img alt="male" src="{{message.url_avatar}}">
                                    </div>
                                    <div class="chat-body" (click)="showLogTraining(message)">
                                        <div class="chat-text hana-chattext-comment">
                                            <p class="chat-msg-content hana-message-item">{{message.body_json.message}} </p>
                                            <ng-container *ngIf="message.body_json.photo">
                                                <a class="example-image-link " href="{{message.body_json.photo}}" target="_blank">
                                                    <img class="example-image hana-image-receive" src="{{message.body_json.photo}}" alt="image" width="auto" height="100" style="float: right; padding-right: 5px;">
                                                </a>
                                                <br/>
                                            </ng-container>
                                            <span *ngIf="message.CheckResult ; else meCheckResult">
                                                <ng-container *ngIf="message.CheckResult.can_like; else cannotLike">
                                                    <ng-container *ngIf="message.msg_status && message.msg_status.is_like == 'true'; else dislike">
                                                        <i (click)="commentLikeFB('dislike',message)" class="example-tooltip-host" mdTooltip="Thay đổi trạng thái thích" [mdTooltipPosition]="position"
                                                            class="fa fa-thumbs-o-up  hana-message-action-like active" aria-hidden="true"></i>
                                                    </ng-container>
                                                    <ng-template #dislike>
                                                        <i (click)="commentLikeFB('like',message)" class="example-tooltip-host" mdTooltip="Thay đổi trạng thái thích" [mdTooltipPosition]="position"
                                                            class="fa fa-thumbs-o-up  hana-message-action-like" aria-hidden="true"></i>
                                                    </ng-template>
                                                </ng-container>
                                                <ng-template #cannotLike>
                                                    <i class="example-tooltip-host" mdTooltip="Thay đổi trạng thái thích" [mdTooltipPosition]="position" class="fa fa-thumbs-o-up  hana-message-action-like hana-disable-div"
                                                        aria-hidden="true"></i>
                                                </ng-template>
                                                <ng-container *ngIf="message.CheckResult.can_reply_privately; else cannotReply">
                                                    <i (click)="privateReply(message)" class="example-tooltip-host" mdTooltip="Nhắn tin đến khách hàng" [mdTooltipPosition]="position"
                                                        class="fa fa-commenting-o  hana-message-action-chat" aria-hidden="true"></i>
                                                </ng-container>
                                                <ng-template #cannotReply>
                                                    <i class="example-tooltip-host" mdTooltip="Nhắn tin đến khách hàng" [mdTooltipPosition]="position" class="fa fa-commenting-o  hana-message-action-chat hana-disable-div"
                                                        aria-hidden="true"></i>
                                                </ng-template>
                                                <i (click)="commentShowFB(message)" class="example-tooltip-host" mdTooltip="Xem bình luận trên facebook" [mdTooltipPosition]="position"
                                                    class="fa fa-facebook-square  hana-message-action-facebook" aria-hidden="true"></i>
                                                <ng-container *ngIf="message.CheckResult.can_hide; else cannotHide">
                                                    <ng-container *ngIf="message.msg_status && message.msg_status.is_hide == 'true'; else dislike">
                                                        <i (click)="commentHideFB('unhide',message)" class="example-tooltip-host" mdTooltip="Thay đổi trạng thái ẩn" [mdTooltipPosition]="position"
                                                            class="fa fa-low-vision  hana-message-action-hide active" aria-hidden="true"></i>
                                                    </ng-container>
                                                    <ng-template #dislike>
                                                        <i (click)="commentHideFB('hide',message)" class="example-tooltip-host" mdTooltip="Thay đổi trạng thái ẩn" [mdTooltipPosition]="position"
                                                            class="fa fa-low-vision  hana-message-action-hide" aria-hidden="true"></i>
                                                    </ng-template>

                                                </ng-container>
                                                <ng-template #cannotHide>
                                                    <i class="example-tooltip-host" mdTooltip="Thay đổi trạng thái ẩn" [mdTooltipPosition]="position" class="fa fa-low-vision  hana-message-action-hide hana-disable-div"
                                                        aria-hidden="true"></i>
                                                </ng-template>
                                                <ng-container *ngIf="message.CheckResult.can_remove; else cannotRemove">
                                                    <i (click)="commentDeleteFBConfirm(message)" class="example-tooltip-host" mdTooltip="Xóa bình luận" [mdTooltipPosition]="position"
                                                        class="fa fa-trash-o  hana-message-action-delete" aria-hidden="true"></i>
                                                </ng-container>
                                                <ng-template #cannotRemove>
                                                    <i class="example-tooltip-host" mdTooltip="Xóa bình luận" [mdTooltipPosition]="position" class="fa fa-trash-o  hana-message-action-delete hana-disable-div active"
                                                        aria-hidden="true"></i>
                                                </ng-template>


                                            </span>
                                            <ng-template #meCheckResult>
                                                <span>
                                                    <i class="example-tooltip-host" mdTooltip="Thay đổi trạng thái thích" [mdTooltipPosition]="position" class="fa fa-thumbs-o-up  hana-message-action-like"
                                                        aria-hidden="true"></i>
                                                    <i class="example-tooltip-host" mdTooltip="Nhắn tin đến khách hàng" [mdTooltipPosition]="position" class="fa fa-commenting-o  hana-message-action-chat "
                                                        aria-hidden="true"></i>
                                                    <i class="example-tooltip-host" mdTooltip="Xem bình luận trên facebook" [mdTooltipPosition]="position" class="fa fa-facebook-square  hana-message-action-facebook"
                                                        aria-hidden="true"></i>
                                                    <i class="example-tooltip-host" mdTooltip="Thay đổi trạng thái ẩn" [mdTooltipPosition]="position" class="fa fa-low-vision  hana-message-action-hide "
                                                        aria-hidden="true"></i>
                                                    <i class="example-tooltip-host" mdTooltip="Xóa bình luận" [mdTooltipPosition]="position" class="fa fa-trash-o  hana-message-action-delete"
                                                        aria-hidden="true"></i>
                                                </span>
                                            </ng-template>

                                        </div>
                                        <div class="chat-text choose-comment" *ngIf="message.CheckResult">
                                            <div class="checkbox" *ngIf="message.CheckResult.can_comment">
                                                <label style="font-size: 2em">
                                                    <input type="checkbox" class="check-replies" [(ngModel)]="message.checkreply" (change)="checkBoxClick($event,message )">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ng-container>
                        <ng-template #commentAgent>
                            <div class="just_displayed" *ngIf="message.type == 'temcomment' ; else temcommentTrue">
                                <li class="odd">
                                    <div class="chat-image chat-msg-Tôi">
                                        <i class="fa fa-spinner fa-spin fa-2x comment-loading" aria-hidden="true"></i>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-text">
                                            <p class="chat-msg-content">{{message.body_json.msg}}</p>
                                        </div>
                                    </div>
                                </li>
                            </div>
                            <ng-template #temcommentTrue>
                                <div class="comment-right">
                                    <li class="odd direct-chat-msg right chat-message">
                                        <div class="chat-image chat-msg-them">
                                            <img alt="male" src="{{message.url_avatar}}">
                                        </div>
                                        <div class="chat-body">
                                            <ng-container *ngIf="message.is_editing; else notEditing">
                                                <div class="chat-text text-area">
                                                    <textarea class="textarea-editable hana-content-message" style="height: 48px;" [(ngModel)]="message.body_json.message"></textarea>
                                                    <span>
                                                        <i (click)="commentEdit('save', message)" class="example-tooltip-host" mdTooltip="Lưu bình luận" [mdTooltipPosition]="position"
                                                            title="" class="fa fa-floppy-o hana-message-action-save" aria-hidden="true"></i>
                                                        <i class="example-tooltip-host" mdTooltip="Xóa bình luận" [mdTooltipPosition]="position" title="" class="fa fa-trash-o hana-message-action-delete"
                                                            aria-hidden="true"></i>
                                                        <i (click)="commentShowFB(message)" class="example-tooltip-host" mdTooltip="Xem bình luận trên facebook" [mdTooltipPosition]="position"
                                                            title="" class="fa fa-facebook-square hana-message-action-facebook "
                                                            aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </ng-container>
                                            <ng-template #notEditing>
                                                <div class="chat-text hana-chattext-comment">
                                                    <p class="chat-msg-content">{{message.body_json.message}}</p>
                                                    <ng-container *ngIf="message.body_json.photo">
                                                        <a class="example-image-link " href="{{message.body_json.photo}}" target="_blank">
                                                            <img class="example-image hana-image-receive" src="{{message.body_json.photo}}" alt="image" width="auto" height="100" style="float: right; padding-right: 5px;">
                                                        </a>
                                                        <br/>
                                                    </ng-container>
                                                    <span *ngIf="message.CheckResult; else agentCheckresult">
                                                        <ng-container *ngIf="message.CheckResult.can_remove; else cannotRemoveAgent">
                                                            <i *ngIf="!message.body_json.photo" (click)="commentEdit('edit', message)" class="example-tooltip-host" mdTooltip="Sửa bình luận"
                                                                [mdTooltipPosition]="position" title="" class="fa fa-pencil-square-o hana-message-action-edit"
                                                                aria-hidden="true"></i>
                                                            <i (click)="commentShowFB(message)" class="example-tooltip-host" mdTooltip="Xem bình luận trên facebook" [mdTooltipPosition]="position"
                                                                title="" class="fa fa-facebook-square hana-message-action-facebook"
                                                                aria-hidden="true"></i>
                                                            <i (click)="commentDeleteFBConfirm(message)" class="example-tooltip-host" mdTooltip="Xóa bình luận" [mdTooltipPosition]="position"
                                                                class="fa fa-trash-o hana-message-action-delete" aria-hidden="true"></i>
                                                        </ng-container>
                                                        <ng-template #cannotRemoveAgent>
                                                            <i (click)="commentShowFB(message)" class="example-tooltip-host" mdTooltip="Xem bình luận trên facebook" [mdTooltipPosition]="position"
                                                                class="fa fa-facebook-square hana-message-action-facebook" aria-hidden="true"></i>
                                                            <i class="example-tooltip-host" mdTooltip="Xóa bình luận" [mdTooltipPosition]="position" class="fa fa-trash-o hana-message-action-delete hana-disable-div active"
                                                                aria-hidden="true"></i>
                                                        </ng-template>
                                                    </span>
                                                    <ng-template #agentCheckresult>
                                                        <span>
                                                            <i class="example-tooltip-host" mdTooltip="Sửa bình luận" [mdTooltipPosition]="position" class="fa fa-pencil-square-o hana-message-action-edit"
                                                                aria-hidden="true"></i>
                                                            <i class="example-tooltip-host" mdTooltip="Xóa bình luận" [mdTooltipPosition]="position" class="fa fa-trash-o hana-message-action-delete"
                                                                aria-hidden="true"></i>
                                                            <i class="example-tooltip-host" mdTooltip="Xem bình luận trên facebook" [mdTooltipPosition]="position" class="fa fa-facebook-square hana-message-action-facebook"
                                                                aria-hidden="true"></i>
                                                        </span>
                                                    </ng-template>
                                                </div>
                                            </ng-template>

                                        </div>
                                    </li>
                                </div>
                            </ng-template>
                        </ng-template>
                    </ng-container>
                </ul>
            </ng-template>
            <div class="row send-chat-box">
                <div class="tags-button hana-tags-button">
                    <ng-container *ngFor="let tag of listTags">
                        <button class="btn-tag-item hana-create-tags" (click)="addTags(tag)" aria-describedby="1" [ngStyle]="{'background-color':tag.color, 'width': percentTags+'%' , 'opacity': tag.opacityRoom? tag.opacityRoom: 0.3 }">{{tag.name}}</button>
                    </ng-container>
                    <!-- <button class="btn-tag-item hana-create-tags" aria-describedby="1" [ngStyle]="{'background-color':'darkgrey', 'width': percentTags+'%' }">
                        + Tạo nhãn</button> -->
                </div>
                <div class="col-sm-12">
                    <div class="form-group mideasvn-textarea-send is-empty">
                        <textarea class="form-control chat-textarea" placeholder="Nhập nội dung tin nhắn (shift+enter để xuống dòng) " [(ngModel)]="textBoxArea"
                            (keyup)="sendText($event)"></textarea>
                    </div>

                    <div class="custom-send">
                        <button class="btn btn-facebook btn-rounded send-raw" type="button" (click)="sendMsgButton()">Gửi</button>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top: -10px">
                    <div class="upload-btn-wrapper" style="cursor: pointer; float: left">
                        <!--<button class="btn"><i class="fa fa-picture-o" aria-hidden="true"></i></button>-->
                        <form #uploadImage enctype="multipart/form-data" class="form-choose-image mideas-send-more-action">
                            <i class="example-tooltip-host" mdTooltip="Gửi hình ảnh" [mdTooltipPosition]="position" class="fa fa-picture-o upload-image-icon"
                                aria-hidden="true"></i>
                            <input type="file" name="file" class="file-image-choose" accept=".jpg, .jpeg, .png, .gif" title="chọn hình ảnh" style="width: auto"
                                (change)="clickUpload('image', $event)">
                            <input type="hidden" name="type" value="chatbackend">
                        </form>

                        <form #uploadFile enctype="multipart/form-data" class="form-choose-attachment  mideas-send-more-action" style="position: relative"
                            *ngIf="chatOpenObject.entry == 'groupchat' ">
                            <i class="example-tooltip-host" mdTooltip="Gửi tệp" [mdTooltipPosition]="position" class="fa fa-paperclip upload-attachment-icon"
                                aria-hidden="true"></i>
                            <input type="file" name="file" class="file-attachment-choose" title="chọn file" accept=".jpg, .jpeg, .png, .gif , .txt, .doc ,.docx ,.xls ,.xlsx ,.pdf ,.mp3 ,.mp4 ,.avi"
                                (change)="clickUpload('file', $event)">
                            <input type="hidden" name="type" value="chatbackend">
                        </form>

                    </div>
                    <div style="padding: 0;margin: 0; float: right" class="mideas-control-chat">

                        <button *ngIf="chatOpenObject.is_pick == '1'; else pickInvite" class="example-tooltip-host" mdTooltip="Mời trợ lý vào cuộc chat"
                            [mdTooltipPosition]="position" (click)="inviteHana('invite')" class="btn btn-just-icon btn-simple hana-invited-jquery btn-linkedin hana-invited">
                            <i class="fa fa-user-circle invited-icon" aria-hidden="true"></i>
                            <div class="ripple-container"></div>
                        </button>
                        <ng-template #pickInvite>
                            <button class="example-tooltip-host" mdTooltip="Bỏ trợ lý khỏi cuộc chat" [mdTooltipPosition]="position" class="btn btn-just-icon btn-simple hana-invited-jquery btn-linkedin hana-invited-disable"
                                (click)="inviteHana('pick')">
                                <i class="fa fa-user-circle invited-icon" aria-hidden="true"></i>
                                <div class="ripple-container"></div>
                            </button>
                        </ng-template>
                        <button class="example-tooltip-host" mdTooltip="Chuyển cuộc chat" [mdTooltipPosition]="position" class="btn btn-just-icon btn-simple btn-linkedin hana-forwardchat"
                            (click)="forwardChat()">
                            <i class="fa fa-share forward-icon" aria-hidden="true"></i>
                            <div class="ripple-container"></div>
                        </button>
                        <button class="example-tooltip-host" mdTooltip="Trả lời nhanh" [mdTooltipPosition]="position" class="btn btn-just-icon btn-simple btn-linkedin mideasvn-quick-replychoose"
                            (click)="quickChat()">
                            <i class="material-icons" style="font-size: 24px">message</i>
                            <div class="ripple-container"></div>
                        </button>



                    </div>

                </div>
            </div>

        </div>
    </div>
</div>