<img *ngIf="res.image_url?.length > 0" class="img" style="width: 100%; border-radius: 0px; height: 199px" src="{{res.image_url}}" onError="this.src='../assets/no_image.jpg';">
<div>
    <div class="input-group solid-input first" style="width: 100%">
        <div class="completer__wrapper">
            <input style="border: 0px; height: 40px; width: 100%; padding-left: 5px" type="text" (blur)="emitSave()" class="ng-valid ng-isolate-scope ng-valid-maxlength ng-touched ng-not-empty ng-dirty ng-valid-parse" name="image_url-{{i}}" [(ngModel)]="res.image_url" (keyup)="checkValidate()" placeholder="Nhập đường dẫn hình ảnh" maxlength="2000">
            <hr style="margin-top: 0px; margin-bottom: 0px;">
            <input style="border: 0px; height: 40px; width: 100%; padding-left: 5px" type="text" (blur)="emitSave()" class="ng-valid ng-isolate-scope ng-valid-maxlength ng-touched ng-not-empty ng-dirty ng-valid-parse" #title_input name="item-title-{{i}}" [(ngModel)]="res.title" (keyup)="checkValidate()" placeholder="Nhập tiêu đề (80 kí tự)" maxlength="80">
            <hr style="margin-top: 0px; margin-bottom: 0px;">
            <input style="border: 0px; height: 40px; width: 100%; padding-left: 5px" type="text" class="ng-valid ng-isolate-scope ng-valid-maxlength ng-touched ng-not-empty ng-dirty ng-valid-parse" name="item-subtitle-{{i}}" [(ngModel)]="res.subtitle" (keyup)="checkValidate()" placeholder="Nhập mô tả ngắn (80 kí tự)" maxlength="80">
            <div>
                <i *ngIf="is_block_nutbam"  class="material-icons" style=" display:none; position: absolute; left: 0px; bottom: -4px; font-size: 20px;cursor: pointer;" (click)="addNutBam()">library_add</i>
                <i *ngIf="!is_block_nutbam"  class="material-icons" style="position: absolute;left: -7px;bottom: -9px;font-size: 20px;cursor: pointer;z-index: 2000; color: #7c7c7c" (click)="addNutBam()">library_add</i>
                <div *ngFor="let button of res.buttons; let j = index">
                    <div style="position: relative">
                        <hr style="margin-top: 0px; margin-bottom: 0px;">
                        <input style="border: 0px; height: 40px; width: 100%; padding-left: 5px; padding-right: 22px" type="text" (blur)="emitSave()" [(ngModel)]="button.title" (keyup)="checkValidateAndCheckDeleteButton($event, button, button.title)" placeholder="Tên button (20 kí tự)" name="buttons-{{j}}-{{index_nam}}-{{index}}">
                        <div  aria-multiselectable="true" class="panel-group" id="accordion" role="tablist" style="padding: 0px;margin-bottom: 0px;margin-top: 0px;">
                            <div  class="panel panel-default" style="padding: 0px;">
                                <div  class="panel-heading" id="headingOne" role="tab">
                                    <a  aria-controls="collapseOne" aria-expanded="false" class="" data-parent="#accordion" data-toggle="collapse" href="#collapseOne-{{j}}-{{index_nam}}-{{index}}" role="button">
                                        <h4  class="panel-title" style="position: absolute;right: 0px;margin-top: -30px;color: #c0c0c0;">
                                            <i  class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div aria-expanded="true" aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne-{{j}}-{{index_nam}}-{{index}}" role="tabpanel" style="">
                                    <div  class="panel-body" style="padding-bottom: 0px;padding-top: 0px;margin-bottom: 0px;margin-top: 0px;">
                                        <input style="border: 0px; height: 40px; width: 100%; padding-left: 5px" type="text" (blur)="emitSave()" [(ngModel)]="button.url" (keyup)="checkValidate()"  name="url-{{j}}-{{index_nam}}-{{index}}"  placeholder="Đường dẫn button (nếu có)" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



