<div class="col-xs-12 no-pad">
  <div class="col-xs-4 no-pad bg-white h100">
    <div class="left-scroll">
      <div class="col-xs-12 no-pad">
        <div class="col-xs-12">
          <div class="group-list">
            <div class="group-block row" style="margin-top:20px" *ngFor="let group of groupBlocks; let i = index">
              <div class="col-xs-12">
                <!-- <span class="group-item-title">{{group?.name | truncate : 18}}</span> -->
                <!-- <i class="fa fa-arrows-v" aria-hidden="true"></i> -->
                <!-- <textarea style="resize:none;overflow:hidden;-ms-overflow-style:none;width:100%;" rows="1" [(ngModel)]="group.name"></textarea> -->
                <!-- <span (keyup)="handleKeyDown(i, $event)" class="campaign-name" contenteditable [textContent]="group.name" (input)="group.name=$event.target.textContent;"
                                  (blur)="groupNameChange(group)">{{group.name | truncate : 18}}</span>  -->
                <input disabled *ngIf="group.type === 'default' " name="group_{{i}}" class="campaign-name" value="{{group.name}}" maxlength="40">
                <input *ngIf="group.type !== 'default' " #input name="group_{{i}}" class="campaign-name" [(ngModel)]="group.name" (blur)="groupNameChange(group)" value="{{group.name}}" maxlength="40">
                <span *ngIf="group.type !== 'default' " class="group-block-delete" (click)="deleteGroupBlock(group.id, i)"></span>
                <div class="addBtn">
                  <button class="ml5 btnBlock parent-popup-event" [ngClass]="{'act' : blockCurrent?.id === item?.id}" (click)="blockSelected(item, group.type)"
                    md-raised-button style="min-width:48%" *ngFor="let item of group.blocks; let j = index">{{item?.name | truncate : 18}}
                                    <!-- <div *ngIf="group.type !== 'default' " class="btn-trash-icon btn-popup-one" (click)="deleteNewBlock(item.id, i, j)"></div> -->
                                </button>
                  <button *ngIf="group.type !== 'default' " class="ml5" md-raised-button style="min-width:0" (click)="addBlock(i)">
                                    <md-icon style="font-size: 16px;line-height: 24px;">add</md-icon>
                                </button>
                </div>
              </div>
            </div>
            <div class="row">
              <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
            </div>
            <div class="row">
              <div class="col-md-12">
                <button (click)="addGroup()" class="btn btn-simple btn-linkedin">
                                <i class="fa fa-plus"></i> THÊM NHÓM
                                <div class="ripple-container"></div>
                            </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8" style="height: 87%;overflow:scroll;height: calc(100% - 60px); ">
    <ba-structured [blockInput]="blockCurrent" (blockOutput)="updateBlock($event)"></ba-structured>
  </div>
</div>
