.chat-main-box{position:relative;background:#fff;margin-right:400px;margin-top:20px;}
.chat-main-box .chat-left-aside{position:absolute;width:270px;z-index:9;top:0;border-right:1px solid rgba(120, 130, 140, .13)}
.chat-main-box .chat-right-aside{margin-left:270px}
@media (max-width:767px){.chat-main-box .chat-left-aside{left:-270px;transition:.5s ease-in;background:#fff}
.chat-main-box .chat-left-aside.open-pnl{left:0}
.chat-main-box .chat-left-aside .open-panel{display:block}
.chat-main-box .chat-right-aside{margin:0}
}
.info-right-aside{position:absolute;width:450px;top:70px;right:0;background:#fff;border-left:1px solid rgba(120, 130, 140, .13);border-top:1px solid rgba(120, 130, 140, .13);margin-top:-12px;}
.wizard-card{min-height:410px;border:1px solid rgba(0, 0, 0, 0.14);}
.picture{width:106px;height:106px;background-color:#999999;border:4px solid #CCCCCC;color:#FFFFFF;border-radius:50%;margin:5px auto;overflow:hidden;transition:all 0.2s;-webkit-transition:all 0.2s;}
.picture img{width:100%;height:100%;}
.input-group .form-group{padding-bottom:0px;margin:0 0 0 0;}
.chatonline img{margin-right:10px;float:left;width:50px;border-radius:7px;height:50px;}
.chatonline li a{padding:15px 0;float:left;width:100%}
.chatonline li a span{color:#686868;}
.chatonline li a span span{display:block;white-space:nowrap;overflow:hidden;}
.chatonline li a span small{display:block;font-size:10px;white-space:nowrap;overflow:hidden;}
.chat-left-inner .form-control{height:60px}
.chat-left-inner .style-none{padding:0}
.chat-left-inner .style-none li{list-style:none;overflow:hidden;border-bottom:1px solid #eee;cursor:pointer;position:relative;}
.chat-left-inner .style-none li a{padding:15px 20px 15px 20px;}
.chat-left-inner .style-none li a.active,
.chat-left-inner .style-none li a:hover{background:#f7fafc}
.chatonline .tags{position:absolute;bottom:5px;right:10px;}
.activeChat{background:#E0EBFC;}
.filter-tags li.active{width:18px;height:18px;}
.filter-tags{list-style-type:none;display:inline-block;margin-top:3px;margin-left:3px;line-height:17px;right:4px;z-index:2;height:auto;}
.tag-list-item{text-decoration:none;display:inline-block;width:16px;height:15px;border-radius:2px;margin:1px 3px !important;}
.tag-item{text-decoration:none;display:inline-block;width:12px;height:12px;border-radius:2px;margin:1px 1px !important;vertical-align:text-bottom;font-size:14px;margin-left:2px;margin-right:0px;line-height:24px;}
.tag-list-item:hover{cursor:pointer;}
.chat-left-inner .form-control{height:36px;}
.chat-left-inner .form-group{padding-bottom:0px;margin:0px 0 0 0;}
.chat-list{list-style:none;max-height:332px;padding:0 20px}
.chat-list li{margin-bottom:24px;overflow:hidden;}
.chat-list .chat-image{display:inline-block;float:left;text-align:center;width:40px;height:40px;}
.chat-list .chat-msg-content .chat-image{display:inline-block;float:left;text-align:center;width:auto;height:100px;}
.chat-list .chat-msg-content a{text-decoration:underline;word-break:break-all;}
.chat-list .hana-chattext-comment .chat-image{display:inline-block;float:none;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);text-align:center;width:100px;height:100%;border-radius:7px;}
.chat-list .chat-image img{border-radius:100%;width:100%;height:100%;}
.chat-list .chat-text{background:#e0ebfc;border-radius:0;display:inline-block;padding:1px 10px;}
.chat-list .chat-text h4{color:#1a2942;display:block;font-size:12px;font-style:normal;font-weight:700;margin:0;line-height:15px;position:relative}
.chat-list .chat-text p{margin:0;padding-top:3px;font-size:15px;white-space:pre-wrap;}
.chat-list .chat-text b{font-size:10px;opacity:.8}
.chat-list .chat-text.choose-comment{padding:0 5px;background:none;}
.hana-chattext-comment{max-width:83%;}
.chat-list .chat-body{display:inline-block;float:left;font-size:12px;margin-left:12px;width:65%;overflow:hidden;}
.chat-list .odd .chat-image{float:right!important}
.chat-list .odd .chat-body{float:right!important;margin-right:12px;text-align:right;color:#fff;overflow:hidden;}
.chat-list .odd .chat-text{background:rgba(60, 141, 188, 0.8);}
.chat-list .odd .chat-text h4{color:#fff}
.chat-list{max-height:none;height:100%;}
.chat-list .chat-text{border-radius:6px;}
.chat-list .chat-text i{padding:5px;}
.chat-list .chat-text i:hover{padding:4px;border:1px solid #fff;}
.chat-list .chat-text.text-area{padding:0px;}
.chat-list .chat-text textarea{background:transparent;border:1px solid #ccc;resize:none;width:100%;border-top-left-radius:5px;border-top-right-radius:5px;}
.media-body{overflow:visible;}
.media-body{display:table-cell;vertical-align:top;}
.media-body{width:auto;}
.media-body{zoom:1;overflow:hidden;}
.media-body-text{display:inline-block;word-break:break-word;max-width:65% !important;}
.additional-info{display:inline-block;vertical-align:bottom;font-size:11px;color:#888;transition:opacity .4s linear;opacity:0;}
.send-chat-box{height:100px;bottom:5px;position:fixed;bottom:10px;right:400px;left:270px;margin-right:0 !important;margin-left:0 !important;}
.send-chat-box .mideasvn-textarea-send{padding-right:100px;margin:0;}
.send-chat-box .form-control{border:none;border-top:1px solid rgba(120, 130, 140, .13);resize:none;height:60px;line-height:1.2em;}
.send-chat-box .form-control:focus{border-color:rgba(120, 130, 140, .13)}
.send-chat-box .custom-send{position:absolute;right:20px;bottom:10px}
.send-chat-box .custom-send .cst-icon{color:#686868;margin-right:10px}
.btn-tag-item{font-size:10px;text-overflow:ellipsis;overflow:hidden;outline-style:none;border:none;color:#fff;white-space:nowrap;}
.tags-button{height:23px;position:relative;width:100%;z-index:1;}
.hana-multiphoto{margin-left:45px;min-height:80px;}
.hana-multiphoto-content{margin-left:45px;}
.hana-post-info .hana-single-image{min-width:100px;max-width:120px;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.mideas-structure-template{width:50%;float:right;margin-right:30px;}
.comment-loading{color:#63A4C9;}
.hana-display-none{display:none !important;}
.chat-list .odd .chat-text.send-error{background:none;display:none;}
.chat-list .odd .chat-text.send-error.show-error{display:inline;}
.chat-main-box .chat-box-hide{left:-9999em !important;position:absolute !important;}
.chat-main-box .chat-area-hide{left:-9999em !important;position:absolute !important;}
.sidebar-mini .wrapper{overflow:hidden;}
.direct-chat-primary{position:relative;}
.hana-post-info{background-color:#E8EFFC;overflow:hidden;}
.hana-post-info .post-header{color:black;padding-left:10px;}
.hana-post-info p{margin:0;}
.hana-post-info .post-view{color:#3E8CBA;}
.hana-opacity{opacity:0.3;}
.post-facebook{border-bottom:1px solid #e9ebee;width:100%;max-height:100px;}
.post-facebook img{padding:5px;float:left;margin-right:10px;max-height:100px;min-height:80px;}
.post-facebook b{font-size:1.3em;color:black;padding-left:10px;}
.post-facebook .post-msg{padding-left:10px;}
.hana-message-action-like.active{color:deepskyblue;}
.hana-message-action-hide.active{color:deepskyblue;}
.hana-message-action-delete.active{color:red;}
.hana-disable-div{pointer-events:none;}
.invited-hana{color:grey;}
.message-action{cursor:pointer;}
.hana-message-action{margin-top:2px;margin-bottom:-3px;margin-left:-4px;color:rgb(136, 136, 136);}
.choose-comment .checkbox{margin:0;}
.choose-comment{background:none;}
.hana-tooltip{position:relative;display:inline-block;}
.hana-tooltip .tooltiptext{visibility:hidden;width:137px;background-color:#555;color:#fff;text-align:center;border-radius:6px;padding:5px 0;position:absolute;z-index:1;bottom:125%;left:50%;margin-left:-60px;opacity:0;transition:opacity 1s;}
.hana-tooltip .tooltiptext::after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;border-style:solid;border-color:#555 transparent transparent transparent;}
.hana-tooltip:hover .tooltiptext{visibility:visible;opacity:1;}
.chat-main-header a{float:left;width:100%;background-color:#e8effc;border-bottom:1px solid #e9ebee;}
.chat-main-header img{width:50px;height:50px;padding:5px;float:left;margin-right:10px;}
.chat-main-header span{color:#686868;}
.chat-main-header span small{display:block;font-size:10px}
.nav-filter{position:fixed;width:80px;}
.nav-filter .notification{position:absolute;top:5px;border:1px solid #FFF;right:-10px;font-size:9px;background:#f44336;color:#FFFFFF;min-width:20px;padding:0px 2px;height:20px;border-radius:10px;text-align:center;line-height:20px;vertical-align:middle;display:block;}
.navbar-brand{font-family:Arial, Helvetica, sans-serif;font-size:15px;}
a .navbar-brand:hover{background:#CCE2FF;border-radius:7px;}
[data-notify="container"]{width:300px;}
.alert.alert-info{background-color:#d9edf7;color:#00bec4;border-color:#bce8f1;}
.alert.alert-danger{background-color:transparent;color:red;border-color:red;}
.alert.alert-warning{background-color:#fcf8e3;color:#c47f00;border-color:#c47f00;}
.mideas-open-chat span b{color:#000000;font-size:14px;font-style:italic;}
.text-success.high-light{font-weight:bold;font-size:13px;font-style:italic;}
#connection_div{background:#DFA941;}
.try-again-connect{cursor:pointer;}
.messages_banner{font-family:'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;color:#FFF;text-align:center;font-size:12px;font-weight:900;line-height:1.25;padding:.25rem .4rem;border-radius:6px;-webkit-transition:background .1s ease-out 0s;-moz-transition:background .1s ease-out 0s;transition:background .1s ease-out 0s;position:relative;top:0px;left:0;right:1rem;text-shadow:0 1px rgba(0,0,0,.15);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:200;}
.btn.btn-linkedin.btn-simple.hana-invited-disable{opacity:0.2;}
.mideasvn-no-padding{padding:0 !important;}
.mideasvn-contact-online{color:#00c853;}
.mideasvn-contact-offline{color:grey;}
.chat-main-header-chat .mideasvn-chat-action{float:right;}
.mideasvn-chat-action .mideasvn-chat-action-icon{float:right;font-size:25px;padding:5px;}
.chat-main-header-chat .mideasvn-chat-action .btn.btn-just-icon, .navbar .navbar-nav > li > a.btn.btn-just-icon{padding:3px;}
.mideasvn-pointer{cursor:pointer !important;}
.mideas-control-chat > button{padding:0 10px 0 0 !important;margin:0 !important;}
.chat-main-header{height:55px;background-color:#E8EFFC;}
.popover.top{margin-top:-10px;}
.popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:276px;padding:1px;font-family:'Roboto', Helvetica, Arial, sans-serif;font-style:normal;font-weight:normal;letter-spacing:normal;line-break:auto;line-height:1.6;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;white-space:normal;word-break:normal;word-spacing:normal;word-wrap:normal;font-size:14px;background-color:#fff;background-clip:padding-box;border:1px solid #d4dbe0;border-radius:6px;box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);}
.mideas-send-more-action{float:left;}
.hana-comment-alllist{padding-top:7px;}
.hana-head-contact{position:absolute;width:100%;}
.mideas-time-contact{position:absolute;right:5px;display:inline-block;}