.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 35px;
}

.chat li.right .chat-body
{
    margin-right: 35px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.report-content { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; }
.report-content span { background:#fff; padding:0 10px; }
.report-name {
    text-align: center
}
.image-reporter {
    width: 30px;
    height: 30px;
}
.image-reporter img {
    width: 100%;
}
.list-report-content .header.header-reporter {
    margin-bottom: 5px;
}
.remove-report {
    color: red;
    cursor: pointer;
    font-size: 15px;
}
.content-report {
    font-style: italic;
}
.customer-info-right-report .btn-report-count {
    color: red;
    background-color: lightgreen;
}
.customer-info-right-report {
    margin-top: 15px;
}
/*.contact-right-info {*/
    /*overflow-y: scroll ;*/
/*}*/

/* chat */
.btn-tag-item:hover {
    opacity: 1;
}
.hana-image-receive {
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
}
.mideas-structure-template .card .card-content {
    min-height: 20px;
}
/*file upload*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper .upload-image-icon {
    color: gray;
    background-color: white;
    padding-left: 15px;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}

.upload-btn-wrapper .upload-attachment-icon {
    color: gray;
    background-color: white;
    padding-left: 15px;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.chat-message .card-product .card-image {
     min-height: 10px;
}

.chat-message .card .card-image {
    height: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* mark group */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.click-choose-action:hover .dropdown-content {
    display: block;
}

.click-choose-action:hover .hana-bookmark {
    color: #5498C1;
}
.input-group .input-group-addon.click-choose-action {
    padding: 0px;
}
.typeaheadhana.dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.group-remarketing .bootstrap-tagsinput input {
    width: 350px;
}

/*set height header*/
.chat-main-header {
    height: 55px;
}
.background-color-textarea {
    background-color: #E8EFFC !important;
}