<div class="wrapper">
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="main-content">
            <div class="container-fluid">

                <div class="guide-scroll">
                <div class="row apps-content text-center">

                    <youtube-player [videoId]="id" width=900 height=600></youtube-player>
                </div>
                <div class="row apps-content text-center">
                    <div class="col-md-4 col-md-offset-3">

                        <h2>Liên hệ</h2>
                        <div style="text-align: left">
                            <p><strong>hotline:</strong> 028.6683.2134</p>
                            <p><strong>Email:</strong> <a href="mailto:biz@mideasvn.com">biz@mideasvn.com</a></p>
                            <p><strong>địa chỉ:</strong><br />- 268 L&yacute; Thường Kiệt, Phường 14, Quận 10, TP Hồ Chí Minh<br
                                />- VPĐD: 8-8A Tú Xương, Phường 7, Quận 3, TP Hồ Chí Minh</p>
                            <p><strong><a style="color: #337ab7; font-size: 18px" title="Chat" href="https://www.facebook.com/trolythongminhhana/?ref=br_rs" target="_blank">Chat</a> trực tiếp với chăm sóc khách hàng </strong></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
