#facebook-json {
  border: 0;
  width: 100%;
  padding: 5px;
  float: left;
  overflow-x: hidden;
}
.campaign-name {
  background: transparent;
  border: 0;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}
.campaign-name:focus {
  border: 1px solid #ccc;
}

.nav-pills:not(.nav-pills-icons) > li > a {
  border-radius: 11px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #07242f;
  background-color: transparent;
  border-bottom: 2px double #3f51b5;
  box-shadow: none !important;
  border-radius: 0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #07242f;
  background-color: transparent;
}
.nav-pills > li > a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555555;
  transition: all .3s;
}
.tab-custom {
  padding: 5px;
  padding-bottom: 0px;
  padding-top: 0px
}
input {
  background-color: transparent;
  width: 100%;
  border-radius: 7px;
  padding: 8px;
  margin-top: 16px;
}
.block-icon {
  background-image: url(https://dashboard.chatfuel.com/fonts/ic_blocks_small.svg?1.4.0);
  background-repeat: no-repeat;
}

.url-icon {
  background-image: url(https://dashboard.chatfuel.com/fonts/ic_link_small.svg?1.4.0);
  background-repeat: no-repeat;
}
.container-tab {
  margin-top: 5px;
}
.btn-close-popup-large {
  position: absolute;
  z-index: 10000;
  top: -30px;
  right: 0px;
  width: 30px;
  height: 36px;
  border-radius: 50%;
  transform: scale(1);
  opacity: 1;
}
.ct-input {
  border-radius: 7px!important;
  background-color: rgba(0,0,0,.01)!important;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08)!important;
  border: 1px solid #ebebeb;
  outline: none!important;
  color: #000;
  transition: background-color .1s,border .1s,background-color .1s;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  display: inline-block;
  font-size: 17px;
  text-align: left;
  color: #a6a6a6;
  outline: none;
  white-space: nowrap;
}
::-moz-placeholder { /* Firefox 19+ */
  display: inline-block;
  font-size: 17px;
  text-align: left;
  color: #a6a6a6;
  outline: none;
  white-space: nowrap;
}
:-ms-input-placeholder { /* IE 10+ */
  display: inline-block;
  font-size: 17px;
  text-align: left;
  color: #a6a6a6;
  outline: none;
  white-space: nowrap;
}
:-moz-placeholder { /* Firefox 18- */
  display: inline-block;
  font-size: 17px;
  text-align: left;
  color: #a6a6a6;
  outline: none;
  white-space: nowrap;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #3f51b5 !important;
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
}
.nav-pills > li > a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555555;
  font-size: 13px;
  font-weight: bold;
  transition: all .3s;
}
.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 550px !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
  font-size: 14px;
  line-height: 1.42857;
  color: #3f51b5;
}

.group-block-delete {
  position: relative;
  background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
  height: 30px;
  width: 30px;
  right: 0px;
  opacity: 0;
  top: -36px
}
.group-block:hover .group-block-delete {
  opacity: 0.5;
  cursor: pointer;
  float: right;
}
.group-block {
  position: relative;
  padding: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.group-block:hover {
  background-color: #eeeeee61;
  border-radius: 5px;
}
.mat-select-trigger .mat-select-placeholder {
  min-width: 50px;
  opacity: 0 !important;
}