<div class="loader" *ngIf="loadingProcess">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<div class="main-content">
    <div class="container-fluid" id="post-training">
        <div class="row row-post-training">
            <!-- <div class="col-md-4"> -->
                <post-training-list [loadingProcess]="loadingProcess" [lstPosts]="lstPosts" [partnerId]="partnerId" [appId]="appId" (postChange)="usingPost($event)"></post-training-list>
            <!-- </div> -->
            <div class="col-md-8 faq-scroll">
                <div *ngIf="postOpen && postOpen.post_id">
                    <div class="row">
                        <div class="col-md-12">
                            <button (click)="addNewItem()" [disabled]="isSaving" class="btn btn-google" style="background: #D84315;width: auto">
                                <i class="material-icons">add</i> THÊM CÂU FAQ
                            </button>
                            <div class="form-group is-empty">
                                <input autocomplete="off" class="form-control" style="border: 1px solid #ccc; padding-left: 20px; width: 100%;background-image: none;background-position: none;background-color:#fff;border-radius:7px"
                                    placeholder="Lọc theo câu nói khách hàng hoặc Hana trả lời..." type="text" #inputSearch id="inputSearch"
                                    (keyup)="transform(inputSearch.value)" name="inputSearch">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <ba-fallback [typeFaq]="'comment'" [currentIntent]="intentFallback"></ba-fallback>
                    <ba-faq-v2 *ngFor="let item of intentCurrents; let i = index" [index]="i" [typeFaq]="'comment'" [currentIntent]="item" [blocks]="blocks"
                        (outputDelete)="deleteIntent($event)"></ba-faq-v2>

                    <div class="row">
                        <div class="col-md-12">
                            <p-paginator first="{{pageIndex}}" *ngIf="length > 0" pageLinkSize="5" rows="{{pageSize}}" totalRecords="{{length}}" (onPageChange)="paginate($event)"
                                [rowsPerPageOptions]="[5,10,20,30,50,100]"></p-paginator>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>