#post-training .row-post-training {
    margin: 0;
}

.main-content .form-group {
    margin: 0;
    margin-bottom: 0;
    // margin-top: 10px;
    padding: 0;
  }
  
  .fa-filter {
    float: right;
    // margin-right: 10%;
    padding-right: 10px;
    margin-top: -30px;
    color: #ccc;
    font-size: 25px;
  }
  .faq-disabled{
    pointer-events: none;
    opacity: 0.4;
  }