<div class="col-md-4" id="post-training-search" [attr.disabled]="true">
    <div class="card post-card-search">
        <div class="card-content" style="min-height: 50px;">
            <div class="row">
                <div class="col-md-12 form-group is-empty">
                    <input autocomplete="off" class="form-control" style="border: 1px solid #ccc; padding-left: 20px; width: 80%; margin-left:10px;margin-right:40px;background-image: none;background-position: none;background-color:#fff;border-radius:7px"
                        placeholder="Enter để tìm nội dung hoặc tags" type="text" [(ngModel)]="textSearch" name="textsearch"
                        (keyup.enter)="searchByTag()">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                    <i class="material-icons" (click)="openFilterDate()" style="
                    float: right;
                    margin-top: -40px;
                    cursor:pointer;
                    font-size: 40px;">date_range</i>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12 form-group is-empty">
                    <md-form-field>
                        <input style="float:left;border:0; background: transparent;line-height: 31px;"
                            mdInput [mdDatepicker]="picker" placeholder="Choose a date">
                        <md-datepicker-toggle style="float:right;margin-top: -5px;" mdSuffix [for]="picker"></md-datepicker-toggle>
                        <md-datepicker #picker></md-datepicker>
                    </md-form-field>
                </div>
            </div> -->
            <form action="#" method="#" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="col-md-12">
                    <!-- <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                            <input class="form-control" type="text" placeholder="Tìm kiếm theo tags" [(ngModel)]="textSearch" name="textsearch" (keyup.enter)="searchByTag()"
                                (keyup)="searchAll()">
                        </div>
                    </div> -->
                    <div class="col-md-6">

                        <!-- <div class="col-md-12">
                            <div class="col-md-8">
                                <md-input-container>
                                    <input mdInput [mdDatepicker]="resultPicker" placeholder="Từ ngày">
                                </md-input-container>
                                <md-datepicker #resultPicker [touchUi]="touch" [startView]="'month'">
                                </md-datepicker>
                            </div>
                            <div class="col-md-4">
                                <md-datepicker-toggle mdSuffix [for]="resultPicker">
                                </md-datepicker-toggle>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <md-input-container>
                                    <input mdInput [mdDatepicker]="resultPickerTo" placeholder="Đến ngày">
                                </md-input-container>
                                <md-datepicker #resultPickerTo [touchUi]="touch" [startView]="'month'">
                                </md-datepicker>
                            </div>
                            <div class="col-md-4">
                                <md-datepicker-toggle mdSuffix [for]="resultPickerTo">
                                </md-datepicker-toggle>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <div class="dropdown pull-left">
                        <button class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown" type="button">
                            Hành động
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a href="#action" (click)="openDialogHashTags()">Thêm hashtags</a>
                            </li>
                            <li>
                                <a href="#action">Không trả lời comment</a>
                            </li>
                            <li>
                                <a href="#here">Quét lại comment</a>
                            </li>

                        </ul>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
    <ul class="timeline timeline-simple ul-list-post-train" (scroll)="postScroll($event)">
        <div class="scroll-content-chat-all" style="position: absolute;top: 45%;left: 40%;width: 100px;height: 100px;z-index: 9999"
            *ngIf="loading">
            <img style="height: 100px;width: 100px;" src="./assets/img/chat/loading.gif" alt="Loading">
        </div>
        <ng-container *ngFor="let post of lstPosts; let i = index">
            <div class="post-trainning-item">
                <div class="post-training-item-parent">
                    <li class="timeline-inverted">

                        <div [ngClass]="{'timeline-panel': true, 'background-selected': post.selected}">
                            <div class="row hana-post-row">
                                <i *ngIf="post.content_full && post.content_full.item !== 'album'" class="material-icons post-parent-edit" (click)="openDialogHashTags(post, i, null)">border_color</i>
                                <ng-container *ngIf="post.isCollapse == true">
                                    <i class="material-icons post-parent-expand-more" *ngIf="post.is_expand ===  false" (click)="togglePost('hide', post)">expand_more</i>
                                    <i class="material-icons post-parent-expand-more" *ngIf="post.is_expand ===  true" (click)="togglePost('show', post)">expand_less</i>
                                </ng-container>
                                <!-- <p>DAY LA {{i}}</p> -->
                                <div class="timeline-body" (click)="usingPost(post)">
                                    <!-- <div class="click_area" (click)="usingPost(post);"></div> -->
                                    <ng-container *ngIf="post.content_full ; else justText">
                                        <ng-container *ngIf="post.content_full.item === 'video'">
                                            <div class="row hana-post-row">
                                                <div class="post-image">
                                                    <img src="./assets/img/chat/video_default.png" class="image-post">
                                                </div>
                                                <div class="post-content">
                                                    <p class="post-time">{{post.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                                    <p class="post-tag">{{post.tags | lengthlimit: 30}}</p>
                                                    <p class="post-text">{{post.content_full.message | lengthlimit: 80}} </p>
                                                    <a href="https://www.facebook.com/{{post.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="post.content_full.item === 'photo'">
                                            <div class="row hana-post-row">
                                                <div class="post-image">
                                                    <img src="{{post.content_full.link}}" class="image-post">
                                                </div>
                                                <div class="post-content">
                                                    <p class="post-time">{{post.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                                    <p class="post-tag">{{post.tags | lengthlimit: 30}}</p>
                                                    <p class="post-text">{{post.content_full.message | lengthlimit: 80}} </p>
                                                    <a href="https://www.facebook.com/{{post.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="post.content_full.item === 'album'">
                                            <div class="row hana-post-row">
                                                <div class="post-image">
                                                    <img src="{{post.content_full.link}}" class="image-post">
                                                </div>
                                                <div class="post-content">
                                                    <p class="post-time">{{post.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                                    <p class="post-tag">{{post.tags | lengthlimit: 30}}</p>
                                                    <p class="post-text">{{post.content_full.message | lengthlimit: 80}} </p>
                                                    <a href="https://www.facebook.com/{{post.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="post.content_full.item === 'status'">
                                            <ng-container *ngIf="post.content_full.link; else onlyText">
                                                <div class="row hana-post-row">
                                                    <div class="post-image">
                                                        <!-- {{post.content_full}} -->
                                                        <img *ngIf="post.content_full.link" src="{{post.content_full?.link}}" class="image-post">
                                                    </div>
                                                    <div class="post-content">
                                                        <p class="post-time">{{post.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                                        <p class="post-tag">{{post.tags | lengthlimit: 30}}</p>
                                                        <p class="post-text">{{post.content_full.message | lengthlimit: 80}} </p>
                                                        <a href="https://www.facebook.com/{{post.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-template #onlyText>
                                                <div class="post-content">
                                                    <p class="post-time">{{post.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                                    <p class="post-tag">{{post.tags | lengthlimit: 30}}</p>
                                                    <p class="post-text">{{post.content | lengthlimit: 200}}</p>
                                                    <a href="https://www.facebook.com/{{post.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                                </div>
                                            </ng-template>

                                        </ng-container>
                                        <!-- <div class="post-image">
                                                    <img src="">
                                                </div>
                                                <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun
                                                    with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing
                                                    @ Figueroa and 12th in downtown.
                                                </p> -->
                                    </ng-container>
                                    <ng-template #justText>
                                        <div class="post-content">
                                            <p class="post-time">{{post.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                            <p class="post-tag">{{post.tags | lengthlimit: 30}}</p>
                                            <p class="post-text">{{post.content | lengthlimit: 200}}</p>
                                            <a href="https://www.facebook.com/{{post.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                        </div>
                                    </ng-template>

                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="time-post">
                                    <i class="ti-time"></i> {{post.fb_created_date | mysqltimetostring}}
                                </div>
                            </div> -->
                        </div>
                    </li>
                </div>
                <ng-container *ngIf="post.isCollapse === true && post.is_expand ===  true">
                    <ng-container *ngFor="let childPost of post.childrens; let j = index">
                        <div class="post-training-item-child">
                            <li class="timeline-inverted">
                                <div [ngClass]="{'timeline-panel': true, 'background-selected': childPost.selected}" (click)="usingPost(childPost)">
                                    <div class="timeline-body">
                                        <ng-container *ngIf="childPost.content_full ; else justTextChild">
                                            <ng-container *ngIf="childPost.content_full.item === 'video'">
                                                <div class="row hana-post-row">
                                                    <!-- <i class="material-icons post-parent-edit" (click)="openDialogHashTags(childPost, j, null)">border_color</i> -->
                                                    <div class="post-image">
                                                        <img src="./assets/img/chat/video_default.png" class="image-post">
                                                    </div>
                                                    <div class="post-content">
                                                        <p class="post-time">{{childPost.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                                        <p class="post-tag">{{childPost.tags | lengthlimit: 30}}</p>
                                                        <p class="post-text">{{childPost.content_full.message | lengthlimit: 80}} </p>
                                                        <a href="https://www.facebook.com/{{childPost.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="childPost.content_full.item === 'photo'">
                                                <div class="row hana-post-row">
                                                    <!-- <i class="material-icons post-parent-edit" (click)="openDialogHashTags(childPost, j, null)">border_color</i> -->
                                                    <div class="post-image">
                                                        <img src="{{childPost.content_full.link}}" class="image-post">
                                                    </div>
                                                    <div class="post-content">
                                                        <p class="post-time">{{childPost.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                                        <p class="post-tag">{{childPost.tags | lengthlimit: 30}}</p>
                                                        <p class="post-text">{{childPost.content_full.message | lengthlimit: 80}} </p>
                                                        <a href="https://www.facebook.com/{{childPost.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="childPost.content_full.item === 'status'">
                                                <div class="row hana-post-row">
                                                    <!-- <i class="material-icons post-parent-edit" (click)="openDialogHashTags(childPost, j, null)">border_color</i> -->
                                                    <div class="post-image">
                                                        <img src="{{childPost.content_full.photos[0]}}" class="image-post">
                                                    </div>
                                                    <div class="post-content">
                                                        <p class="post-time">{{childPost.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                                        <p class="post-tag">{{childPost.tags | lengthlimit: 30}}</p>
                                                        <p class="post-text">{{childPost.content_full.message | lengthlimit: 80}} </p>
                                                        <a href="https://www.facebook.com/{{childPost.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                        <ng-template #justTextChild>
                                            <!-- <i class="material-icons post-parent-edit" (click)="openDialogHashTags(childPost, j, null)">border_color</i> -->
                                            <div class="post-content">
                                                <p class="post-time">{{childPost.fb_created_date | mysqltimetostring | amLocale:'vi' | amTimeAgo}}</p>
                                                <p class="post-tag">{{childPost.tags | lengthlimit: 30}}</p>
                                                <p class="post-text">{{childPost.content | lengthlimit: 500}} </p>
                                                <a href="https://www.facebook.com/{{childPost.post_id}}" target="_blank" class="post-view">Chi tiết</a>
                                            </div>
                                        </ng-template>

                                    </div>

                                </div>
                            </li>
                        </div>
                    </ng-container>
                </ng-container>

            </div>
        </ng-container>

        <!-- <div class="post-trainning-item">
            <div class="post-training-item-parent">
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making
                                my family We just had fun with the “future” theme !!! It was a fun night all together ...
                                The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>
                        </div>
                        <h6>
                            <i class="ti-time"></i> 11 hours ago via Twitter
                        </h6>
                    </div>
                </li>
            </div>
            <div class="post-training-item-child">
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making
                                my family We just had fun with the “future” theme !!! It was a fun night all together ...
                                The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>
                        </div>
                        <h6>
                            <i class="ti-time"></i> 11 hours ago via Twitter
                        </h6>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making
                                my family We just had fun with the “future” theme !!! It was a fun night all together ...
                                The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>
                        </div>
                        <h6>
                            <i class="ti-time"></i> 11 hours ago via Twitter
                        </h6>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making
                                my family We just had fun with the “future” theme !!! It was a fun night all together ...
                                The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>
                        </div>
                        <h6>
                            <i class="ti-time"></i> 11 hours ago via Twitter
                        </h6>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making
                                my family We just had fun with the “future” theme !!! It was a fun night all together ...
                                The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>
                        </div>
                        <h6>
                            <i class="ti-time"></i> 11 hours ago via Twitter
                        </h6>
                    </div>
                </li>
            </div>
        </div> -->
    </ul>
</div>