<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="http://trolyaohana.com">Trợ lý thông minh</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="/#/register">
            <i class="material-icons">person_add</i> Register
          </a>
        </li>
        <li class="">
          <a href="/#/login">
            <i class="material-icons">fingerprint</i> Login
          </a>
        </li>
        <li class=" active ">
          <a href="/#/lock">
            <i class="material-icons">lock_open</i> Lock
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper wrapper-full-page">
  <div class="full-page lock-page" filter-color="black" data-image="../assets/img/lock.jpeg">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="content">
      <form method="#" action="#">
        <div class="card card-profile card-hidden">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="avatar" src="{{currentUser?.avatar_url || '../assets/img/faces/hana-avatar.png'}}" alt="...">
            </a>
          </div>
          <div class="card-content">
            <h4 class="card-title">{{currentUser?.full_name}}</h4>
            <div class="form-group label-floating">
              <label class="control-label">Enter Password</label>
              <input #password type="password" class="form-control">
            </div>
          </div>
          <div class="card-footer">
            <button type="button" (click)="getLogin(password.value)" class="btn btn-rose btn-round">Unlock</button>
          </div>
        </div>
      </form>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="http://trolyaohana.com/#dich-vu">
                                    Dịch vụ
                                </a>
            </li>
            <li>
              <a href="http://trolyaohana.com/#bang-gia">
                                    Bảng giá
                                </a>
            </li>
            <li>
              <a href="http://trolyaohana.com/#lien-he">
                                    Liên hệ
                                </a>
            </li>
            <li>
              <a href="http://trolyaohana.com/blog/">
                                    Blog
                                </a>
            </li>
          </ul>
        </nav>
        <p class="copyright pull-right">
          &copy;2007
          <a href="https://mideasvn.com">Mideasvn.com</a>
        </p>
      </div>
    </footer>
  </div>
</div>
