<div class="panel-group" id="accordion5" role="tablist">
  <div class="panel panel-default" *ngIf="is_load">
    <div class="row">
      <div class="col-md-12 xxx">
        <div *ngFor="let res of responseMessage; let i = index">
          <!-- TEXT -->
          <div class="response-text" *ngIf="res.type===1" style="clear: both">
            <div class="col-md-12 p-left-0" style="clear: both;padding-left: 6px; padding-right: 15px">
              <div class="card-res">
                <p class="md-card-header">Phản hồi text
                  <i (click)="removeResponseMessage(res)" class="block-delete"></i>
                </p>
                <div>
                  <div class="prompt-row">
                    <div class="prompt-cell prompt-cell-second">

                      <div style="position: relative" *ngFor="let text_item of res.message.posibleTexts; let j = index">
                        <i (click)="removeTextResItem(i, text_item)" class="block-delete" style="position: absolute; margin-right: -11px; margin-top: 2px; z-index: 1000;"></i>
                        <textarea (blur)="save()" [style.border-color]="getStyle(text_item.content.trim().length)" autosize maxlength="640" name="text.content-{{i}}-{{j}}" [(ngModel)]="text_item.content" class="borderless ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength res-text-{{i}} input_err2" placeholder="Nhập nội dung phản hồi...(*)"></textarea>
                      </div>
                      <button (click)="addResponseTextInput(i)" class="ml5 mat-raised-button" style="width: 100%; font-size: 13px; padding: 1px;text-align: left; padding-left: 5px;"><i class="fa fa-plus"></i> Thêm</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- CARD -->
          <div (click)="save()" class="response-text" *ngIf="res.type===2" style="position: relative; clear: both;">
            <div class="col-md-7 p-left-0" style="width: 265px; float: left; margin-left: 7px" *ngFor="let element of res.message.attachment.payload.elements; let k = index">
              <div class="card-res">
                <p class="md-card-header">Phản hồi card
                  <i (click)="removeCardItem(i, element)" class="block-delete"></i>
                </p>
                <res-card-single [id_component]="id_component" [index]="k" [index_nam]="i" [res]="element"></res-card-single>
              </div>
            </div>
          </div>
          <!-- IMAGE -->
          <div class="response-text" *ngIf="res.type===3" style="clear: both; width: 500px;padding-left: 6px;">
            <div class="col-md-7 p-left-0" style="width: 265px;clear: both">
              <div class="card-res">
                <p class="md-card-header">Phản hồi hình ảnh
                  <i (click)="removeResponseMessage(res)" class="block-delete"></i>
                </p>
                <div>
                  <img *ngIf="res.message.attachment.payload.url?.length > 0" class="img" style="width: 100%; border-radius: 0px" src="{{res.message.attachment.payload.url}}" onError="this.src='../assets/no_image.jpg';">
                  <div class="input-group solid-input first" style="width: 100%">
                    <div class="completer__wrapper">
                      <ba-file-upload [type]="'dao_tao_intent'" [url]="res.message.attachment.payload.url" (output)="res.message.attachment.payload.url=$event"></ba-file-upload>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- QUICK REPLY -->
          <div class="response-text" *ngIf="res.type===4" style="clear: both">
            <div class="col-md-12 p-left-0" style="clear: both; padding-left: 6px; padding-right: 15px">
              <div class="card-res">
                <p class="md-card-header">Phản hồi quick reply
                  <i (click)="removeResponseMessage(res)" class="block-delete"></i>
                </p>
                <div>
                  <div class="input-group solid-input first" style="width: 100%;">
                    <div class="completer__wrapper">
                      <textarea [style.border-color]="getStyle(res.message.text.trim().length)" (blur)="save()" style="resize:none" autosize maxlength="640" #quick_reply [(ngModel)]="res.message.text" name="message-quick_reply-{{i}}" class="borderless ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength input_err2 res-text-quick-reply" placeholder="Nhập tiêu đề (*)"></textarea>
                      <!--<p style="margin-bottom: 0px"><span style="font-size: 13px;padding-left: 349px;">({{(640 - res.message.text?.length) || 0}})</span></p>-->
                      <hr style="margin-top: 0px; margin-bottom: -8px;">
                      <div style="margin-left: 5px">
                        <tag-input name="response_quickreply-{{i}}" [maxItems]="11" (onTextChange)="onTextChange($event)" [(ngModel)]="res.message.quick_replies" placeholder="Nhập nội dung gợi ý trả lời và enter (<= 20 ký tự)" secondaryPlaceholder="Nhập nội dung gợi ý trả lời và enter (<= 20 ký tự)" [identifyBy]="'title'" [displayBy]="'title'" [errorMessages]="errorMessagesQuickReply" [validators]="validatorsQuickReply" [addOnBlur]="true" (onRemove)="save()" (onAdd)="save()" (onPaste)="save()">
                        </tag-input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="response-text" style="clear: both;" *ngIf="is_show_res_sug || intent_contexts.length > 0" >
          <div class="col-md-12 p-left-0" style="clear: both; padding-left: 6px; padding-right: 15px">
            <div class="card-res">
              <p class="md-card-header">Phản hồi gợi ý
                <i (click)="deleteContentSug()" class="block-delete"></i>
              </p>
              <div>
                <div class="input-group solid-input first" style="width: 100%;">
                  <div class="completer__wrapper">
                      <!-- intent_contexts: {{intent_contexts.length}}
                      contexts_suggestions: {{contexts_suggestions.length}} -->
                    <ba-context (intent_contexts_outOut)="intent_contexts_out=$event"  (contexts_suggestionsOutPut)="contexts_suggestions=$event"  (is_suggestion_predictOut)="is_suggestion_predict=$event" [is_suggestion_predict]="is_suggestion_predict"   (is_suggestion_predictOutPut)="is_suggestion_predict=$event" ></ba-context>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Phan hoi goi y -->
      </div>
      <div class="div-add col-md-12" style="padding-left: 19px">
        <h4 style="padding-bottom: 10px"><i class="fa fa-plus"></i> THÊM PHẢN HỒI</h4>
        <div class="button-row">
          <button md-raised-button (click)="addResponseMessageType(1)"><i class="material-icons">font_download</i>Phản hồi text</button>
          <button md-raised-button (click)="addResponseMessageType(3)"><i class="material-icons">photo</i>Phản hồi hình ảnh</button>
          <button md-raised-button (click)="addResponseMessageType(2)"><i class="material-icons">photo_library</i>Phản hồi card</button>
          <button *ngIf="show_quick_reply" md-raised-button (click)="addResponseMessageType(4)"><i class="material-icons">textsms</i>Phản hồi quick reply</button>
          <button *ngIf="!is_show_res_sug" md-raised-button (click)="addResponseSug()"><i class="material-icons">textsms</i>Phản hồi gợi ý</button>
        </div>
      </div>
    </div>
  </div>
</div>