<div class="wrapper wrapper-full-page">
  <div class="full-page login-page">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
              <div class="card card-login">

                <p class="category text-center">
                  Đăng ký
                </p>
                <div class="card-content">
                  <div class="form-group">
                    <div class="alert alert-danger" *ngIf="hasErrorMsg">{{errorMsg}}</div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">account_circle</i>
                                            </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Tên  <span class="star">*</span></label>
                      <!--<input type="email" class="form-control" [(ngModel)]="username">-->
                      <input type="email" class="form-control" [formControl]="complexForm.controls['name']" (keypress)="clearError()">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Email <span class="star">*</span></label>
                      <!--<input type="email" class="form-control" [(ngModel)]="username">-->
                      <input type="email" class="form-control" [formControl]="complexForm.controls['username']" (keypress)="clearError()">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">phone</i>
                                            </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Số điện thoại</label>
                      <!--<input type="email" class="form-control" [(ngModel)]="username">-->
                      <input type="email" class="form-control" [formControl]="complexForm.controls['phone']" (keypress)="clearError()">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Mật khẩu <span class="star">*</span></label>
                      <!--<input type="email" class="form-control" [(ngModel)]="username">-->
                      <input type="password" class="form-control" [formControl]="complexForm.controls['password']" (keypress)="clearError()">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Nhập lại mật khẩu <span class="star">*</span></label>
                      <!--<input type="password" class="form-control" [(ngModel)]="password">-->
                      <input type="password" class="form-control" [formControl]="complexForm.controls['passwordconfirm']"  (keypress)="clearError()">
                    </div>
                  </div>
                </div>
                <div class="footer text-center">
                  <button type="submit" class="btn btn-rose" [disabled]="!complexForm.valid" >Đăng ký<div class="ripple-container"></div></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
