<div class="wrapper wrapper-full-page">
  <div class="full-page register-page" filter-color="black" data-image="./assets/img/background.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <section class="example-section" *ngIf="loadingProcess">
            <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
            </md-progress-bar>
          </section>
          <div class="card card-signup">
            <h2 class="card-title text-center">Đăng ký</h2>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="card-content">
                  <div class="info info-horizontal">
                    <div class="icon icon-rose">
                      <i class="material-icons">timeline</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">QUÉT THÔNG TIN KHÁCH HÀNG</h4>
                      <p class="description">
                        Quét và truy xuất thông tin của những người đã comment vào nội dung (bài post, livestream,..) trên Fanpage và từng inbox với Fanpage
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-primary">
                      <i class="material-icons">code</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">GỬI TIN NHẮN MARKETING BẰNG FACEBOOK MESSENGER</h4>
                      <p class="description">
                        Gửi tin nhắn qua inbox Facebook Messenger đồng loạt đến tập khách hàng tiềm năng đã được quét ở bước trên
                      </p>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon icon-info">
                      <i class="material-icons">group</i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">ĐÀO TẠO CHATBOT</h4>
                      <p class="description">
                        Đào tạo một chatbot để trả lời tin nhắn và comment tự động
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <!--<div class="social text-center">
                  <button class="btn btn-just-icon btn-round btn-twitter">
                    <i class="fa fa-twitter"></i>
                  </button>
                  <button class="btn btn-just-icon btn-round btn-dribbble">
                    <i class="fa fa-dribbble"></i>
                  </button>
                  <button class="btn btn-just-icon btn-round btn-facebook">
                    <i class="fa fa-facebook"> </i>
                  </button>
                  <h4> or be classical </h4>
                </div>-->
                <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
                  <div class="card-content">
                    <div class="form-group">
                      <div class="alert alert-danger" *ngIf="hasErrorMsg">{{errorMsg}}</div>
                    </div>
                    
                    <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">account_circle</i>
                                            </span>
                      <div class="form-group label-floating">
                        <!--<label class="control-label">Tên  <span class="star">*</span></label>-->
                        <!--<input type="email" class="form-control" [(ngModel)]="username">-->
                        <input type="text" class="form-control" [formControl]="complexForm.controls['name']" (keypress)="clearError()" placeholder="Tên">
                      </div>
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                      <div class="form-group label-floating">
                        <!--<label class="control-label">Email <span class="star">*</span></label>-->
                        <!--<input type="email" class="form-control" [(ngModel)]="username">-->
                        <input type="email" class="form-control" [formControl]="complexForm.controls['username']" (keypress)="clearError()" placeholder="Email">
                      </div>
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">phone</i>
                                            </span>
                      <div class="form-group label-floating">
                        <!--<label class="control-label">Số điện thoại</label>-->
                        <!--<input type="email" class="form-control" [(ngModel)]="username">-->
                        <input type="text" class="form-control" [formControl]="complexForm.controls['phone']" (keypress)="clearError()" placeholder="Số điện thoại">
                      </div>
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                      <div class="form-group label-floating">
                        <!--<label class="control-label">Mật khẩu <span class="star">*</span></label>-->
                        <!--<input type="email" class="form-control" [(ngModel)]="username">-->
                        <input type="password" class="form-control" [formControl]="complexForm.controls['password']" (keypress)="clearError()" placeholder="Mật khẩu">
                      </div>
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                      <div class="form-group label-floating">
                        <!--<label class="control-label">Nhập lại mật khẩu <span class="star">*</span></label>-->
                        <!--<input type="password" class="form-control" [(ngModel)]="password">-->
                        <input type="password" class="form-control" [formControl]="complexForm.controls['passwordconfirm']"  (keypress)="clearError()" placeholder="Nhập lại mật khẩu">
                      </div>
                    </div>
                    <!-- If you want to add a checkbox to this form, uncomment this code -->
                    <!--<div class="checkbox">
                      <label>
                        <input type="checkbox" name="optionsCheckboxes" checked> I agree to the
                        <a href="#something">terms and conditions</a>.
                      </label>
                    </div>-->
                    <div class="form-group text-center">
                      <p>Đã có tài khoản <a [routerLink]="['/login-hana']" style="color:blue">Đăng nhập</a></p>
                    </div>
                  </div>
                  <div class="footer text-center">
                    <button type="submit" class="btn btn-facebook btn-lg" [disabled]="submit">Đăng ký<div class="ripple-container"></div></button>
                  </div>
                </form>
                <div class="text-center">
                <h4 class="card-title">Hoặc</h4>
                <button class="loginBtn loginBtn--facebook" (click)="onFacebookLoginClick()" style="width: 250px">
                    Đăng nhập với Facebook
                  </button>
                <button class="loginBtn loginBtn--google" (data-onsuccess)="onSignIn" id="my-signin-hana" style="width: 250px">
                    Đăng nhập với  Google
                  </button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
