.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 1px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}
.ng-pristine input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 0.5rem;
  height: 25px;
  font-size: 1em;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: transparent !important;
}
.card .card-content {
    padding: 1px 2px;
}
.ng2-tag-input  {
  border-bottom: 1px double #d2d2d2 !important;
}
input {
  background-color: transparent !important;
}

/* Shared */
.card-content .input-group .input-group-addon {
  padding: 6px 10px 0px;
}
.alert-danger-login {
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-align: center;
}
.btn.btn-facebook.btn-simple.btn-wd.btn-lg {
  padding: 15px 0;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
// end login


.register-page .container {
  padding-top: 2vh;
}