<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="close()"></div>
    <p class="text-center dialog-header-p">{{title}}</p>
    <md-dialog-actions>
      <div class="col-md-12 text-center">
        <button class="btn btn-facebook btn-rounded btn-save-customer" type="button" (click)="toggleHana()">Đồng ý</button>
      </div>
    </md-dialog-actions>
  </div>
  