<div class="tab-content custommer">
    <div id="customer_form" class="tab-pane active" style="margin-top: -22px;">
        <h3 class="text-center" style="font-size: 24px; margin-bottom: -5px; margin-top: 0px;">Tạo công ty</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group"><label>Tên công ty</label>
                    <input type="text" placeholder="Nhập tên công ty...." id="name" name="name" [(ngModel)]="name" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Fax</label>
                    <input type="text" placeholder="Nhập fax...." id="fax" name="fax" [(ngModel)]="fax" class="form-control contact-group">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Địa chỉ</label>
                    <input type="text" placeholder="Nhập địa chỉ...." id="address" name="address" [(ngModel)]="address" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group"><label>Mô tả</label>
                    <textarea placeholder="Nhập mô tả...." id="description" name="description" [(ngModel)]="description" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" (click)="dialogRef.close('')" style="margin-right: 10px; width: 25%; margin-top: 5px" class="btn btn-flat btn-default">Đóng</button>
                <button type="submit" (click)="okClick()" style="margin-left : 10px; width: 25%" class="btn btn-flat btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>