<div class="loader" *ngIf="loadingProcess">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>

<div class="wrapper wrapper-full-page" (click)="close()">
  <div class="sidebar" data-active-color="white" data-background-color="blue" data-image="../assets/img/sidebar-1.jpg">
    <ba-sidebar-remarketing [menutype]="menutype"></ba-sidebar-remarketing>
    <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
  </div>
  <div class="main-panel content-res">
  <navbar-cmp ></navbar-cmp>
    <div class="main-content marketing" style="margin-top: 0;">
      <div class="container-fluid" style="overflow: hidden;">
        <div class="row" style="overflow:hidden">
          <div class="col-md-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>