<ng2-slim-loading-bar [color]="'#43ba46'" [height]="'6px'"></ng2-slim-loading-bar>
<div class="wrapper wrapper-full-page">
  <!--<div class="full-page login-page" filter-color="black" data-image="../../../assets/img/login.jpeg">-->
  <div class="full-page login-page" filter-color="black" data-image="./assets/img/background.jpg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

            <div class="card card-login card-hidden">
              <div class="card-header text-center" data-background-color="blue">
                <h4 class="card-title">Đăng nhập</h4>
                <!--<div class="social-line">
                  <a (click)="onFacebookLoginClick()" class="btn btn-just-icon btn-simple">
                      <i class="fa fa-facebook-square" style="font-size: 40px; color: #1D3469;"></i>
                    </a>
                  <a (data-onsuccess)="onSignIn" id="my-signin-hana" class="btn btn-just-icon btn-simple g-signin2">
                  </a>
                </div>-->
                <button class="loginBtn loginBtn--facebook" (click)="onFacebookLoginClick()">
                    Đăng nhập với Facebook
                  </button>
                <button class="loginBtn loginBtn--google" (data-onsuccess)="onSignIn" id="my-signin-hana">
                    Đăng nhập với  Google
                  </button>
              </div>
              <p class="category text-center">
                Hoặc
              </p>
              <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
                <div class="card-content">
                  <div class="form-group">
                    <div class="alert alert-danger" *ngIf="hasErrorMsg">{{errorMsg}}</div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                                                  <i class="material-icons">email</i>
                                              </span>
                    <div class="form-group label-floating">
                      <!--<label class="control-label">Email</label>-->
                      <input type="email" class="form-control" [formControl]="complexForm.controls['username']" (keypress)="clearError()" placeholder="Email">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                                                  <i class="material-icons">lock_outline</i>
                                              </span>
                    <div class="form-group label-floating">
                      <!--<label class="control-label">Mật khẩu</label>-->
                      <input type="password" class="form-control" [formControl]="complexForm.controls['password']" (keypress)="clearError()" placeholder="Mật khẩu">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Chưa có tài khoản <a style="cursor: pointer; color: #00b0ff" [routerLink]="['/register-hana']">Đăng ký</a></span>
                  </div>
                </div>

                <div class="footer text-center">
                  <button type="submit" class="btn btn-facebook btn-simple btn-wd btn-lg" [disabled]="submit" style="background-color: #13B9CD;color: white;">Đăng nhập</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>