<ng2-slim-loading-bar [color]="'#43ba46'" [height]="'6px'"></ng2-slim-loading-bar>
<div class="wrapper wrapper-full-page">
  <!--<div class="full-page login-page" filter-color="black" data-image="../../../assets/img/login.jpeg">-->
  <div class="full-page login-page" filter-color="black" data-image="./assets/img/background.jpg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

            <div class="card card-login card-hidden">
              <section class="example-section" *ngIf="loadingProcess">
                <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
                </md-progress-bar>
              </section>
              <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
                <div class="card-content">
                  <div class="text-center">
                    <h2 class="alert-danger-login">Đăng nhập
                      <i class="fa fa-question-circle-o guild-login" aria-hidden="true" (click)="guildLogin()"></i>
                    </h2>
                  </div>
                  <div class="form-group" *ngIf="hasErrorMsg">
                    <div class="alert alert-danger">{{errorMsg}}</div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">email</i>
                    </span>
                    <div class="form-group label-floating">
                      <!--<label class="control-label">Email</label>-->
                      <input type="email" class="form-control" [formControl]="complexForm.controls['username']" (keypress)="clearError()" placeholder="Email"
                        style="padding-left: 10px;">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">lock_outline</i>
                    </span>
                    <div class="form-group label-floating">
                      <!--<label class="control-label">Mật khẩu</label>-->
                      <input type="password" class="form-control" [formControl]="complexForm.controls['password']" (keypress)="clearError()" placeholder="Mật khẩu"
                        style="padding-left: 10px;">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Chưa có tài khoản
                      <a style="cursor: pointer; color: #3B5998" [routerLink]="['/register-hana']">Đăng ký</a>
                    </span>
                  </div>
                </div>

                <div class="footer text-center">
                  <button type="submit" class="btn btn-facebook btn-simple btn-wd btn-lg" [disabled]="submit" style="min-width: 120px;background-color: #3B5998;color: white;font-weight: 500;">Đăng nhập</button>
                </div>
              </form>
              <div class="text-center">
                <h4 class="card-title">Hoặc</h4>
                <button class="loginBtn loginBtn--facebook" (click)="onFacebookLoginClick()" style="width: 250px">
                  Đăng nhập với Facebook
                </button>
                <button class="loginBtn loginBtn--google" (data-onsuccess)="onSignIn" id="my-signin-hana" style="width: 250px">
                  Đăng nhập với Google
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<guide-cpm></guide-cpm>