.left-content {
  min-height: 600px;
  background-color: #fff;
}
.mf--15 {
  margin-left: -30px;
}
.conntent-right {
  height: 87%;
  overflow:scroll;
  height: calc(100% - 60px);
  min-height: 600px
}
.title-all-comment {
  background-color: #5a95c0;
  color: #ffffff;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 30px;
  padding-left: 5px;
}
.icon-comment {
  position: absolute;
}
.span-comment {
  padding-left: 30px;
}
fa-search {
  float: left;
  margin-left: 10px;
  padding-right: 10px;
  margin-top: -30px;
  color: #ccc;
  font-size: 25px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.search-icon {
  float: right;
  position: relative;
  margin-bottom: -27px;
  padding-top: 11px;
  margin-right: 11px;
  font-size: 18px;
  opacity: 0.5;
}
.tag-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0;
  background: #eeeeee;
  user-select: none;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
  position: relative;
  box-shadow: none;
  border-radius: 11px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.tag_active {
  color: white;
  background-color: #053748;
}
.icon-delete-tag {
  float: right;
  position: absolute;
  right: 8px;
}
.campaign-name {
  background: transparent;
  border: 0;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px;
  max-width: 80%;
  min-width: 10%;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  resize: horizontal;
  font-weight: bold;
  color: #212121;
}

.campaign-name:focus {
  border: 1px solid #ccc;
}
.group-item-title {
  font-weight: bold;
  font-size: 1.05em;
}
