<div class="parent-popup-event">
  <div class="btn-close-popup-large" (click)="dialogRef.close('')"></div>
  <h6 class="text-center">THÔNG ĐIỆP TRUYỀN THÔNG ĐẾN KHÁCH HÀNG</h6>
  <div class="row">
    <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
  </div>
  <md-dialog-content class="text-left">
    <!-- <div class="row">
    <div class="col-md-12 text-left">
      <textarea maxlength="640" placeholder="Nội dung thông điệp truyền thông..." style="width: 100%; min-height: 150px" [(ngModel)]="message"
        pInputTextarea autoResize="autoResize"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <span>Số ký tự: {{message?.length || 0}}/640</span>
    </div>
  </div> -->

    <div class="row">
      <div class="col-md-12">
        <label>NỘI DUNG TIN NHẮN</label>
      </div>

      <div class="col-md-12">
        <div><span style="font-size:16px;font-weight: bold;"><i style="font-size: 19px;float:left" class="material-icons">error_outline</i></span> Để đảm bảo tin nhắn được gửi tới tất cả khách hàng và không vi phạm chính sách <span style="font-weight: bold;color: #EC407A;">"Tin rác"</span> của Facebook. Bạn vui lòng nhập ít nhất 3 nội dung tin nhắn <span style="font-weight: bold;color: #EC407A;">"khác nhau"</span> và Hana sẽ tự động lấy ngẫu nhiên <span style="font-weight: bold;color: #EC407A;">1 trong 3</span> tin nhắn này để gửi cho khách hàng của bạn.</div>  
        <div><span style="font-size:16px;font-weight: bold;"><i style="font-size: 19px;float:left" class="material-icons">error_outline</i></span> Nội dung tin nhắn <span style="font-weight: bold;color: #EC407A;">"KHÔNG"</span> được chứa liên kết: <span style="font-weight: bold;color: #EC407A;">website, email, số điện thoại, hình ảnh, video,...</span></div>  
        <div class="response-text" style="clear: both" *ngFor="let item of messageTexts; let i = index">
          <div class="col-md-12 p-left-0" style="clear: both;padding-left: 5px;">
            <div class="card-res">
              <p class="md-card-header" style="color:#B71C1C">
              </p>
              <span class="group-block-delete" style="top:-3px" (click)="removeText(i)"></span>
              <div>
                <div class="prompt-row">
                  <div class="prompt-cell prompt-cell-second">
                    <textarea [(ngModel)]="item.message" (blur)="updateMessageText()" style="resize:none" autosize maxlength="640" id="prompt-empty"
                      class="borderless ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" placeholder="Nội dung tin nhắn dạng text...(*)"></textarea>
                    <p><span style="font-size: 13px;padding-left: 95%;">({{640 - item.message.length}})</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <a class="btn btn-social btn-fill btn-linkedin evo-bNew" style="cursor:pointer" (click)="addMoreText()"><i class="fa fa-plus"></i> THÊM TIN NHẮN</a>
          </div>
        </div>

      </div>
    </div>
  </md-dialog-content>
  <div class="row">
    <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
  </div>
  <md-dialog-actions>
    <div class="col-md-12 text-center">
      <button md-raised-button (click)="send()">GỬI NGAY</button>
      <!-- <button md-button (click)="dialogRef.close('')">ĐÓNG</button> -->
      <button md-raised-button (click)="reset()">XÓA NỘI DUNG</button>
    </div>
  </md-dialog-actions>
</div>