.campaign-name {
  background: transparent;
  border: 0;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
}

.campaign-name:focus {
  border: 1px solid #ccc;
}

.structFilter.ui-widget-content {
  background: transparent;
  border: 0;
}

textarea {
  resize: none;
  width: 98%;
  /* margin-right: 20px; */
  background: transparent; // border: 1px solid #f6290c;
  border-radius: 10px;
  padding: 10px;
}

textarea::-webkit-input-placeholder {
  color: #f6290c;
}

textarea.nodata {
  border: 1px solid #f6290c;
}

textarea.hasdata {
  border: 1px solid #52B152;
}

// history
ul.campaign-history {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 98%;
  // padding: 10px;
}

li.body {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #888888;
  padding-bottom: 5px;
  padding-top: 5px;
} 

li span {
  float: left;
  width: 20%;
  text-align: center;
}
li span p {
    margin: 0 0 0;
}
li.body span:last-child {
  // margin-right: 0;
}
