<div *ngFor="let intent of list_filter">
    <div  class="modal fade" id="confirm-delete-{{intent.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notice" >
            <div class="modal-content">
                <div class="modal-body">
                    <span>Bạn có chắc muốn xóa Ý định <b> {{intent.name}} </b> không ?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #aaaaaa !important">Hủy</button>
                    <button (click)="deleteIntentById(intent.id)" class="btn btn-danger btn-ok" data-dismiss="modal">Xóa <i class="material-icons">delete</i></button>
                </div>
            </div>
        </div>
    </div>
</div>