
table {
    border-collapse: collapse;
}

table, th, td, th {
    border: 1px solid #ccc;
    padding: 5px;
}
table {
    width: 100%;
}

th {
    height: 50px;
    text-align: center;
    font-size: 13px;
}
td {
    text-align: center;
}
.btn-round  {
    padding: 2px;
}
.text-left {
    text-align: left;
}
.navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 38px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
    float: right;
    margin-right: 15px;
    margin-top: 25px
}
.text-left {
    text-align: left;
}
.navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 32px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
    float: right;
    margin-right: 15px;
    margin-top: 15px
}

.btn-search-entities {
    margin-top: 22px;
}
.container-agents {
    padding-left: 6px;
    padding-right: 15px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .btn-search-right {
        margin-right: 0px;
    }
}

@media (max-width: 991px) {
    .navbar-form .btn {
        position: absolute;
        top: -13px;
        right: -22px;
    }
    #inputSearch {
        width: 100% !important;
    }
    .form-search {
        width: 100% !important;
    }
}
.container-agents {
    padding-bottom: 0px;
}
.btn-search-right {
    float: right;
    margin-right: -7px;
}
.frm-s {
    width: 93%;
    margin-left: -26px;
}
@media (max-width: 991px) {
    .frm-s {
        width: 90%;
        margin-left: 0px;
    }
}
td, th {
    border-bottom: 1px dotted #eee;
    padding: 5px;
}
.link-bold {
    font-weight: 500;
}
.w-20 {
    width: 40px;
}
.btn-round-delete {
    background-color: transparent;
    padding: 3px;
    font-size: 10px;
    color: #f44336;
}
.btn-round-delete :hover {
//background-color: #777;
    color: #777;
}
.i-delete {
    font-size: 27px;
}
.pre-26 {
    margin-top: -33px;
}
.navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 7px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
@media (max-width: 991px) {
    .navbar-form .btn {
        position: absolute;
        top: -13px;
        right: -22px;
    }
    #inputSearch {
        width: 100% !important;
    }
    .form-search {
        width: 100% !important;
    }
    .material-datatables {
        margin-top: 15px !important;
        margin-right: 10px;
        margin-left: -11px !important;
    }
}
.material-datatables {
    margin-left: 8px;
    margin-right: 6px;
    margin-top: -17px;
}

.btn-round-delete {
    background-color: transparent;
    padding: 3px;
    font-size: 10px;
    color: #777;
}
.btn-round-delete :hover {
//background-color: #777;
    color: #999;
}
.btn-round  {
    padding: 2px;
}
.i-delete {
    font-size: 27px;
}
.btn-add-user-say {
    background-color: transparent; border: 1px double red; color: red; padding-bottom: 1px; padding-top: 1px;
}
.user-say-form-group {
    margin-top: 0px !important;
}
.card-user-say {
    margin-top: 5px;
}
.ng2-tag-input .ng2-tags-container {
    flex-wrap: wrap;
    display: flex;
    width: 100% !important;
}
.ng2-tag-input .ng2-tags-container {
    flex-wrap: wrap;
    display: flex;
    width: 100% !important;
}
.create-new-custom {
    margin-top: 0px !important;
}
.card-list-intent {
    margin-top: 10px !important;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: 11px;
}
.create-new-custom {
    margin-top: 0px !important;
    margin-left: 11px;
}
tag-input-form {
    width: 100% !important;
}
