<div class="card order" style="margin: 0">
    <div class="card-content" style="height: 100%">
        <br>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-md-12">
                <div class="col-md-3" style="margin-left: -10px">
                    <p-calendar showButtonBar="true" clearButtonStyleClass="button_delete_calendar" readonlyInput="true" dateFormat="dd/mm/yy" (onSelect)="onFilterDate()" (onBlur)="onFilterDate()" (onClearClick)="onFilterDateClear()" [style]="{'height':'30px', 'width':'100%', 'border': '1px solid #d6d6d6'}" [(ngModel)]="rangeDates" selectionMode="range" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-md-3">
                    <p-dropdown (onChange)="onFilterDate()" placeholder="Lọc theo nguồn kênh" [options]="sourceLists" [(ngModel)]="selectedSource" [style]="{'width':'100%'}" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 15px;">
                <div class="col-md-3" style="margin-left: -10px">
                    <p-dropdown (onChange)="onFilterDate()"  placeholder="Lọc theo người tạo đơn" [options]="userCreates" [(ngModel)]="selectedCreateOrder" [style]="{'width':'100%'}" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-md-3">
                    <p-dropdown (onChange)="onFilterDate()"  placeholder="Lọc theo trạng thái đơn hàng" [options]="orderStatus" [(ngModel)]="selectedStatusOrder" [style]="{'width':'100%'}" filter="true">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <div class="col-md-6" style="margin-left: -10px;">
                    <div class="form-group is-empty" style="margin: 0px">
                        <input (keyup)="onFilterDate()" autocomplete="off" class="form-control" style="border: 1px solid #ccc; padding-left: 5px !important; width: 100%;background-image: none;background-position: none;background-color:#fff;border-radius:7px"
                               placeholder="Tìm theo thông tin name, nickname, số điện thoại của khách hàng" type="text" id="inputFilter" name="inputFilter" [(ngModel)]="inputFilter">
                        <i style="position: absolute; right: 10px; bottom: 17px; font-size: 20px;" class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: -15px">
                    <span class="condition-item1" data-toggle="dropdown" (click)="exportExcel()">
                        <span style="margin-top: 2px" class="btn btn-social btn-fill btn-linkedin"><i class="fa fa-file-excel-o" aria-hidden="true" style="padding-right: 3px; padding-left: 0px"></i> Xuất Excel</span>
                    </span>
                </div>

            </div>
        </div>


        <div class="row" style="margin-bottom: 50px">
            <div class="col-md-12">
                <p-dataTable emptyMessage="{{tableMessage}}" (onSort)="changeSort($event)" (onRowSelect)="onRowSelect($event)" [style]="{'margin-left':'4px'}" [value]="orders" [rows]="pageSize" [paginator]="f" [totalRecords]="totalRecords" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100,500]">

                    <p-column field="stt" header="STT" [sortable]="true" [style]="{'width':'50px', 'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="phone" header="SỐ ĐIỆN THOẠI" [sortable]="true" [style]="{'width':'100px','background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="name" header="HỌ VÀ TÊN" [sortable]="true" [style]="{'width':'100px', 'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="address" header="ĐỊA CHỈ" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="source" header="NGUỒN KÊNH" [sortable]="true" [style]="{'width':'130px','background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="product_code" header="MÃ SẢN PHẨM" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="note" header="MÔ TẢ" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="quality" header="SỐ LƯỢNG" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="price" header="ĐƠN GIÁ" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="order_status_vn" header="TRẠNG THÁI" [sortable]="true" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                    <p-column field="created_date" header="NGÀY TẠO" [sortable]="true" [style]="{'width':'130px','background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>

                </p-dataTable>

            </div>
        </div>
    </div>
</div>