<div class="card">
  <div class="card-header card-header-icon" data-background-color="rose">
    <i class="material-icons">assignment</i>
  </div>
  <h4 class="card-title">Simple Table</h4>
  <div class="card-content">
    <ng-content></ng-content>
  </div>
</div>
