<div class="row" style="margin-top:20px; margin-right: 5px;">
    <div class="col-md-12">
        <label class="label-on-left" style="margin-left:15px;color: black;margin-bottom:15px;float: left;">Cấu hình thời gian Hana trả lời </label>
        <i style="float: left;cursor: pointer;font-size:20px" class="material-icons">help_outline</i>
        <div class="card-payment">
            <div class="tut-payment modal-hana">
                <p>
                    <span style="text-decoration: underline;">
                        <strong>Hướng dẫn cấu hình thời gian Hana trả lời:</strong>
                    </span>
                </p>
                <p>Bước 1: Tạo mốc thời gian</p>
                <p>&nbsp; &nbsp; &nbsp;Bạn chọn thời gian bắt đầu v&agrave; thời gian kết th&uacute;c v&agrave; chọn "TH&Ecirc;M
                    THỜI GIAN"</p>
                <p>Bước 2: G&aacute;n mốc thời gian cho c&aacute;c ng&agrave;y trong tuần</p>
                <p>&nbsp; &nbsp; &nbsp;Bạn giữ chuột tại thời gian vừa tạo sau đ&oacute; drag đến vị tr&iacute; c&aacute;c ng&agrave;y
                    trong tuần.</p>
                <p>Bước 3: Chọn "LƯU" để cập nhật</p>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="text-align: center;">

        <md-select [(ngModel)]="beginHour" placeholder="Chọn giờ bắt đầu" style="padding-left: 5px;border: 0;margin-left: 10px; margin-top: 10px;width: auto;border-radius: 3px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
            <md-option *ngFor="let hour of hourAvailable" [value]="hour">{{hour}}</md-option>
        </md-select>

        <md-select [(ngModel)]="endHour" placeholder="Chọn giờ kết thúc" style="padding-left: 5px;border: 0;margin-left: 10px; margin-top: 10px;width: auto;border-radius: 3px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
            <md-option *ngFor="let hour of hourAvailable" [value]="hour">{{hour}}</md-option>
        </md-select>

        <button class="btn btn-facebook" (click)="submitAdd()">Thêm thời gian</button>
        <!-- <div>
            <span class="chip-avail" *ngFor="let item of availableTimes" pDraggable="times" (onDragStart)="dragStart($event,item)" (onDragEnd)="dragEnd($event)">{{item.start}}h đến {{item.end}}h</span>
        </div> -->
        <div *ngFor="let item of availableTimes; let i = index" style="margin-bottom: 10px;">
            <a pDraggable="times" style="cursor:pointer;border: 1px solid #ccc;
        border-radius: 7px;
        padding: 5px;
        background: #ccc;
        color: #000;" pDraggable="times" (onDragStart)="dragStart($event,item)" (onDragEnd)="dragEnd($event)">{{item.start}}h đến {{item.end}}h
                <md-icon (click)="dropAtAvailiable(i)" class="mat-chip-remove mat-icon material-icons" style="color:#999">cancel</md-icon>
            </a>
        </div>
    </div>

    <div class="col-md-9" style="overflow-x:scroll; padding-left: 0;">
        <table style="width:1000px; border: 1px solid #ccc; height: auto">
            <thead>
                <tr>
                    <th style="float:left; width:14%; text-align: center">Chủ nhật</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 2</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 3</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 4</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 5</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 6</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 7</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let avail of selectedTimes; let i = index" pDroppable="times" (onDrop)="drop($event, i)" style="float:left; width:14%; height:190px; padding-top: 10px;
                    text-align: center;">
                        <div *ngFor="let item of avail; let j = index" style="margin-bottom: 10px;">
                            <a pDraggable="times" style="cursor:pointer;border: 1px solid #ccc;
                        border-radius: 7px;
                        padding: 5px;
                        background: #ccc;
                        color: #000;">{{item.start}}h đến {{item.end}}h
                                <md-icon (click)="dropAt(i, j)" class="mat-chip-remove mat-icon material-icons" style="color:#999">cancel</md-icon>
                            </a>
                        </div>
                    </td>
                </tr>



            </tbody>
        </table>
    </div>
</div>