.ui-widget-content{
    border: 0;
  }
  .simple .mat-select-trigger {
    margin: 0;
    padding-bottom: 0;
    color: #ffffff !important;
    font-size: 12px !important;
  }
  .mat-select {
    margin-top: 0;
    padding-top: 0;
    padding-left: 5px;
  }

.chip-avail{
  display:  inline-block;
  cursor:pointer;border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  background: #ccc;
  color: #000;
  margin-right: 5px;
}
.tut-payment{
  position: absolute;
  background: #fff;
  z-index: 1000;
  right: 0;
  top: 0;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  padding: 25px 15px 15px;
  box-shadow: 0 0 20px 0 rgba(77,77,77,.2);
  // border-radius: 5px;
  border: 1px solid #e0e6ed;
  max-width: 400px;
  margin-bottom: 30px;
}