<md-input-container>
    <input mdInput placeholder="Câu nói người dùng"  (keypress)="check2()" (keyup)="check2()" (keyup.enter)="search()" (click)="check()" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl">
</md-input-container>

<md-autocomplete  #auto="mdAutocomplete">
    <md-option (onSelectionChange)="enterSelect($event, state)" (click)="enterSelect($event, state)"  *ngFor="let state of filteredStates" [value]="state">
        {{ state }}
    </md-option>
</md-autocomplete>