.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}
.ng-pristine input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 0.5rem;
  height: 38px;
  font-size: 1em;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: transparent !important;
}
.ng2-tag-input  {
  border-bottom: 1px double #d2d2d2 !important;
}
input {
  background-color: transparent !important;
}
.card-pricing {
  box-shadow: 6px -5px 21px 0px rgba(173,168,173,1);
}
.app-img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.category {
    height: 25px;
    overflow: hidden;
}
.card-description{
    height: 25px;
    overflow: hidden;
}
.wizard-float-left.content {
  padding-top: 10px;
}
.modal .modal-header .close {
  font-size: 30px;
}
.modal-content .modal-header {
  padding: 2px;
}