<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="wizard-container" *ngIf="isIntegrate; else integrate">
          <section class="example-section" *ngIf="loadingProcess">
              <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
              </md-progress-bar>
          </section>
          <h3>Fanpage đã kết nối.</h3>
          <div class="ui middle aligned divided list">
            <div class="item">
              <div class="right floated content">
                <div class="ui button" (click)="pageUnSubscribedApp()" style="font-size: 14px; background-color: red; color: white">Hủy kết nối</div>
              </div>
              <img class="wizard-float-left ui avatar image" src="{{fanpageInfo.picture}}">
              <div class="wizard-float-left content">
                {{fanpageInfo.pageName}}
              </div>
            </div>
          </div>
        </div>
        <ng-template #integrate>
          <h3>Chọn fanpage để tích hợp.</h3>
          <div class="ui middle aligned divided list" *ngIf="listFanpages ?.length > 0; else listfanpage">
            <div class="item" *ngFor="let fanpage of listFanpages">
              <div class="right floated content">
                <div class="ui" *ngIf="fanpage.sys_app_id; else connect" disabled="disabled" style="background-color: white;padding-top: 6px;">Đã kết nối</div>
                <ng-template #connect>
                  <div class="ui button" (click)="pageSubscribedApp(fanpage)" style="font-size: 14px; background-color: #4183C4; color: white">Kết nối</div>
                </ng-template>
              </div>
              <img class="wizard-float-left ui avatar image" src="{{fanpage.picture}}">
              <div class="wizard-float-left content">
                {{fanpage.name}}
              </div>
            </div>
            <!--<div class="item">
              <div class="right floated content">
                <div class="ui button">Kết nối</div>
              </div>
              <img class="ui avatar image" src="https://10min.mideasvn.com/assets/img/chat/hana-user.jpg">
              <div class="content">
                Lindsay
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <div class="ui button">Kết nối</div>
              </div>
              <img class="ui avatar image" src="https://10min.mideasvn.com/assets/img/chat/hana-user.jpg">
              <div class="content">
                Mark
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <div class="ui button">Kết nối </div>
              </div>
              <img class="ui avatar image" src="https://10min.mideasvn.com/assets/img/chat/hana-user.jpg">
              <div class="content">
                Molly
              </div>
            </div>-->
          </div>
          <ng-template #listfanpage>
            <p *ngIf="loading; else loaddone">
              <md-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
              </md-progress-spinner>
            </p>
            <ng-template #loaddone>
              <p>Bạn chưa có fanpage nào</p>
            </ng-template>
          </ng-template>

        </ng-template>
      </div>
      <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
    </div>
  </div>
</div>

