<h5 class="text-center">ĐÀO TẠO CÂU NÓI HANA KHÔNG HIỂU</h5>
<md-dialog-content class="text-center">
  <!-- <div class="btn-close-popup-large" (click)="close()"></div> -->
  <div class="row">
    <div class="col-md-12">
        <ba-faq-v2 *ngFor="let item of intents; let i = index" [index]="i" [typeFaq]="'inbox'"
        [currentIntent]="item" [blocks]="blocks" (outputDelete)="deleteIntent($event)"></ba-faq-v2>
    </div>
  </div>
</md-dialog-content>
