<div class="card parent-popup-event" style="width:100%; margin: 0px !important;">
    <div class="loader" *ngIf="is_load_content == false">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div  *ngIf="is_load_content != false" class="card-content" style="min-height: 0;padding: 0;">
        <div class="container-group" style="border-radius: 0px">
            <div class="flex-2">
                <div class="flex-2-child">
                    <label style="color:#3f51b5">DANH SÁCH NGỮ CẢNH TIẾP THEO</label>
                    <span class="contenx-intent-no-background">
                        <tag-input
                                name="tagsContextOut"
                                [(ngModel)]='intent_contexts'
                                [addOnBlur]="true"
                                [blinkIfDupe]="true"
                                [tabindex]="'index1'"
                                theme="minimal"
                                placeholder="+Thêm ngữ cảnh"
                                secondaryPlaceholder="+Thêm ngữ cảnh"
                                (onAdd) = "onAddOnRemove()"
                                (onRemove)="onAddOnRemove()">
                            <tag-input-dropdown [autocompleteItems]="autocomplete_context">
                            </tag-input-dropdown>
                    </tag-input>
                    </span>
                    <span>
                        <div class="checkbox checkbox-cusotom">
                            <label>
                            <input type="checkbox" (change) = "changeSuggestionPredict()"  [checked]="is_suggestion_predict" name="optionsCheckboxes2"> Cho phép gợi ý câu tiếp theo
                            </label>
                        </div>
                    </span>

                    <!-- <span *ngIf="is_suggestion_predict==true" class="contenx-intent" (mouseover)="save()">
                        <label style="color: #3f51b5; margin-top:10px">DANH SÁCH GỢI Ý CHO KHÁCH HÀNG LỰA CHỌN</label>
                        <tag-input name='contexts_suggestions_select'
                                   [(ngModel)]="suggestion_intents"
                                   theme="minimal"
                                   [dragZone]="'zone1'"
                                   [identifyBy]="'id'" [displayBy]="'name'"
                                   (onTagsChanged)="save()"
                                   [allowDupes]="false"
                                   [disabled]="true"
                                   placeholder=""
                                   secondaryPlaceholder="">
                                    <ng-template item-template let-item="item" let-index="index">
                                       <span class="tag-no-block" [style.background-color]="getStyleBackground(item.status)"  [style.color]="getStyleColor(item.status)">
                                            <span>
                                            {{item?.name | truncate:50}}
                                            </span>
                                            <span>
                                                <input name="status-{{ item.id }}" *ngIf="item.status==true"  [checked]="item.status" (change)="updatePriority(item.name)" style="margin-top: -2px; position: relative; display: inline-block; width: 20px; height: 16px; border: 1px solid #4caf50 !important; overflow: hidden; z-index: 1; border-radius: 11px;" type="checkbox">
                                                <input disabled name="status-{{ item.id }}" *ngIf="item.status!=true && checkStatus() == true" [checked]="item.status" (change)="updatePriority(item.name)"  style="margin-top: -2px; position: relative; display: inline-block; width: 20px; height: 16px; border: 1px solid #4caf50 !important; overflow: hidden; z-index: 1; border-radius: 11px;" type="checkbox">
                                                <input  name="status-{{ item.id }}" *ngIf="item.status!=true && checkStatus() == false" [checked]="item.status" (change)="updatePriority(item.name)"  style="margin-top: -2px; position: relative; display: inline-block; width: 20px; height: 16px; border: 1px solid #4caf50 !important; overflow: hidden; z-index: 1; border-radius: 11px;" type="checkbox">

                                            </span>
                                       </span>
                                    </ng-template>
                        </tag-input>
                    </span> -->
                    <span *ngIf="is_suggestion_predict==true">
                        <label style="color: #3f51b5; margin-top:10px">DANH SÁCH GỢI Ý CHO KHÁCH HÀNG LỰA CHỌN</label>
                        <tag-input name='contexts_suggestions_select'
                                   [(ngModel)]="suggestion_intents"
                                   theme="bootstrap"
                                   [dragZone]="'zone1'"
                                   [identifyBy]="'id'" [displayBy]="'name'"
                                   [allowDupes]="false"
                                   [maxItems]="10"
                                   placeholder=""
                                   secondaryPlaceholder=""
                                   (onAdd) = "save()"
                                   (onRemove)="save()">
                                   <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="intentSugest"
                                   [displayBy]="'display'"
                                   [identifyBy]="'value'">
                                       <ng-template let-item="item" let-index="index" pTemplate="body">
                                           <div>
                                               <span>{{item.display}}</span>
                                           </div>
                                       </ng-template>
                                   </tag-input-dropdown>
                        </tag-input>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>