<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="close()"></div>
    <p class="text-center dialog-header-p">{{title}}</p>

    <div class="ui form">
        <div class="field">
            <label>Nhúng mã này sau thẻ body của trang muốn hiển thị hộp chat</label>
            <div style="border: 1px solid #AAA; padding: 5px;">{{script}}</div>
        </div>
    </div>
    <button type="button" (click)="copyToClipboard('website')" class="btn btn-secondary btn-facebook" data-dismiss="modal">Copy</button>


    <ng-container *ngIf="fanpageInfo; else nofanpage">
        <ng-container *ngIf="scriptmessenger; else dontmessenger">
            <span>
                <div class="row">

                    <div class="col-sm-12 text-center">
                        <label>Các website để tích hợp messenger (chỉ chấp nhận website bắt đầu https:// )</label>
                        <tag-input (onAdd)="addToGroup($event)" (onRemove)="removeOutGroup($event)" [modelAsStrings]="true" theme='minimal' placeholder="+Enter để thêm website"
                            secondaryPlaceholder="+Enter để thêm website" [(ngModel)]='websites'>
                        </tag-input>
                    </div>
                </div>
            </span>
            <button type="button" (click)="updateWebsiteLinks()" class="btn btn-secondary btn-facebook" data-dismiss="modal">Lưu</button>
            <div class="ui form">
                <div class="field">
                    <label>Nhúng mã này sau thẻ body của trang muốn hiển thị hộp chat Messenger</label>
                    <div style="border: 1px solid #AAA; padding: 5px;">{{scriptmessenger}}</div>
                </div>
            </div>
            <button type="button" (click)="copyToClipboard('messenger')" class="btn btn-secondary btn-facebook" data-dismiss="modal">Copy</button>
        </ng-container>
        <ng-template #dontmessenger>
            <span>
                <div class="row">

                    <div class="col-sm-12 text-center">
                        <label>Các website để tích hợp messenger (chỉ chấp nhận website bắt đầu https:// )</label>
                        <tag-input (onAdd)="addToGroup($event)" (onRemove)="removeOutGroup($event)" [modelAsStrings]="true" theme='minimal' placeholder="+Enter để thêm website"
                            secondaryPlaceholder="+Enter để thêm website" [(ngModel)]='websites'>
                        </tag-input>
                    </div>
                </div>
            </span>
            <button type="button" (click)="createScriptMessenger()" class="btn btn-secondary btn-facebook" data-dismiss="modal">Tạo mã</button>
        </ng-template>
    </ng-container>
    <ng-template #nofanpage>
        <div class="ui form">
            <div class="field">
                <label>Bạn cần tích hợp fanpage để tạo mã nhúng Messenger</label>
            </div>
        </div>
    </ng-template>

</div>