// component css goes here
.trash-popup:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
    opacity: .3;
    background-size: 24px 24px;
}

.trash-popup {
    position: absolute;
    z-index: 10000;
    top: -6px;
    right: -6px;
    width: 28px;
    height: 28px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.07);
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 50%;
    transform: scale(.3);
    opacity: 0;
}
