<div class="wrapper wrapper-full-page">
    <!--<div class="main-panel">-->
    <div>
        <div class="main-content">
            <div class="container-fluid">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="rose" id="wizardProfile">
                            <div class="wizard-header">
                                <h1>Xin chào! {{username}}</h1>
                                <h3 class="wizard-title">
                                    Xác thực tài khoản thành công nhấn <a style="color:blue" [routerLink]="['/login-hana']">VÀO ĐÂY</a> để đăng nhập
                                </h3>
                                
                            </div>
                        </div>

                    </div>
                </div>
                <!-- wizard container -->
            </div>
        </div>
    </div>

