<div class="modal fade" id="listFanpageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="list-fanpage-create-app">
        <section class="example-section" *ngIf="loadingProcess">
          <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
          </md-progress-bar>
        </section>
        <h2>Chọn fanpage để kích hoạt.</h2>
        <div class="ui middle aligned divided list" *ngIf="listFanpages ?.length > 0; else listfanpage">
          <div class="item fanpage-item" *ngFor="let fanpage of listFanpages">
            <div class="right floated content">
              <div class="ui" *ngIf="fanpage.sys_app_id; else connect" disabled="disabled" style="background-color: white;padding-top: 6px;">Đã kích hoạt</div>
              <ng-template #connect>
                <div class="ui button" (click)="pageSubscribedApp(fanpage)" disabled="loadingProcess" style="font-size: 14px; background-color: #4183C4; color: white">Kích hoạt</div>
              </ng-template>
            </div>
            <img class="wizard-float-left ui avatar image fanpage-image" src="{{fanpage.picture}}">
            <div class="wizard-float-left content fanpage-name">
              {{fanpage.name}}
            </div>
          </div>
        </div>
        <ng-template #listfanpage>
          <p>Bạn chưa có fanpage nào</p>
        </ng-template>


      </div>
      <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
    </div>
  </div>
</div>