// component css goes here
.cutom-select {
  margin-top: 0px !important;
}
.mat-select-value-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
}
.div-tieuchi .mat-select-trigger {
  display: flex;
  align-items: center;
  height: 25px;
  min-width: 142px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  max-width: 139px !important;
  margin-bottom: 7px;
}
.cutom-select {
  margin-top: 0px !important;
  width: 181px;
}