<md-select class="cutom-select"  [(ngModel)]="selected" (change)="change($event)" [disabled]="disabled">
  <md-option *ngFor="let state of source; let i = index" [value]="state.key" >
    {{ state.value }}
  </md-option>
</md-select >