<!--<div class="loader" *ngIf="is_load == true" style="z-index: 2000 !important;">-->
  <!--<svg class="circular" viewBox="25 25 50 50">-->
    <!--<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />-->
  <!--</svg>-->
<!--</div>-->
<!--<div class="loader" *ngIf="is_load_update == true" style="z-index: 2000 !important;">-->
  <!--<svg class="circular" viewBox="25 25 50 50">-->
    <!--<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />-->
  <!--</svg>-->
<!--</div>-->
<!--<div *ngIf="is_load == false" class="parent-popup-event div-detail-button">-->
  <!--<div class="row" style="margin-top: 5px">-->
    <!--<div class="btn-close-popup-large" style="margin-top: 10px" (click)="dialogRef.close('')"></div>-->
    <!--&lt;!&ndash;<hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">&ndash;&gt;-->
  <!--</div>-->
  <!--<md-dialog-content class="text-left">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<ul  class="nav nav-pills">-->
          <!--<li class="active">-->
            <!--<a  href="#tab-ngucanh" data-toggle="tab" class="tab-custom">Ngữ Cảnh</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#tab-action" data-toggle="tab" class="tab-custom">-->
              <!--<span style="padding-top: 2px;" class="block-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hành Động</span>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<div class="tab-content clearfix">-->
          <!--<hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">-->
          <!--<div id="tab-ngucanh" class="tab-pane active">-->
            <!--<div class="container-tab" style="position: relative; ">-->
              <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                  <!--<div class="checkbox checkbox-cusotom">-->
                    <!--<label>-->
                      <!--<input type="checkbox" (change) = "currentIntent.is_just_understand_in_context = !currentIntent.is_just_understand_in_context;" [checked]="currentIntent.is_just_understand_in_context" name="optionsCheckboxes1"> Chỉ hiểu khi trong ngữ cảnh này-->
                    <!--</label>-->
                  <!--</div>-->
                  <!--<label style="padding-bottom: 5px;font-weight: bold;">Ngữ cảnh đầu vào</label>-->
                  <!--<div style="margin-top: -5px">-->
                    <!--<tag-input [tabindex]="'index1'"-->
                               <!--theme="bootstrap" name="tagsContextIn" [(ngModel)]='intent_contexts_in'-->
                               <!--placeholder="Chọn ngữ cảnh đầu vào..."-->
                               <!--secondaryPlaceholder="Chọn ngữ cảnh đầu vào..."-->
                               <!--[errorMessages]="errorMessages"-->
                               <!--[validators]="validators" [addOnBlur]="true"-->
                               <!--(onAdd) = "reloadSuggestion()"-->
                               <!--(onSelect) = "reloadSuggestion()"-->
                               <!--(onRemove)="reloadSuggestion()">-->
                      <!--<tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="autocomplete_context"-->
                                          <!--[displayBy]="'display'"-->
                                          <!--[identifyBy]="'value'">-->
                        <!--<ng-template let-item="item" let-index="index" pTemplate="body">-->
                          <!--<div>-->
                            <!--<span>{{item.display}}</span>-->
                          <!--</div>-->
                        <!--</ng-template>-->
                      <!--</tag-input-dropdown>-->
                    <!--</tag-input>-->
                  <!--</div>-->
                  <!--<br>-->
                  <!--<div>-->
                    <!--<label style="color:#3f51b5;font-weight: bold;">Ngữ cảnh đầu ra</label>-->
                    <!--<div class="contenx-intent-no-background">-->
                      <!--<tag-input-->
                              <!--name="tagsContextOut"-->
                              <!--[(ngModel)]='intent_contexts_out'-->
                              <!--[addOnBlur]="true"-->
                              <!--[blinkIfDupe]="true"-->
                              <!--[tabindex]="'index1'"-->
                              <!--theme="bootstrap"-->
                              <!--placeholder="Chọn ngữ cảnh đầu ra..."-->
                              <!--secondaryPlaceholder="Chọn ngữ cảnh đầu ra..."-->
                              <!--(onAdd) = "reloadSuggestion()"-->
                              <!--(onSelect) = "reloadSuggestion()"-->
                              <!--(onRemove)="reloadSuggestion()">-->
                        <!--<tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="autocomplete_context"-->
                                            <!--[displayBy]="'display'"-->
                                            <!--[identifyBy]="'value'">-->
                          <!--<ng-template let-item="item" let-index="index" pTemplate="body">-->
                            <!--<div>-->
                              <!--<span>{{item.display}}</span>-->
                            <!--</div>-->
                          <!--</ng-template>-->
                        <!--</tag-input-dropdown>-->
                      <!--</tag-input>-->
                    <!--</div>-->
                    <!--<div>-->
                      <!--<div class="checkbox checkbox-cusotom">-->
                        <!--<label>-->
                          <!--<input type="checkbox" (change)="changeSuggestion_Predict()"  [checked]="currentIntent.is_suggestion_predict" name="optionsCheckboxes2"> Cho phép gợi ý câu tiếp theo-->
                        <!--</label>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div *ngIf="currentIntent.is_suggestion_predict==true">-->
                      <!--<label style="color: #3f51b5; margin-top:10px;font-weight: bold;">Danh sách gợi ý cho khách hàng</label>-->
                      <!--<tag-input name='contexts_suggestions_select'-->
                                 <!--[(ngModel)]="suggestion_intents"-->
                                 <!--theme="bootstrap"-->
                                 <!--[dragZone]="'zone1'"-->
                                 <!--[identifyBy]="'id'" [displayBy]="'name'"-->
                                 <!--[allowDupes]="false"-->
                                 <!--[maxItems]="10"-->
                                 <!--placeholder="Chọn danh sách gợi ý cho khách hàng.."-->
                                 <!--secondaryPlaceholder="Chọn danh sách gợi ý cho khách hàng..">-->
                        <!--<tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="intent_sugest_auto_completes"-->
                                            <!--[displayBy]="'display'"-->
                                            <!--[identifyBy]="'value'">-->
                          <!--<ng-template let-item="item" let-index="index" pTemplate="body">-->
                            <!--<div>-->
                              <!--<span>{{item.display}}</span>-->
                            <!--</div>-->
                          <!--</ng-template>-->
                        <!--</tag-input-dropdown>-->
                      <!--</tag-input>-->
                      <!--<br>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div id="tab-action" class="tab-pane">-->
            <!--<div class="container-tab" style="position: relative; ">-->
              <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
              <!--<div *ngIf="currentIntent != undefined && currentIntent.intent_actions != undefined">-->
                <!--<br *ngIf="currentIntent.intent_actions.length == 0">-->

                <!--&lt;!&ndash;<div *ngFor="let intent_action of currentIntent.intent_actions; let i = index">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="group-block" *ngIf="intent_action.action_name == 'addCustomerToGroups'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào nhóm11111111</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tag-input name="select_block" [(ngModel)]="addCustomerToGroups"&ndash;&gt;-->
                               <!--&lt;!&ndash;theme="bootstrap"&ndash;&gt;-->
                               <!--&lt;!&ndash;(onAdd)="onAddGroup($event)"&ndash;&gt;-->
                               <!--&lt;!&ndash;placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">&ndash;&gt;-->
                      <!--&lt;!&ndash;<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">&ndash;&gt;-->
                      <!--&lt;!&ndash;</tag-input-dropdown>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tag-input>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="group-block-delete" (click)="deleteAction('addCustomerToGroups')"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="group-block" *ngIf="intent_action.action_name == 'addCustomerToSequences'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào quy trình</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tag-input name="select_block" [(ngModel)]="addCustomerToSequences"&ndash;&gt;-->
                               <!--&lt;!&ndash;theme="bootstrap"&ndash;&gt;-->
                               <!--&lt;!&ndash;[onlyFromAutocomplete]="true"&ndash;&gt;-->
                               <!--&lt;!&ndash;placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">&ndash;&gt;-->
                      <!--&lt;!&ndash;<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">&ndash;&gt;-->
                      <!--&lt;!&ndash;</tag-input-dropdown>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tag-input>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="group-block-delete" (click)="deleteAction('addCustomerToSequences')"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="group-block" *ngIf="intent_action.action_name == 'removeCustomerFromGroups'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi nhóm</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tag-input name="select_block" [(ngModel)]="removeCustomerFromGroups"&ndash;&gt;-->
                               <!--&lt;!&ndash;theme="bootstrap"&ndash;&gt;-->
                               <!--&lt;!&ndash;[onlyFromAutocomplete]="true"&ndash;&gt;-->
                               <!--&lt;!&ndash;placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">&ndash;&gt;-->
                      <!--&lt;!&ndash;<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">&ndash;&gt;-->
                      <!--&lt;!&ndash;</tag-input-dropdown>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tag-input>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="group-block-delete" (click)="deleteAction('removeCustomerFromGroups')"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="group-block" *ngIf="intent_action.action_name == 'removeCustomerFromSequences'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi quy trình</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tag-input name="select_block" [(ngModel)]="removeCustomerFromSequences"&ndash;&gt;-->
                               <!--&lt;!&ndash;theme="bootstrap"&ndash;&gt;-->
                               <!--&lt;!&ndash;[onlyFromAutocomplete]="true"&ndash;&gt;-->
                               <!--&lt;!&ndash;placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">&ndash;&gt;-->
                      <!--&lt;!&ndash;<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">&ndash;&gt;-->
                      <!--&lt;!&ndash;</tag-input-dropdown>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tag-input>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="group-block-delete" (click)="deleteAction('removeCustomerFromSequences')"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<br>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="group-block" style="margin-bottom: 16px; min-height: 41px;" *ngIf="intent_action.action_name == 'createOrder'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="group-block-delete" style="margin-top: 34px !important;" (click)="deleteAction('createOrder')"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Lên đơn hàng</p>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--<div class="group-block" *ngIf="checkAction('addCustomerToGroups')">-->
                  <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào nhóm</p>-->
                  <!--<tag-input name="select_block" [(ngModel)]="addCustomerToGroups"-->
                             <!--theme="bootstrap"-->
                             <!--(onAdd)="onAddGroup($event)"-->
                             <!--placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">-->
                    <!--<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">-->
                    <!--</tag-input-dropdown>-->
                  <!--</tag-input>-->
                  <!--<span class="group-block-delete" (click)="deleteAction('addCustomerToGroups')"></span>-->
                  <!--<br>-->
                <!--</div>-->


                <!--<div class="group-block" *ngIf="checkAction('addCustomerToSequences')">-->
                  <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào quy trình</p>-->
                  <!--<tag-input name="select_block" [(ngModel)]="addCustomerToSequences"-->
                             <!--theme="bootstrap"-->
                             <!--[onlyFromAutocomplete]="true"-->
                             <!--placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">-->
                    <!--<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">-->
                    <!--</tag-input-dropdown>-->
                  <!--</tag-input>-->
                  <!--<span class="group-block-delete" (click)="deleteAction('addCustomerToSequences')"></span>-->
                  <!--<br>-->
                <!--</div>-->


                <!--<div class="group-block" *ngIf="checkAction('removeCustomerFromGroups')">-->
                  <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi nhóm</p>-->
                  <!--<tag-input name="select_block" [(ngModel)]="removeCustomerFromGroups"-->
                             <!--theme="bootstrap"-->
                             <!--[onlyFromAutocomplete]="true"-->
                             <!--placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">-->
                    <!--<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">-->
                    <!--</tag-input-dropdown>-->
                  <!--</tag-input>-->
                  <!--<span class="group-block-delete" (click)="deleteAction('removeCustomerFromGroups')"></span>-->
                  <!--<br>-->
                <!--</div>-->


                <!--<div class="group-block" *ngIf="checkAction('removeCustomerFromSequences')">-->
                  <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi quy trình</p>-->
                  <!--<tag-input name="select_block" [(ngModel)]="removeCustomerFromSequences"-->
                             <!--theme="bootstrap"-->
                             <!--[onlyFromAutocomplete]="true"-->
                             <!--placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">-->
                    <!--<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">-->
                    <!--</tag-input-dropdown>-->
                  <!--</tag-input>-->
                  <!--<span class="group-block-delete" (click)="deleteAction('removeCustomerFromSequences')"></span>-->
                  <!--<br>-->
                <!--</div>-->


                <!--<div class="group-block" style="margin-bottom: 16px; min-height: 41px;" *ngIf="checkAction('createOrder')">-->
                  <!--<span class="group-block-delete" style="margin-top: 34px !important;" (click)="deleteAction('createOrder')"></span>-->
                  <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Lên đơn hàng</p>-->
                <!--</div>-->




              <!--</div>-->


              <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
              <!--<div style="margin-top: -20px">-->
                <!--<br>-->
                <!--<p style="padding-bottom: 0px; font-weight: bold; margin-bottom: 0px; font-size: 13px; color: #3f51b5;"><i class="fa fa-plus"></i> THÊM HÀNH ĐỘNG</p>-->
                <!--<md-select style="width: 100px; padding-top: 0px; margin-top: 0px" (change)="addAction($event.value)"  placeholder="Chọn hành động"-->
                           <!--name="city">-->
                  <!--<md-option *ngFor="let city of paramModelSelected" [value]="city">-->
                    <!--{{ city.lable }}-->
                  <!--</md-option>-->
                <!--</md-select>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">-->
          <!--<div class="row" style="margin-top: 13px; margin-bottom: 5px;">-->
            <!--<button md-raised-button (click)="okClick()" style="margin: auto; margin-left: 40%;">Ok</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</md-dialog-content>-->
<!--</div>-->





<div class="loader" *ngIf="is_load == true" style="z-index: 2000 !important;">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<div class="loader" *ngIf="is_load_update == true" style="z-index: 2000 !important;">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<div *ngIf="is_load == false" class="parent-popup-event div-detail-button">
  <div class="row" style="margin-top: 5px">
    <div class="btn-close-popup-large" style="margin-top: 10px" (click)="dialogRef.close('')"></div>
    <!--<hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">-->
  </div>
  <md-dialog-content class="text-left">
    <div class="row">
      <div class="col-md-12">
        <span style="padding-top: 2px; font-size: 15px; font-weight: bold; color: #3f51b5;">HÀNH ĐỘNG</span>
        <div class="tab-content clearfix">
          <hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">
          <div id="tab-ngucanh" class="tab-pane">
            <div class="container-tab" style="position: relative; ">
              <div class="row">
                <div class="col-sm-12">
                  <div class="checkbox checkbox-cusotom">
                    <label>
                      <input type="checkbox" (change) = "currentIntent.is_just_understand_in_context = !currentIntent.is_just_understand_in_context;" [checked]="currentIntent.is_just_understand_in_context" name="optionsCheckboxes1"> Chỉ hiểu khi trong ngữ cảnh này
                    </label>
                  </div>
                  <label style="padding-bottom: 5px;font-weight: bold;">Ngữ cảnh đầu vào</label>
                  <div style="margin-top: -5px">
                    <tag-input [tabindex]="'index1'"
                               theme="bootstrap" name="tagsContextIn" [(ngModel)]='intent_contexts_in'
                               placeholder="Chọn ngữ cảnh đầu vào..."
                               secondaryPlaceholder="Chọn ngữ cảnh đầu vào..."
                               [errorMessages]="errorMessages"
                               [validators]="validators" [addOnBlur]="true"
                               (onAdd) = "reloadSuggestion()"
                               (onSelect) = "reloadSuggestion()"
                               (onRemove)="reloadSuggestion()">
                      <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="autocomplete_context"
                                          [displayBy]="'display'"
                                          [identifyBy]="'value'">
                        <ng-template let-item="item" let-index="index" pTemplate="body">
                          <div>
                            <span>{{item.display}}</span>
                          </div>
                        </ng-template>
                      </tag-input-dropdown>
                    </tag-input>
                  </div>
                  <br>
                  <div>
                    <label style="color:#3f51b5;font-weight: bold;">Ngữ cảnh đầu ra</label>
                    <div class="contenx-intent-no-background">
                      <tag-input
                              name="tagsContextOut"
                              [(ngModel)]='intent_contexts_out'
                              [addOnBlur]="true"
                              [blinkIfDupe]="true"
                              [tabindex]="'index1'"
                              theme="bootstrap"
                              placeholder="Chọn ngữ cảnh đầu ra..."
                              secondaryPlaceholder="Chọn ngữ cảnh đầu ra..."
                              (onAdd) = "reloadSuggestion()"
                              (onSelect) = "reloadSuggestion()"
                              (onRemove)="reloadSuggestion()">
                        <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="autocomplete_context"
                                            [displayBy]="'display'"
                                            [identifyBy]="'value'">
                          <ng-template let-item="item" let-index="index" pTemplate="body">
                            <div>
                              <span>{{item.display}}</span>
                            </div>
                          </ng-template>
                        </tag-input-dropdown>
                      </tag-input>
                    </div>
                    <div>
                      <div class="checkbox checkbox-cusotom">
                        <label>
                          <input type="checkbox" (change)="changeSuggestion_Predict()"  [checked]="currentIntent.is_suggestion_predict" name="optionsCheckboxes2"> Cho phép gợi ý câu tiếp theo
                        </label>
                      </div>
                    </div>
                    <div *ngIf="currentIntent.is_suggestion_predict==true">
                      <label style="color: #3f51b5; margin-top:10px;font-weight: bold;">Danh sách gợi ý cho khách hàng</label>
                      <tag-input name='contexts_suggestions_select'
                                 [(ngModel)]="suggestion_intents"
                                 theme="bootstrap"
                                 [dragZone]="'zone1'"
                                 [identifyBy]="'id'" [displayBy]="'name'"
                                 [allowDupes]="false"
                                 [maxItems]="10"
                                 placeholder="Chọn danh sách gợi ý cho khách hàng.."
                                 secondaryPlaceholder="Chọn danh sách gợi ý cho khách hàng..">
                        <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="intent_sugest_auto_completes"
                                            [displayBy]="'display'"
                                            [identifyBy]="'value'">
                          <ng-template let-item="item" let-index="index" pTemplate="body">
                            <div>
                              <span>{{item.display}}</span>
                            </div>
                          </ng-template>
                        </tag-input-dropdown>
                      </tag-input>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="tab-action" class="tab-pane active">
            <div class="container-tab" style="position: relative; ">
              <!------------------------------------------------------------------------------------>
              <div *ngIf="currentIntent != undefined && currentIntent.intent_actions != undefined">
                <br *ngIf="currentIntent.intent_actions.length == 0">

                <!--<div *ngFor="let intent_action of currentIntent.intent_actions; let i = index">-->
                <!--<div class="group-block" *ngIf="intent_action.action_name == 'addCustomerToGroups'">-->
                <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào nhóm11111111</p>-->
                <!--<tag-input name="select_block" [(ngModel)]="addCustomerToGroups"-->
                <!--theme="bootstrap"-->
                <!--(onAdd)="onAddGroup($event)"-->
                <!--placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">-->
                <!--<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">-->
                <!--</tag-input-dropdown>-->
                <!--</tag-input>-->
                <!--<span class="group-block-delete" (click)="deleteAction('addCustomerToGroups')"></span>-->
                <!--<br>-->
                <!--</div>-->
                <!--<div class="group-block" *ngIf="intent_action.action_name == 'addCustomerToSequences'">-->
                <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào quy trình</p>-->
                <!--<tag-input name="select_block" [(ngModel)]="addCustomerToSequences"-->
                <!--theme="bootstrap"-->
                <!--[onlyFromAutocomplete]="true"-->
                <!--placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">-->
                <!--<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">-->
                <!--</tag-input-dropdown>-->
                <!--</tag-input>-->
                <!--<span class="group-block-delete" (click)="deleteAction('addCustomerToSequences')"></span>-->
                <!--<br>-->
                <!--</div>-->
                <!--<div class="group-block" *ngIf="intent_action.action_name == 'removeCustomerFromGroups'">-->
                <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi nhóm</p>-->
                <!--<tag-input name="select_block" [(ngModel)]="removeCustomerFromGroups"-->
                <!--theme="bootstrap"-->
                <!--[onlyFromAutocomplete]="true"-->
                <!--placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">-->
                <!--<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">-->
                <!--</tag-input-dropdown>-->
                <!--</tag-input>-->
                <!--<span class="group-block-delete" (click)="deleteAction('removeCustomerFromGroups')"></span>-->
                <!--<br>-->
                <!--</div>-->
                <!--<div class="group-block" *ngIf="intent_action.action_name == 'removeCustomerFromSequences'">-->
                <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi quy trình</p>-->
                <!--<tag-input name="select_block" [(ngModel)]="removeCustomerFromSequences"-->
                <!--theme="bootstrap"-->
                <!--[onlyFromAutocomplete]="true"-->
                <!--placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">-->
                <!--<tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">-->
                <!--</tag-input-dropdown>-->
                <!--</tag-input>-->
                <!--<span class="group-block-delete" (click)="deleteAction('removeCustomerFromSequences')"></span>-->
                <!--<br>-->
                <!--</div>-->
                <!--<div class="group-block" style="margin-bottom: 16px; min-height: 41px;" *ngIf="intent_action.action_name == 'createOrder'">-->
                <!--<span class="group-block-delete" style="margin-top: 34px !important;" (click)="deleteAction('createOrder')"></span>-->
                <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Lên đơn hàng</p>-->
                <!--</div>-->
                <!--</div>-->

                <div class="group-block" *ngIf="checkAction('addCustomerToGroups')">
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào nhóm</p>
                  <tag-input name="select_block" [(ngModel)]="addCustomerToGroups"
                             theme="bootstrap"
                             (onAdd)="onAddGroup($event)"
                             placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                    </tag-input-dropdown>
                  </tag-input>
                  <span class="group-block-delete" (click)="deleteAction('addCustomerToGroups')"></span>
                  <br>
                </div>


                <div class="group-block" *ngIf="checkAction('addCustomerToSequences')">
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào quy trình</p>
                  <tag-input name="select_block" [(ngModel)]="addCustomerToSequences"
                             theme="bootstrap"
                             [onlyFromAutocomplete]="true"
                             placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                    </tag-input-dropdown>
                  </tag-input>
                  <span class="group-block-delete" (click)="deleteAction('addCustomerToSequences')"></span>
                  <br>
                </div>


                <div class="group-block" *ngIf="checkAction('removeCustomerFromGroups')">
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi nhóm</p>
                  <tag-input name="select_block" [(ngModel)]="removeCustomerFromGroups"
                             theme="bootstrap"
                             [onlyFromAutocomplete]="true"
                             placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                    </tag-input-dropdown>
                  </tag-input>
                  <span class="group-block-delete" (click)="deleteAction('removeCustomerFromGroups')"></span>
                  <br>
                </div>


                <div class="group-block" *ngIf="checkAction('removeCustomerFromSequences')">
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi quy trình</p>
                  <tag-input name="select_block" [(ngModel)]="removeCustomerFromSequences"
                             theme="bootstrap"
                             [onlyFromAutocomplete]="true"
                             placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                    </tag-input-dropdown>
                  </tag-input>
                  <span class="group-block-delete" (click)="deleteAction('removeCustomerFromSequences')"></span>
                  <br>
                </div>


                <!--<div class="group-block" style="margin-bottom: 16px; min-height: 41px;" *ngIf="checkAction('createOrder')">-->
                  <!--<span class="group-block-delete" style="margin-top: 34px !important;" (click)="deleteAction('createOrder')"></span>-->
                  <!--<p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Lên đơn hàng</p>-->
                <!--</div>-->

                <div class="group-block" *ngIf="checkAction('createOrder')" style="height: 90px">
                  <span class="group-block-delete" (click)="deleteAction('createOrder')" style="position: absolute; top: 33px;"></span>
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Lên đơn hàng</p>
                  <input style="margin-top: 0px; background-color: none !important; border: 1px solid lightgrey; border-radius: 4px; padding-left: 5px;     padding-right: 24px;"  type="text" placeholder="Câu hỏi thu thập số điện thoại...(*)" maxlength="640" id="content" name="content" [(ngModel)]="content">
                </div>




              </div>


              <!----------------------------------------------------------------------------------->
              <div style="margin-top: -20px">
                <br>
                <p style="padding-bottom: 0px; font-weight: bold; margin-bottom: 0px; font-size: 13px; color: #3f51b5;"><i class="fa fa-plus"></i> THÊM HÀNH ĐỘNG</p>
                <md-select style="width: 100px; padding-top: 0px; margin-top: 0px" (change)="addAction($event.value)"  placeholder="Chọn hành động"
                           name="city">
                  <md-option *ngFor="let city of paramModelSelected" [value]="city">
                    {{ city.lable }}
                  </md-option>
                </md-select>
              </div>
            </div>
          </div>
          <hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">
          <div class="row" style="margin-top: 13px; margin-bottom: 5px;">
            <button md-raised-button (click)="okClick()" style="margin: auto; margin-left: 40%;">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</div>