<div class="loader" *ngIf="loadingProcess">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<div class="col-xs-12 no-pad h100" style="overflow:hidden">

  <div class="col-xs-4 no-pad bg-white h100">
    <div class="left-scroll">
      <div class="col-xs-12 no-pad h100">
        <div class="col-xs-12 h100">
          <div class="group-list">
            <div class="row">
              <div class="col-xs-12 h100">
                <span class="group-item-title">GỬI TIN NHẮN NGAY</span>
                <div class="addBtn">
                  <button class="ml5 btnBlock parent-popup-event" (click)="campaignSelect(item)" [ngClass]="{'act' : campaignSelected.id == item.id}"
                    md-raised-button style="min-width:48%" *ngFor="let item of campaignsNow; let i = index">{{item.name | lowercase | truncate : 18}}
                  <!-- <div class="btn-trash-icon btn-popup-one" (click)="deleteCampaign(item, i, 'now')"></div> -->
                </button>
                  <button class="ml5" md-raised-button style="min-width:0" (click)="addCampaign('now')"><md-icon style="font-size: 16px;line-height: 24px;">add</md-icon></button>
                  <div></div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 h100">
                <span class="group-item-title">GỬI THEO LỊCH</span>
                <div class="addBtn">
                  <button class="ml5 btnBlock parent-popup-event" (click)="campaignSelect(item)" [ngClass]="{'act' : campaignSelected.id == item.id}"
                    (click)="campaignSelect(item)" md-raised-button style="min-width:48%" *ngFor="let item of campaignsSchedule; let i = index">{{item.name | lowercase | truncate : 18}}
                  <!-- <div class="btn-trash-icon btn-popup-one" (click)="deleteCampaign(item, i, 'scheduler')"></div> -->
                </button>
                  <button class="ml5" md-raised-button style="min-width:0;" (click)="addCampaign('scheduler')"><md-icon style="font-size: 16px;line-height: 24px;">add</md-icon></button>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 h100">
                <span class="group-item-title">GỬI THEO CHUỖI TIN NHẮN</span>
                <div class="addBtn">
                  <button class="ml5 btnBlock parent-popup-event" (click)="campaignSelect(item)" [ngClass]="{'act' : campaignSelected.id == item.id}"
                    md-raised-button style="min-width:48%" *ngFor="let item of campaignsSequence; let i = index">{{item.name | lowercase | truncate : 18}}
                </button>
                  <button class="ml5" md-raised-button style="min-width:0" (click)="addCampaign('sequence')"><md-icon style="font-size: 16px;line-height: 24px;">add</md-icon></button>
                  <div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- CODE CU 
  <div class="rigth-scroll">
    <div class="col-xs-12 h100" style="overflow-x:scroll">
      <campaigns-send-now [ngStyle]="{'display': viewSelected==='now'? 'block': 'none'}" [appId]="appId" [campaignSendNowId]="campaignSendNowId"
        [campaignSendNowChangeNameId]="campaignSendNowChangeNameId"></campaigns-send-now>
      <campaigns-sequence [ngStyle]="{'display': viewSelected==='sequence_list'? 'block': 'none'}" [viewSelectedId]="viewSelectedId" [campaignSequenceId]="campaignSequenceId" [campaignSequenceChangeNameId]="campaignSequenceChangeNameId"></campaigns-sequence>
      <campaigns-sequence-detail [ngStyle]="{'display': viewSelected==='sequence'? 'block': 'none'}" [appId]="appId" [viewSelectedId]="viewSelectedId" [campaignSequenceDetailId]="campaignSequenceDetailId"></campaigns-sequence-detail>
      <campaigns-schedule [ngStyle]="{'display': viewSelected==='scheduler'? 'block': 'none'}" [appId]="appId" [campaignScheduleId]="campaignScheduleId"
        [campaignScheduleChangeNameId]="campaignScheduleChangeNameId"></campaigns-schedule>
      <campaigns-history [ngStyle]="{'display': viewSelected==='list'? 'block': 'none'}" [viewSelectedId]="viewSelectedId" [campaignHistoryId]="campaignHistoryId"></campaigns-history>
    </div>
  </div>

  -->

  <!-- @TAM SUA LAI -->
  <div class="rigth-scroll">
    <div class="col-xs-12 h100" style="overflow-x:scroll">
      <campaigns-send-now [campaign]="campaignSelected" *ngIf="viewSelected==='now'"  [appId]="appId" [campaignSendNowId]="campaignSendNowId"
                          [campaignSendNowChangeNameId]="campaignSendNowChangeNameId"></campaigns-send-now>
      <campaigns-sequence *ngIf="viewSelected==='sequence_list'"  [viewSelectedId]="viewSelectedId" [campaignSequenceId]="campaignSequenceId" [campaignSequenceChangeNameId]="campaignSequenceChangeNameId"></campaigns-sequence>
      <campaigns-sequence-detail [campaign]="campaignSelected" *ngIf="viewSelected==='sequence'"  [appId]="appId" [viewSelectedId]="viewSelectedId" [campaignSequenceDetailId]="campaignSequenceDetailId"></campaigns-sequence-detail>
      <campaigns-schedule [campaign]="campaignSelected" *ngIf="viewSelected==='scheduler'"  [appId]="appId" [campaignScheduleId]="campaignScheduleId"
                          [campaignScheduleChangeNameId]="campaignScheduleChangeNameId"></campaigns-schedule>
      <campaigns-history [data]="historySelected" *ngIf="viewSelected==='list'"  [viewSelectedId]="viewSelectedId" [campaignHistoryId]="campaignHistoryId"></campaigns-history>
    </div>
  </div>


</div>



