<div class="container-fluid entity-div">
  <div class="row div-top--20px">
    <div class="loader" *ngIf="is_load_list_entiy || is_load_entity_edit">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>
    <div class="col-md-12" *ngIf="!is_load_list_entiy && !is_load_entity_edit">
      <div class="card card-entity">
        <form action="/" class="form-horizontal" method="get" #frm_new="ngForm" novalidate="novalidate">
          <div class="card-content">
            <h4 class="card-title card-title-custom "><i class="material-icons icon-title-list">assignment</i>Cập Nhật Khái Niệm</h4>
            <br>
            <br>
            <div class="row">
              <label class="col-sm-2 label-on-left">Tên khái niệm</label>
              <div class="col-sm-10">
                <div class="form-group label-floating is-empty">
                  <label class="control-label"></label>
                  <input class="form-control" type="name" name="name" #name [(ngModel)]="currentEntity.name" placeholder="Chỉ cho phép nhập [a-z], [A-Z], [0-9] và ký tự _">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-3 label-on-left">Khai báo từ đồng nghĩa</label>
              <div class="col-sm-6 checkbox-radios">
                <div class="checkbox check-entity">
                  <label *ngIf="currentEntity.type==1">
                    <input disabled type="checkbox"  (change)="changeType()"  checked="checked"  name="type" #type>
                  </label>
                  <label *ngIf="currentEntity.type==2">
                    <input disabled  type="checkbox" (change)="changeType()" name="type" #type>
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="currentEntity.type==1">
              <table class="table" [mfData]="entityValuesModelEdit" #mf="mfDataTable" [mfActivePage]="activePage1"  [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"  >
                <tbody>
                <tr *ngFor="let item of mf.data; let i = index">
                  <td *ngIf="item.status != -1">
                    <div class="row">
                      <div class="form-group label-floating is-empty">
                        <div class="col-md-4">
                          <input class="form-control" (keyup.enter)="autoEntityValueSynonyms(item)" [(ngModel)]='item.main_word' name="entity_name_{{i}}" #input   type="text" placeholder="Từ chính..." >
                        </div>
                        <div class="col-md-8 div-tc">
                          <tag-input [addOnBlur]="true"  class="tasg" name="items_{{i}}" [(ngModel)]='item.entity_value_synonyms' [identifyBy]="'word'" [displayBy]="'word'" [errorMessages]="errorMessages" [validators]="validators"  placeholder="Từ đồng nghĩa" secondaryPlaceholder="Từ đồng nghĩa" [editable]="true"></tag-input>
                          <button (click) ="deleteEntityValuesModelEdit(item)"  class="btn-close-entity closed btn btn-danger btn-simple btn-xs btn-close-tdn" rel="tooltip" title="" type="button" data-original-title="Cập nhật">
                            <i class="material-icons i-delete btn-delete-tuchinh">delete</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="5">
                    <mfBootstrapPaginator  [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                  </td>
                </tr>
                </tfoot>
              </table>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-10 checkbox-radios">
                    <button type="button" (click) = "addEntityValueSynonyms()" class="btn btn-round btn-warning dropdown-toggle tbn-them-tu-dong-nghia" data-toggle="dropdown">
                      <i class="material-icons">add</i>
                      <span></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="currentEntity.type==2">
              <div>
                <table class="table" [mfData]="entityValuesNoSnonymsEdit" #mf1="mfDataTable" [mfActivePage]="activePage2" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                  <tbody>
                  <tr *ngFor="let item of mf1.data; let i = index">
                    <td class="td-entity">
                      <div class="row">
                        <div class="label-floating is-empty">
                          <div class="col-md-12">
                            <entity-value-synonyms-auto [entity_value_synonyms]="entities_name" [query_default]="item.main_word" (value_select)="item.main_word=$event" ></entity-value-synonyms-auto>
                            <button (click) ="btnRemoveEntityValueNoSynonyms(item)"  class="btn btn-danger btn-simple btn-close-tuchinh" rel="tooltip" title="" type="button" data-original-title="Edit Task">
                              <i class="material-icons i-delete btn-delete-tudongnghia">delete</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="5">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-10 checkbox-radios">
                    <button type="button" (click) = "btnAddEntityValueNoSynonyms()" class="btn btn-round btn-warning dropdown-toggle tbn-them-tu-dong-nghia" data-toggle="dropdown">
                      <i class="material-icons">add</i>
                      <span></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="loader" *ngIf="!is_update" ></div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                  <button class="btn-save-entity btn btn-danger btn-search-right"  (click)="saveEntities(frm_new.value);" type="button">Lưu <i class="material-icons">save</i></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>