.hide-synName {
    display: none;
}
.form-group-AsynName{
    padding-bottom: 10px; margin: 20px 0 0 0; border: 1px double #eee; border-radius: 5px;
}
.form-group label.control-label {
    font-size: 15px;
    line-height: 1.07143;
    color: #777;
    font-weight: 400;
    margin: 16px 0 0 0;
}
.table td {
    padding: 0px 8px;
    vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd !important;
}
.form-group {
    padding-bottom: 10px;
}
.btn .material-icons {
    vertical-align: middle;
    font-size: 17px;
    top: 0px;
    position: relative;
}
.btn-close-tdn {
    float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.btn-close-tuchinh {
    float: right;padding-right: 0px;margin-top: -2pc;position: relative;
}
@media (max-width: 991px) {
    .padding-left-10 {
        padding-left: 0px;
    }
    .btn-close-tuchinh {
        float: right;
        padding-right: 0px;
        margin-top: -38px;
        position: relative;
    }
    .mat-input-container {
        display: inline-block;
        position: relative;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        line-height: normal;
        text-align: left;
        margin-top: 0px !important;
        width: 100%;
    }
}

.btn-close-tuchinh {
    float: right;
    padding-right: 0px;
    margin-top: -40px;
    position: relative;
}
.tbn-them-tu-dong-nghia {
    margin-left: 8px !important;
}

.btn-delete-tuchinh {
    vertical-align: middle;
    font-size: 21px !important;
    top: 2px !important;
    position: relative;
    color: #999999;
}

.btn-delete-tuchinh:hover {
    vertical-align: middle;
    font-size: 21px !important;
    top: 2px !important;
    position: relative;
    color: #337ab7;
}

.btn-delete-tudongnghia {
    vertical-align: middle;
    font-size: 21px !important;
    top: -7px !important;
    position: relative;
    color: #999999;
}

.btn-delete-tudongnghia:hover {
    vertical-align: middle;
    font-size: 21px !important;
    top: -7px !important;
    position: relative;
    color: #337ab7;
}
.form-group {
    padding-bottom: 0px !important;
}
.form-group {
    padding-bottom: 0px;
    margin: 7px 0 0 0;
}
.card .form-horizontal .label-on-left-new {
    padding-left: 25px;
    padding-top: 16px;
}
.padding-left-10-tdn {
    padding-left: 8px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
}
.mat-input-wrapper {
    margin: 1em 0;
    padding-bottom: 0px;
    margin-top: 8px;
}
.div_check_box {
    padding-top: 10px; padding-bottom: 4px;
}
.card-entity {
    margin-top: 21px;
}
.checkbox-entity {
    margin-left: -30px
}
.btn-close-entity {
    float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.td-entity {
    padding: 0px
}
.btn-save-entity {
    float: right; margin-right: 0px
}
.hide-synName {
    display: none;
}
.form-group-AsynName{
    padding-bottom: 10px; margin: 20px 0 0 0; border: 1px double #eee; border-radius: 5px;
}
.form-group label.control-label {
    font-size: 15px;
    line-height: 1.07143;
    color: #777;
    font-weight: 400;
    margin: 16px 0 0 0;
}
.table td {
    padding: 0px 8px;
    vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd !important;
}
.form-group {
    padding-bottom: 10px;
}
.btn .material-icons {
    vertical-align: middle;
    font-size: 17px;
    top: 0px;
    position: relative;
}
.btn-close-tdn {
    float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.btn-close-tuchinh {
    float: right;padding-right: 0px;margin-top: -2pc;position: relative;
}
@media (max-width: 991px) {
    .padding-left-10 {
        padding-left: 0px;
    }
    .btn-close-tuchinh {
        float: right;
        padding-right: 0px;
        margin-top: -38px;
        position: relative;
    }
    .mat-input-container {
        display: inline-block;
        position: relative;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        line-height: normal;
        text-align: left;
        margin-top: 0px !important;
        width: 100%;
    }
}

.btn-close-tuchinh {
    float: right;
    padding-right: 0px;
    margin-top: -40px;
    position: relative;
}
.tbn-them-tu-dong-nghia {
    margin-left: 8px !important;
}

.btn-delete-tuchinh {
    vertical-align: middle;
    font-size: 21px !important;
    top: 2px !important;
    position: relative;
    color: #999999;
}

.btn-delete-tuchinh:hover {
    vertical-align: middle;
    font-size: 21px !important;
    top: 2px !important;
    position: relative;
    color: #337ab7;
}

.btn-delete-tudongnghia {
    vertical-align: middle;
    font-size: 21px !important;
    top: -7px !important;
    position: relative;
    color: #999999;
}

.btn-delete-tudongnghia:hover {
    vertical-align: middle;
    font-size: 21px !important;
    top: -7px !important;
    position: relative;
    color: #337ab7;
}
.form-group {
    padding-bottom: 0px !important;
}
.form-group {
    padding-bottom: 0px;
    margin: 7px 0 0 0;
}
.card .form-horizontal .label-on-left-new {
    padding-left: 25px;
    padding-top: 16px;
}
.padding-left-10-tdn {
    padding-left: 8px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
}
.mat-input-wrapper {
    margin: 1em 0;
    padding-bottom: 0px;
    margin-top: 8px;
}
.div_check_box {
    padding-top: 10px; padding-bottom: 4px;
}
.card-entity {
    margin-top: 21px
}
.checkbox-entity {
    margin-left: -30px;
}
.btn-close-entity {
    float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.td-entity {
    padding: 0px
}
.btn-save-entity {
    float: right; margin-right: 0px;
}







.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.div-top--20px {
    margin-top: -20px !important;
}
.card-entity {
    margin-top: 21px;
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 47px 0;
    border-radius: 6px;
    color: #777;
}
.card .card-title {
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 0px;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: 5px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
h4, .h4 {
    font-size: 16px;
    line-height: 1.4em;
}
.icon-title-list {
    position: relative;
    top: 6px;
}
.card .form-horizontal .label-on-left {
    padding: 16px 5px 0 0;
    padding-left: 0px;
    text-align: left;
}
.card form [class*="col-"]:first-child {
    padding-left: 15px;
}
.checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
    padding-right: 5px;
}
.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}
.form-horizontal .checkbox-radios .checkbox:first-child, .form-horizontal .checkbox-radios .radio:first-child {
    margin-top: 0px;
}
.checkbox-entity {
    margin-left: -30px;
}
.ng2-tag-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    transition: all 0.25s;
    padding: 0.25rem 0;
    min-height: 32px;
    cursor: text;
    border-bottom: 2px solid #efefef;
}
.ng2-tag-input {
    margin-top: 9px;
}
.ng2-tag-input {
    border-bottom: 1px double #d2d2d2 !important;
}
.div-tc {
    padding-left: 0px !important;
}
.form-group {
    padding-bottom: 0!important;
    padding-bottom: 0;
    margin: 7px 0 0;
}
.ng2-tag-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    transition: all 0.25s;
    padding: 0.25rem 0;
    min-height: 32px;
    cursor: text;
    border-bottom: 2px solid #efefef;
}
.ng2-tag-input {
    margin-top: 9px !important;
}
.ng2-tag-input {
    border-bottom: 1px double #d2d2d2 !important;
}
.tasg {
    margin-top: -9px !important;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.btn-save-entity {
    background-color: #5891c3 !important;
    color: #FFFFFF;
}
.btn-save-entity  {
    box-shadow: none !important;
}
.tbn-them-tu-dong-nghia {
    background-color: #5891c3 !important;
}
.ng-pristine {
    padding-left: 0px !important;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
    font-size: 14px;
    line-height: 1.42857;
    color: #777;
    font-weight: 400;
}