<div class="loader" *ngIf="loadingProcess">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>

<div class="wrapper wrapper-full-page">
    <div class="sidebar" data-active-color="white" data-background-color="blue" data-image="../assets/img/sidebar-1.jpg">
        <ba-sidebar-remarketing [menutype]="menutype"></ba-sidebar-remarketing>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    </div>
    <div class="main-panel content-res">
        <navbar-cmp ></navbar-cmp>
        <div class="main-content marketing" style="margin-top: 0;">
            <div class="container-fluid" style="overflow: hidden; min-height: 600px; padding: 15px; padding-bottom: 70px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group"><label class="label_title" style="color: #444">Tên nhu cầu</label><input type="text" placeholder="Nhập tên nhu cầu...." id="sname" [(ngModel)]="sname" name="sname" class="form-control"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"><label class="label_title" style="color: #444">Người tạo</label>
                                <input type="text" placeholder="Nhập người tạo...." id="suser_created" name="suser_created" [(ngModel)]="suser_created" class="form-control flexdatalist flexdatalist-set" value="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="label_title" style="color: #444">Loại</label>
                                <p-dropdown placeholder="Chọn loại" [options]="categorys" [(ngModel)]="category" [style]="{'width':'100%','margin-top':'7px'}" filter="true">
                                    <ng-template let-car pTemplate="item">
                                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                            <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group"><label class="label_title" style="color: #444">Từ ngày</label>
                                <input type="text" id="from_date" name="from_date" [(ngModel)]="from_date" placeholder="Chọn ngày-tháng-năm" class="form-control datetimepicker">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group"><label class="label_title" style="color: #444">Tới ngày</label>
                                <input type="text" id="to_date" name="to_date" [(ngModel)]="to_date" placeholder="Chọn ngày-tháng-năm" class="form-control datetimepicker">
                            </div>
                        </div>
                        <!--<div class="col-md-12 text-center">-->
                            <!--<button id="btnSearch" type="submit" class="btn btn-default" (click)="filterCustommer()"><i class="fa fa-search"> Tìm kiếm</i></button>-->
                            <!--<button id="btnAdd" type="button"  class="btn btn-default pull-right" (click)="showAdd()"><i class="fa fa-plus"> Thêm mới</i></button>-->
                        <!--</div>-->
                        <div class="col-md-12 text-center">
                            <div class="col-md-3">
                                <button id="btnExport" type="submit" (click)="exportExcel()" class="btn btn-default"><i class="fa fa-file-excel-o">&nbsp;Xuất Excel</i></button>
                            </div>
                            <div class="col-md-9 text-center">
                                <button id="btnSearch" type="submit" (click)="filterCustommer()" class="btn btn-default"><i class="fa fa-search"> Tìm kiếm</i></button>
                                <button id="btnAdd" type="button" (click)="showAdd()" class="btn btn-default pull-right"><i class="fa fa-plus"> Thêm mới</i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table -->
                <br>
                <div class="row custommer-list">
                    <div class="col-md-12">
                        <p-dataTable emptyMessage="{{tableMessage}}" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)"
                                     [style]="{'margin-left':'4px'}" [value]="lists" [rows]="pageSize" [(selection)]="selectedItems" [paginator]="true"
                                     [totalRecords]="totalRecords" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,50,100,500]">
                            <p-column field="stt" header="STT" [sortable]="false" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6',  'width': '50px'}"></p-column>
                            <p-column field="name" [sortable]="false" header="Tên nhu cầu" [style]="{'background':'#fff', 'color':'#000', 'border': '1px solid #d6d6d6'}">
                                <ng-template let-car="rowData" pTemplate="body">
                                    {{car?.name | truncate:25}}
                                </ng-template>
                            </p-column>
                            <p-column field="creater" [sortable]="false" header="Người tạo" [style]="{'background':'#fff', 'color':'#000', 'border': '1px solid #d6d6d6'}">
                                <ng-template let-car="rowData" pTemplate="body">
                                    {{car?.creater | truncate:25}}
                                </ng-template>
                            </p-column>
                            <p-column field="created_date" header="Ngày tạo" [sortable]="false" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                            <p-column field="customer_name" [sortable]="false" header="Khách hàng" [style]="{'background':'#fff', 'color':'#000', 'border': '1px solid #d6d6d6'}">
                                <ng-template let-car="rowData" pTemplate="body">
                                    {{car?.customer_name | truncate:25}}
                                </ng-template>
                            </p-column>
                            <p-column field="category" header="Loại" [sortable]="false" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center', 'border': '1px solid #d6d6d6'}"></p-column>
                            <p-column field="name" [sortable]="false" header="Thao tác" [style]="{'background':'#fff', 'color':'#000', 'border': '1px solid #d6d6d6', 'width': '112px'}">
                                <ng-template let-car="rowData" pTemplate="body">
                                    <div>
                                        <button style="margin-left: 5px;" type="button"  class="btn btn-danger"  (click)="deleteItem(car)"><i class="fa fa-times"></i></button>
                                        <button style="margin-left: 5px;" type="button" class="btn btn-success btnEdit" (click)="showEdit(car)"><i class="fa fa-pencil-square-o"></i></button></div>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
                <!-- end table -->
            </div>
        </div>
    </div>
</div>