<a data-toggle="modal" style="color: #337ab7" #link_click (click)="autoFocus()">{{title}}</a>
<div class="modal fade" id="noticeModal-{{vitri}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
        <h5 class="modal-title" id="myModalLabel">Câu hỏi thu thập</h5>
      </div>
      <div class="modal-body" style="padding-top: 0px;">
        <div class="form-group label-floating is-empty" *ngFor="let rs of respon; let i = index">
          <input style="width: 97%; background-color: transparent !important" #content placeholder="Nhập câu hỏi thu thập" (keyup)="handleAddInput($event, i)" (k)="handleAddInput($event, i)" [(ngModel)]="rs.content"
                 type="text" class="form-control" value="{{rs.content}}">
          <button  style="float: right" (click)="handleDeleteInput(rs)" class="closed btn btn-danger btn-simple btn-xs" rel="tooltip" data-original-title="Remove"><i class="material-icons" style="margin-right: -17px;
    margin-top: -10px;">close</i></button>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" (click)="saveInput()" data-dismiss="modal">Lưu <i class="material-icons">save</i></button>
      </div>
    </div>
  </div>
</div>
