<div class="tab-content custommer">
    <div class="loader" *ngIf="loadingProcess">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="customer_form" class="tab-pane active" style="margin-top: -22px;">
        <h3 class="text-center" style="font-size: 24px; margin-bottom: -5px; margin-top: 0px;">Cập nhật khách hàng</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"><label>Người tạo</label>
                    <input type="hidden" id="cus_user_create" name="cus_user_create" readonly="readonly" [(ngModel)]="backend_user_created_id" class="form-control username">
                    <input type="text" id="create_name" name="create_name" readonly="readonly" [(ngModel)]="create_name" class="form-control username">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Họ và tên (*)</label>
                    <input type="text" placeholder="Nhập tên...." id="name" name="name" [(ngModel)]="name" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group company-select">
                    <label>Công ty <a (click)="addCompany()" style="cursor: pointer; text-decoration: underline"><i>Thêm công ty</i></a></label>
                    <div style="clear: both">
                        <p-dropdown placeholder="Chọn công ty" [options]="companys" [(ngModel)]="company" [style]="{'width':'100%','margin-left':'0px'}" filter="true">
                            <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Bộ phận</label>
                    <input type="text" placeholder="Nhập bộ phận...." id="department" name="department" [(ngModel)]="department" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Vị trí</label>
                    <input type="text" placeholder="Nhập vị trí...." id="position" name="position" [(ngModel)]="position" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Email</label>
                    <input type="text" placeholder="Nhập email...." id="email" name="email" [(ngModel)]="email" class="form-control contact-group">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Số điện thoại</label>
                    <input type="text" placeholder="Nhập điện thoại...." id="phone" name="phone" [(ngModel)]="phone" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>SĐT lấy được</label>
                    <input type="text" placeholder="Nhập điện thoại...." id="phone_posible" name="phoneposible" [(ngModel)]="phoneposible" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Địa chỉ</label>
                    <input type="text" placeholder="Nhập địa chỉ...." id="address" name="address" [(ngModel)]="address" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Ghi chú</label>
                    <textarea rows="3" placeholder="Ghi chú" id="address" name="note" [(ngModel)]="note" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nguồn</label>
                    <div style="clear: both">
                        <p-dropdown scrollHeight="110px" placeholder="Chọn nguồn" [options]="sources" [(ngModel)]="source" [style]="{'width':'100%','margin-left':'0px'}" filter="true">
                            <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" (click)="dialogRef.close('')" style="margin-right: 10px; width: 25%; margin-top: 5px" class="btn btn-flat btn-default">Đóng</button>
                <button type="submit" (click)="okClick()" style="margin-left : 10px; width: 25%" class="btn btn-flat btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>