<ba-modal title="CÂU HỎI THU THẬP">
  <div class="form-group label-floating is-empty" *ngFor="let rs of response">
    <input style="min-width: 600px" placeholder="Nhập câu hỏi thu thập" (keyup.enter)="handleAddInput()" [(ngModel)]="rs.content"
      type="text" class="form-control" value="{{rs.content}}">
  </div>
</ba-modal>
