<div *ngFor="let agent of agents">
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModalEdit_{{agent.id}}" role="dialog" tabindex="-1" style="display: none;">
        <div class="modal-dialog modal-notice">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" style="padding: 0; cursor: pointer; background: #fff !important; border: 0 !important; -webkit-appearance: none !important; color: #212121 !important; opacity: 2 !important; font-size: 24px !important;" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title modal-title-custom"><i class="material-icons icon-title-list">assignment</i>CẬP NHẬT TRỢ LÝ</h4>
                </div>
                <div class="modal-body" >
                    <div class="card">
                        <div class="card-content">
                            <form  action="" class="form-horizontal" method="" #f="ngForm"  novalidate="novalidate">
                                <div class="row">
                                    <label class="col-sm-2 label-on-left col-sm-2-custom" style="padding-top: 15px">Tên trợ lý</label>
                                    <div class="col-sm-10 col-sm-10-custom">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input class="form-control" value="{{agent.id}}"  type="hidden" name="id" #id [(ngModel)]="agent.id" >
                                            <input  class="form-control" value="{{agent.name}}" type="text" name="name" #name_edit [(ngModel)]="agent.tmp_name"  placeholder="Nhập tên trợ lý" maxlength="50">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 label-on-left col-sm-2-custom">Ảnh đại diện</label>
                                    <div class="col-sm-10 col-sm-10-custom">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input class="form-control"  name="avatar_url" #avatar_url value="{{agent.avatar_url}}" [(ngModel)]="agent.tmp_avatar_url" type="text" placeholder="Nhập url ảnh đại diện">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 label-on-left col-sm-2-custom">Mô tả</label>
                                    <div class="col-sm-10 col-sm-10-custom">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <textarea class="form-control" style="height: 187px !important;" name="description" #description  [(ngModel)]="agent.tmp_description" placeholder="Nhập mô tả"  maxlength="450">{{agent.tmp_description}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4 div_save_close">
                                            <button class="btn btn-danger save_agent"  (click)="updateAgent(f.value)"  type="button">Lưu <i class="material-icons">save</i></button>
                                            <button class="close_save_agent" type="button" #btnCloseEdit class="btn btn-default btn-dong" data-dismiss="modal">Đóng</button>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
