<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="close()"></div>
    <p class="text-center dialog-header-p">{{title}}</p>
    <md-dialog-content class="text-left">
        <div class="row">
            <div class="col-md-12 list-group forward-div" *ngIf="allAgent; else noUser">
                <ng-container *ngFor="let user of allAgent">
                    <li href="#" class="list-group-item list-group-item-action" *ngIf="user.username_chat != sender">
                        <ng-container *ngIf="user.last_seen !== 0; else onlineUser ">
                            <span class="pull-left" style="padding-right: 5px">
                                <i class="fa fa-circle message-action" aria-hidden="true" style="color:#919191;font-size: 11px;"></i>
                            </span>
                            {{user.full_name}}
                            <span class="pull-right send-message-forward message-action" (click)="forwardChat(user)">
                                <i class="fa fa-share message-action" aria-hidden="true"></i>
                            </span>
                        </ng-container>
                        <ng-template #onlineUser>
                            <span class="pull-left" style="padding-right: 5px">
                                <i class="fa fa-circle message-action" aria-hidden="true" style="color:#38978D;font-size: 11px;"></i>
                            </span>
                            {{user.full_name}}
                            <span class="pull-right send-message-forward message-action" (click)="forwardChat(user)">
                                <i class="fa fa-share message-action" aria-hidden="true" style="color:#38978D;font-size: 18px;"></i>
                            </span>
                        </ng-template>

                    </li>
                </ng-container>
            </div>
            <ng-template #noUser>
                <p>Không có CSKH nào</p>
            </ng-template>

        </div>

    </md-dialog-content>
</div>