.ng-pristine input {
height: 0px;
width: 300px;
}
.mat-input-element {
    width: 300px;
}
.list-group {
    padding-left: 20px;
    padding-right: 20px; 
}

.parent-popup-event .mat-dialog-content {
margin: 0 ; 
padding: 0 ; 
overflow-x: hidden;
}