.suggestions {
  border: solid 1px #f1f1f1;
  position: fixed;
  width: 150px;
  background: white;
  overflow-y: scroll;
  height: 171px;
  z-index: 1000;
}

.suggestions ul{
  padding: 0px;
  margin: 0px;
}

.container-memory{
  width: 142px;
  overflow-x: hidden;
  padding: 0px;
  margin-top: 24px;
}
.suggestions ul li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.suggestions ul li a{
  padding:5px;
  display: block;
  text-decoration: none;
  color:#7E7E7E;
}

.suggestions ul li a:hover{
  background-color: #f1f1f1;
}
.filter-input {
  width: 200px;
  border-radius: 2px;
  color: #666;
  margin-top: -23px;
  text-align: left;
  cursor: pointer;
}
