<!-- coform delete-->
<div *ngFor="let item of lists">
    <div  class="modal fade" id="confirm-delete-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notice" >
            <div class="modal-content">
                <div class="modal-body">
                    <br>
                    <span>Bạn có chắc muốn xóa Khái niệm <b>{{item.name}}</b> không ?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #aaaaaa !important">Hủy</button>
                    <button (click)="deleteEntity(item.id)" class="btn btn-danger btn-ok">Xóa <i class="material-icons">delete</i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end conform delete-->