.list-entity {
  background-color: #fff; margin-top: 10px
}
.check {
  color: #4caf50;
}
table {
  border-collapse: collapse;
}

table, th, td, th {
  padding: 5px;
}
table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}
td {
  text-align: center;
}
.btn-round  {
  padding: 2px;
}
.text-left {
  text-align: left;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 32px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
  float: right;
  margin-right: 15px;
  margin-top: 15px
}

.btn-search-entities {
  margin-top: 22px;
}
.container-agents {
  padding-left: 6px;
  padding-right: 15px;
  padding-bottom: 20px;
}
//
//@media (max-width: 768px) {
//  .btn-search-right {
//    margin-right: 0px;
//  }
//}
//
//@media (max-width: 991px) {
//  .navbar-form .btn {
//    position: absolute;
//    top: -13px;
//    right: -22px;
//  }
//  #inputSearch {
//    width: 100% !important;
//  }
//  .form-search {
//    width: 100% !important;
//  }
//}
.container-agents {
  padding-bottom: 0px;
}
.btn-search-right {
  float: right;
  margin-right: 0px;
}
.frm-s {
  width: 93%;
  margin-left: -26px;
}
//@media (max-width: 991px) {
//  .frm-s {
//    width: 90%;
//    margin-left: 0px;
//  }
//}
td, th {
  border-bottom: 1px dotted #eee;
  padding: 5px;
}
.link-bold {
  font-weight: 500;
}
.w-20 {
  width: 40px;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #999;
}
.i-delete {
  font-size: 27px;
}
.pre-26 {
  margin-top: -33px;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 7px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.material-datatables {
  margin-left: 4px;
  margin-right: 13px;
  margin-top: -17px;
}
.text-left {
  padding-left: 3px !important;
}
.from-group-entity {
  margin-top: 3px;
}
.card-entity {
  margin-top: 21px
}