<div class="modal fade" id="createQuickTemplateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="panel-body">
                <form class="row" *ngFor="let tag of listTags">
                  <div class="col-md-3">
                    <div class="form-group label-floating is-empty">
                      <label class="control-label"></label>
                      <input [(colorPicker)]="tag.color" [cpPosition]="bottom" [style.background]="tag.color" [value]="tag.color" name="tag{{tag.id}}" [(ngModel)]="tag.color"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="control-label"></label>
                      <input type="text" class="form-control" placeholder="Tên thẻ" [(ngModel)]="tag.name" name="name{{tag.id}}">
                    </div>
                  </div>
                  <div class="col-md-2 " style="padding-top: 30px">
                    <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteTag(event, tag.id, tag.delele)"></i>
                  </div>
                </form>
                <div class="row">
                  <div class="row">
                    <div class="col-md-11" style="padding-left: 28px">
                      <div class="checkbox form-horizontal-checkbox">
                        <label (click)="addTagss()">
                            <i aria-hidden="true" class="fa fa-plus-circle"></i> Thêm thẻ
                          </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!--<label class="col-md-3"></label>-->
                  <div class="col-md-12 text-center">
                    <div class="form-group form-button">
                      <button type="submit" class="btn btn-fill btn-facebook" (click)="saveTag()" style="font-size: 15px">Lưu</button>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>
</div>