<div class="main-content">
    <div class="container-fluid entity">
        <div class="loader" *ngIf="is_load_list_product || is_load_list_entities || is_load_product_edit">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
        <div class="row" *ngIf="!is_load_list_product && !is_load_list_entities && !is_load_product_edit">
            <div class="col-md-12">
                <div class="card card-action">
                    <div class="card-content">
                        <h4 class="card-title card-title-custom "><i class="material-icons icon-title-list">assignment</i>Cập Nhật Sản Phẩm</h4>
                        <br>
                        <br>
                        <form action="" method="" #frm_new="ngForm" class="form-horizontal"   novalidate="novalidate" >
                            <div class="row">
                                <label class="col-sm-2 label-on-left lbl-left">Tên sản phẩm</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" [(ngModel)]="products.name" [formControl]="complexForm.controls['entityName']" #productName placeholder="Chỉ cho phép nhập [a-z], [A-Z], [0-9] và ký tự _">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left lbl-left">Mô tả</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <textarea class="form-control" type="text" [(ngModel)]="products.description"  [formControl]="complexForm.controls['description']" placeholder="Nhập thông tin mô tả..." autosize maxlength="255"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 col-list-cri">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th class="w-73px">Dùng tìm kiếm</th>
                                            <th class="ttt w-100px">Tên thuộc tính</th>
                                            <th class="ttt w-100px">Tham số</th>
                                            <th class="text-center">Khái niệm</th>
                                            <th class="tt"> Thao tác</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let criteria of productCriterias ; let i = index">
                                            <td>
                                                <div class="checkbox" >
                                                    <check-box [(value)]="criteria.type " [data]="checkboxData "></check-box>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span class="form-group label-floating">
                                                    <input style="margin-bottom: 2px"   class="form-control w-100px" type="text" #input_auto [(ngModel)]="criteria.name" name="name_{{i}}" (keypress)="validateCriteriaName(criteria)" (keyup)="validateCriteriaName(criteria)" placeholder="Tên thuộc tính" >
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                 <span class="form-group label-floating ">
                                                    <input style="margin-bottom: 4px; padding-bottom: 4px;" class="form-control w-100px" type="text" name="param_{{i}}"  placeholder="Tham số" value="{{criteria.param}}"  disabled>
                                                 </span>
                                            </td>
                                            <td class="text-center">
                                                <entity-select-auto [entities]="entities" [index]="i" [criteria_nam]="i" [query_default]="criteria.entity_name" (value_select)="criteria.entity_id=$event" (value_name_select)="criteria.entity_name=$event"></entity-select-auto>
                                            </td>
                                            <td class="td-actions tt">
                                                <button class="btn btn-round-delete" rel="tooltip " type="button " data-original-title=" " title=" " (click)="deleteRow(criteria)">
                                                    <i class="material-icons i-delete my-icon">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let criteria of productCriteriasTmp ; let i = index">
                                            <td>
                                                <div class="checkbox" >
                                                    <check-box [(value)]="criteria.type " [data]="checkboxData "></check-box>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span class="form-group label-floating">
                                                    <input  class="form-control w-100px" type="text" #input_auto [(ngModel)]="criteria.name" name="name_auto_{{i}}" (keypress)="validateCriteriaName(criteria)" (keyup)="validateCriteriaName(criteria)" placeholder="Tên thuộc tính" >
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                 <span class="form-group label-floating ">
                                                    <input style="margin-bottom: 2px" class="form-control w-100px" type="text" name="param_{{i}}"  placeholder="Tham số" value="{{criteria.param}}"  disabled>
                                                 </span>
                                            </td>
                                            <td class="text-center">
                                                <entity-select-auto [entities]="entities" [index]="i" [criteria_nam]="(i + 1000)" [query_default]="criteria.entity_name" (value_select)="criteria.entity_id=$event" (value_name_select)="criteria.entity_name=$event"></entity-select-auto>
                                            </td>
                                            <td class="td-actions tt">
                                                <button class="btn btn-round-delete" rel="tooltip " type="button " data-original-title=" " title=" " (click)="deleteRow(criteria)">
                                                    <i class="material-icons i-delete my-icon">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button class="btn  btn-round btn-warning dropdown-toggle tbn-them-tu-dong-nghia"  (click)="addNewRow() ">
                                <i class="material-icons">add</i>
                                <div class="ripple-container "></div>
                            </button>
                            <div class="loader" *ngIf="!is_update"></div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-5">
                                        <button  class="btn-save-product btn btn-danger btn-search-right"  (click)="submitForm(complexForm.value)" type="button">Lưu <i class="material-icons">save</i></button>
                                        <button style="margin-right: 15px" class="btn-save-product btn btn-danger btn-search-right"  (click)="gotoProductData()" type="button">Dữ liệu sản phẩm <i class="material-icons">description</i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>