
.create-new {
  margin-top: 13px;
  margin-bottom: -10px;
}

.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
  background-color: #5690c2;
  color: #FFFFFF;
}
.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger {
  box-shadow: none;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 11px;
}
.icon-title-list {
  position: relative;
  top: 6px;
}

.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}

.ng-pristine {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0;
  height: auto;
  min-height: 30px!important;
  line-height: 1.7!important;
  font-size: 1em;
  font-family: Roboto,Helvetica Neue,sans-serif;
  background-color: transparent!important;
}

.form-control, .form-group .form-control {
  border: 0;
  background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  /* line-height: 1.8; */
  height: 33px;
}

.form-control, .form-group .form-control {
  border: 0;
  background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.form-group-top-10 {
  padding-top: 10px;
}
.form-group {
  padding-bottom: 0!important;
  padding-bottom: 0;
  margin: 7px 0 0;
}
.btn-search-right {
  float: right;
  position: relative;
  margin-top: 5px !important;
}
.btn, .navbar .navbar-nav > li > a.btn {
  border: none;
  border-radius: 3px;
  position: relative;
  /* padding: 12px 30px; */
  margin: 10px 1px;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: 0px;
  position: relative;
}
.input-group .input-group-addon {
  border: 0;
  background: transparent;
  padding: 6px 0px 0px;
}
.form-group-top-10 {
  padding-top: 10px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 11px;
}
h4, .h4 {
  font-size: 16px;
  line-height: 1.4em;
}
// component css goes here
.fa-plus-circle {
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.hidden-div {
  display: none;
}
.card .table tr:first-child td {
  border-top: none;
  padding: 0px;
}
.tags {
  margin-bottom: -15px;
}
.tbn-them-tu-dong-nghia {
  margin-left: 15px;
}
.ttt {
  max-width: 200px;
}
.table > tfoot > tr > td {
  padding: 12px 2px !important;
  vertical-align: middle;
}
.table-td {
  padding-top: 54px;
}
label.control-label {
  font-size: 15px;
  line-height: 1.07143;
  color: #777777;
  font-weight: 400;
  margin: 26px 0 0 0;
}

label.control-label {
  font-size: 15px;
  line-height: 1.07143;
  color: #777777;
  font-weight: 400;
  margin: 26px 0 0 0;
}

label.control-label {
  font-size: 15px;
  line-height: 1.07143;
  color: #777777;
  font-weight: 400;
  margin: 26px 0 0 0;
}
.dropdown, .dropup {
  position: relative;
  max-height: 56px;
}

table {
  border-collapse: collapse;
}

table, th, td, th {
  border: 1px solid #ccc;
}
table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}
td {
  text-align: center;
}
.btn-danger-custom {
  padding: 2px;
  background-color: #f44336;
}
.checkbox, .radio {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.add-entity {
  font-weight: bold;

  color: #0000cc}
.card .card-content-custom {
  padding: 15px 20px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}
.text-center {
  text-align: center;
  padding: 5px;
}
textarea.form-control {
  min-height: 53px;
}
.btn-huy {
  background-color: #aaaaaa !important;
  float: right;
  margin-right: 8px
}

.w-11-percen {
  width: 11%;
}
.w-73px {
  width: 73px !important;
}
.w-100px {
  min-width: 100px;
}
.table-responsive-custom {
  overflow-x: scroll;
  overflow-y: hidden;
}
.text-right {
  text-align: right;
}
.p-r {
  margin-right: 10px !important;
}

.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 13px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #3c8dbc;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: -1px;
}
.form-group {
  padding-bottom: 0px;
  margin: 7px 0 0 0;
}
.text-center {
  text-align: center;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
textarea.form-control {
  min-height: 53px;
  padding-top: 5px;
  line-height: 1.5;
}
.form-group {
  padding-bottom: 0px !important;
}
.form-group {
  padding-bottom: 0px;
  margin: 7px 0 0 0;
}

.padding-left-10-tdn {
  padding-left: 8px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.mat-input-wrapper {
  margin: 1em 0;
  padding-bottom: 0px;
  margin-top: 8px;
}
.div_check_box {
  padding-top: 10px; padding-bottom: 4px;
}
.modal-body {
  padding-top: 0px;
}
.card-product {
  margin-top: 21px
}
.name-product {
  text-align: left
}
.div-cri {
  padding-top: 20px
}
.btn-save-product {
  float: right; margin-right: 0px
}
.card .form-horizontal .label-on-left {
  padding: 15px 5px 0 0 !important;
  padding-left: 0px;
  text-align: left;
}
.card form [class*="col-"]:first-child {
  padding-left: 15px !important;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.col-sm-2 {
  width: 16.66666667%;
}
textarea.form-control {
  min-height: 53px;
  padding-top: 5px;
  line-height: 1.5;
}
.form-group textarea {
  resize: none;
  /* padding-left: 4px; */
  margin-top: 2px;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.text-center {
  text-align: center;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.form-control::-webkit-input-placeholder,
.form-group .form-control::-webkit-input-placeholder {
  color: #AAAAAA;
  font-weight: 400;
}
.form-control[readonly], .form-control[disabled], fieldset[disabled] .form-control,
.form-group .form-control[readonly],
.form-group .form-control[disabled], fieldset[disabled]
.form-group .form-control {
  background-color: transparent;
}
.form-control[disabled], fieldset[disabled] .form-control,
.form-group .form-control[disabled], fieldset[disabled]
.form-group .form-control {
  background-image: none;
  border-bottom: 1px dotted #D2D2D2;
}
.mat-input-wrapper {
  margin: 1em 0;
  padding-bottom: 6px !important;
}
.mat-input-container {
  display: inline-block;
  line-height: normal;
  margin-top: 4px !important;
  width: 100%;
}
.mat-input-infix {
  display: block;
  position: relative;
  flex: auto;
  margin-top: -5px !important;
}
.my-icon {
  font-size: 24px !important;
  background-color: transparent;
  padding: 3px;
  color: #777;
}
input {
  /* background-color: #eee !important; */
  color: #777 !important;
}
.tbn-them-tu-dong-nghia {
  margin-left: 15px;
}
.btn.btn-round, .navbar .navbar-nav > li > a.btn.btn-round {
  border-radius: 30px;
}
.btn.btn-warning, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning:active:focus, .btn.btn-warning:active:hover, .btn.btn-warning.active:focus, .btn.btn-warning.active:hover, .open > .btn.btn-warning.dropdown-toggle, .open > .btn.btn-warning.dropdown-toggle:focus, .open > .btn.btn-warning.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-warning, .navbar .navbar-nav > li > a.btn.btn-warning:hover, .navbar .navbar-nav > li > a.btn.btn-warning:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active, .navbar .navbar-nav > li > a.btn.btn-warning.active, .navbar .navbar-nav > li > a.btn.btn-warning:active:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active:hover, .navbar .navbar-nav > li > a.btn.btn-warning.active:focus, .navbar .navbar-nav > li > a.btn.btn-warning.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:hover {
  background-color: #337ab7;
  color: #FFFFFF;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
  font-size: 14px;
  line-height: 1.42857;
  color: #777;
  font-weight: 400;
}
.form-group label.control-label {
  font-size: 15px;
  line-height: 1.07143;
  color: #777;
  font-weight: 400;
  margin: 16px 0 0 0;
}
.form-control {
  margin-top: 0;
}



.hide-synName {
  display: none;
}
.form-group-AsynName{
  padding-bottom: 10px; margin: 20px 0 0 0; border: 1px double #eee; border-radius: 5px;
}
.form-group label.control-label {
  font-size: 15px;
  line-height: 1.07143;
  color: #777;
  font-weight: 400;
  margin: 16px 0 0 0;
}
.table td {
  padding: 0px 8px;
  vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 0px solid #ddd !important;
}
.form-group {
  padding-bottom: 10px;
}
.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: 0px;
  position: relative;
}
.btn-close-tdn {
  float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.btn-close-tuchinh {
  float: right;padding-right: 0px;margin-top: -2pc;position: relative;
}
@media (max-width: 991px) {
  .padding-left-10 {
    padding-left: 0px;
  }
  .btn-close-tuchinh {
    float: right;
    padding-right: 0px;
    margin-top: -38px;
    position: relative;
  }
  .mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    margin-top: 0px !important;
    width: 100%;
  }
}

.btn-close-tuchinh {
  float: right;
  padding-right: 0px;
  margin-top: -40px;
  position: relative;
}
.tbn-them-tu-dong-nghia {
  margin-left: 8px !important;
}

.btn-delete-tuchinh {
  vertical-align: middle;
  font-size: 21px !important;
  top: 2px !important;
  position: relative;
  color: #999999;
}

.btn-delete-tuchinh:hover {
  vertical-align: middle;
  font-size: 21px !important;
  top: 2px !important;
  position: relative;
  color: #337ab7;
}

.btn-delete-tudongnghia {
  vertical-align: middle;
  font-size: 21px !important;
  top: -7px !important;
  position: relative;
  color: #999999;
}

.btn-delete-tudongnghia:hover {
  vertical-align: middle;
  font-size: 21px !important;
  top: -7px !important;
  position: relative;
  color: #337ab7;
}
.form-group {
  padding-bottom: 0px !important;
}
.form-group {
  padding-bottom: 0px;
  margin: 7px 0 0 0;
}
.card .form-horizontal .label-on-left-new {
  padding-left: 25px;
  padding-top: 16px;
}
.padding-left-10-tdn {
  padding-left: 8px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.mat-input-wrapper {
  margin: 1em 0;
  padding-bottom: 0px;
  margin-top: 8px;
}
.div_check_box {
  padding-top: 10px; padding-bottom: 4px;
}
.card-entity {
  margin-top: 21px;
}
.checkbox-entity {
  margin-left: -30px
}
.td-entity {
  padding: 0px
}
.btn-save-entity {
  float: right; margin-right: 0px
}
.hide-synName {
  display: none;
}
.form-group-AsynName{
  padding-bottom: 10px; margin: 20px 0 0 0; border: 1px double #eee; border-radius: 5px;
}
.form-group label.control-label {
  font-size: 15px;
  line-height: 1.07143;
  color: #777;
  font-weight: 400;
  margin: 16px 0 0 0;
}
.table td {
  padding: 0px 8px;
  vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 0px solid #ddd !important;
}
.form-group {
  padding-bottom: 10px;
}
@media (max-width: 991px) {
  .padding-left-10 {
    padding-left: 0px;
  }
  .btn-close-tuchinh {
    float: right;
    padding-right: 0px;
    margin-top: -38px;
    position: relative;
  }
  .mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    margin-top: 0px !important;
    width: 100%;
  }
}

.btn-close-tuchinh {
  float: right;
  padding-right: 0px;
  margin-top: -40px;
  position: relative;
}
.form-group {
  padding-bottom: 0px !important;
}
.form-group {
  padding-bottom: 0px;
  margin: 7px 0 0 0;
}
.card .form-horizontal .label-on-left-new {
  padding-left: 25px;
  padding-top: 16px;
}
.padding-left-10-tdn {
  padding-left: 8px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.mat-input-wrapper {
  margin: 1em 0;
  padding-bottom: 0px;
  margin-top: 8px;
}
.div_check_box {
  padding-top: 10px; padding-bottom: 4px;
}
.card-entity {
  margin-top: 21px
}
.checkbox-entity {
  margin-left: -30px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.div-top--20px {
  margin-top: -20px !important;
}
.card-entity {
  margin-top: 21px;
}
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 47px 0;
  border-radius: 6px;
  color: #777;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: 0px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 5px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
h4, .h4 {
  font-size: 16px;
  line-height: 1.4em;
}
.icon-title-list {
  position: relative;
  top: 6px;
}
.card .form-horizontal .label-on-left {
  padding: 16px 5px 0 0;
  padding-left: 0px;
  text-align: left;
}
.card form [class*="col-"]:first-child {
  padding-left: 15px;
}
.checkbox .checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 3px;
  padding-right: 5px;
}
.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}
.form-horizontal .checkbox-radios .checkbox:first-child, .form-horizontal .checkbox-radios .radio:first-child {
  margin-top: 0px;
}
.checkbox-entity {
  margin-left: -30px;
}
.ng2-tag-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  transition: all 0.25s;
  padding: 0.25rem 0;
  min-height: 32px;
  cursor: text;
  border-bottom: 2px solid #efefef;
}
.ng2-tag-input {
  margin-top: 9px;
}
.ng2-tag-input {
  border-bottom: 1px double #d2d2d2 !important;
}
.div-tc {
  padding-left: 0px !important;
}
.form-group {
  padding-bottom: 0!important;
  padding-bottom: 0;
  margin: 7px 0 0;
}
.ng2-tag-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  transition: all 0.25s;
  padding: 0.25rem 0;
  min-height: 32px;
  cursor: text;
  border-bottom: 2px solid #efefef;
}
.ng2-tag-input {
  margin-top: 9px !important;
}
.ng2-tag-input {
  border-bottom: 1px double #d2d2d2 !important;
}
.tasg {
  margin-top: -9px !important;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.group-loai-hanh-dong {
  margin-top: 8px;
}
.form-group {
  padding-bottom: 0;
  margin: 7px 0 0;
}

// component css goes here
.currentAction_name_custom {
  color: #f44336;
}
.weidth {
  margin-top: 6px;
}
table {
  border-collapse: collapse;
}

table, th, td, th {
  border: 1px solid #ccc;
  padding: 5px;
}
table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}
td {
  text-align: center;
}
.text-left {
  text-align: left;
}
.mat-select {
  margin-top: 0px !important;
}
.custom-input {
  margin-top: -22px !important;
  padding: 0px;
}
.number-th {
  width: 80px;
}
.card-custom .card-content-custom {
  padding: 15px 20px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}
.hide-img {
  display: none;
}
.filter-input {
  width: 200px;
  border-radius: 2px;
  color: #666;
  margin-top: -9px;
  text-align: left;
  cursor: pointer;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
  margin-top: 0px;
}
.icon-custom {
  color: #00b0e8; position: relative; top: 7px
}
.checkbox {
  margin-top: -9px;
}
.ui-select-match span {
  text-align: left !important;
  padding-left: 0px !important;
}

@media (max-width: 991px) {
  .form-product {
    margin-top: -2px !important;
    margin-left: -3px;
  }
  .custom-input {
    margin-top: 5px !important;
  }
  .form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
    margin-top: -6px;
  }
  .mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    margin-top: 0px !important;
    width: 100%;
  }
  .lbl-memory {
    margin-top: 10px;
  }
  .table-responsive {
    border: none;
    margin-top: -10px;
  }
}

//.card .form-horizontal .label-on-left {
//  padding: 28px 0px 0 0;
//}
.div-memory {
  margin-left: -5px;
}
.pd-bttom-20 {
  padding-bottom: 10px;
}
.custom-start {
  position: absolute;
  right: 3px;
  bottom: 0px;
}

th {
  height: 32px;
  text-align: center;
  font-size: 13px;
}
table, th, td, th {
  border: 1px solid #ccc;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.div-tieuchi .checkbox .checkbox-material {
  vertical-align: middle;
  position: relative;
  top: -1px;
  padding-right: 5px;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.mat-input-wrapper {
  margin: 1em 0;
  padding-bottom: 0px;
  margin-top: 8px;
}
.div_check_box {
  padding-top: 10px; padding-bottom: 4px;
}
.modal-body {
  padding-top: 0px;
}
.form-group {
  padding-bottom: 0px;
  margin: 7px 0 0 0;
}
.card-action {
  margin-top: 21px
}
.group-loai-hanh-dong {
  margin-top: 8px
}
.group-san-pham {
  margin-top: 10px; height: 29px
}
.table-tieu-chi {
  padding-top: 20px
}
.type-search {
  width: 155px
}
.thuoc-tinh {
  width: 40%
}
.td-meta {
  width: 50px
}
.checkbox-input {
  padding-top: 1px;
}
.control-number {
  padding-bottom: 2px; margin-bottom: 9px;
}
.table-thong-tin {
  padding-top: 20px
}
.td-filter-info {
  padding: 5px; padding-top: 0px
}
.radio-info {
  margin-top: 10px
}
.card-content-info {
  border: 1px double #d2d2d2; margin-top: 10px; border-radius: 5px
}
.div-nutbam-info {
  margin-top: 0px; border-radius: 5px;
}
.btn-save-action {
  float: right; margin-right: 0px
}

.mat-select-placeholder.mat-floating-placeholder {
  top: -22px;
  left: -2px;
  text-align: left;
  transform: scale(.75);
}

.mat-select-placeholder {
  position: relative;
  padding: 0 2px;
  transform-origin: left top;
  flex-grow: 1;
}
.card .form-horizontal .label-on-left {
  padding: 16px 5px 0 0;
  padding-left: 0px;
  text-align: left;
}
.mat-select {
  display: inline-block;
  outline: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-top: 1px;
}
.mat-select-trigger {
  display: flex;
  align-items: center;
  height: 30px;
  min-width: 241px !important;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
}
.div-tieuchi .mat-select-trigger {
  display: flex;
  align-items: center;
  height: 25px;
  min-width: 142px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  max-width: 139px !important;
  margin-bottom: 7px;
}
.control-number {
  padding-bottom: 2px !important;
  margin-bottom: 9px !important;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.form-control {
  margin-top: 0;
}
.custom-input {
  margin-top: -22px!important;
  padding: 0;
}
table, td, th {
  border: 1px solid #ccc;
  padding: 0;
  padding: 2px 5px;
}
.form-control, .form-group .form-control {
  border: 0;
  background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  /* line-height: 1.8; */
  height: 33px;
}
.form-group .form-control.valid:focus {
  background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-focused .form-control {
  outline: none;
  background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}
.form-group.is-focused .form-control .material-input:after {
  background-color: #337ab7;
}
.form-group.is-focused.form-info .form-control {
  background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-focused.form-success .form-control {
  background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background: #337ab7 !important;
}
.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
  background-color: #3c8dbc;
  color: #FFFFFF;
}
.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger {
  box-shadow: none;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
  font-size: 14px;
  line-height: 1.42857;
  color: #777;
  font-weight: 400;
}

.btn.btn-round, .navbar .navbar-nav > li > a.btn.btn-round {
  border-radius: 30px;
  margin-left: 15px !important;
}