.card-content {
    min-height: 66px;
}


/* enable absolute positioning */

.inner-addon {
    position: relative;
}


/* style glyph */

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}


/* align glyph */

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}


/* add padding  */

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.card-header i {
    font-size: 25px;
}

.card-content {
    min-height: 0px
}
a {
    color: #777;
}
.head-table {
    color: #333;
}
table {
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    height: 50px;
    text-align: center;
    font-size: 13px;
}

.btn-round  {
    padding: 2px;
}
.text-left {
    text-align: left;
}
.navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 7px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
    float: right;
    margin-right: 15px;
    margin-top: 25px
}

.container-agents {
    padding-left: 6px;
    padding-right: 15px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .btn-search-right {
        margin-right: 0px;
    }
}

@media (max-width: 991px) {
    .navbar-form .btn {
        position: absolute;
        top: -13px;
        right: -22px;
    }
    #inputSearch {
        width: 100% !important;
    }
    .form-search {
        width: 100% !important;
    }
    .material-datatables {
        margin-top: 15px;
    }
}
.container-agents {
    padding-bottom: 0px;
}
.btn-search-right {
    float: right;
    margin-right: 0px;
}
.frm-s {
    width: 93%;
    margin-left: -26px;
}
@media (max-width: 991px) {
    .frm-s {
        width: 90%;
        margin-left: 0px;
    }
}

.link-bold {
    font-weight: 500;
}
.w-20 {
    width: 40px;
}
.btn-round-delete {
    background-color: transparent;
    padding: 3px;
    font-size: 10px;
    color: #777;
}
.btn-round-delete :hover {
    //background-color: #777;
    color: #999999
}
.i-delete {
    font-size: 27px;
}
.pre-26 {
    margin-top: -26px;
}
.btn-search-entities {
    margin-top: 22px;
}
td, th {
    border-bottom: 1px dotted #eee;
    padding: 5px;
}
.material-datatables {
    padding-left: 3px;
    padding-right: 14px;
}
.text-left {
    padding-left: 3px !important;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: 2px;
}
.card-content[_ngcontent-c24] {
    min-height: 0;
}
.card-content[_ngcontent-c24] {
    min-height: 66px;
}
.card .card-content {
    padding: 15px 20px;
    position: relative;
    /* min-height: 200px !important; */
    background-color: #fff;
    border-radius: 5px;
}

.create-new {
    margin-top: 13px;
    margin-bottom: -10px;
}

.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
    background-color: #5690c2;
    color: #FFFFFF;
}
.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger {
    box-shadow: none;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: 11px;
}
.icon-title-list {
    position: relative;
    top: 6px;
}

.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
}

.ng-pristine {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0;
    height: auto;
    min-height: 30px!important;
    line-height: 1.7!important;
    font-size: 1em;
    font-family: Roboto,Helvetica Neue,sans-serif;
    background-color: transparent!important;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    /* line-height: 1.8; */
    height: 33px;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.form-group-top-10 {
    padding-top: 10px;
}
.form-group {
    padding-bottom: 0!important;
    padding-bottom: 0;
    margin: 7px 0 0;
}
.btn-search-right {
    float: right;
    position: relative;
    margin-top: 5px !important;
}
.btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    /* padding: 12px 30px; */
    margin: 10px 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn .material-icons {
    vertical-align: middle;
    font-size: 17px;
    top: 0px;
    position: relative;
}
.input-group .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 0px 0px;
}
.form-group-top-10 {
    padding-top: 10px;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: 11px;
}
h4, .h4 {
    font-size: 16px;
    line-height: 1.4em;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: 2px;
}
.card .card-title {
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 0px;
}
.i-delete {
    font-size: 24px !important;
}
.btn .material-icons {
    vertical-align: middle;
    font-size: 17px;
    top: 0px;
    position: relative;
}
td h4.card-title {
    color: #3c8dbc;
    font-weight: 300;
}