<div class="loader" *ngIf="is_load == true" style="z-index: 2000 !important;">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<div class="loader" *ngIf="is_load_update == true" style="z-index: 2000 !important;">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<div *ngIf="is_load == false" class="parent-popup-event div-detail-button">
  <div class="row" style="margin-top: 5px">
    <div class="btn-close-popup-large" style="margin-top: 10px" (click)="dialogRef.close('')"></div>
    <!--<hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">-->
  </div>
  <md-dialog-content class="text-left">
    <div class="row">
      <div class="col-md-12">
        <span style="padding-top: 2px; font-size: 15px; font-weight: bold; color: #3f51b5;">HÀNH ĐỘNG</span>
        <div class="tab-content clearfix">
          <hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">
          <div id="tab-action" class="tab-pane active">
            <div class="container-tab" style="position: relative; ">
              <!------------------------------------------------------------------------------------>
              <div *ngIf="currentIntent != undefined && currentIntent.intent_actions != undefined">
                <br *ngIf="currentIntent.intent_actions.length == 0">
                <div class="group-block" *ngIf="checkAction('addCustomerToGroups')">
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào nhóm</p>
                  <tag-input name="select_block" [(ngModel)]="addCustomerToGroups"
                             theme="bootstrap"
                             (onAdd)="onAddGroup($event)"
                             placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                    </tag-input-dropdown>
                  </tag-input>
                  <span class="group-block-delete" (click)="deleteAction('addCustomerToGroups')"></span>
                  <br>
                </div>
                <div class="group-block" *ngIf="checkAction('addCustomerToSequences')">
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Thêm vào quy trình</p>
                  <tag-input name="select_block" [(ngModel)]="addCustomerToSequences"
                             theme="bootstrap"
                             [onlyFromAutocomplete]="true"
                             placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                    </tag-input-dropdown>
                  </tag-input>
                  <span class="group-block-delete" (click)="deleteAction('addCustomerToSequences')"></span>
                  <br>
                </div>

                <div class="group-block" *ngIf="checkAction('removeCustomerFromGroups')">
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi nhóm</p>
                  <tag-input name="select_block" [(ngModel)]="removeCustomerFromGroups"
                             theme="bootstrap"
                             [onlyFromAutocomplete]="true"
                             placeholder="Chọn nhóm..." secondaryPlaceholder="Chọn nhóm...">
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                    </tag-input-dropdown>
                  </tag-input>
                  <span class="group-block-delete" (click)="deleteAction('removeCustomerFromGroups')"></span>
                  <br>
                </div>


                <div class="group-block" *ngIf="checkAction('removeCustomerFromSequences')">
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Bỏ ra khỏi quy trình</p>
                  <tag-input name="select_block" [(ngModel)]="removeCustomerFromSequences"
                             theme="bootstrap"
                             [onlyFromAutocomplete]="true"
                             placeholder="Chọn quy trình..." secondaryPlaceholder="Chọn quy trình...">
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                    </tag-input-dropdown>
                  </tag-input>
                  <span class="group-block-delete" (click)="deleteAction('removeCustomerFromSequences')"></span>
                  <br>
                </div>


                <div class="group-block" style="margin-bottom: 16px; min-height: 41px;" *ngIf="checkAction('createOrder')">
                  <span class="group-block-delete" style="margin-top: 34px !important;" (click)="deleteAction('createOrder')"></span>
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Lên đơn hàng</p>
                </div>

              </div>
              <!---------------------------------------------------------------------------------->
              <div style="margin-top: -20px">
                <br>
                <p style="padding-bottom: 0px; font-weight: bold; margin-bottom: 0px; font-size: 13px; color: #3f51b5;"><i class="fa fa-plus"></i> THÊM HÀNH ĐỘNG</p>
                <md-select style="width: 100px; padding-top: 0px; margin-top: 0px" (change)="addAction($event.value)"  placeholder="Chọn hành động"
                           name="city">
                  <md-option *ngFor="let city of paramModelSelected" [value]="city">
                    {{ city.lable }}
                  </md-option>
                </md-select>
              </div>
            </div>
          </div>
          <hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">
          <div class="row" style="margin-top: 13px; margin-bottom: 5px;">
            <button md-raised-button (click)="okClick()" style="margin: auto; margin-left: 40%;">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</div>