<div class="main-content">
    <div class="container-fluid entity">
        <!--<div class="loader" *ngIf="id_loading"></div>-->
        <div class="card" style="margin-top: 21px">
            <div class="loader" *ngIf="is_loading">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
            <div class="card-content" *ngIf="!is_loading">
                <h4 class="card-title card-title-custom "><i class="material-icons icon-title-list">assignment</i>Dữ Liệu Sản Phẩm</h4>
                <div class="row container-agents">
                    <div class="col-md-12">
                        <div class="form-group div-search-product-data">
                            <div class="input-group">
                                <input class="form-control" placeholder="Nhập từ khóa tìm kiếm" type="text" style="width: 100%" #inputSearch id="inputSearch" name="inputSearch"  [(ngModel)]="filterQuery" >
                                <span class="input-group-addon">
                                <i class="material-icons">search</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="material-datatables"*ngIf="(data | productItemPipe: filterQuery).length === 0">
                    <div class="header text-center">
                        <h4 class="title">Không có dữ liệu</h4>
                    </div>
                </div>
                <div class="material-datatables table-responsive" *ngIf="data.length>0">
                    <table class="table table-hover" [mfData]="data | productItemPipe : filterQuery" #mf="mfDataTable"
                           [mfRowsOnPage]="rowsOnPage">
                        <thead>
                            <tr>
                                <th style="width: 50px">
                                    Stt
                                </th>
                                <th *ngFor="let key of row_params_product_cur">
                                    {{ key }}
                                </th>
                                <th style="width: 100px">
                                    Thao tác
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of mf.data; let i = index">
                                <td style="text-align: center">{{row[0].index}}</td>
                                <td *ngFor="let value of row[0].data">
                                    <!--{{ value }}-->
                                        <span title="{{ value }}">
                                            {{value | truncate:15}}
                                        </span>
                                </td>
                                <td>
                                    <a class="btn btn-round-delete" href="#/pages/products/product-item-edit/{{productId}}/{{row[0].id}}" title="Sửa" >
                                        <i style="font-size: 23px;" class="material-icons">edit</i>
                                    </a>
                                    <button class="btn btn-round-delete" rel="tooltip " type="button " data-original-title=" " (click)="deleteProductItem(row)" title="Xóa" >
                                        <i class="material-icons i-delete my-icon">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr *ngIf="data.length>5">
                            <td colspan="3" *ngIf="row_params_product_cur.length == 1" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="4" *ngIf="row_params_product_cur.length == 2" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="5" *ngIf="row_params_product_cur.length == 3" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="6" *ngIf="row_params_product_cur.length == 4" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="7" *ngIf="row_params_product_cur.length == 5" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="8" *ngIf="row_params_product_cur.length == 6" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="9" *ngIf="row_params_product_cur.length == 7" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="10" *ngIf="row_params_product_cur.length == 8" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="11" *ngIf="row_params_product_cur.length == 9" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="12" *ngIf="row_params_product_cur.length == 10" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="13" *ngIf="row_params_product_cur.length == 11" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                            <td colspan="14" *ngIf="row_params_product_cur.length == 12" >
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <a class="dowload-file" (click)="dowload_file()"  href="#/pages/products/product-data-list/{{productId}}">Tải tập tin mẫu nhập dữ liệu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <form  class="form-horizontal" #frm  action="" method=""  novalidate="novalidate" enctype="multipart/form-data">
                                <div class="row">
                                    <label class="col-sm-2 select-file" style="padding-left: 19px; text-align: left">Chọn tập tin</label>
                                    <div class="col-sm-1" style="padding-left: 0px; margin-top: -3px;">
                                        <a style="cursor: pointer"  (click)="file.click();"><i class="material-icons" style="color: rgba(124, 124, 124, 0.61)">cloud_upload</i></a>
                                        <input style="display: none" type="file" #file (change)="onFileChange($event); frm.reset()" multiple="false" />
                                    </div>
                                    <div class="col-sm-5">
                                        <button class="btn-save-product btn btn-danger btn-search-right m-top0 export" type="button" (click)="export()">Xuất dữ liệu <i class="material-icons">import_export</i></button>
                                        <button class="btn-save-product btn btn-danger btn-search-right m-top0" type="button" (click)="save()">Nhập dữ liệu <i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>