<div class="container-custom" >
    <div class="input-field col s12">
        <input autocomplete="off" id="response" placeholder="{{title}}" type="text" [(ngModel)]="query" class="form-control validate filter-input"  (keyup)=filter($event) >
    </div>
    <div class="suggestions"  *ngIf="filteredList.length > 0">
        <ul *ngFor="let item of filteredList" >
            <li >
                <a (click)="select(item.name)">{{item.name}}</a>
            </li>
        </ul>

    </div>
</div>