/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

@import 'variables';

/*
.toithich {
    background: $nav-button-color;
    color: $nav-button-color;
}*/
@import "assets/css/slides/jquery.bxslider.min.css";
@import 'assets/bootstrap/css/bootstrap.min.css';
@import "assets/css/material-dashboard.css";
@import 'assets/css/mystyle.css';
// @import 'assets/css/demo.css';
@import 'assets/font-awesome-4.7.0/css/font-awesome.min.css';
@import "assets/css/indigo-pink.css";
@import "assets/css/slim-loading-bar.css";
@import "assets/css/material-fonts.css";
// @import "assets/css/google-material-fonts.css";
@import "../assets/js/chat/plugins/slick/slick-theme.css";
@import "../assets/js/chat/plugins/slick/slick.css";
@import "../assets/js/chat/bootstraptags/bootstrap-tagsinput.css";
@import "../assets/js/chat/bootstraptags/bootstrap-tagsinput-typeahead.css";
//@import "assets/css/roboto/css/material-icons.min.css";
//@import "assets/css/roboto/css/roboto.min.css";
.mat-select{
  width:100%;
}
// .mat-select .mat-select-trigger {
//   min-width:50px;
//  }

.mat-select-trigger .mat-select-placeholder{
  min-width: 50px;
 }
/* BUTTON TRASH, SAVE  */

.parent-popup-event {
  position: relative;
}

.btn-trash-icon {
  background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
  background-size: 24px 24px;
}

.btn-save-icon {
  background: url(/assets/icon/save-file-option.svg) no-repeat 50%;
  background-size: 17px 17px;
  top: -15px !important;
  width: 35px !important;
  height: 35px !important;
}

.btn-find-icon {
  background: url(/assets/icon/ic_search_black_24px.svg) no-repeat 50%;
  background-size: 17px 17px;
}

.btn-add-icon {
  background: url(/assets/icon/ic_create_black_24px.svg) no-repeat 50%;
  background-size: 17px 17px;
}

.btn-popup-one:before,
.btn-popup-two:before,
.btn-popup-three:before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; // opacity: .3;
}

.btn-popup-one {
  position: absolute;
  z-index: 10000;
  top: -6px;
  right: -6px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
  transform: scale(.3);
  opacity: 0;
}

.btn-popup-two {
  position: absolute;
  z-index: 10000;
  top: -6px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
  transform: scale(.3);
  opacity: 0;
}

.btn-popup-three {
  position: absolute;
  z-index: 10000;
  top: -6px;
  right: 45px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
  transform: scale(.3);
  opacity: 0;
}

.parent-popup-event:hover .btn-popup-one {
  transform: scale(1);
  opacity: 1;
  transition: transform .2s cubic-bezier(.2, .7, .5, 1), opacity .2s cubic-bezier(.2, .7, .5, 1);
}

.parent-popup-event:hover .btn-popup-two {
  transform: scale(1);
  opacity: 1;
  transition: transform .2s cubic-bezier(.2, .7, .5, 1), opacity .2s cubic-bezier(.2, .7, .5, 1);
}

.parent-popup-event:hover .btn-popup-three {
  transform: scale(1);
  opacity: 1;
  transition: transform .2s cubic-bezier(.2, .7, .5, 1), opacity .2s cubic-bezier(.2, .7, .5, 1);
}


/* BUTTON CLOSE  */

.btn-close-popup-large:before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background: url(/assets/icon/if_circle-close_430088.png) no-repeat 50%; // opacity: .3;
  background-size: 36px 36px;
}

.btn-json{
  background: url(/assets/icon/json.png) no-repeat 50%;;
  background-size: 30px 30px;
  width: 30px;
  height: 30px; 
  opacity: 0.3;
}

.btn-close-popup-large {
  position: absolute;
  z-index: 10000;
  top: -20px;
  right: 0px;
  width: 36px;
  height: 36px; // background-color: transparent;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
  // border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  transform: scale(1);
  opacity: 1;
}

.mat-button-toggle label {
    margin-bottom: 0;
}

.mat-button-toggle-label {
  color: #000;
}

.mat-button-toggle-checked:first-child {
    background-color: #448af1;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.mat-button-toggle-checked:last-child {
    background-color: #448af1;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.mat-button-toggle-checked {
  background-color: #448af1 !important;
}

.mat-button-toggle-checked .mat-button-toggle-label {
  color: #fff;
}

.minimal.ng2-tag-input{
    padding: 0;
    margin: 0;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
}
.minimal tag:first-child{
  margin-left: 2px;
  background: #C7EDFC;
}


.bootstrap.ng2-tag-input{
    padding: 0;
    margin: 0;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
}
.bootstrap tag:first-child{
  margin-left: 2px;
  background: #C7EDFC;
}

ng2-dropdown-menu .ng2-dropdown-menu {
  margin-left: 5%;
  max-height: 200px;
  width: auto;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #5690c2 !important;
  border-color: #5690c2 !important;
  color: #FFFFFF;
  box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}
.entity-div .ng2-tag-input__text-input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 0.5rem;
  height: 28px !important;
  font-size: 1em;
  margin-top: 3px !important;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}
.entity-div .ng2-tag-input {
  margin-top: 7px !important;
}
.mat-input-container {
  display: inline-block;
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  line-height: normal;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding: 0px; */
  width: 100% !important;
}
.mat-input-underline .mat-input-ripple {
  background-color: #337ab7 !important;
}
.ng-pristine input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 0rem;
  height: 20px;
  font-size: 1em;
  /* font-family: "Roboto", "Helvetica Neue", sans-serif; */
  background-color: none;
}
.mat-input-infix {
  display: block;
  position: relative;
  flex: auto;
  margin-top: -5px !important;
}
.mat-select-placeholder {
  position: relative;
  padding: 0 2px;
  transform-origin: left top;
  flex-grow: 1;
  // min-width: 214px !important;
}
.div-tieuchi .mat-select-trigger {
  display: flex;
  align-items: center;
  height: 25px;
  min-width: 142px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  max-width: 139px !important;
  margin-bottom: 7px;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background: #337ab7 !important;
}
.form-group.is-focused .form-control {
  outline: none;
  background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}

.mat-input-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100%;
  pointer-events: none;
  z-index: 1;
  padding-top: 1em;
  width: 100%;
  display: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateY(0);
  transform-origin: bottom left;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
}
.mat-input-placeholder-wrapper {
  position: absolute;
  width: 100%;
  padding-top: 1em;
  overflow: hidden !important;
  pointer-events: none;
  transform: translate3d(0,0,0);
}
.mat-input-infix {
  padding-left: 0px;
}
.mat-input-placeholder {
  color: rgba(0,0,0,.38);
}
.mat-input-placeholder {
  padding: 0 !important;
}
.mat-input-infix {
  display: block;
  position: relative;
  flex: auto;
  padding-bottom: -1px !important;
}
.mat-input-wrapper {
  padding-bottom: 16px;
}
.ng-pristine input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 0rem;
  height: 20px;
  font-size: 1em;
  /* font-family: "Roboto", "Helvetica Neue", sans-serif; */
  background-color: none;
}
.mat-input-placeholder {
  position: absolute;
  left: 0;
  top: 6px;
}
.mat-input-infix {
  display: block;
  position: relative;
  flex: auto;
  margin-top: -5px !important;
  padding-bottom: 2px;
}
.mat-input-element {
  font: inherit;
  background: 0 0;
  color: currentColor;
  border: none;
  outline: 0;
  padding: 0;
  width: 100%;
  vertical-align: bottom;
  padding-bottom: 6px;
}
.mat-input-placeholder {
  padding: 0 !important;
}
.mat-input-placeholder-wrapper {
  position: absolute;
  left: 0 !important;
  top: -3px !important;
}
.mat-input-element {
  font: inherit;
  background: 0 0;
  color: currentColor;
  border: none;
  outline: 0;
  width: 100%;
  vertical-align: bottom;
  padding-left: 0px;
  padding-bottom: 6px !important;
}
.intent-list-search {
  .ng2-tag-input__text-input {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 0.5rem;
    height: initial !important;
    font-size: 1em;
    margin-bottom: 3px !important;
    margin-top: 6px !important;
    font-family: inherit !important;
    /* color: #337ab7 !important; */
    min-width: 203px !important;
    padding-left: 0px;
  }
  .form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
  }
  .ng2-tag-input__text-input {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 !important;
    height: 38px;
    font-size: 1em;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }
}

.div-add-intent {
  .ng2-tag-input__text-input {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 0.5rem;
    height: initial !important;
    font-size: 1em;
    margin-bottom: 3px !important;
    margin-top: 6px !important;
    font-family: inherit !important;
    /* color: #337ab7 !important; */
    min-width: 203px !important;
    padding-left: 0px;
  }
  .form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
  }
  .ng2-tag-input__text-input {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 !important;
    height: 38px;
    font-size: 1em;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }

  .mat-select-placeholder.mat-floating-placeholder {
    top: -22px;
    left: -2px;
    text-align: left;
    transform: scale(.75);
  }
  .mat-select-placeholder {
    position: relative;
    padding: 0 2px;
    transform-origin: left top;
    flex-grow: 1;
  }
  .mat-select {
    display: inline-block;
    outline: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 1px;
  }
  .mat-select {
    display: inline-block;
    outline: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    min-width: 226px;
  }
  .mat-autocomplete-panel.mat-autocomplete-panel-below {
    top: 0px !important;
  }
  .mat-autocomplete-panel.mat-autocomplete-visible {
    visibility: visible;
    min-width: 376px !important;
  }
  .ng2-tag-input__text-input {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 0.5rem;
    height: 38px;
    font-size: 1em;
    min-width: 292px !important;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    padding-left: 0px;
  }
  .ng2-tag-input__text-input {
    padding-left: 0px !important;
    font-family: "Roboto", "Helvetica Neue", sans-serif !important;
  }
}
.card-intent-edit {
  .mat-select {
    display: inline-block;
    outline: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 0px !important;
  }
  .mat-autocomplete-panel.mat-autocomplete-visible {
    visibility: visible;
    min-width: 376px !important;
  }
  .ng2-tag-input__text-input {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 0.5rem;
    height: 38px;
    font-size: 1em;
    min-width: 292px !important;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    padding-left: 0px;
  }
  .ng2-tag-input__text-input {
    padding-left: 0px !important;
    font-family: "Roboto", "Helvetica Neue", sans-serif !important;
  }
}

.callback {
  color: #f27a09 !important;
}
input {
  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
}
.ng-pristine {
  padding-left: 0px !important;
}
.card-product {
  .ng-pristine input {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 0rem;
    height: 22px;
    font-size: 1em;
    /* font-family: "Roboto", "Helvetica Neue", sans-serif; */
    background-color: none;
  }
  .mat-input-element {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    width: 100%;
    vertical-align: bottom;
    padding-left: 0px;
    padding-bottom: 7px !important;
  }
  .ng2-tag-input__text-input {
    padding-left: 0px !important;
    font-family: "Roboto", "Helvetica Neue", sans-serif !important;
  }
}
.radio label .check {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #337ab7;
  transform: scale3d(0, 0, 0);
}
.radio input[type=radio]:checked ~ .check {
  background-color: #337ab7;
}
.radio input[type=radio]:checked ~ .circle {
  border-color: #337ab7;
}
.mat-select-value-text {
  font-size: 14px;
}
.ui-select-toggle {
  background-color: transparent!important;
}
.ui-select-toggle:hover {
  background-color: transparent!important;
}
.mat-autocomplete-panel.mat-autocomplete-visible {
  visibility: visible;
  min-width: 376px !important;
}
input.search-text {
  color: #222;
  position: relative;
  z-index: 5;
  transition: z-index .8s,width .5s,background .3s ease,border .3s;
  height: 35px;
  width: 120px;
  margin: 0;
  margin-left: 10px;
  padding: 5px 0 5px 40px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid transparent;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgI…csMjkuMzMxLDMwNi4wNSwyOS4zMzEsMjA3LjcxNXoiIGZpbGw9IiMzNzQwNEQiLz48L3N2Zz4=) no-repeat left 9px center transparent;
  background-size: 24px;
  padding-left: 36px !important;
}
.ng2-tag-input__text-input {
  padding: 0 0.5rem !important;
}

@-moz-document url-prefix() {
  .form-group-custom {
    margin-top: 7px !important;
  }
}
.card-intent-edit .ng2-tag-input__text-input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 0.5rem;
  height: 38px;
  font-size: 1em;
  min-width: 301px !important;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  padding-left: 5px;
}

.card-intent-edit .ng2-tag-input__text-input {
  margin-left: 5px !important;
}
.contenx-intent .minimal tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: transparent !important;
  user-select: none;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
  position: relative;
  border-radius: 10px !important;
  color: #fff !important;
  padding: 0px !important;
}
.contenx-intent-no-background .minimal tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
  position: relative;
  border-radius: 10px !important;
  color: #3f51b5 !important;
  border: 1px double #3f51b5 !important;
}

.mat-form-field-placeholder {
  position: absolute;
  left: 0;
  font: inherit;
  pointer-events: none;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: perspective(100px);
  -ms-transform: none;
  transform-origin: 0 0;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
  display: none;
  margin-top: -2px !important;
}
.ng2-tag-input--disabled {
  opacity: 1.5 !important;
}
.disabled {
  cursor: move !important;
}
.minimal.ng2-tag-input.ng2-tag-input--disabled {
  opacity: 0.5;
  cursor: move !important;
}
input[type="text"]:disabled {
  background-color: transparent !important;
}

.div-detail-button {
  .dropdown-list {
    position: fixed !important;
    width: 595px !important;
    height: 200px !important;
  }
  .list-area {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    margin: 0px;
    box-shadow: 0px 1px 5px #959595;
    width: 100% !important;
  }
  .dropdown-list ul {
    max-height: 150px !important;
  }
  .selected-list .c-list .c-token {
    list-style: none;
    padding: 0px 5px;
    background: #0079FE;
    color: #fff;
    border-radius: 2px;
    margin-right: 4px;
    float: left;
    padding: 1px;
    margin: 2px;
  }
  .selected-list .c-btn {
    box-shadow: none !important;
  }
  .list-filter .fa {
    display: none !important;
  }
  .c-btn {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    color: rgb(84, 84, 84) !important;
  }
  .pure-checkbox input[type="checkbox"] + label {
    position: relative;
    padding-left: 2em;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    margin: 0px;
    color: rgb(84, 84, 84) !important;
    font-weight: 300;
  }
  .dropdown-list {
    position: absolute;
    padding-top: 0px !important;
    width: 100%;
    z-index: 9999;
  }
}
.mat-dialog-container {
  padding-bottom: 10px !important;
  border-radius: 8px !important;

  padding-left: 15px !important;
  padding-right: 15px !important;
  overflow: hidden !important;
}

.ng2-tag-input__text-input {
  min-width: 312px !important;
}
.ng2-dropdown-menu {
  z-index: 1000 !important;
}
.mat-dialog-actions:last-child {
  margin-bottom: -10px !important;
}


.ng2-dropdown-menu {
    max-height: 200px !important;
}

/* Nestable list */
.dd-dragel {
  position: absolute;
  z-index: 9999 !important;
  pointer-events: none;
}
.card-intent-edit .ng2-tag-input__text-input {
  margin-left: 0px !important;
  height: 26px !important;
}
.div-hanh-dong .mat-select-trigger {
  display: flex;
  align-items: center;
  height: 30px;
  max-width: 180px  !important;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ccc !important;
  border-radius: 7px;
}
.div-hanh-dong .mat-select-trigger span {
  padding-left: 1px;
  color: #777;
}
.div-intent-table .ng-pristine {
  border: 1px solid #ccc !important;
  padding: 2px !important;
  padding-left: 5px !important;
  border-radius: 5px !important;
}
.div-input input {
  border: 1px solid #ddd !important;
  width: 100% !important;
  padding-left: 5px !important;
  height: 26px !important;
  border-radius: 5px !important;
}
.mat-option.mat-active {
  background: #ccc;
  color: rgba(0,0,0,.87);
}
.ui-datepicker.ui-widget {
  padding: 5px;
  width: 300px;
}
.order .ng-pristine {
  padding-left: 0px !important;
}
.order .ui-calendar button {
  position: absolute;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  width: 2em;
  border-left: 0 none;
  right: -3px;
}
.order .ui-inputtext {
  margin: 0;
  outline: medium none;
  padding: .25em;
  font-weight: normal;
  width: 100%;
}
.ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
  background-color: #fff;
  color: #FFFFFF;
}
.custommer-list .ui-datepicker.ui-widget {
  margin-top: 9px !important;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1100 !important;
}
.ng2-dropdown-menu {
  z-index: 1100 !important;
}
.swal2-container {
  z-index: 1100 !important;
}

.mat-select-placeholder.mat-floating-placeholder {
  color: transparent !important;;
  top: -22px !important;;
  left: -2px !important;;
  text-align: left;
  transform: scale(.75);
  overflow: hidden !important;
  height: 0px !important;
  opacity: 0 !important;
}

.button_delete_calendar {
  width: 100% !important;
  height: 20px !important;
  margin-top: -8px !important;
  margin-right: 3px !important;
  border-radius: 0px !important;
}
.ui-button.ui-button-secondary.ui-state-default, .ui-splitbutton.ui-button-secondary .ui-button.ui-state-default {
  display: none !important;
}
.custommer .ui-dropdown-filter-container {
  width: 100% !important;
}
.custommer .form-group .checkbox label, .form-group .radio label, .form-group label, .form-group .label-on-left, .form-group .label-on-right {
  font-size: 14px;
  line-height: 1.42857;
  color: #444;
  font-weight: 400;
}
.custommer .ui-dropdown label.ui-dropdown-label {
  cursor: pointer;
  min-height: 32px;
  margin-left: 0px;
}
.notifyjs-wrapper {
  z-index: 9000 !important;
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
}

.custommer .ui-dropdown-label {
  padding-top: 7px !important;
}
.custommer .ui-dropdown label.ui-dropdown-label {
  cursor: pointer;
  min-height: 32px;
  margin-left: 0;
  color: #555 !important;
}