/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

@import 'variables';

/*
.toithich {
    background: $nav-button-color;
    color: $nav-button-color;
}*/
@import "assets/css/slides/jquery.bxslider.min.css";
@import 'assets/bootstrap/css/bootstrap.min.css';
@import "assets/css/material-dashboard.css";
@import 'assets/css/mystyle.css';
// @import 'assets/css/demo.css';
@import 'assets/font-awesome-4.7.0/css/font-awesome.min.css';
@import "assets/css/indigo-pink.css";
@import "assets/css/slim-loading-bar.css";
@import "assets/css/material-fonts.css";
// @import "assets/css/google-material-fonts.css";
@import "../assets/js/chat/plugins/slick/slick-theme.css";
@import "../assets/js/chat/plugins/slick/slick.css";
@import "../assets/js/chat/bootstraptags/bootstrap-tagsinput.css";
@import "../assets/js/chat/bootstraptags/bootstrap-tagsinput-typeahead.css";

//@import "assets/css/roboto/css/material-icons.min.css";
//@import "assets/css/roboto/css/roboto.min.css";

/* BUTTON TRASH, SAVE  */

.parent-popup-event {
  position: relative;
}

.btn-trash-icon {
  background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
  background-size: 24px 24px;
}

.btn-save-icon {
  background: url(/assets/icon/save-file-option.svg) no-repeat 50%;
  background-size: 17px 17px;
  top: -15px !important;
  width: 35px !important;
  height: 35px !important;
}

.btn-find-icon {
  background: url(/assets/icon/ic_search_black_24px.svg) no-repeat 50%;
  background-size: 17px 17px;
}

.btn-add-icon {
  background: url(/assets/icon/ic_create_black_24px.svg) no-repeat 50%;
  background-size: 17px 17px;
}

.btn-popup-one:before,
.btn-popup-two:before,
.btn-popup-three:before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; // opacity: .3;
}

.btn-popup-one {
  position: absolute;
  z-index: 10000;
  top: -6px;
  right: -6px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
  transform: scale(.3);
  opacity: 0;
}

.btn-popup-two {
  position: absolute;
  z-index: 10000;
  top: -6px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
  transform: scale(.3);
  opacity: 0;
}

.btn-popup-three {
  position: absolute;
  z-index: 10000;
  top: -6px;
  right: 45px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
  transform: scale(.3);
  opacity: 0;
}

.parent-popup-event:hover .btn-popup-one {
  transform: scale(1);
  opacity: 1;
  transition: transform .2s cubic-bezier(.2, .7, .5, 1), opacity .2s cubic-bezier(.2, .7, .5, 1);
}

.parent-popup-event:hover .btn-popup-two {
  transform: scale(1);
  opacity: 1;
  transition: transform .2s cubic-bezier(.2, .7, .5, 1), opacity .2s cubic-bezier(.2, .7, .5, 1);
}

.parent-popup-event:hover .btn-popup-three {
  transform: scale(1);
  opacity: 1;
  transition: transform .2s cubic-bezier(.2, .7, .5, 1), opacity .2s cubic-bezier(.2, .7, .5, 1);
}


/* BUTTON CLOSE  */

.btn-close-popup-large:before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background: url(/assets/icon/if_circle-close_430088.png) no-repeat 50%; // opacity: .3;
  background-size: 36px 36px;
}

.btn-json{
  background: url(/assets/icon/json.png) no-repeat 50%;;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  opacity: 0.3;
}

.btn-close-popup-large {
  position: absolute;
  z-index: 10000;
  top: -20px;
  right: 0px;
  width: 36px;
  height: 36px; // background-color: transparent;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
  // border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  transform: scale(1);
  opacity: 1;
}
.ng-pristine{
  padding-left: 5px !important; 
}

.mat-button-toggle label {
  margin-bottom: 0;
}

.mat-button-toggle-label {
  color: #000;
}

.mat-button-toggle-checked:first-child {
  background-color: #448af1;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.mat-button-toggle-checked:last-child {
  background-color: #448af1;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.mat-button-toggle-checked {
  background-color: #448af1 !important;
}

.mat-button-toggle-checked .mat-button-toggle-label {
  color: #fff;
}

.minimal.ng2-tag-input{
  padding: 0;
  margin: 0;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}
.minimal tag:first-child{
  margin-left: 2px;
  background: #C7EDFC;
}


.bootstrap.ng2-tag-input{
  padding: 0;
  margin: 0;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}
.bootstrap tag:first-child{
  margin-left: 2px;
  background: #C7EDFC;
}

ng2-dropdown-menu .ng2-dropdown-menu {
  margin-left: 5%;
  max-height: 200px;
  width: auto;
}
.main-panel .main-content {
  width: 100%;
  margin-top: -20px !important;
  padding: 19px 1px !important;
  min-height: calc(100vh - 43px) !important;
  float: left !important;
}
.ui-icon{
  text-indent: 0;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
  left: 0;
}

.mat-select{
  width:100%;
}
// .mat-select .mat-select-trigger {
//   min-width:50px;
//  }

.mat-select-trigger .mat-select-placeholder{
  min-width: 50px;
 }

 .mat-calendar-table-header-divider {
  position: inherit;
  height: 0;
}
