<div class="wrapper">
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="main-content">
            <div class="container-fluid">
                <div class="crm-customer-scroll">
                    <div class="row" style="padding: 5px 12px">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title">Cấu hình CHAT</h4>

                                    <!-- <div class="row">
                                        <div class="col-sm-10">
                                            <h4>Cấu hình nâng cao</h4>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label hana-color-black"> </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 checkbox-radios">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="requireTerm" [checked]="requireTerm == 1? true: false" (change)="requireTerm = (requireTerm == 1? 0:1)"> Yêu cầu chấp nhận điều khoản
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label hana-color-black"> </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 checkbox-radios">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="powerby" [checked]="powerby == 1? true: false" (change)="powerby = (powerby == 1? 0:1)"> Yêu cầu ẩn power by
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label hana-color-black"> </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 checkbox-radios">
                                                    <div class="checkbox">
                                                        <div [innerHTML]="theHtmlString">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label hana-color-black"> </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 checkbox-radios">
                                                    <div class="checkbox">
                                                        <textarea rows="30" cols="120" name="textAreaHtml" [(ngModel)]="textAreaHtml"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <div class="form-group form-button">
                                                        <button type="button" class="btn btn-fill btn-facebook btn-lg" (click)="saveColorConfig()">Lưu</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Chọn loại hiển thị khi ẩn popup</label>
                                        <div class="col-sm-10 checkbox-radios">

                                            <div class="row">
                                                <div class="col-sm-12 checkbox-radios hana-color-black">
                                                    <div class="radio" *ngFor="let collapseOption of collapseOptions">
                                                        <label>
                                                            <input type="radio" (change)="collapseChoose = collapseOption.key" name="optionsRadios" [checked]="collapseOption.key == collapseChoose? true: false"> {{collapseOption.value}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <div class="form-group form-button">
                                                        <button type="button" class="btn btn-fill btn-facebook" (click)="saveCollapseConfig()">Lưu</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Chọn âm thanh thông báo</label>
                                        <div class="col-sm-10 checkbox-radios">
                                            <div class="row">
                                                <div class="col-sm-12 checkbox-radios hana-color-black">
                                                    <div class="radio" *ngFor="let soundAlertOption of soundAlertOptions">
                                                        <label>
                                                            <input type="radio" (change)="soundChoose = soundAlertOption.value" name="optionsRadiosSound" [checked]="soundAlertOption.value == soundChoose? true: false"
                                                                (click)="playSound(soundAlertOption.value)"> {{soundAlertOption.title}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <div class="form-group form-button">
                                                        <button type="button" class="btn btn-fill btn-facebook" (click)="saveSoundConfig()">Lưu</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Chỉ được xem/ trả lời khi chia cuộc chat</label>
                                        <div class="col-sm-10 checkbox-radios">

                                            <div class="row">
                                                <div class="col-sm-12 checkbox-radios hana-color-black">
                                                    <div class="radio" *ngFor="let dividentSeeOption of dividentSeeOptions">
                                                        <label>
                                                            <input type="radio" (change)="dividentChoose = dividentSeeOption.key" name="optionsRadiosDivi" [checked]="dividentSeeOption.key == dividentChoose? true: false"> {{dividentSeeOption.value}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <div class="form-group form-button">
                                                        <button type="button" class="btn btn-fill btn-facebook" (click)="saveSeeDividentConfig()">Lưu</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Chia cuộc chat cho CSKH</label>
                                        <div class="col-sm-10">
                                            <div class="row" class="choose-agent">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Tên</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let user of allAgent">
                                                                <td>
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" name="optionsCheckboxes" (change)="user.checked = user.checked ? false: true" [checked]="user.checked ? true: false">
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>{{user.full_name}}</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <div class="form-group form-button">
                                                        <button type="button" class="btn btn-fill btn-facebook" (click)="saveAgentChoose()">Lưu</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Hiển thị bộ lọc đối với CSKH</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Tên bộ lọc</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let filter of filters">
                                                                <td>
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" name="optionsFilterCheckboxes" (change)="filter.show = filter.show ? false: true" [checked]="filter.show ? true: false">
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>{{filter.value}}</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <div class="form-group form-button">
                                                        <button type="button" class="btn btn-fill btn-facebook" (click)="saveFilterChoose()">Lưu</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2 label-on-left">Vị trí xuất hiện popup</label>
                                        <div class="col-sm-10 checkbox-radios">
                                            <div class="row">
                                                <div class="col-sm-12 checkbox-radios hana-color-black">
                                                    <div class="radio" *ngFor="let positionOption of positionOption">
                                                        <label>
                                                            <input type="radio" (change)="positionChoose = positionOption.key" name="optionsRadios" [checked]="positionOption.key == positionChoose? true: false"> {{positionOption.value}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <div class="form-group form-button">
                                                        <button type="button" class="btn btn-fill btn-facebook" (click)="savePositionConfig()">Lưu</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="currentUser.role_id == 2">
                                        <label class="col-sm-2 label-on-left">Gia hạn cho người dùng</label>
                                        <div class="col-sm-10 checkbox-radios">
                                            <div class="row">
                                                <div class="col-sm-12 checkbox-radios hana-color-black">
                                                    <input placeholder="Gia Hạn bao nhiêu tháng" name="address" type="text" maxlength="250" class="form-control" [(ngModel)]="increateDateNum">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <div class="form-group form-button">
                                                        <button type="button" class="btn btn-fill btn-facebook" (click)="increaseDate()">Lưu</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>