.main-panel {
    width: 100%;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.card .card-content {
    padding: 15px 20px;
    position: relative;
}
.choose-agent {
    max-height: 400px;
    overflow-x: hidden;
}
.crm-customer-scroll {
    overflow-x: hidden;
    max-height: calc(100vh - 60px) !important;
}