<md-autocomplete  selected="b8a08266-150c-486e-9aea-b3da9e23a42d"  #auto="mdAutocomplete">
  <md-option *ngFor="let state of entities" [value]="state.name" (keyup)="choiceData(state.name)" (click)="choiceData(state.name)">
    {{ state.name }}
  </md-option>
</md-autocomplete>
<md-input-container>
  <input name="entity_name" mdInput placeholder="Chọn khái niệm" (keyup)="keyChange($event)" [mdAutocomplete]="auto" [formControl]="stateCtrl">
</md-input-container>