<ba-main>
    <div class="loader" *ngIf="is_load_intent">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div class="col-md-12 top--20 form-horizontal div-add-intent" *ngIf="!is_load_intent">
        <div class="card card-div card-add-intent">
            <div class="card-content div-car-content div-search">
                <h4 class="card-title card-title-custom title-search"><i class="material-icons icon-title-list">assignment</i>Thêm Ý Định</h4>
                <br>
                <br>
                <div class="panel-group" id="accordion1" role="tablist">
                    <div class="panel panel-default">
                        <div aria-labelledby="headingOne" class="panel-collapse collapse in" id="collapseOne_no" role="tabpanel" aria-expanded="true" >
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="form-group label-floating is-empty">
                                            <input type="text" class="form-control" placeholder="Nhập tên ý định"  #name name="name" [(ngModel)]="currentIntent.name" (keyup)="checkEmptyUpdate(currentIntent.name)" >
                                        </div>
                                    </div>
                                    <div class="col-sm-2 div-add" style="margin-top: 11px; margin-left: -3px;">
                                        <button  class="btn-search-usersay btn btn-danger btn-search-right"  (click)="saveIntent()" type="button" #save_intent>Lưu <i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-div">
            <div class="card-content div-car-content">
                <div class="panel-group" id="accordion2" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="div_ngucanh" role="tab">
                            <a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role="button">
                                <h4 class="panel-title">
                                    NGỮ CẢNH
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </h4>
                            </a>
                        </div>
                        <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <tag-input name="tagsContextIn" [(ngModel)]='intent_contexts_in' placeholder="Thuộc Nhóm (Ngữ Cảnh)..." secondaryPlaceholder="Thuộc Nhóm (Ngữ Cảnh)..." [errorMessages]="errorMessages" [validators]="validators" [addOnBlur]="true">
                                            <tag-input-dropdown [autocompleteItems]="tagsContextInAutoComplete" >
                                            </tag-input-dropdown>
                                        </tag-input>
                                        <div class="checkbox checkbox-cusotom">
                                            <label>
                                                <input type="checkbox" (change) = "currentIntent.is_just_understand_in_context = !currentIntent.is_just_understand_in_context" [checked]="currentIntent.is_just_understand_in_context" name="optionsCheckboxes1"> Chỉ hiểu khi trong ngữ cảnh này
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-div">
                <div class="card-content div-car-content div-hanh-dong">
                <div class="panel-group" id="accordion4" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="div_hanhdong" role="tab">
                            <a (click)="clickDivHD()" #link_hd aria-controls="collapseThree" aria-expanded="false" class="" data-parent="#accordion" data-toggle="collapse" href="#hanhdong" role="button">
                                <h4 class="panel-title">
                                    HÀNH ĐỘNG
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </h4>
                            </a>
                        </div>
                        <div aria-labelledby="headingThree" class="panel-collapse collapse" id="hanhdong" role="tabpanel" aria-expanded="false">
                            <div class="panel-body">
                                <!-- <div class="row row-loai-hanh-dong">
                                        <label class="col-sm-2 col-sm-2-custom label-on-left top-25">Loại hành động</label>
                                        <div class="col-sm-9 p-left-0" id="outner" style="    margin-top: -14px;" >
                                        <div class="form-group label-floating is-empty">
                                            <ba-autocomplete-intent-inner [source]="intent_inners" [selected]="is_inner"  (output)="is_inner=$event">
                                            </ba-autocomplete-intent-inner>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="row">
                                    <label class="col-sm-2 label-on-left top-25 col-sm-2-custom">Tên hành động</label>
                                    <div class="col-sm-6 p-left-0" *ngIf="is_inner=='outler_action'">
                                        <div class="form-group label-floating is-empty" style="padding-bottom: 12px">
                                            <input style="border: 1px solid #ccc !important; border-radius: 5px !important; background-image: none !important; margin-top: 2px; padding-top: 0px !important; padding-bottom: 0px !important; height: 28px; padding-left: 3px !important;"  [(ngModel)]='outler_action' name="outler_action" type="text" class="form-control" placeholder="Nhập tên hành động" >
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-left-0" *ngIf="is_inner!='outler_action'">
                                            <div class="div-inner" style="margin-top: 23px;">
                                            <intent-action-auto [list_actions]="list_actions" (value_select)="inner_action=$event"></intent-action-auto>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <label class="col-sm-2 label-on-left top-25 col-sm-2-custom">Ngoài hệ thống</label>
                                    <div class="col-sm-6 p-left-0">
                                        <div class="form-group label-floating is-empty" style="padding-bottom: 12px">
                                            <input style="border: 1px solid #ccc !important; border-radius: 5px !important; background-image: none !important; margin-top: 2px; padding-top: 0px !important; padding-bottom: 0px !important; height: 28px; padding-left: 3px !important;"  [(ngModel)]='outler_action' name="outler_action" type="text" class="form-control" placeholder="Nhập tên hành động" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px">
                                    <label class="col-sm-2 label-on-left top-25 col-sm-2-custom">Trong hệ thống</label>
                                    <div class="col-sm-6 p-left-0">
                                        <div class="div-inner">
                                            <intent-action-auto [list_actions]="list_actions" (value_select)="inner_action=$event"></intent-action-auto>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px">
                                        <label class="lbl-memory col-sm-2 col-sm-2-custom label-on-left top-25" style="    margin-top: 11px;">Bộ nhớ</label>
                                        <div class="col-sm-5 p-left-0" style="margin-top: 6px" >
                                        <object-auto-complete [user_say_intent_entities]="auto_intent_entities" [listEntyties]="listEntyties" [auto_intent_entities]="auto_intent_entities" (output_user_say_intent_entitie)="auto_intent_entities=$event"  [list_actions]="list_object_name" [objects]="objects" (value_select)="memory_name=$event" (output)="currentIntent.intent_entities=$event" (auto_intent_entities_full)="auto_intent_entities_full=$event" (auto_intent_entities_new)="auto_intent_entities=$event" (list_param_name)="list_param_name=$event"></object-auto-complete>
                                    </div>
                                </div>
                                <br>
                                <div class="row div-intent-table">
                                    <div class="col-sm-12">
                                        <div class="{{is_check_table}}">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>Bắt buộc</th>
                                                    <th class="w-27-percen">Tham số</th>
                                                    <th class="w-22-percent">Khái niệm</th>
                                                    <th class="w-18-percent">Giá trị mặc định</th>
                                                    <th class="text-center w-11-percent">Câu hỏi thu thập</th>
                                                    <th class="text-center w-8-percent">Gợi ý trả lời</th>
                                                    <th class="text-center">Thao tác</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let entity of currentIntent.intent_entities; let i = index">
                                                    <td>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="optionsCheckboxes" (change)="entity.is_required = !entity.is_required" [checked]="entity.is_required">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <param-autocomplete [index]="i" [type]="1" [entities_name]="list_param_name" [query_default]="entity.param" (value_select)="entity.param=$event"></param-autocomplete>
                                                    </td>
                                                    <td class="text-center">
                                                        <entity-value-select-autocomplete [entities_name]="entities_name_memory" [query_default]="entity.entity_name" (value_select)="entity.entity_name=$event" ></entity-value-select-autocomplete>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group is-empty" style=" margin-top: -15px; "><input [(ngModel)]="entity.default_value" class="form-control input-fifox" style="background-image: none !important; padding-top: 0px !important; padding-bottom: 0px !important; height: 27px !important; margin-top: 13px;border-radius: 0px !IMPORTANT;border: 1px solid #ccc !important"  value="{{entity.default_value}}" type="text"  mdInput placeholder="Giá trị mặc định"></div>
                                                    </td>
                                                    <td class="text-center add-suggestion">
                                                        <span *ngIf="!entity.response_messages || !entity.is_required ||  !entity.entity_name || entity.entity_name.length==0"></span>
                                                        <span class="link_chgy" *ngIf="entity.response_messages.length === 0  && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                            <ba-modal title="Câu hỏi thu thập" vitri="{{i}}" (output)="entity.response_messages=$event" [response]="entity.response_messages"></ba-modal>
                                                            </span>
                                                        <span class="link_chgy" *ngIf="entity.response_messages.length > 0 && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                            <ba-modal title="({{entity.response_messages.length}})" vitri="{{i}}"  (output)="entity.response_messages=$event" [response]="entity.response_messages"></ba-modal>
                                                            </span>
                                                    </td>
                                                    <td class="text-center add-suggestion">
                                                        <span *ngIf="!entity.intent_entities_suggestion || !entity.is_required ||  !entity.entity_name || entity.entity_name.length==0"></span>
                                                        <span class="link_chgy" *ngIf="entity.intent_entities_suggestion.length === 0  && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                            <ba-modal-suggestion vitri="{{i}}" title="Gợi ý trả lời"  (output)="entity.intent_entities_suggestion=$event" [response]="entity.intent_entities_suggestion"></ba-modal-suggestion>
                                                            </span>
                                                        <span class="link_chgy" *ngIf="entity.intent_entities_suggestion.length > 0 && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                            <ba-modal-suggestion vitri="{{i}}" title="({{entity.intent_entities_suggestion.length}})"  (output)="entity.intent_entities_suggestion=$event" [response]="entity.intent_entities_suggestion"></ba-modal-suggestion>
                                                            </span>
                                                    </td>
                                                    <td class="td-actions text-center"><a (click)="removeIntentEntityRow(i)" class="btn btn-round-delete"><i class="material-icons i-delete">delete</i></a></td>
                                                </tr>
                                                <tr *ngFor="let entity of auto_intent_entities; let i = index">
                                                    <td>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="optionsCheckboxes" (change)="entity.is_required = !entity.is_required" [checked]="entity.is_required">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <param-autocomplete [index]="i" [type]="2" [entities_name]="list_param_name" [query_default]="entity.param" (value_select)="entity.param=$event"></param-autocomplete>
                                                    </td>
                                                    <td class="text-center">
                                                        <entity-value-select-autocomplete [entities_name]="entities_name_memory" [query_default]="entity.entity_name" (value_select)="entity.entity_name=$event" (intent_entities_new)="intent_entities=$event" ></entity-value-select-autocomplete>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group is-empty" style="margin-top: -15px; margin-bottom: 0px"><input [(ngModel)]="entity.default_value" class="form-control input-fifox" style="height: 27px" value="{{entity.default_value}}" type="text" min="1" mdInput placeholder="Giá trị mặc định" style="background-image: none !important; padding-top: 0px !important; padding-bottom: 0px !important; height: 27px !important; margin-top: 13px;border-radius: 0px !IMPORTANT;border: 1px solid #ccc !important"></div>
                                                    </td>
                                                    <td class="text-center add-suggestion">
                                                        <span *ngIf="!entity.response_messages || !entity.is_required ||  !entity.entity_name || entity.entity_name.length==0"></span>
                                                        <span *ngIf="entity.response_messages.length === 0  && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                            <ba-modal title="Câu hỏi thu thập" vitri="{{i}}" (output)="entity.response_messages=$event" [response]="entity.response_messages"></ba-modal>
                                                            </span>
                                                        <span *ngIf="entity.response_messages.length > 0 && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                            <ba-modal title="({{entity.response_messages.length}})" vitri="{{i}}"  (output)="entity.response_messages=$event" [response]="entity.response_messages"></ba-modal>
                                                            </span>
                                                    </td>
                                                    <td class="text-center add-suggestion">
                                                        <span *ngIf="!entity.intent_entities_suggestion || !entity.is_required ||  !entity.entity_name || entity.entity_name.length==0"></span>
                                                        <span *ngIf="entity.intent_entities_suggestion.length === 0  && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                            <ba-modal-suggestion vitri="{{i}}" title="Gợi ý trả lời"  (output)="entity.intent_entities_suggestion=$event" [response]="entity.intent_entities_suggestion"></ba-modal-suggestion>
                                                            </span>
                                                        <span *ngIf="entity.intent_entities_suggestion.length > 0 && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                            <ba-modal-suggestion vitri="{{i}}" title="({{entity.intent_entities_suggestion.length}})"  (output)="entity.intent_entities_suggestion=$event" [response]="entity.intent_entities_suggestion"></ba-modal-suggestion>
                                                            </span>
                                                    </td>
                                                    <td class="td-actions text-center"><a (click)="removeIntentEntityRowAuto(i)" class="btn btn-round-delete"><i class="material-icons i-delete">delete</i></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <button class="btn tbn-add-usersay btn-round btn-warning dropdown-toggle tbn-them-tu-dong-nghia" (click)="addIntentEntityRow()">
                                            <i class="material-icons">add</i>
                                            <div class="ripple-container "></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content" style="padding-top: 0px">
                <div class="panel-group" id="accordion5" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingThree" role="tab">
                            <a aria-controls="collapseThree" aria-expanded="true" class="" data-parent="#accordion" data-toggle="collapse" href="#phan-hoi" role="button">
                                <h4 class="panel-title">
                                    PHẢN HỒI
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </h4>
                            </a>
                        </div>
                        <div aria-labelledby="headingThree" class="panel-collapse collapse in" id="phan-hoi" role="tabpanel" aria-expanded="true">
                            <div class="row" style="padding-left: 10px">
                                <ba-structured-intent (responseMessageOutput)="responseMessage=$event" [responseMessageInput]="responseMessage"  [intent_contexts]="intent_contexts_out"  (intent_contexts_outOutput)="intent_contexts_out=$event" (contexts_suggestionsOutPut)="currentIntent.contexts_suggestions=$event" (is_suggestion_predictOut)="currentIntent.is_suggestion_predict=$event" [is_suggestion_predict]="currentIntent.is_suggestion_predict"></ba-structured-intent>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ba-main>