.ui-widget-content{
    border: 0;
  }
  .simple .mat-select-trigger {
    margin: 0;
    padding-bottom: 0;
    color: #ffffff !important;
    font-size: 12px !important;
  }
  .mat-select {
    margin-top: 0;
    padding-top: 0;
    padding-left: 5px;
  }

.chip-avail{
  display:  inline-block;
  cursor:pointer;border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  background: #ccc;
  color: #000;
  margin-right: 5px;
}
 