<div class="row" style="margin-top:20px">
    <div class="col-md-3" style="text-align: center;">

        <md-select [(ngModel)]="beginHour" placeholder="Chọn giờ bắt đầu" style="padding-left: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
            <md-option *ngFor="let hour of hourAvailable" [value]="hour">{{hour}}</md-option>
        </md-select>

        <md-select [(ngModel)]="endHour" placeholder="Chọn giờ kết thúc" style="padding-left: 5px;border: 0;margin-left: 10px; margin-top: 10px;width: auto;border-radius: 3px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
            <md-option *ngFor="let hour of hourAvailable" [value]="hour">{{hour}}</md-option>
        </md-select>

        <button class="btn btn-facebook" (click)="addTo()">Thêm thời gian</button>
        <div>
            <span class="chip-avail" *ngFor="let item of availableCars" pDraggable="cars" (onDragStart)="dragStart($event,item)" (onDragEnd)="dragEnd($event)">{{item}}</span>
        </div>
        <!-- <mat-chip *ngFor="let item of availableCars" pDraggable="cars" (onDragStart)="dragStart($event,item)"
                                (onDragEnd)="dragEnd($event)"> {{item}}</mat-chip> -->
        <!-- <li *ngFor="let item of availableCars" class="ui-state-default ui-helper-clearfix" pDraggable="cars" (onDragStart)="dragStart($event,item)"
                (onDragEnd)="dragEnd($event)">
                {{item}}
            </li> -->
    </div>

    <div class="col-md-9">
        <table style="width:100%; border: 1px solid #ccc; height: auto">
            <thead>
                <tr>
                    <th style="float:left; width:14%; text-align: center">Thứ 2</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 3</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 4</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 5</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 6</th>
                    <th style="float:left; width:14%; text-align: center">Thứ 7</th>
                    <th style="float:left; width:14%; text-align: center">Chủ nhật</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let avail of selectedCars; let i = index" pDroppable="cars" (onDrop)="drop($event, i)" style="float:left; width:14%; height:170px; padding-top: 10px;
                    text-align: center;">
                        <div *ngFor="let item of avail; let j = index" style="margin-bottom: 10px;">
                            <a pDraggable="cars" (onDragStart)="dragStart($event,item)" (onDragEnd)="dragEnd($event)" style="cursor:pointer;border: 1px solid #ccc;
                        border-radius: 7px;
                        padding: 5px;
                        background: #ccc;
                        color: #000;">{{item}}
                            <md-icon (click)="dropAt(i, j)" class="mat-chip-remove mat-icon material-icons" style="color:#999">cancel</md-icon>
                    </a>
                        </div>
                    </td>
                    <!-- <td pDroppable="cars" (onDrop)="drop($event, 1)" style="float:left; width:14%; height:100px; border: 1px solid #ccc">
                        <md-chip-list class="mat-chip-list-stacked">
                            <md-chip *ngFor="let item of selectedCars[1]">{{item}}</md-chip>
                        </md-chip-list>
                    </td>


                    <td pDroppable="cars" (onDrop)="drop($event, 2)" style="float:left; width:14%; height:100px; border: 1px solid #ccc">
                        <md-chip-list class="mat-chip-list-stacked">
                            <md-chip *ngFor="let item of selectedCars[2]">{{item}}</md-chip>
                        </md-chip-list>
                    </td>

                    <td pDroppable="cars" (onDrop)="drop($event, 3)" style="float:left; width:14%; height:100px; border: 1px solid #ccc">
                        <md-chip-list class="mat-chip-list-stacked">
                            <md-chip *ngFor="let item of selectedCars[3]">{{item}}</md-chip>
                        </md-chip-list>
                    </td> -->
                </tr>



            </tbody>
        </table>
    </div>

    <!-- <div class="col-md-9" pDroppable="cars" (onDrop)="drop($event)">
        <p-dataTable [style]="{'margin-left':'4px'}">
            <p-column header="Thứ 2" [style]="{'width':'75px', 'background':'#fff', 'color':'#000'}">
                <ng-template pTemplate="body">
                    <div>
                        <div *ngFor="let item of selectedCars">{{item}}</div>
                        <b>hi</b>
                    </div>
                </ng-template>
            </p-column>
            <p-column field="year" header="Thứ 3" [style]="{'width':'75px', 'background':'#fff', 'color':'#000'}"></p-column>
            <p-column field="brand" header="Thứ 4" [style]="{'width':'75px', 'background':'#fff', 'color':'#000'}"></p-column>
            <p-column field="color" header="Thứ 5" [style]="{'width':'75px', 'background':'#fff', 'color':'#000'}"></p-column>
            <p-column field="color" header="Thứ 6" [style]="{'width':'75px', 'background':'#fff', 'color':'#000'}"></p-column>
            <p-column field="color" header="Thứ 7" [style]="{'width':'75px', 'background':'#fff', 'color':'#000'}"></p-column>
            <p-column field="color" header="Chủ nhật" [style]="{'width':'75px', 'background':'#fff', 'color':'#000'}"></p-column>
        </p-dataTable>
    </div> -->
</div>