<div class="loader" *ngIf="loadingProcess">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="dialogRef.close('')"></div>
    <h6 class="text-center">GẮN HASHTAGS CHO BÀI POST</h6>
    <div class="row">
        <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <md-dialog-content class="text-left">
        <tag-input *ngIf="listHastag.length > 0" [modelAsStrings]="true" theme='minimal' placeholder="+Gắn hashtag" secondaryPlaceholder="Click vào để chọn hashtag" [(ngModel)]='tags' [onlyFromAutocomplete]="true">
            <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="listHastag">
            </tag-input-dropdown>
        </tag-input>
        <span *ngIf="listHastag.length === 0">Bạn chưa có hashtag. Vui lòng tạo hashtag</span>
    </md-dialog-content>
    <div class="row">
        <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <md-dialog-actions>
        <div class="col-md-12 text-center">
            <button [disabled]="loadingProcess" md-raised-button *ngIf="listHastag.length > 0" (click)="addTag()">THỰC HIỆN</button>
            <button md-raised-button (click)="dialogRef.close('')">ĐÓNG</button>
        </div>
    </md-dialog-actions>
</div>