<div class="panel-group" id="accordion5" role="tablist" >
    <div class="panel panel-default" *ngIf="is_load">
        <div class="panel-heading" id="headingThree" role="tab">
            <a aria-controls="collapseThree" aria-expanded="true" class="" data-parent="#accordion" data-toggle="collapse" href="#phan-hoi" role="button">
                <h4 class="panel-title">
                    <!--CẤU HÌNH BLOCK-->
                    {{ (blocks.name != undefined) ? blocks.name: "KHÔNG NHẬN DẠNG ĐƯỢC BLOCK"  }}
                </h4>
            </a>
        </div>
        <div aria-labelledby="headingThree" class="panel-collapse collapse in" id="phan-hoi" role="tabpanel" aria-expanded="true">
            <div class="panel-body" >
                <div class="row">
                    <div class="col-md-8 xxx" [style.width.px]="width_value_list_card">
                        <div *ngFor="let res of responseMessage; let i = index">
                            <!-- TEXT -->
                            <div class="response-text" *ngIf="res.type===1" style="clear: both" >
                                <div class="col-md-8 p-left-0" style="width: 400px; clear: both;padding-left: 5px;">
                                    <div class="card-res">
                                        <p class="md-card-header">Text <span style="font-size: 13px">(remain {{(640 - res.message.text?.length) || 0}} / 640)</span>
                                        <i (click)="removeResponseMessage(res)"  class="block-delete"></i>
                                        </p>
                                        <div>
                                            <div class="prompt-row">
                                                <div class="prompt-cell prompt-cell-second">
                                                    <textarea (blur)="save()" style="height: 36px" autosize maxlength="640" id="prompt-empty" name="text.content-{{i}}" [(ngModel)]="res.message.text" class="borderless ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                                                              placeholder="Nội dung message..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CARD -->
                            <div (click)="save()" class="response-text" *ngIf="res.type===2" style="position: relative; clear: both;" [style.width.px]="width_value_list_card">
                                <div class="col-md-7 p-left-0" style="width: 265px; float: left; margin-left: 7px" *ngFor="let element of res.message.attachment.payload.elements; let k = index">
                                   <div class="card-res">
                                        <p class="md-card-header">Gallery
                                            <i (click)="removeCardItem(i, element)" class="block-delete"></i>
                                        </p>
                                        <res-card-component [index]="k" [index_nam]="i" [res]="element" ></res-card-component>
                                   </div>
                                </div>
                                <div class="col-md-7 p-left-0" style="width: 265px; float: left; background-color: #fff; min-height: 209px; margin-left: 7px">
                                    <div class="card-res" (click)="addCard(i)">
                                        <md-icon class="mat-icon material-icons" role="img" style="line-height: 24px; padding-top: 34%; padding-left: 44%; font-size: 31px; color: #aaafb6;" aria-hidden="true">add</md-icon>
                                    </div>
                                </div>
                            </div>
                            <!-- IMAGE -->
                            <div class="response-text" *ngIf="res.type===3" style="clear: both; width: 500px;padding-left: 5px;" >
                                <div class="col-md-7 p-left-0" style="width: 265px;clear: both">
                                    <div class="card-res">
                                        <p class="md-card-header">Image
                                        <i (click)="removeResponseMessage(res)" class="block-delete"></i>
                                        </p>
                                        <div>
                                            <img *ngIf="res.message.attachment.payload.url?.length > 0" class="img" style="width: 100%; border-radius: 0px" src="{{res.message.attachment.payload.url}}" onError="this.src='../assets/no_image.jpg';">
                                            <div class="input-group solid-input first" style="width: 100%">
                                                <div class="completer__wrapper">
                                                    <input (blur)="save()" style="border: 0px; height: 40px; width: 100%; padding-left: 5px" type="text" class="ng-valid ng-isolate-scope ng-valid-maxlength ng-touched ng-not-empty ng-dirty ng-valid-parse" (keyup)="addResponseImagesInput($event,i)" [(ngModel)]="res.message.attachment.payload.url" placeholder="Đường dẫn hình ảnh.." maxlength="2000">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- QUICK REPLY -->
                            <div class="response-text" *ngIf="res.type===4" style="clear: both">
                                 <div class="col-md-8 p-left-0" style="width: 400px; clear: both; padding-left: 5px;">
                                    <div class="card-res">
                                        <p class="md-card-header">Quick replies <span style="font-size: 13px">(remain {{(640 - res.message.text?.length) || 0}} / 640)</span>
                                        <i (click)="removeResponseMessage(res)"  class="block-delete"></i>
                                        </p>
                                        <div>
                                             <div class="input-group solid-input first" style="width: 100%">
                                                <div class="completer__wrapper">
                                                    <textarea (blur)="save()" style="height: 36px" autosize maxlength="640"  #quick_reply type="text" [(ngModel)]="res.message.text"  name="message-text-{{i}}"  class="borderless ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                                                              placeholder="Nội dung câu hỏi nếu cần"></textarea>
                                                    <hr style="margin-top: 0px; margin-bottom: -8px;">
                                                     <tag-input  name="response_quickreply-{{i}}"  [(ngModel)]="res.message.quick_replies" placeholder="Nội dung gợi ý trả lời" secondaryPlaceholder="Nội dung gợi ý trả lời" [identifyBy]="'title'" [displayBy]="'title'" [errorMessages]="errorMessagesQuickReply" [validators]="validatorsQuickReply" [addOnBlur]="true" (onRemove)="save()" (onAdd)="save()" (onPaste)="save()">
                                                                 </tag-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div-add col-md-12">
                        <h4 style="padding-bottom: 10px"><i class="fa fa-plus"></i> Thêm card</h4>
                        <div class="button-row">
                            <button md-raised-button (click)="addResponseMessageType(1)"><i class="material-icons">sort_by_alpha</i>Add text</button>
                            <button md-raised-button (click)="addResponseMessageType(2)"><i class="material-icons">photo_library</i>Add Galery</button>
                            <button md-raised-button (click)="addResponseMessageType(3)"><i class="material-icons">photo</i>Add photo</button>
                            <button *ngIf="show_quick_reply" md-raised-button (click)="addResponseMessageType(4)"><i class="material-icons">textsms</i>Quick reply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>