<div class="loader" *ngIf="loadingProcess">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<div class="main-content">
    <div class="container-fluid" id="post-training" *ngIf="isexpire == false; else expireee">
        <div class="row row-post-training">
            <!-- <div class="col-md-4"> -->
                <post-training-list [loadingProcess]="loadingProcess" [lstPosts]="lstPosts" [partnerId]="partnerId" [appId]="appId" (postChange)="usingPost($event)"></post-training-list>
            <!-- </div> -->
            <div class="col-md-8 faq-scroll">
                <div *ngIf="postOpen && postOpen.post_id">
                    <div class="row">
                        <div class="col-md-12">
                            <button (click)="addNewItem()" [disabled]="isSaving" class="btn btn-google" style="background: #D84315;width: auto">
                                <i class="material-icons">add</i> THÊM CÂU FAQ
                            </button>
                            <div class="form-group is-empty">
                                <input autocomplete="off" class="form-control" style="border: 1px solid #ccc; padding-left: 20px; width: 100%;background-image: none;background-position: none;background-color:#fff;border-radius:7px"
                                    placeholder="Lọc theo câu nói khách hàng hoặc Hana trả lời..." type="text" #inputSearch id="inputSearch"
                                    (keyup)="transform(inputSearch.value)" name="inputSearch">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <ba-fallback [typeFaq]="'comment'" [currentIntent]="intentFallback"></ba-fallback>
                    <ba-faq-v2 *ngFor="let item of intentCurrents; let i = index" [index]="i" [typeFaq]="'comment'" [currentIntent]="item" [blocks]="blocks"
                        (outputDelete)="deleteIntent($event)"></ba-faq-v2>

                    <div class="row">
                        <div class="col-md-12">
                            <p-paginator first="{{pageIndex}}" *ngIf="length > 0" pageLinkSize="5" rows="{{pageSize}}" totalRecords="{{length}}" (onPageChange)="paginate($event)"
                                [rowsPerPageOptions]="[5,10,20,30,50,100]"></p-paginator>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <ng-template #expireee>
        <div class="container-fluid" id="post-training">
            <div class="col-md-12">
                <div class="card card-testimonial">
                  <div class="card-content">
                    <p style="text-align: left;">Chức năng n&agrave;y chỉ hỗ trợ trong phi&ecirc;n bản trả ph&iacute; (g&oacute;i <span style="color: #ff6600;">"CAO CẤP"</span>), hiện tại đ&atilde; hết thời gian d&ugrave;ng thử. Bạn c&oacute; thể thanh to&aacute;n ngay g&oacute;i <span style="color: #ff6600;">"CAO CẤP"</span> để tiếp tục sử dụng những t&iacute;nh năng n&acirc;ng cao (Marketing, đ&agrave;o tạo theo b&agrave;i post, đ&agrave;o tạo theo hashtag,...) gi&uacute;p mang lại nhiều lợi &iacute;ch hơn cho việc kinh doanh của bạn.</p>
<p style="text-align: left;"><span style="text-decoration: underline;"><strong><span style="color: #ff6600; text-decoration: underline;">Lưu &yacute;:</span></strong></span> Bạn c&oacute; thể quay lại sử dụng phi&ecirc;n bản miễn ph&iacute; bất kỳ thời điểm n&agrave;o bạn muốn.</p>
                  </div>
                </div>
              </div>
        </div>
    </ng-template>
</div>