<div class="wrapper">
    <chat-filter [rawReceive]="rawReceive" [usernameChat]="usernameChat" [roleUser]="roleUser" [configGateway]="configGateway" [chatFilter]="chatFilter" (filterChange)="filterChange($event)"></chat-filter>
    <!-- <chat-filter [rawReceive]="rawReceive" [usernameChat]="usernameChat" [roleUser]="roleUser" [configGateway]="configGateway" [chatFilter]="chatFilter" (filterChange)="filterChange($event)"></chat-filter> -->
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div *ngIf="connectStatus === 'disconnected'" id="connection_div" class="messages_banner flex_pane_showing" role="status" aria-live="assertive" aria-atomic="true">Mất kết nối. Bấm vào đây để <a class="try-again-connect" (click)="retryConnecting()">thử lại</a>.</div>
        <div class="chat-hana" style="margin-top: -19px;">
            <div class="container-fluid-no-padding">
                <div class="chat-main-box">
                    <chat-contacts [roomFocus]="roomFocus" [configGateway]="configGateway" [hidden]="hidden" [userinfoChange]="userinfoChange" [connectStatus]="connectStatus" [emitFromRoom]="emitFromRoom" [sortMucRoomStatus]="sortMucRoomStatus" [rawReceive]="rawReceive"
                        [openRoomId]="openRoomId" [searchChatMe]="searchChatMe" [searchChatMeChanage]="searchChatMeChanage" [listTags]="listTags"
                        [usernameChat]="usernameChat" [appId]="appId" [partnerId]="partnerId" [(allCustomerInfo)]="allCustomerInfo"
                        [(allAgent)]="allAgent" [chatFilter]="chatFilter" [chatFilterChanage]="chatFilterChanage" (contactClick)="contactClick($event)"></chat-contacts>
                    <!--  <application-facebook-choose [fanpageInfo]="fanpageInfo" [appId]="appId" [partnerId]="partnerId" [pageAccessToken]="pageAccessToken"
    [isIntegrate]="isIntegrate" (isIntegrateChange)="counterUpdate($event)"></application-facebook-choose> -->
                    <!-- contact -->
                    <chat-room [emitTraining]="emitTraining" [configGateway]="configGateway" [roleUser]="roleUser" [userinfoChange]="userinfoChange" [connectStatus]="connectStatus" [agentActive]="agentActive" [rawReceive]="rawReceive" [jid]="jid" [templateReply]="templateReply"
                        [isOpenChat]="isOpenChat" [chatOpenObject]="chatOpenObject" [listTags]="listTags" [usernameChat]="usernameChat"
                        [appId]="appId" [partnerId]="partnerId" [(allCustomerInfo)]="allCustomerInfo" [(allAgent)]="allAgent"
                        (emitChatRoom)="emitChatRoom($event)"></chat-room>
                    <!-- .chat-right-panel -->
                </div>
                <chat-customer [emitTraining]="emitTraining" [connectStatus]="connectStatus" [agentActive]="agentActive" [jid]="jid"
                [isOpenChat]="isOpenChat" [chatOpenObject]="chatOpenObject" [usernameChat]="usernameChat"
                [appId]="appId" [partnerId]="partnerId" [(allCustomerInfo)]="allCustomerInfo" (emitChatCustomer)="emitChatCustomer($event)"></chat-customer>
            
            </div>
        </div>
    </div>
</div>