.chat-body .tooltip.in {
    opacity: 1;
    background-color: red;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}

[data-notify="container"] {
    width: 300px !important;
}

/* .sidebar, .off-canvas-sidebar {
    width: 60px;
}
.sidebar .sidebar-wrapper, .off-canvas-sidebar  .sidebar-wrapper {
    width: 60px;
} */

.sidebar-mini .sidebar, .sidebar-mini .sidebar .sidebar-wrapper {
    width: 50px !important;
}

.off-canvas-sidebar .sidebar-background:after, .sidebar .sidebar-background:after {
    background: #3c8dbc!important; 
}


/*reconnect*/
#connection_div {
    background: #DFA941;
}
.try-again-connect {
    cursor: pointer;
}
.messages_banner {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.25;
    padding: .25rem .4rem;
    border-radius: 6px;
    /*margin-left: 8px;*/
    /*margin-right: 8px;*/
    -webkit-transition: background .1s ease-out 0s;
    -moz-transition: background .1s ease-out 0s;
    transition: background .1s ease-out 0s;
    position: relative;
    top: 0px;
    left: 0;
    right: 1rem;
    text-shadow: 0 1px rgba(0,0,0,.15);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 200;
}
/*end reconnect*/