<div class="loader" *ngIf="loadingProcess">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<div class="col-xs-12 no-pad">
  <div class="col-xs-2 no-pad bg-white h100">
    <div class="left-scroll">
      <div class="col-xs-12 no-pad">
        <div class="col-xs-12">
          <div class="group-list">
            <div class="group-block row" style="margin-top:20px">
              <div class="col-xs-12">
                <div>MẶC ĐỊNH</div>
                <div class="addBtn">
                  <!-- <button (click)="commentContextSelected = true;" class="btnBlock parent-popup-event" [ngClass]="{'act' : tagSelected?.id === item?.id}"
                    md-raised-button style="width:100%" *ngFor="let item of listHashTagFallback; let j = index">#{{item?.name | truncate : 18}}{{item.prefix}}
                  </button> -->
                  <button (click)="commentContextSelected = true;" class="btnBlock parent-popup-event" [ngClass]="{'act' : commentContextSelected === true}"
                  md-raised-button style="width:100%">Comment chung
                </button>
                </div>
              </div>
            </div>

            <div class="group-block row" style="margin-top:20px">
              <div class="col-xs-12">
                <div>DANH SÁCH HASHTAGS</div>
                <div class="form-group is-empty">
                  <input autocomplete="off" class="form-control" style="border: 1px solid #ccc; padding-left: 20px; width: 100%;background-image: none;background-position: none;background-color:#fff;border-radius:7px"
                    placeholder="Lọc hashtag..." type="text" #tagFilter id="tagFilter" name="tagFilter" (keyup)="filterTag(tagFilter.value)">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </div>
                <button class="ml5" md-raised-button style="width:100%" (click)="addNewHashTag()">
                  <md-icon style="font-size: 16px;line-height: 24px;">add</md-icon>THÊM MỚI
                </button>
                <div class="addBtn" [class.faq-disabled]="loadingProcess">
                  <button (click)="commentContextSelected=false;selectTag(item)" class="ml5 btnBlock parent-popup-event" [ngClass]="{'act' : !commentContextSelected && tagSelected?.id === item?.id}"
                    md-raised-button style="width:100%" *ngFor="let item of listHashTags">#{{item?.name | truncate : 18}}{{item.prefix}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!commentContextSelected && tagSelected.id && tagSelected.type===2" class="col-xs-10" style="height: 87%;overflow:scroll;height: calc(100% - 60px); ">
    <div class="row" style="margin-top:10px;">
      <div class="col-md-12">
        <span class="tag-name-thang">#</span>
        <span class="tag-name" contenteditable (blur)="tagName =$event.target.textContent; changeHashTag()">{{tagName}}</span>
        <span class="tag-name-thang">{{tagSelected.prefix}}</span>
      </div>
    </div>

    <div class="row">
      <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <ba-fallback *ngIf="intentFallback" [typeFaq]="'comment'" [currentIntent]="intentFallback"></ba-fallback>
  </div>
  <div *ngIf="!commentContextSelected && tagSelected.id && tagSelected.type===1" class="col-xs-10" style="height: 87%;overflow:scroll;height: calc(100% - 60px); ">
    <div class="row" style="margin-top:10px;">
      <div class="col-md-12">
        <span class="tag-name-thang">#</span>
        <span class="tag-name" contenteditable (blur)="tagName =$event.target.textContent; changeHashTag()">{{tagName}}</span>
        <span class="tag-name-thang">{{tagSelected.prefix}}</span>
        <span class="group-block-delete" (click)="deleteTag(tagSelected)"></span>
      </div>
    </div>

    <div class="row">
      <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <div class="row">
      <div class="col-md-12">
        <button (click)="addNewItem()" [disabled]="loadingProcess" class="btn btn-google" style="background: #D84315;width: auto">
          <i class="material-icons">add</i> THÊM CÂU FAQ
        </button>
        <div class="form-group is-empty">
          <input autocomplete="off" class="form-control" style="border: 1px solid #ccc; padding-left: 20px; width: 100%;background-image: none;background-position: none;background-color:#fff;border-radius:7px"
            placeholder="Lọc theo câu nói khách hàng hoặc Hana trả lời..." type="text" #inputSearch id="inputSearch" (keyup)="transform(inputSearch.value)"
            name="inputSearch">
          <i class="fa fa-filter" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <ba-fallback [typeFaq]="'comment'" [currentIntent]="intentFallback"></ba-fallback>
    <ba-faq-v2 *ngFor="let item of intentCurrents; let i = index" [index]="i" [typeFaq]="'comment'" [currentIntent]="item" [blocks]="blocks"
      (outputDelete)="deleteIntent($event)"></ba-faq-v2>

    <div class="row">
      <div class="col-md-12">
        <p-paginator first="{{pageIndex}}" *ngIf="length > 0" pageLinkSize="5" rows="{{pageSize}}" totalRecords="{{length}}" (onPageChange)="paginate($event)"
          [rowsPerPageOptions]="[5,10,20,30,50,100]"></p-paginator>
      </div>
    </div>
  </div>
  <div *ngIf="commentContextSelected" class="col-xs-10" style="height: 87%;overflow:scroll;height: calc(100% - 60px); ">
    <training-comment [agentId]="agentId" [contextSelected]="contextSelected"></training-comment>
  </div>
</div>