// component css goes here
:host {
    position: fixed;
    height: 100%;
    padding: 0;
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
  
  #blockContentId {
    display: block;
    position: static;
    width: 100%;
    overflow: auto;
    padding: 10px;
    height: 100%
  }
  
  .h100 {
    height: 100%;
  }
  
  .bg-white {
    background-color: white;
    box-shadow: 2px 2px 2px #ccc;
  }
  
  .ml5 {
    // margin-left: 5px;
    margin-top: 5px;
  }
  
  .mb20 {
    margin-bottom: 20px;
  }
  
  .no-pad {
    padding: 0;
  }
  
  .no-mar {
    margin: 0;
  }
  
  .btnBlock:active,
  .btnBlock:focus,
  .btnBlock:hover,
  .act {
    color: white;
    background-color: #053748;
  }
  
  .btnGroup .btnBlock {
    color: #000;
    font-weight: 100;
    margin: 5px 5px;
    width: 48%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  
  button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  
  .btnGroup .act {
    color: white !important;
  }
  
  .group-list {
    display: block;
    margin: 5px 0;
  }
  
  .group-list .group-item {
    padding: 10px 0 10px 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: hsla(0, 0%, 100%, 0);
    transition: border-color .4s ease;
    min-height: 100px;
  }
  
  .group-list .group-item {
    border-color: rgba(0, 0, 0, .07);
    background-color: #fff;
    box-shadow: 0 1px 1px -1px transparent;
  }
  
  .group-list .group-item .group-item-heading {
    padding: 10px 0;
  }
  
  .group-list .group-item .group-item-heading .group-item-title {
    font-weight: bold;
    font-size: 1.05em;
  }
  
  .block-title {
    float: none;
    box-shadow: none;
    border-radius: 6px;
    font-weight: 400;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 0;
    user-select: text;
  }
  
  .group-list .group-item .group-item-heading .group-item-title .input {
    width: auto;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 26px;
    height: 28px;
    color: #3c3f40;
    border-radius: 7px;
    border: 1px solid transparent;
    margin: 0 -20px 0 -4px;
    padding: 0 26px 0 4px;
    outline: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
  }
  
  .group-list .group-item .group-item-heading .group-item-title .input[disabled] {
    border: none;
    background-color: transparent;
  }
  
  .block-title:focus:not([disabled]),
  .block-title::active:not([disabled]),
  .block-title::hover:not([disabled]) {
    outline: 0;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.33);
  }
  
  .group-list .group-item .group-item-heading .group-item-title .input:focus:not([disabled]),
  .group-list .group-item .group-item-heading .group-item-title .input:hover:not([disabled]),
  .group-list .group-item .group-item-heading .group-item-title .input:active:not([disabled]) {
    color: #000;
    background-color: #fafafa;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .07);
    border: 1px solid rgba(0, 0, 0, .09);
  }
  
  .group-list .group-item .group-item-heading .group-item-icon {
    float: right;
    margin-top: 5px;
    opacity: 0;
  }
  
  .group-list .group-item:hover {
    .group-item-heading .group-item-icon {
      opacity: 0.9;
    }
  }
  
  .addBtn {
    padding: 10px 0 10px 0px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  #blockContentId {
    height: 100%;
    overflow: auto;
  }
  
  #blockContentId .ct-list {
    min-height: 200px;
    position: relative;
    margin: 15px 0;
  }
  
  #blockContentId .ct-list .mes,
  #blockContentId .ct-list .mes .att {
    height: inherit;
  }
  
  #blockContentId .ct-list .mes {
    padding: 0;
    background-color: transparent;
    position: relative;
  }
  
  #blockContentId .ct-list .mes .pay,
  #blockContentId .ct-list .mes .img-card {
    padding: 0;
    width: 254px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 3px 6px -1px rgba(0, 0, 0, .07);
    position: relative;
  }
  
  .img-card .remove {
    top: -17px;
    left: 257px;
    position: absolute;
    margin: 0;
    width: 32px;
    height: 32px;
    background: #fff none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 16px;
    transform: scale(.3);
    opacity: 1;
    transition: opacity .2s cubic-bezier(.2, .7, .5, 1), transform .2s cubic-bezier(.2, .7, .5, 1);
  }
  
  #blockContentId .ct-list .mes,
  #blockContentId .ct-list .mes .img-card img {
    border-radius: 0;
  }
  
  .temp-header {
    height: 45px;
    background-color: #E2E2E2;
    padding: 8px 15px 5px 15px;
  }
  
  .temp-header input {
    float: none;
    box-shadow: none;
    border-radius: 6px;
    font-weight: 400;
    width: 100%;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .33);
    border-radius: 0;
  }
  
  .temp-header input:focus {
    outline: 0;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .07);
    border: 1px solid rgba(0, 0, 0, .33);
  }
  
  .temp-content {
    border-bottom: 1px solid #EBEBEB;
    width: 100%;
    height: 48px;
    text-align: center;
  }
  
  .temp-content:hover {
    cursor: pointer;
  }
  
  .temp-content .preview {
    font-size: 12px;
    line-height: 1.17;
    color: #a6a6a6;
    text-align: center;
    display: block;
  }
  
  .temp-content .preview span {
    position: relative;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #767676;
    white-space: nowrap;
    border-radius: 3px;
    padding: 0 2px; // margin: 0 7px 0 0;
    background-color: #f3f2f2;
  }
  
  .temp-tab {
    height: 120px;
    position: absolute;
    background-color: white;
    z-index: 10001;
    width: 400px;
    padding: 10px 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .13);
    border: 1px solid rgba(0, 0, 0, .09);
  }
  
  // .temp-tab .mat-tab-group{
  // 	position: absolute;
  // 	background-color: white;
  // 	z-index: 10001;
  // }
  // .temp-tab .block-tab{
  // 	width: 100%;
  //     padding: 7px 8px;
  //     height: 44px;
  //     margin: -4px 0;
  //     overflow: hidden;
  //     cursor: text;
  //     white-space: nowrap;
  // }
  .temp-tab .state-selector {
    padding: 0;
    margin: 0 0 10px;
    display: block;
    text-align: left;
  }
  
  .temp-tab .state-selector li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    transition: color .1s, border-bottom-color .1s;
    margin: 0 12px 0 0;
    padding: 0 0 0 20px;
  }
  
  .temp-tab .state-selector li:hover {
    color: #e9604a;
  }
  
  .temp-tab .state-selector li.act {
    border-bottom: 2px solid #e9604a;
  }
  
  .cf-input.error:not(:focus),
  .cf-input.super-error {
    background-color: rgba(233, 96, 74, .02)!important;
    box-shadow: inset 0 1px 3px 0 rgba(81, 0, 0, .08)!important;
    border: 1px solid #e9604a!important;
    color: #e9604a!important;
  }
  
  .blocks-suggest {
    position: relative;
    height: 36px;
    border-radius: 7px;
  }
  
  .cf-input {
    border-radius: 7px!important;
    background-color: rgba(0, 0, 0, .01)!important;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .08)!important;
    border: 1px solid rgba(0, 0, 0, .12)!important;
    outline: none!important;
    color: #000;
    transition: background-color .1s, border .1s, background-color .1s;
  }
  
  .cf-input:empty:not(.auto-error-off):not(:focus):not(input) {
    background-color: rgba(233, 96, 74, .02)!important;
    box-shadow: inset 0 1px 3px 0 rgba(81, 0, 0, .08)!important;
    border: 1px solid #e9604a!important;
    color: #e9604a!important;
  }
  
  .cf-input.focus,
  .cf-input:active,
  .cf-input:focus,
  .cf-input:hover {
    background-color: rgba(0, 0, 0, .01)!important;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .08)!important;
    border: 1px solid rgba(0, 0, 0, .24)!important;
  }
  
  .blocks-suggest .bs-content {
    width: 100%;
    padding: 7px 8px;
    height: 44px;
    margin: -4px 0;
    overflow: hidden;
    cursor: text;
    white-space: nowrap;
  }
  
  .blocks-suggest .bs-content .blocks-list {
    display: inline-block;
    vertical-align: top;
  }
  
  .blocks-suggest .bs-content .bs-input {
    border: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .art-textarea-expand {
    position: relative;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .01);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .08);
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 3px 16px;
    font-size: 16px;
    line-height: 1.75;
    color: #000;
    min-height: 36px;
    outline: 1px solid transparent;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-user-select: auto;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
  }
  
  .temp-tab .web .states-box>div .input-url-box .art-textarea-expand {
    border-radius: 7px;
    background-color: #fafafa;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .07);
    border: 1px solid rgba(0, 0, 0, .09);
    color: #000;
    max-height: 72px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .att .galery {
    display: inline-block;
    background: white;
    margin-right: 10px;
  }
  
  .att .galery .add {
    height: 100%;
    position: absolute;
    top: 0;
    line-height: 100%;
    background-color: white;
    width: 254px;
  }
  
  .att .galery .add button {
    height: 100%;
  }
  
  .att .galery .image {
    margin: 0;
    width: 254px;
    height: 144px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #fff;
    overflow: hidden;
  }
  
  .att .galery .img {
    opacity: 1;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #ebebeb; // background-position: 50%;
    // background-repeat: no-repeat;
    // background-size: cover;
    transition: opacity .1s;
  }
  
  .att .galery .img img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  
  .att .galery .content {
    padding: 3px;
  }
  
  .att .galery .content .url-img,
  .att .galery .content .url-input,
  .att .galery .content .description,
  .att .galery .content .title {
    padding: 5px;
  }
  
  .att .galery .content input,
  {
    float: none;
    box-shadow: none;
    border-radius: 6px;
    font-weight: 400;
    width: 100%;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 0;
  }
  
  .att .galery .content input:focus,
  .att .galery .content input:hover,
  .att .galery .content input:active {
    outline: 0;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.33);
  }
  
  
  /* toan */
  
  .campaign-name {
    background: transparent;
    border: 0;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
    display: -webkit-inline-box;
    max-width: 80%;
    min-width: 10%;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    resize: horizontal;
  }
  
  .campaign-name:focus {
    border: 1px solid #ccc;
  }
  .message-text-box {
    box-shadow: 2px 2px 2px #888888;
    background: white;
    width: 50%;
    float: left;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .group-block {
    position: relative;
  }
  .group-block-delete {
    position: absolute;
    background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
    height: 30px;
    width: 30px;
    right: 10px;
    top: -5px;
    opacity: 0;
  }
  .group-block:hover .group-block-delete {
    opacity: 0.5;
    cursor: pointer;
  }
  .fa-arrows-v {
    font-size: 16px;
    opacity: 0;
  }
  .group-block:hover .fa-arrows-v {
    opacity: 0.5;
    cursor: move;
  }
  .content-res {
    overflow: hidden !important;
  }
  body {
    overflow: hidden;
  }  
  .main-content .form-group {
    margin: 0;
    margin-bottom: 0;
    // margin-top: 10px;
    padding: 0;
  }
  
  .fa-filter {
    float: right;
    // margin-right: 10%;
    padding-right: 10px;
    margin-top: -30px;
    color: #ccc;
    font-size: 25px;
  }
  .faq-disabled{
    pointer-events: none;
    opacity: 0.4;
  }
  .tag-name-thang {
    background: transparent;
    border: 0;
    font-size: 18px;
    border-radius: 10px;
  }
  .tag-name {
    background: transparent;
    border: 0;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 0px 5px 0px
  }
  
  .tag-name:focus {
    border: 1px solid #ccc;
  }

  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    /* For Firefox */
  }
  .group-block-delete {
    position: absolute;
    background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
    height: 30px;
    width: 30px;
    right: 10px;
    opacity: 0.5;
    cursor:pointer;
  }