<div *ngIf="showLogin" class="text-center" style="margin-top: 10px;font-size: larger;">
    <div>Bạn cần đăng nhập Facebook để sử dụng.</div>
    <!-- <button class="btn btn-social btn-fill btn-facebook" (click)="clickLogin()">Đăng nhập facebook</button> -->
    <button class="btn btn-social btn-fill btn-facebook" (click)="clickLogin()">
        <i class="fa fa-facebook-square"></i> Đăng nhập facebook
    <div class="ripple-container"></div></button>
</div>