<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="close()"></div>
    <p class="text-center dialog-header-p">{{title}}</p>
    <div class="create-demand" *ngIf="type === 'create' ; else confirmdelete">
        <div class="report-save-content">
            <p class="report-name">
                <span>
                    <strong>{{name}} </strong>
                </span>
            </p>
            <div class="list-report-content">
                <div class="col-sm-12">
                    <div class="input-group input-group-report">
                        <span class="input-group-addon">
                            <i class="material-icons">face</i>
                        </span>
                        <div class="form-group label-floating">
                            <input placeholder="Tên khách hàng" name="report_name" type="text" class="form-control" [(ngModel)]="customerInfo.name">
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="input-group input-group-report">
                        <span class="input-group-addon">
                            <i class="material-icons">phone</i>
                        </span>
                        <div class="form-group label-floating">
                            <input placeholder="Số điện thoại" name="report_phone" type="text" class="form-control" [(ngModel)]="customerInfo.phone">
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="input-group input-group-report">
                        <span class="input-group-addon">
                            <i class="material-icons">room</i>
                        </span>
                        <div class="form-group label-floating">
                            <input placeholder="Địa chỉ" name="report_time_zone" type="text" class="form-control" [(ngModel)]="customerInfo.address">
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="input-group input-group-report">
                        <span class="input-group-addon">
                            <i class="material-icons">insert_comment</i>
                        </span>
                        <div class="form-group label-floating">
                            <textarea placeholder="Nội dung báo xấu (*)" rows="4" name="report_content" class="form-control"  [(ngModel)]="contentReport"></textarea>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group text-center col-md-12">
                <button class="btn btn-facebook btn-rounded btn-create-demand-submit" type="button" (click)="saveReport()">Lưu</button>
            </div>
        </div>
    </div>
    <ng-template #confirmdelete>
            <div class="input-group text-center col-md-12">
                    <button class="btn btn-facebook btn-rounded btn-create-demand-submit" type="button" (click)="deleteReport()">Đồng ý</button>
                </div>
    </ng-template>
</div>