.icon-user-login {
    width: 26px;
    margin-top: -3px;
    margin-right: 10px;
    border-radius: 3px ;
}
.navbar .navbar-nav > li > a {
   color: gray;
}
.navbar-header {
  display: none;
}
.dropdown-menu li > a:hover{
  background-color: #4183C4
}
.navbar-collapse .navbar-menu:hover{
    color: #4183C4;
}

.modal-dialog {
  width: 1020px;
  height: 650px;
  padding: 0;
}

.modal-content {
  height: 100%;
}
.modal .modal-dialog {
  margin-top: 10px;
}
.images-guide-app-list {
  height: 550px;
  margin: auto;
  position: relative;
}
/* #list-fanpage-create-app {
  height: 100%;
} */
.modal-body.list-fanpage-create-app {
  height: 560px;
  width: 1000px
}
.images-guide-app-list img {
  height: 550px;
  width: auto;
}
.close-button {
  font-size: 30px;
}
.modal-content .modal-header {
  padding-top: 5px;
}
.modal-content .modal-body {
  padding-top: 5px;
}