<div class="modal fade" id="appListGuideModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="close-button">&times;</span>
        </button>
      </div>
      <div class="modal-body list-fanpage-create-app">
        <div class="images-guide-app-list">
            <img  src="https://file.mideasvn.com/chatai/guild/apps/1.png"/>
            <img  src="https://file.mideasvn.com/chatai/guild/apps/2.png"/>
            <img  src="https://file.mideasvn.com/chatai/guild/apps/3.png"/>
            <img  src="https://file.mideasvn.com/chatai/guild/apps/4.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="loginGuideModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" ></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="close-button">&times;</span>
        </button>
      </div>
      <div class="modal-body list-fanpage-create-app">
        <div class="images-guide-app-list">
            <img  src="https://file.mideasvn.com/chatai/guild/login/1.png"/>
            <img  src="https://file.mideasvn.com/chatai/guild/login/2.png"/>
            <img  src="https://file.mideasvn.com/chatai/guild/login/3.png"/>
            <img  src="https://file.mideasvn.com/chatai/guild/login/4.png"/>
        </div>
      </div>
    </div>
  </div>
</div>