<div class="chat-left-aside mideas-contact-chat" id="mideas-contact-chat">
    <div class="loading-contact-list" style="position: fixed;top: 50%;left: 7%;width: 100px;height: 100px;" *ngIf="loadingContact">
        <img style="height: 100px;width: 100px;" src="./assets/img/chat/loading.gif" alt="Loading">
    </div>
    <div class="chat-left-inner mideas-content-contact">
        <div class="col-md-12">
            <div class="filter-search">
                <div class="input-group search-content">
                    <div class="form-group label-floating is-empty">
                        <input placeholder="Tìm kiếm tên, email, sđt, nội dung" id="search-content-input" [(ngModel)]="inputSearch" (keyup.enter)="onKeySearch($event)"
                            name="search-content" maxlength="100" type="text" class="form-control" value="">
                        <span class="material-input"></span>
                    </div>
                    <span class="input-group-addon click-choose-action" style="cursor:pointer;">
                        <i class="material-icons hana-bookmark">bookmark_border</i>
                        <div class="dropdown-content">
                            <a class="mark-all-readed" (click)="markAllReaded()">Đánh dấu tất cả đã đọc</a>
                            <a class="mark-all-supported" (click)="markAllSupported()">Đánh dấu tất cả đã hỗ trợ</a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="filter-tags">
                <span *ngFor="let tag of listTags; count as count; index as i">
                    <div class="tag-list-item" [ngStyle]="{'background-color': tag.color,  'opacity': tag.opacity ? tag.opacity: 0.3 }" (click)="searchTags(tag)"></div>
                </span>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button style="display:none" id="hana-create-room" type="button" class="btn btn-info hana-create-room">Tạo nhóm</button>
        </div>
        <div class="col-md-12 mideasvn-no-padding">
            <ul class="chatonline style-none" id="chat_list" (scroll)="contactScroll($event)">
                <ng-container *ngFor="let lstContact of lstContacts">
                    <li [ngClass]="{ 'open-chat': true, 'contact-item-mideas': true, 'activeChat': lstContact.is_open }">
                        <div class="hana-head-contact">
                            <ng-container *ngIf="lstContact.cus_avatar else cusonline">
                            </ng-container>
                            <ng-template #cusonline>
                                <ng-container *ngIf="lstContact.detectOnline; else useroffline">
                                    <i aria-hidden="true" class="fa fa-circle mideasvn-contact-status mideasvn-contact-offline" style="position: absolute;left: 15px;top: 5px; color: green"></i>
                                </ng-container>
                                <ng-template #useroffline>
                                    <i aria-hidden="true" class="fa fa-circle mideasvn-contact-status mideasvn-contact-offline" style="position: absolute;left: 15px;top: 5px;"></i>
                                </ng-template>

                            </ng-template>

                            <div class="mideas-time-contact">
                                <p>{{lstContact.last_message_time | unixtotimestring:hour}}</p>
                            </div>
                        </div>
                        <a class="mideas-open-chat" (click)="openChatRoute(lstContact)">
                            <ng-container *ngIf="lstContact.cus_avatar else cusavatar">
                                <img src="{{ lstContact.cus_avatar }}">
                            </ng-container>
                            <ng-template #cusavatar>
                                <ng-container *ngIf="lstContact.detectOnline; else avataroffline">
                                    <ng-container *ngIf="lstContact.broadcastStatus; else avatarcollapsehide">
                                        <ng-container *ngIf="lstContact.broadcastStatus == 'show' || lstContact.broadcastStatus == 'focus'">
                                            <i class="fa fa-eye hana-avatar-status" aria-hidden="true" mdTooltip="Khách đang mở hộp chat" [mdTooltipPosition]="position"></i>
                                        </ng-container>
                                        <ng-container *ngIf="lstContact.broadcastStatus == 'hidden'">
                                            <i class="fa fa-blind hana-avatar-status" aria-hidden="true" mdTooltip="Khách đã rời đi" [mdTooltipPosition]="position"></i>
                                        </ng-container>
                                        <ng-container *ngIf="lstContact.broadcastStatus == 'hide'">
                                            <i class="fa fa-eye-slash hana-avatar-status" aria-hidden="true" mdTooltip="Khách đã đóng hộp chat" [mdTooltipPosition]="position"></i>
                                        </ng-container>
                                        <ng-container *ngIf="lstContact.broadcastStatus == 'typing'">
                                            <div id="wave" aria-hidden="true" mdTooltip="{{lstContact.typingmessage}}" [mdTooltipPosition]="position">
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                    <ng-template #avatarcollapsehide>
                                        <i class="fa fa-eye-slash hana-avatar-status" aria-hidden="true" mdTooltip="Khách đã đóng hộp chat" [mdTooltipPosition]="position"></i>
                                    </ng-template>
                                </ng-container>
                                <ng-template #avataroffline>
                                    <i class="fa fa-user-circle  hana-avatar-status hana-status-offline" aria-hidden="true" mdTooltip="Khách đã thoát" [mdTooltipPosition]="position"></i>
                                </ng-template>
                            </ng-template>

                            <span>
                                <img class="hana-supporter" src="{{lstContact.supporterinfo?.url_avatar? lstContact.supporterinfo.url_avatar : './assets/img/chat/hana-user.jpg'}}" mdTooltip="{{lstContact.supporterinfo?.full_name}}" [mdTooltipPosition]="position">
                                <ng-container *ngIf="lstContact.need_support == true else dontneedsup">
                                    <ng-container *ngIf="lstContact.cus_name else cusname">
                                        <b style="color:red">{{lstContact.cus_name | lengthlimit: 40}}</b>
                                    </ng-container>
                                    <ng-template #cusname>
                                        <b style="color:red">User</b>
                                    </ng-template>
                                    <ng-container *ngIf="lstContact.last_message_status == '1' else msghighlight1">
                                        <small class="text-success">{{lstContact.last_message_content | rawtocontent:30}}</small>
                                    </ng-container>
                                    <ng-template #msghighlight1>
                                        <small class="text-success high-light">{{lstContact.last_message_content | rawtocontent:30}}</small>
                                    </ng-template>
                                </ng-container>
                                <ng-template #dontneedsup>
                                    <ng-container *ngIf="lstContact.last_message_status == '1' else msghighlight">
                                        <ng-container *ngIf="lstContact.cus_name else cusname">
                                            <span>{{lstContact.cus_name | lengthlimit: 40}}</span>
                                        </ng-container>
                                        <ng-template #cusname>
                                            <span>User</span>
                                        </ng-template>
                                        <small class="text-success">{{lstContact.last_message_content | rawtocontent:30}}</small>
                                    </ng-container>
                                    <ng-template #msghighlight>
                                        <ng-container *ngIf="lstContact.cus_name else cusname">
                                            <b>{{lstContact.cus_name | lengthlimit: 40}}</b>
                                        </ng-container>
                                        <ng-template #cusname>
                                            <b>User</b>
                                        </ng-template>
                                        <small class="text-success high-light">{{lstContact.last_message_content | rawtocontent:30}}</small>
                                    </ng-template>
                                </ng-template>

                            </span>
                            <span class="tags">
                                <span style="margin-right: 5px;">
                                    <ng-container *ngIf="lstContact.tags">
                                        <div *ngFor="let tag of lstContact.tags; count as count; index as i" class="tag-item" [ngStyle]="{'background-color': tag.color}"
                                            (click)="searchTags(tag)"></div>

                                    </ng-container>
                                    <ng-container *ngIf="lstContact.is_phone_number && lstContact.is_phone_number == 1">
                                        <i class="material-icons" style="color: green">phone</i>
                                    </ng-container>
                                    <ng-container *ngIf="lstContact.entry == 'groupchat' else defaultimg">
                                        <i class="material-icons">mail_outline</i>
                                    </ng-container>
                                    <ng-template #defaultimg>
                                        <i class="material-icons">chat_bubble_outline</i>
                                    </ng-template>
                                </span>

                            </span>
                        </a>
                    </li>
                </ng-container>


            </ul>
        </div>
        <div class="scroll" style="position: absolute;top: 50%;left: 40%;width:100%; height:50px;display:none">
            <img style="height:50px; width: 50px;" src="./assets/img/chat/loading.gif" alt="Loading">
        </div>
    </div>
    <!--danh sach chat-->
</div>