// component css goes here
#mideas-contact-chat .chatonline {
    height: calc(100vh - 140px) !important;
    // overflow-y: scroll;
    overflow-x: hidden;
}

#mideas-contact-chat .hana-avatar-status {
    margin-right: 10px;
    float: left;
    width: 50px;
    border-radius: 7px;
    height: 50px;
    font-size: 50px;
}
#mideas-contact-chat .hana-status-offline {
    color: #eaeaea;
}

#mideas-contact-chat .hana-supporter {
    float: right;
    position: absolute;
    right: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}


div#wave {
    position: relative;
    margin-top: 0;
    text-align: center;
    height: 50px;
    width: 50px;
    float: left;
}
div#wave .dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 25px;
    background: #303131;
    animation: wave 1.3s linear infinite;
}
div#wave .dot:nth-child(2) {
    animation-delay: -1.1s;
}
div#wave .dot:nth-child(3) {
    animation-delay: -0.9s;
}

@keyframes wave {
    0%, 60%, 100% {
        transform: initial;
    }
    30% {
        transform: translateY(-15px);
    }
}