// component css goes here
table {
  border-collapse: collapse;
}

table, th, td, th {
  border: 1px solid #ccc;
  padding: 5px;
}
table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}
td {
  text-align: center;
}
.btn-round  {
  padding: 2px;
}
.text-left {
  text-align: left;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 38px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
  float: right;
  margin-right: 15px;
  margin-top: 25px
}
.text-left {
  text-align: left;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 32px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
  float: right;
  margin-right: 15px;
  margin-top: 15px
}

.btn-search-entities {
  margin-top: 22px;
}
.container-agents {
  padding-left: 6px;
  padding-right: 15px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .btn-search-right {
    margin-right: 0px;
  }
}

@media (max-width: 991px) {
  .navbar-form .btn {
    position: absolute;
    top: -13px;
    right: -22px;
  }
  #inputSearch {
    width: 100% !important;
  }
  .form-search {
    width: 100% !important;
  }
}
.container-agents {
  padding-bottom: 0px;
}
.btn-search-right {
  float: right;
  margin-right: -7px;
}
.frm-s {
  width: 93%;
  margin-left: -26px;
}
@media (max-width: 991px) {
  .frm-s {
    width: 90%;
    margin-left: 0px;
  }
}
td, th {
  border-bottom: 1px dotted #eee;
  padding: 5px;
}
.link-bold {
  font-weight: 500;
}
.w-20 {
  width: 40px;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #f44336;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #777;
}
.i-delete {
  font-size: 27px;
}
.pre-26 {
  margin-top: -33px;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 7px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
@media (max-width: 991px) {
  .navbar-form .btn {
    position: absolute;
    top: -13px;
    right: -22px;
  }
  #inputSearch {
    width: 100% !important;
  }
  .form-search {
    width: 100% !important;
  }
  .material-datatables {
    margin-top: 15px !important;
    margin-right: 10px;
    margin-left: -11px !important;
  }
}
.material-datatables {
  margin-left: 8px;
  margin-right: 6px;
  margin-top: -17px;
}

.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #999;
}
.btn-round  {
  padding: 2px;
}
.i-delete {
  font-size: 27px;
}
.btn-add-user-say {
  background-color: transparent; border: 1px double red; color: red; padding-bottom: 1px; padding-top: 1px;
}
.user-say-form-group {
  margin-top: 0px !important;
}
.card-user-say {
  margin-top: 5px;
}
.ng2-tag-input .ng2-tags-container {
  flex-wrap: wrap;
  display: flex;
  width: 100% !important;
}
.ng2-tag-input .ng2-tags-container {
  flex-wrap: wrap;
  display: flex;
  width: 100% !important;
}
.create-new-custom {
  margin-top: 0px !important;
}
.card-list-intent {
  margin-top: 10px !important;
  min-height: 400px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 11px;
}
.create-new-custom {
  margin-top: 0px !important;
  margin-left: 11px;
}
tag-input-form {
  width: 100% !important;
}
.left-content {
  text-align: left;
  padding: 0px;
}
.card-intent-list {
  margin-top: 21px;margin-bottom: 0px;background: #fff !important;
}
.card-content-intent-list {
  min-height: inherit !important;
}
.title-intent-list {
  margin-left: 5px
}
.row-intent {
  margin-top: 50px;
}
.tim-theo {
  margin-left: 2px; padding-top: 6px
}
.col-6-custom {
  width: 56%
}
.col-12-custom {
  padding-right: 5px;
}
.form-group-custom {
  margin-left: 3px;margin-top: 0px;
}
.btn-huy {
  background-color: #aaaaaa !important
}
.user-say-icon {
  padding-bottom: 10px !important;
}
.custom-buttom-search {
  background: transparent;
  border: none;
  margin-top: 11px;
}
.btn-add-intent {
  margin-right: 10px;
}
.callback {
  color: #f27a09;
}
.card-intent-list {
  margin-top: 21px;
  margin-bottom: 0;
  background: #fff!important;
}
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 47px 0;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); */
  border-radius: 6px;
  color: #777;
  /* background: #fff; */
}
.card-intent-list {
  margin-top: 21px;
  margin-bottom: 0;
  background: #fff!important;
}
.card-list-intent {
  margin-top: 10px!important;
  min-height: 400px;
}
.card .card-content {
  padding: 15px 20px;
  position: relative;
  /* min-height: 200px !important; */
  background-color: #fff;
  border-radius: 5px;
}
.title-intent-list {
  margin-left: 5px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 11px;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: 0px;
}
.create-new-custom {
  margin-top: 0!important;
  margin-left: 11px;
}
.row-intent {
  margin-top: 50px;
}
.container-agents {
  padding-bottom: 0;
}
.container-agents {
  padding-left: 6px;
  padding-right: 15px;
  padding-bottom: 20px;
}
.col-12-custom {
  padding-right: 5px;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.panel .panel-heading .panel-title {
  font-size: 15px;
  font-weight: bolder;
  color: #337ab7;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel .panel-heading {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 25px 10px 5px 0px;
}
.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
  background-color: #3c8dbc;
  color: #FFFFFF;
}
.btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger:hover {
  box-shadow: none !important;
}
.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger {
  box-shadow: none !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #5690c2 !important;
  border-color: #5690c2 !important;
  color: #FFFFFF;
  box-shadow: none !important;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: 0px;
}
td h4.card-title {
  color: #3c8dbc;
  font-weight: 300;
}
.create-new-custom {
  margin-top: 0!important;
  margin-left: 11px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 11px;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: 0px;
}
.icon-title-list {
  position: relative;
  top: 6px;
}
.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: 0px;
  position: relative;
}
.container-agents {
  padding-bottom: 0;
}
th {
  height: 50px;
  text-align: center;
  font-size: 13px;
  color: #777 !important;
}
.ng2-tag-input__text-input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 0.5rem;
  height: initial !important;
  font-size: 1em;
  margin-bottom: 3px !important;
  margin-top: 6px !important;
  font-family: inherit !important;
  /* color: #337ab7 !important; */
  min-width: 203px !important;
}
.form-control, .form-group .form-control {
  border: 0;
  background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  /* line-height: 1.8; */
  height: 33px;
}
h4, .h4 {
  font-size: 16px;
  line-height: 1.4em;
}