<div class="main-content" id="intent-module">
  <div class="loader" *ngIf="id_loading">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
  <div class="container-fluid entity" *ngIf="!id_loading">
    <div class="row" #list_intents>
      <div class="col-md-12">
        <div class="card card-intent-list">
          <div class="card-content card-content-intent-list">
            <h4 class="card-title card-title-custom "><i class="material-icons icon-title-list">assignment</i>Danh Sách Câu Nói Không Hiểu</h4>
            <br>
            <br>
            <div class="col-md-12" style="padding-bottom: 20px;">
              <!-- search-->
              <search-data-table-list [query_old]="value_filter" (type_filter)="type_filter=$event" (value_filter)="value_filter=$event" (userSayDontunderstand)="userSayDontunderstand=$event" (intent_usersays_filter)="intent_usersays_filter=$event" [listId]="listId" [searchId]="searchId"></search-data-table-list>
            </div>
          </div>
        </div>
        <div class="card card-list-intent" >
          <div class="card-content">
            <h4 class="card-title card-title-custom title-intent-list "><i class="material-icons icon-title-list">assignment</i>Danh Sách Ý Định</h4>
            <div class="col-md-12 create-new-custom">
              <a class="btn btn-danger btn-search-right"   href="#/pages/intents/intentNew/callback" >
                Tạo câu trả lời khi không hiểu  <i class="material-icons">add_box</i>
                <div class="ripple-container"></div>
              </a>
              <a class="btn btn-danger btn-search-right btn-add-intent" href="#/pages/intents/intentNew" >
                Tạo mới  <i class="material-icons">add_box</i>
                <div class="ripple-container"></div>
              </a>
            </div>
            <div class="row container-agents row-intent">
              <div class="col-sm-2 tim-theo">Tìm theo</div>
              <div class="col-sm-6 col-6-custom" style="margin-top: -15px !important;">
                <ba-autocomplete-action-search-type style="min-width: 200px"  [source]="searchTypes"  [selected]="selected" (output)="type_search=$event"></ba-autocomplete-action-search-type>
              </div>
            </div>
            <div class="row container-agents intent-list-search">
              <!-- Input Group -->
              <div class="col-md-12 col-12-custom">
                <div class="form-group form-group-custom">
                  <div class="input-group">
                    <input class="form-control" [(ngModel)]="value_filter_search" type="hidden"  id="value_filter_search" name="value_filter_search">
                    <div  *ngIf="type_search=='Tìm tên ý định, ngữ cảnh'">
                      <tag-input style="margin-top: 5px"  name="tagsContextIn" [(ngModel)]='intent_contexts_in_filter' placeholder="Nhập tên ý định, ngữ cảnh....." secondaryPlaceholder="Nhập tên ý định, ngữ cảnh....." [addOnBlur]="true"  (onTextChange)="onTextChange($event)"  (onRemove)="onRemove($event)" (onTextChange)="onTextChangeContext($event)" (onAdd)="onAddAutoContent($event)" [inputId]="txt_content" >
                        <tag-input-dropdown style="float: right" [autocompleteItems]="tagsContextInAutoComplete">
                          <ng-template let-item="item" let-index="index">
                            {{item.value}}
                          </ng-template>
                        </tag-input-dropdown>
                      </tag-input>
                    </div>
                    <div  *ngIf="type_search!='Tìm tên ý định, ngữ cảnh'">
                      <input class="form-control" (keyup.enter)="filterIntent()" [(ngModel)]="value_filter" name="value_filter_cau_noi" placeholder="Nhập câu nói người dùng..."  />
                    </div>
                    <span *ngIf="type_search=='Tìm tên ý định, ngữ cảnh'" class="input-group-addon">
                      <button class="custom-buttom-search" (click)="filterIntent()"><i class="material-icons">search</i></button>
                    </span>
                    <span *ngIf="type_search!='Tìm tên ý định, ngữ cảnh'" class="input-group-addon user-say-icon">
                      <a style="z-index: 1000" href="#/pages/intents/intentList" (click)="filterIntent()" ><i class="material-icons">search</i></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="material-datatables" *ngIf="list_filter.length==0">
              <div class="header text-center">
                <h4 style="padding-top: 50px" class="title" *ngIf="!id_loading">Danh sách ý định rỗng</h4>
              </div>
            </div>
            <br>
            <br>
            <div class="loader" *ngIf="is_loading_search">
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
              </svg>
            </div>
            <div class="material-datatables" *ngIf="list_filter.length>0">
              <table [mfData]="list_filter" #mf="mfDataTable"
                     [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                  <th class="text-left">
                    <mfDefaultSorter by="name">Tên ý định</mfDefaultSorter>
                  </th>
                  <th class="text-left">
                    <mfDefaultSorter by="usersay">Câu nói của người dùng</mfDefaultSorter>
                  </th>
                  <th class="text-left">
                    <mfDefaultSorter by="group_context_in">Ngữ cảnh</mfDefaultSorter>
                  </th>
                  <th class="disabled-sorting text-right" style="color: #333">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let intent of mf.data">
                  <td class="text-left">
                    <a *ngIf="intent.type == 1" data-toggle="tooltip" title="{{intent.name_full}}" data-placement="top"  [routerLink]="['/pages/intents/intentEdit',intent.id]" >
                      <h4 class="card-title">{{intent.name}}</h4>
                    </a>
                    <a *ngIf="intent.type == 2" data-toggle="tooltip" title="{{intent.name_full}}" data-placement="top"  [routerLink]="['/pages/intents/intentEdit/callback',intent.id]" >
                      <h4 class="card-title callback">{{intent.name}}</h4>
                    </a>
                  </td>
                  <td class="text-left">
                    <p data-toggle="tooltip" title="{{intent.usersay_full}}" data-placement="top">{{intent.usersay}} </p>
                  </td>
                  <td class="text-left">
                    <p data-toggle="tooltip" title="{{intent.group_context_in_full}}" data-placement="top">{{intent.group_context_in}}</p>
                  </td>
                  <td class="td-actions text-right">
                    <a (click)="deleteIntentById(intent.id)" data-toggle="modal" data-target="#confirm-delete-{{intent.id}}" href="#confirm-delete-{{intent.id}}" rel="tooltip" title="" type="button" class="btn-round-delete"><i class="material-icons i-delete">delete</i>
                    </a>
                    <a (click)="duplicateIntent(intent.id)" style="cursor: pointer;" type="button" class="btn-round-delete"><i class="material-icons i-delete">content_copy</i>
                    </a>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr *ngIf="list_filter.length>10">
                  <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                  </td>
                </tr>
                </tfoot>
              </table>
              <div *ngFor="let intent of list_filter">
                <div  class="modal fade" id="add-user-say-{{intent.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">TÊN Ý ĐỊNH: {{intent.name}}</h4>
                      </div>
                      <div class="modal-body" >
                        <div class="card">
                          <div class="card-content card-user-say">
                            <form  action="" class="form-horizontal" method="" #f="ngForm"  novalidate="novalidate">
                              <div class="row">
                                <label class="col-sm-6">Câu nói của người dùng</label>
                                <div class="col-sm-12">
                                  <div class="form-group label-floating is-empty user-say-form-group">
                                    <input class="form-control" value=""  type="hidden" name="id" #id >
                                    <input  class="form-control" value="" type="text" name="name" #name  placeholder="Nhập câu nói của người dùng">
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-huy" data-dismiss="modal">Hủy</button>
                        <button  class="btn btn-danger btn-ok" data-dismiss="modal">Xóa <i class="material-icons">delete</i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end them user say-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>