<div class="loader" *ngIf="loadingProcess">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<div class="card" style="width:100%">
  <div class="card-content" style="min-height:0;padding: 0;">
    <div class="container-group">
      <div class="flex-1">
        <label>DANH SÁCH CÂU NÓI HANA KHÔNG HIỂU</label>
        <div class="hana-dont-understand">
          <md-chip-list>
            <!--<div class="mat-chip-list-wrapper" style="display: inline-grid">-->
              <md-chip class="parent-popup-event" style="cursor: move;cursor: url(images/grab.cur); /* fallback: Internet Explorer */ cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */ cursor:    -moz-grab; /* Firefox 1.5-26 */ cursor:grab; margin: 5px;min-width:100px" *ngFor="let car of availableCars; let i = index" selected="true"
                pDraggable="cars" (onDragStart)="dragStart($event,car)" (onDragEnd)="dragEnd($event)">
                {{car.content}}
                <div class="btn-trash-icon btn-popup-one" (click)="deleteIntent(car.id, i)"></div>
                <div class="btn-add-icon btn-popup-two" (click)="openDialogTraining(car.id, car.content)"></div>
                <div class="btn-find-icon btn-popup-three" (click)="handleSearchUsersay(car.content)"></div>
              </md-chip>
            <!--</div>-->
          </md-chip-list>
        </div>
        <div class="msgSay" *ngIf="msgSay">Không có dữ liệu</div>
      </div>
      <div class="flex-2">
        <div class="flex-2-child">
          <label>Ý ĐỊNH TƯƠNG TỰ</label>
          <div class="form-group is-empty">
            <input [(ngModel)]="searchKey" value="{{searchKey}}" autocomplete="off" class="form-control" style="padding-left: 10px; border: 1px solid #ccc; width: 100%;background-image: none;background-position: none;background-color:#fff;border-radius:7px"
              placeholder="Lọc theo câu nói khách hàng hoặc Hana trả lời..." type="text" (keyup.enter)="getListIntentByUsersay($event.target.value)">
            <i class="fa fa-filter" aria-hidden="true"></i>
          </div>
          <div class="hana-dont-understand">
            <div *ngFor="let intent of intents; let i = index" style="margin-bottom: 10px">
              <div pDroppable="cars" (onDrop)="drop($event, i)" [ngClass]="{'ui-state-highlight':draggedCar}">

                <!--<p style="height: 100px; width: 100px" *ngFor="let item of selectedCars">{{item.vin}}</p>-->
                <ba-chips [values]="intent.usersays" (output)="backToDontUnderstand($event, i)"></ba-chips>
              </div>
            </div>
          </div>
          <div class="msg" *ngIf="errorMes">Không tìm thấy câu nói tương tự</div>
        </div>
      </div>
    </div>
  </div>
</div>
