<div class="wrapper wrapper-full-page">
    <!--<div class="main-panel">-->
    <div>
        <div class="main-content">
            <div class="container-fluid">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="blue" id="wizardProfile">
                            <div class="wizard-header">
                                <h3 class="wizard-title">
                                    Cập nhật thông tin tài khoản
                                </h3>
                                <h5 *ngIf="user; else usernull">Xin chào {{user.email}}! Vui lòng điền đầy đủ thông tin sau để kích hoạt.</h5>
                                <ng-template #usernull>
                                  <h5>Xin chào! Vui lòng điền đầy đủ thông tin sau để kích hoạt.</h5>
                                </ng-template>
                            </div>

                            <div class="tab-content">
                                <div class="row card-content">
                                    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
                                        <div class="col-lg-12">

                                            <div class="row col-md-6 col-md-offset-3">
                                                <!--<div class="alert alert-danger" *ngIf="!complexForm.controls['appName'].valid && complexForm.controls['appName'].touched ">Vui lòng nhập tên ứng dụng.</div>-->
                                              <!--<ng-container *ngIf="!complexForm.valid">-->
                                                <!--<div class="alert alert-danger" *ngIf="!complexForm.controls['appName'].valid && complexForm.controls['appName'].touched ; else passwordconfirm">Vui lòng nhập tên ứng dụng.</div>-->
                                                <!--<ng-template #passwordconfirm>-->
                                                  <!---->
                                                <!--</ng-template>-->
                                              <!--</ng-container>-->
                                              <div class="alert alert-danger" *ngIf="validatePass">{{validatePasaString}}</div>
                                              <div class="form-group label-floating is-empty">
                                                    <label class="control-label">
                                                        Tên của bạn
                                                        <span class="star">*</span>
                                                    </label>
                                                    <input class="form-control" type="text" [formControl]="complexForm.controls['fullname']" (keyup)="setValidate()"/>
                                                    <span class="material-input"></span>
                                                </div>
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">
                                                        Mật khẩu
                                                        <span class="star">*</span>
                                                    </label>
                                                    <input class="form-control" type="password" [formControl]="complexForm.controls['password']" (keyup)="setValidate()"/>
                                                    <span class="material-input"></span>
                                                </div>
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">
                                                        Nhập lại mật khẩu
                                                        <span class="star">*</span>
                                                    </label>
                                                    <input class="form-control" type="password" [formControl]="complexForm.controls['passwordconfirm']" (keyup)="setValidate()" />
                                                    <span class="material-input"></span>
                                                </div>


                                            </div>
                                            <div class="row col-md-6 col-md-offset-3">
                                                <div class="text-center">
                                                    <button class="btn btn-facebook btn-lg" type="submit">Cập nhật<div class="ripple-container"></div></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <!-- wizard container -->
            </div>
        </div>
    </div>



  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <h3>Cập nhật thành công </h3><a  [routerLink]="['/login-hana']">Click vào đây để đăng nhập</a>
        </div>
        <!--<div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
              </div>-->
      </div>
    </div>
  </div>

