<div class="row">
  <div class="col-md-12" style="margin-top: 15px;">
    <span class="campaign-name">{{campaign?.name}}</span>
    <i style="position: absolute;cursor:pointer" class="material-icons" (click)="changeView(campaign.id)">edit</i>
  </div>
</div>

<div class="row">
  <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
</div>

<div class="row">
  <div class="col-md-12">
    <label>LỊCH SỬ CHIẾN DỊCH</label>
  </div>

  <div class="col-md-12" style="margin-top:10px">
    <ul class="campaign-history">
      <li>
        <span>Ngày gửi</span>
        <span style="text-align:left; width: 20%">Nội dung</span>
        <span style="width: 10%">Tổng</span>
        <span style="width: 10%">Gửi</span>
        <span style="width: 10%">Nhận</span>
        <span style="width: 10%">Đọc</span>
        <span style="width: 20%">Trạng thái</span>
      </li>
      <li rel="tooltip" data-placement="right" title="{{item.content_text}}" class="body" *ngFor="let item of broadcasts">
        <!-- <span>{{item.send_time | amUtc | amLocal | amLocale:'vi' | amDateFormat: 'DD/MM/YYYY'}} <p>{{item.send_time | amLocale:'vi' | amDateFormat: 'HH:mm:ss a'}}</p></span> -->
        <span>{{item.send_time_day}} <p>{{item.send_time_hour}}</p></span>
        <!-- <span>{{item.content_text | truncate : 20}}</span> -->
        <span style="width: 20%">Nội dung block</span>
        <span style="height: 40px;line-height: 40px; width: 10%">{{item.total_sent || "0"}}</span>
        <span style="height: 40px;line-height: 40px;width: 10%">{{item.num_sent || "0"}}</span>
        <span style="height: 40px;line-height: 40px;width: 10%">{{item.num_delivered || "0"}}</span>
        <span style="height: 40px;line-height: 40px;width: 10%">{{item.num_seen || "0"}}</span>
        <span style="height: 40px;line-height: 40px; width: 20%" *ngIf="item.status == 1">Hoàn thành</span>
        <span style="height: 40px;line-height: 40px; width: 20%" *ngIf="item.status == -1">Đã hủy</span>
        <span style="height: 40px;line-height: 40px; width: 20%; cursor: pointer" *ngIf="item.status == 0" >
                <a class="btn_huy" (click)="cancelBroadcast(item)"><i style="text-decoration: underline">Hủy</i></a>
              </span>
      </li>
    </ul>
  </div>

  <div class="col-md-12" *ngIf="datasource.length > 5">
    <md-paginator style="border-radius:7px;box-shadow: 2px 2px 2px #888888;margin-right: 10px;margin-bottom: 10px;" [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event; changeEvent($event) ">
    </md-paginator>
  </div>
</div>
