<div class="row">
  <div class="col-md-12" style="margin-top: 15px;">
    <ba-switch style="float: left;" [checked]="templateBroadcast.is_on" (output)="changeIsOn($event)"></ba-switch>
    <!-- <md-slide-toggle ngDefaultControl [checked]="templateBroadcast.is_on" (change)="changeIsOn($event)"></md-slide-toggle> -->
    <!-- <span style="float: left;" class="campaign-name" contenteditable [textContent]="campaign.name" (input)="campaign.name=$event.target.textContent;"
      (blur)="campaignChange()">{{campaign.name}}</span> -->
    <span style="float: left;" class="campaign-name" contenteditable (blur)="campaign.name =$event.target.textContent; campaignChange()">{{campaign.name}}</span>
    <span class="group-block-delete" (click)="deleteCampaign(campaign)"></span>  
  </div>
</div>

<div class="row">
  <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
</div>

<div class="row">
  <div class="col-md-12">
    <label>GỬI CHO NHỮNG NGƯỜI THOẢ ĐIỀU KIỆN</label>
    <div class="sum-customer">Có <span style="font-weight: bold;color: #2196F3;">{{totalRecords}} khách hàng</span> <span *ngIf="queries.length===0"> (tất cả)</span>      thỏa điều kiện lọc</div>
  </div>
  <div class="col-md-12">
    <!-- <div id="myFilterSchedule"></div> -->
    <ba-query-builder [condition_default]="conditionDefault" [conditionsSaved]="conditionsSaved"
    [searchTypeData]="searchTypeDataFilter2" (outputFilter)="filterv2($event)"></ba-query-builder>
  </div>
</div>

<div class="row">
  <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
</div>
<div class="row">
  <div class="col-md-12">
    <label>THỜI GIAN GỬI</label>
  </div>
  <br>
  <div class="col-md-12" style="margin-top: 10px;margin-bottom: 10px;">
    <input style="float: left;padding-left: 5px;border: 0;margin-left: 10px;height: 31px;width: 130;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important" class="picker-input"
      [value]="input14Moment | date: 'dd/MM/yyyy HH:mm'" (onChange)="changeDate($event)" [locale]="'vi'" [mode]="'dropdown'"
      [(ngModel)]="input14Moment" [minMoment]="minMoment" dateTimePicker readonly>
    <md-select style="float: left;padding-left: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important"
      (ngModelChange)="changeRepeatType($event)" [(ngModel)]="repeatType">
      <md-option *ngFor="let item of repeatValue" [value]="item.name">
        {{ item.label }}
      </md-option>
    </md-select>
  </div>
  <div class="col-md-12" style="margin-top: 10px;margin-bottom: 10px;" *ngIf="repeatType === 'custom'">
    <div class="text-select-days">Đang chọn: <span *ngFor="let select of daysSelected">{{select === 1 ? 'CN':'T' + select}}</span></div>
    <md-button-toggle-group multiple #group="mdButtonToggleGroup" style="background-color: #fff;border-radius: 7px;box-shadow: 2px 2px 2px #888888;">
      <md-button-toggle [checked]="item.active" (click)="selectDays(item.value)" [value]="item.value" *ngFor="let item of daysOfWeek">
        {{item.label}}
      </md-button-toggle>
    </md-button-toggle-group>
  </div>
</div>

<div class="row">
  <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
</div>
<div class="row">
  <div class="col-md-12">
    <label>NỘI DUNG TIN NHẮN CẤU TRÚC</label>
    <div><span style="font-weight: bold;color: #EC407A;"><i style="font-size: 19px;float:left" class="material-icons">error_outline</i></span><span style="font-weight: bold;">{{configService.facebookPolicy}}</span></div>
  </div>
  <div class="col-md-12">
    <ba-structured [hideTitle]="true" [blockInput]="blockCurrent" (blockOutput)="updateBlock($event)"></ba-structured>
  </div>
</div>