.img-agent {
    width: 30px; position: absolute;
    margin-right: 10px;
}
.title-list-agent {
    padding-left: 41px
}
.img-sub-agent {
    width: 27px;
    height: 22px;
    padding-right: 10px;
    /* margin-left: 7px; */
    padding-right: 5px;
}
.ex-link {
     width: 20%; position: absolute; top: 0px; right: 0px; height: 51px; background-color: transparent !important;
 }
a.active {
    background-color: rgba(255,255,255,.15) !important;
}
.agent-active {
    font-weight: bold;
    font-size: 15px;
}
.no-agent {
    text-align: left !important;
    padding-left: 27px !important;
}
.div-no-agent {
    padding: 0px;
}
.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 260px !important;
    background: #FFFFFF;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.sidebar .logo p,
.off-canvas-sidebar .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #FFFFFF;
    line-height: 20px;
}
.sidebar .logo-img img, .off-canvas-sidebar .logo-img img {
    width: 42px;
    top: 10px;
    left: 18px;
    position: absolute;
}
.sidebar-wrapper {
    overflow: scroll !important;
    overflow: auto !important;
    overflow-x: hidden !important;
}

.circular-agent {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.img-sub-agent {
    width: 26px;
    height: 26px;
    padding-right: 0px;
}
img {
    border-radius: 13px;
}
.sidebar .logo-img img, .off-canvas-sidebar .logo-img img {
    width: 42px;
    top: 16px;
    left: 18px;
    position: absolute;
    border-radius: 34px !important;
}