<!-- SIDEBAR -->
<div class="logo" *ngIf="currentAgent" style="padding: 15px 0px; margin: 0; display: block; position: relative; z-index: 4; min-height: 65px;">
    <div class="logo-normal" *ngIf="currentAgent.name!='empty'">
        <a class="simple-text" style="text-transform: uppercase; padding: 0px 0px; display: block; font-size: 15px; padding-left: 61px; color: #fff; text-align: left; white-space: nowrap; font-weight: 500; /* line-height: 30px; */ overflow: hidden; padding-bottom: 0px !important; padding-top: 5px;">
            {{currentAgent?.name | truncate:15}}
        </a>
    </div>
    <div class="logo-img" *ngIf="currentAgent.name!='empty'">
        <img src="{{ currentAgent.avatar_url || '../assets/img/faces/hana-avatar.png'}}" onError="this.src='../assets/img/faces/hana-avatar.png';" style="width: 36px; height: 36px; border-radius: 34px !important;" />
    </div>
</div>
<div class="logo div-no-agent" *ngIf="!currentAgent">
    <div class="logo-normal">
        <a href="#" class="simple-text no-agent" style="padding-top: 16px">
            Chưa chọn Trợ Lý
        </a>
    </div>
</div>
<div class="sidebar-wrapper" style="width: 260px">
    <div class="nav-container">
        <ul class="nav">
            <li routerlinkactive="active" class="">
                <a href="" routerLink="agents/agentList" class="collapsed" [ngClass]="{active: getLinkStyle('Trợ lí')}">
                    <i class="material-icons">face</i>
                    <p class="title-list-agent">Trợ lý</p>
                </a>
                <a data-toggle="collapse" href="#agentComponent" class="ex-link"  aria-expanded="false">
                    <p class="title-list-agent">
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="agentComponent" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li *ngFor="let item of agents" routerlinkactive="active" class="">
                            <a *ngIf="item.tmp_name != currentAgent.tmp_name" title="{{item.tmp_name}}" style="cursor: pointer" (click)="updateCurrentAgent(item.id)">
                                <p>
                                    <img class="img-sub-agent" src="{{ item?.avatar_url || '../assets/img/faces/hana-avatar.png'}}" onError="this.src='../assets/img/faces/hana-avatar.png';" />

                                    <!--<img class="img-sub-agent img-circle" src="{{ item?.avatar_url || '../assets/img/faces/hana-avatar.png'}}" onError="this.src='../assets/img/faces/hana-avatar.png';" />-->
                                    <span>{{item.name}}</span>
                                </p>
                            </a>
                            <a *ngIf="item.tmp_name == currentAgent.tmp_name" title="{{item.tmp_name}}" style="cursor: pointer" (click)="updateCurrentAgent(item.id)">
                                <p>
                                    <img class="img-sub-agent" src="{{ item?.avatar_url || '../assets/img/faces/hana-avatar.png'}}" onError="this.src='../assets/img/faces/hana-avatar.png';" />

                                    <span class="agent-active">{{item.name}}</span>

                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li  *ngFor=" let item of menuItems ">
                <a *ngIf="item.show"  [ngClass]="{active: getLinkStyle(item.title)}" (click)="emitLoadInfo()" href="#/pages/{{item.path}}">
                    <i class="material-icons">{{item.icon}}</i>
                    <p>{{item.title}}
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- SIDEBAR -->
