<div class="wrapper wrapper-full-page">
    <!--<div class="main-panel">-->
    <div>
        <navbar-cmp></navbar-cmp>
        <div class="main-content">
            <div class="container-fluid">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="blue" id="wizardProfile">
                            <section class="example-section" *ngIf="loadingProcess">
                                <md-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
                                </md-progress-bar>
                            </section>
                            <div class="wizard-header">
                                <h3 class="wizard-title">
                                    Tạo ứng dụng
                                </h3>
                                <h5>Tạo ứng dụng để sử dụng dịch vụ.</h5>
                            </div>

                            <div class="tab-content">
                                <div class="row card-content">
                                  <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
                                    <div class="col-lg-12">

                                        <div class="row col-md-6 col-md-offset-3">
                                          <!--<div class="alert alert-danger" *ngIf="!complexForm.controls['appName'].valid && complexForm.controls['appName'].touched ">Vui lòng nhập tên ứng dụng.</div>-->
                                          <div class="alert alert-danger" *ngIf="error">{{errorMsg}}</div>
                                          <div class="form-group label-floating is-empty">
                                                    <label class="control-label">
                                                        Tên ứng dụng
                                                        <span class="star">*</span>
                                                    </label>

                                                    <input class="form-control"  type="text" [formControl]="complexForm.controls['appName']" id="appsname"/>
                                                <span class="material-input"></span></div>


                                        </div>
                                        <div class="row col-md-6 col-md-offset-3">
                                            <div class="text-center">
                                                <button class="btn btn-facebook btn-lg" type="submit" [disabled]="submit">Tạo ứng dụng<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                    </div>
                                  </form>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <!-- wizard container -->
            </div>
        </div>
    </div>
