<div class="tab-content custommer">
    <div id="customer_form" class="tab-pane active" style="margin-top: -22px;">
        <h3 class="text-center" style="font-size: 24px; margin-bottom: -5px; margin-top: 0px;">Tạo nhu cầu</h3>
        <div class="row">
            <p style="padding-left: 15px; color: #3c8dbc; margin-bottom: 0px; margin-top: 15px; font-size: 17px;">Khách hàng</p>
            <div class="col-md-6">
                <div class="form-group kh-div">
                    <div style="clear: both">
                        <p-dropdown (onChange)="onChangeKH()" scrollHeight="110px" placeholder="Chọn khách hàng" [options]="customers" [(ngModel)]="customer" [style]="{'width':'100%','margin-left':'0px'}" filter="true">
                            <ng-template let-car pTemplate="item">
                                 <span span title="{{car.title_show}}" class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                                </span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="customer" style="padding-left: 0px; padding-right: 0px">
                <div class="col-md-6">
                    <div class="form-group"><label>Email</label>
                        <input readonly type="text" placeholder="Email...." id="email" name="email" [(ngModel)]="email" class="form-control contact-group">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"><label>Số điện thoại</label>
                        <input readonly type="text" placeholder="Điện thoại...." id="phone" name="phone" [(ngModel)]="phone" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p style="padding-left: 15px; color: #3c8dbc; margin-bottom: 0px; margin-top: 15px; font-size: 17px;">Chi tiết</p>
            <div class="col-md-6">
                <div class="form-group"><label>Người tạo</label>
                    <input type="hidden" readonly="readonly" name="backend_user_created_id" id="backend_user_created_id" [(ngModel)]="backend_user_created_id" class="form-control username valid" aria-invalid="false">
                    <input type="text" readonly="readonly" name="create_name" id="create_name" [(ngModel)]="create_name" class="form-control username valid" aria-invalid="false">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group company-select">
                    <label>Loại (*)</label>
                    <div style="clear: both">
                        <p-dropdown scrollHeight="110px"  placeholder="Chọn loại" [options]="categorys" [(ngModel)]="category" [style]="{'width':'100%','margin-left':'0px'}" filter="true">
                            <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group"><label>Tên nhu cầu (*)</label>
                    <input type="text" placeholder="Nhập tên nhu cầu...." id="name" name="name" [(ngModel)]="name" class="form-control valid" aria-required="true" aria-invalid="false"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group"><label>Giá tiền</label>
                    <input type="number" placeholder="Nhập giá tiền...." id="price" name="price" [(ngModel)]="price" class="form-control"></div>
            </div>
            <div class="col-md-12">
                <div class="form-group"><label>Mô tả</label>
                    <textarea style="min-height: 80px" placeholder="Nhập mô tả..." id="description" [(ngModel)]="description" name="description" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-12 text-center" style="margin-top: 5px">
                <button type="button" (click)="dialogRef.close('')" style="margin-right: 10px; width: 25%; margin-top: 5px" class="btn btn-flat btn-default">Đóng</button>
                <button type="submit" (click)="okClick()" style="margin-left : 10px; width: 25%" class="btn btn-flat btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>