<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="dialogRef.close('')"></div>
    <h6 class="text-center">TÌM KIẾM BÀI POST THEO NGÀY</h6>
    <div class="row">
        <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <md-dialog-content class="text-left">
        <div class="row">
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width: 85% !important; border: 1px solid #e5e5e5; border-radius: 5px;">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header"  style="padding-top: 10px">
                            <button  *ngIf="is_close" style="color: #3f51b5; font-size: 28px !IMPORTANT;" type="button" class="close" data-dismiss="modal">&times;</button>
                            <!-- <h4 class="modal-title">Filter</h4> -->
                        </div>
                        <div class="modal-body" style="padding-top: 10px">
                            <!-- content filter -->

                            <div *ngFor="let con of conditions; let i = index" style="margin-bottom: 10px">
                                <ba-query-builder-item [index]="i" [condition]="con.condition" [fields]="fields" (output)="output(i, $event)"></ba-query-builder-item>
                            </div>
                            <div class="row" style="padding-left: 10px">
                                <div class="col-md-12">
                                    <button class="btn btn-facebook" (click)="addCondition()"><i style="margin-right: 5px;" class="fa fa-plus"></i>Thêm Điều Kiện Lọc</button>
                                    <button class="btn btn-facebook" (click)="resestFilterAndClose()">Thoát Và Không Lọc</button>
                                    <button *ngIf="!is_close" disabled class="btn btn-facebook" (click)="filter()">Lọc</button>
                                    <button *ngIf="is_close" class="btn btn-facebook" (click)="filter()">Lọc</button>
                                </div>
                            </div>

                            <!-- end content filter -->
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </md-dialog-content>
    <div class="row">
        <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <md-dialog-actions>
        <div class="col-md-12 text-center">
            <button md-raised-button (click)="search()">TÌM</button>
            <button md-raised-button (click)="dialogRef.close('')">ĐÓNG</button>
        </div>
    </md-dialog-actions>
</div>