<div class="text-center" style="margin-top: 10px;font-size: larger;">
    <div>
        Phiên làm việc của bạn đã bị giới hạn truy cập do một số thay đổi trên Facebook. 
        <p>Bạn vui lòng thực hiện tích hợp lại facebook
        để truy cập trở lại bình thường.</p>
    </div>
    <!-- <button class="btn btn-social btn-fill btn-facebook" (click)="clickLogin()">Đăng nhập facebook</button> -->
    <!-- <a href="/#/application-hana/application-config-detail" class="btn btn-social btn-fill btn-facebook">
        <i class="fa fa-facebook-square"></i> Tích hợp facebook
    <div class="ripple-container"></div></a> -->

    <a class="btn btn-social btn-fill btn-facebook" [routerLink]="['/application-hana/application-config-detail', currentUser?.partner_id]">
        <i class="fa fa-facebook-square"></i> Tích hợp facebook
        <div class="ripple-container"></div>
    </a>
</div>