<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="http://trolyaohana.com">Trợ lý thông minh</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--<li>
          <a href="/#/pages/intents/intentList">
            <i class="material-icons">dashboard</i> Dashboard
          </a>
        </li>-->
        <li class="">
          <a href="/#/register">
            <i class="material-icons">person_add</i> Register
          </a>
        </li>
        <li class=" active ">
          <a href="/#/login">
            <i class="material-icons">fingerprint</i> Login
          </a>
        </li>
        <li class="">
          <a href="/#/lock">
            <i class="material-icons">lock_open</i> Lock
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper wrapper-full-page">
  <div class="full-page login-page" filter-color="black" data-image="../assets/img/login.jpeg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

            <div class="card card-login card-hidden">
              <div class="card-header text-center" data-background-color="rose">
                <h4 class="card-title">Đăng nhập</h4>
                <div class="social-line">
                  <a (click)="onFacebookLoginClick()" class="btn btn-just-icon btn-simple">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a class="btn btn-just-icon btn-simple">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a (click)="sigin()" (data-onsuccess)="onSignIn" id="my-signin2" class="btn btn-just-icon btn-simple">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <p class="category text-center">
                hoặc
              </p>
              <form id="LoginValidation" action="" method="">
                <div class="card-content">
                  <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Email address</label>
                      <input #email type="email" class="form-control" required="true" >
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Password</label>
                      <input #password type="password" class="form-control" required="true" >
                    </div>
                  </div>
                </div>
                <div class="footer text-center">
                  <button type="submit" (click)="getLogin(email.value, password.value)" class="btn btn-rose btn-simple btn-wd btn-lg">Let's go</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="http://trolyaohana.com/#dich-vu">
                                    Dịch vụ
                                </a>
            </li>
            <li>
              <a href="http://trolyaohana.com/#bang-gia">
                                    Bảng giá
                                </a>
            </li>
            <li>
              <a href="http://trolyaohana.com/#lien-he">
                                    Liên hệ
                                </a>
            </li>
            <li>
              <a href="http://trolyaohana.com/blog/">
                                    Blog
                                </a>
            </li>
          </ul>
        </nav>
        <p class="copyright pull-right">
          &copy;2007
          <a href="https://mideasvn.com">Mideasvn.com</a>
        </p>
      </div>
    </footer>
  </div>
</div>
