<div class="faq-scroll menu">
    <div class="loader" *ngIf="is_load_ding || is_loading_profile">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div [ngStyle]="{ 'opacity': getDisplay(is_user_setting) }">
        <div style="width:100%;margin: 20px">
            <div class="page-content">
                <!-- Panle Sortable -->
                <div class="panel">
                    <div class="panel-heading" style="padding: 0px">
                        <h4 class="first">CÀI ĐẶT MENU
                        </h4>
                    </div>
                    <div>
                        <button (click)="applyPersistentMenu()" class="btn btn-google" style="background: #D84315;width: auto; margin-left: 5px">
                            Áp dụng Menu
                            <div class="ripple-container"></div>
                        </button>
                        <br>
                    </div>
                </div>
                <!-- End Panle Sortable -->
            </div>
            <div>
            <!-- <span>
            <ba-switch style="float: left; margin-top: -9px;" [checked]="isOn" (output)="changeIsOn($event)"></ba-switch>
            <span style="font-size: 15px; font-weight: bold; color: #5f5b5a;">Cho phép người dùng nhập tin nhắn</span>
            </span> -->

            </div>
        </div>
        <div style="display: none">
            <input type="text" id="nestable-output-menu-level-0" class="form-control">
            <input type="text"  id="nestable-output-menu-level-1" class="form-control">
            <input type="text"  id="nestable-output-menu-level-2" class="form-control">
        </div>
        <div style="width:100%;margin: 20px">

            <!-- menu cap 0 -->
            <div class="menu-box dd" id="nestable-menu-level-0" style="width: 30%">
                <!--<p [ngStyle]="{ 'opacity': getNotDisplaySize(menuRootNotDefault) }" style="position: fixed; text-align: center; margin-left: 15px; margin-top: 19px; color: #8e949c; font-weight: 600; font-style: italic; font-size: 13px;">-->
                    <!--Danh sách menu rỗng-->
                <!--</p>-->
                <div class="menu-item pointer" style="padding-bottom: 10px" [ngStyle]="{ 'display': getDisplayBySize(menuRootNotDefault) }">
                    <ol class="dd-list">
                        <li class="dd-item menu-item" [attr.data-sectionvalue]="menu_root.id" *ngFor="let menu_root of menuRootNotDefault; let i = index" >
                            <div class="dd-handle dran-icon" >
                            </div>
                            <div style="padding-bottom: 7px;">
                                <p style="white-space: nowrap; font-size: 15px; color: #5a5555; margin-bottom: 0px;">
                                    <span (click)="showEditMenu(menu_root.id)" >{{ menu_root?.title | truncate:20 }}</span>
                                </p>
                                <span class="group-block-delete" (click)="deleteMenu(0, menu_root.id)"></span>
                                <span *ngIf="menu_root.display != undefined && menu_root.display.trim().length > 0" class="block_span" (click)="showEditMenu(menu_root.id)" style="cursor: pointer;">{{ menu_root?.display | truncate:50 }}</span>
                                <span *ngIf="menu_root.type == 'nested'" (click)="editSubmenuLevel1(menu_root.id)" class="config-sub-menu">Cấu hình menu con &nbsp;</span>
                            </div>
                        </li>
                    </ol>
                </div>
                <div *ngIf="(menuRootNotDefault.length + menuRootsisDefault.length) < 3" class="menu-item pointer btn-add-button" (click)="showAddMenu()" style="color: #3f7fdf">
                    <span class="mat-button-wrapper">
                        <md-icon class="mat-icon material-icons" role="img" style="font-size: 14px;line-height: 24px;" aria-hidden="true">add</md-icon>
                    </span>
                    Thêm Menu
                </div>
                <div class="menu-item pointer" style="padding-bottom: 7px;" *ngFor="let menu_root of menuRootsisDefault; let i = index">
                    <p (click)="showEditPoweredByMideas()" style="white-space: nowrap; font-size: 15px; color: #5a5555; margin-bottom: 0px;">{{ menu_root?.title | truncate:40 }}</p>
                    <!--<span  (click)="showEditPoweredByMideas()" class="block_span" style="cursor: pointer">{{ menu_root?.display | truncate:50 }}</span>-->
                </div>
            </div>
            <!-- end menu cap 0 -->

            <!-- menu cap 1 -->
            <div class="menu-box dd" id="nestable-menu-level-1" style="width: 30%;" [ngStyle]="{ 'opacity': getDisplay(menu_level_0_cur) }" >
                <div class="menu-item pointer" style="color: #3f7fdf;text-align: center; border: none" (click)="hideEditLevel0()">
                    <div class="button-ver2 link pre-left ng-scope"></div>
                    <span style="text-align: center">{{ menu_level_0_cur?.title | truncate:50 }}</span>
                </div>
                <div class="menu-item pointer" style="padding-bottom: 10px" [ngStyle]="{ 'display': getDisplayBySize(menuLevel1sShowList) }">
                    <ol class="dd-list" >
                        <li class="dd-item menu-item" [attr.data-sectionvalue]="menu_root.id" *ngFor="let menu_root of menuLevel1sShowList; let i = index" >
                            <div class="dd-handle dran-icon">
                            </div>
                            <div style="padding-bottom: 7px;">
                                <p style="white-space: nowrap; font-size: 15px; color: #5a5555; margin-bottom: 0px;">
                                    <span (click)="showEditMenuLevel1(menu_root.id)" >{{ menu_root?.title | truncate:30 }}</span>
                                </p>
                                <span class="group-block-delete" (click)="deleteMenu(1, menu_root.id)"></span>
                                <span *ngIf="menu_root.type != 'nested' && menu_root.display != undefined && menu_root.display.trim().length > 0" class="block_span" (click)="showEditMenuLevel1(menu_root.id)" style="cursor: pointer;">{{ menu_root?.display | truncate:50 }}</span>
                                <span *ngIf="menu_root.type == 'nested'" (click)="editSubmenuLevel2(menu_root.id)" class="config-sub-menu">Cấu hình menu con &nbsp;</span>
                            </div>
                        </li>
                    </ol>
                </div>
                <div *ngIf="menuLevel1sShowList.length < 5" class="menu-item pointer btn-add-button" (click)="showAddMenuLevel1()" >
                <span class="mat-button-wrapper">
                    <md-icon class="mat-icon material-icons" role="img" style="font-size: 14px;line-height: 24px;" aria-hidden="true">add</md-icon>
                </span>
                    Thêm Menu
                </div>
            </div>
            <!-- end menu cap 1 -->


            <!-- menu cap 2 -->
            <div class="menu-box dd" id="nestable-menu-level-2" style="width: 30%;" [ngStyle]="{ 'opacity': getDisplay(menu_level_1_cur) }" >
                <div class="menu-item pointer" style="color: #3f7fdf;text-align: center; border: none" (click)="hideEditLevel1()">
                    <div class="button-ver2 link pre-left ng-scope"></div>
                    <span style="text-align: center">{{ menu_level_1_cur?.title | truncate:50 }}</span>
                </div>
                <div class="menu-item pointer" style="padding-bottom: 10px" [ngStyle]="{ 'display': getDisplayBySize(menuLevel2sShowList) }">
                    <ol class="dd-list">
                        <li class="dd-item menu-item" [attr.data-sectionvalue]="menu_root.id" *ngFor="let menu_root of menuLevel2sShowList; let i = index" >
                            <div class="dd-handle dran-icon">
                            </div>
                            <div style="padding-bottom: 7px;">
                                <p style="white-space: nowrap; font-size: 15px; color: #5a5555; margin-bottom: 0px;">
                                    <span (click)="showEditMenuLevel2(menu_root.id)" >{{ menu_root?.title | truncate:20 }}</span>
                                </p>
                                <span class="group-block-delete" (click)="deleteMenu(2, menu_root.id)"></span>
                                <span *ngIf="menu_root.display != undefined && menu_root.display.trim().length > 0" class="block_span" (click)="showEditMenuLevel2(menu_root.id)" style="cursor: pointer;">{{ menu_root?.display | truncate:50 }}</span>
                            </div>
                        </li>
                    </ol>
                </div>
                <div *ngIf="menuLevel2sShowList.length < 5" class="menu-item pointer btn-add-button" (click)="showAddMenuLevel2()" style="color: #3f7fdf">
                <span class="mat-button-wrapper">
                    <md-icon class="mat-icon material-icons" role="img" style="font-size: 14px;line-height: 24px;" aria-hidden="true">add</md-icon>
                </span>
                    Thêm Menu
                </div>
            </div>
            <!-- end menu cap 2 -->
        </div>
        <div style="width:100%;margin: 20px; border-top:  0px solid #dddddd; margin-top: 30px">
            <div class="page-content">
                <div class="panel">
                    <div class="panel-heading" style="padding: 0px">
                        <h4 class="first">CÀI ĐẶT NỘI DUNG CHÀO MỪNG
                        </h4>
                    </div>
                </div>
                <div class="form-group is-empty" style="margin: 0px">
                    <!--<input (blur)="createOrUpdateGreetingText()" class="form-control" name="welcome_text" [(ngModel)]="welcome_text" placeholder="Nhập văn bản chào mừng (160 ký tự)" style="border: 1px solid #ccc; padding-left: 5px;width: 90%;background-image: none;background-position: none;background-color:#fff;border-radius:7px" type="text" maxlength="160">-->
                    <!---->
                    <textarea (blur)="createOrUpdateGreetingText()"  autosize maxlength="160" name="welcome_text" [(ngModel)]="welcome_text" class="borderless ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                              placeholder="Nhập văn bản chào mừng (160 ký tự)"></textarea>
                </div>
                <div style="margin-top: 5px; font-weight: 600;">
                    <div>
                        <p>Một số thông tin khách hàng bạn có thể truyền vào nội dung chào mừng</p>
                        <p style="color: #4caf50"> - {{user_first_name}}</p>
                        <p style="color: #4caf50"> - {{user_last_name}}</p>
                        <p style="color: #4caf50"> - {{user_full_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!is_user_setting">

</div>