.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}

.main-content .form-group {
  margin: 0;
  margin-bottom: 0;
  // margin-top: 10px;
  padding: 0;
}

.fa-filter {
  float: right;
  // margin-right: 10%;
  padding-right: 10px;
  margin-top: -30px;
  color: #ccc;
  font-size: 25px;
}
