.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 35px;
}

.chat li.right .chat-body
{
    margin-right: 35px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.report-content { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; }
.report-content span { background:#fff; padding:0 10px; }
.report-name {
    text-align: center
}
.image-reporter {
    width: 30px;
    height: 30px;
}
.image-reporter img {
    width: 100%;
}
.header.header-reporter {
    margin-bottom: 5px;
}
.remove-report {
    color: red;
    cursor: pointer;
    font-size: 15px;
}
.content-report {
    font-style: italic;
}
.customer-info-right-report .btn-report-count {
    color: red;
    background-color: lightgreen;
}
.customer-info-right-report .btn-report-count.btn-report-none {
    color: white;
    background-color: #999999;
}
.customer-info-right-report {
    margin-top: 15px;
}
/*.contact-right-info {*/
    /*overflow-y: scroll ;*/
/*}*/

