<button md-icon-button [mdMenuTriggerFor]="menu">
  <i style="margin-top: 10px" class="material-icons">reorder</i>
</button>
<md-menu #menu="mdMenu">
    <a md-menu-item *ngFor="let item of data"  href="#myModalEdit_{{item.id}}" data-toggle="modal" data-target="#myModalEdit_{{item.id}}" >
    <img style="width: 30px; padding-right: 10px" src="{{ item?.avatar_url || '../assets/img/faces/hana-avatar.png'}}" /><span>{{item.name}}</span>
    </a>
    <p *ngIf="!data.length" style="padding: 3px; padding-left: 6px; padding-right: 6px">Chưa có trợ lí nào ...</p>
</md-menu>
