<div class="faq-scroll">
  <div class="loader" *ngIf="loadingProcess">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>

  <div class="row" style="margin: 20px;margin-left:5px;">
    <div class="col-md-12">
      <div class="contex" style="margin-bottom:10px;">
        <ba-switch style="float: right;" [checked]="isOn" (output)="changeIsOn($event)"></ba-switch>
        <span style="float: right;line-height: 35px;margin-right: 10px;font-weight: 600;">Hiểu không dấu</span>
        <md-chip-list>
          <md-chip selected="{{contextSelected===0}}" color="primary" (click)="contextSelected=0" style="cursor:pointer">Inbox</md-chip>
          <!-- <md-chip selected="{{contextSelected===1}}" (click)="contextSelected=1" style="cursor:pointer">Comment</md-chip> -->
          <md-chip selected="{{contextSelected===2}}" (click)="contextSelected=2" style="cursor:pointer">Không hiểu</md-chip>
        </md-chip-list>
      </div>
    </div>
  </div>
  <div style="width:96%;margin: 20px">
    <training-inbox *ngIf="contextSelected===0" [agentId]="agentId" [contextSelected]="contextSelected"></training-inbox>
    <!-- <training-comment *ngIf="contextSelected===1" [agentId]="agentId" [contextSelected]="contextSelected"></training-comment> -->
  </div>
  <div style="width:96%;margin: 20px">
    <training-dont-understand *ngIf="contextSelected ===2" [agentId]="agentId"></training-dont-understand>
  </div>
</div>
