<div class="row" style="margin-top:10px;" (click)="bodyShowHide($event)">
  <div class="col-md-12">
    <!-- <button class="btn btn-danger" (click)="send()"><i class="fa fa-paper-plane-o" style="margin-right:5px"></i>Gửi</button> -->
    <!-- <span class="campaign-name" contenteditable [textContent]="campaign.name" (input)="campaign.name=$event.target.textContent;"
        (blur)="campaignChange()">{{campaign.name}}</span> -->
    <span class="campaign-name" contenteditable
          (blur)="campaign.name =$event.target.textContent; campaignChange()">{{campaign.name}}</span>
    <span class="group-block-delete" (click)="deleteCampaign(campaign)"></span>
  </div>
</div>
<div class="row">
  <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
</div>


<div class="col-md-12" style="margin-bottom: 5px; padding-left: 0px">
  <div class="checkbox-radios">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="chk_daily_time_config" [(ngModel)]="timeAction" (ngModelChange)="changeConfigTime($event)" name="optionsTimeAction">
          <span style="color:#212121;">
              CẤU HÌNH CHO PHÉP GỬI TIN TRONG KHOẢNG THỜI GIAN TRONG NGÀY</span>
      </label>
    </div>
  </div>
</div>
<div class="col-md-12" *ngIf="timeAction == true">
  <div class="row" style="margin-bottom: 13px; color:#212121b5;">
    Từ <input (blur)="updateAllTemplateBroadcast()" id="time_from" placeholder="hh:mm" type="text" style="width: 80px; padding-left: 5px; height: 23px;" [(ngModel)]="txtTimeFrom">
    Đến <input (blur)="updateAllTemplateBroadcast()" id="time_to" placeholder="hh:mm" type="text" style="width: 80px; padding-left: 5px; height: 23px;"  [(ngModel)]="txtTimeTo">
    <p style="margin-top: 5px">Ví dụ: Từ 8:30 đến 20:30</p>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <label style="color:#212121">CHI TIẾT CHIẾN DỊCH</label>
  </div>
  <div class="col-md-12" style="margin-top:10px">
    <ul id="sortable" class="campaign-history">
      <li>
        <span class="col" style="width: 20%">Thời gian</span>
        <span class="col" style="width: 10%;">Tắt/Bật</span>
        <span class="col" style="width: 36%;text-align:center">Nội dung</span>
        <span class="col" style="width: 10%;">Gửi</span>
        <span class="col" style="width: 10%;">Nhận</span>
        <span class="col" style="width: 10%;">Đọc</span>
      </li>
      <li class="body" style="position:relative" *ngFor="let item of broadcastView; let i = index" data-id="{{item.id}}">
        <!-- <i class="material-icons">swap_vert</i> -->
        <span (click)="showHide($event)" class="col dropdown duration-event" style="width: 20%;height: 40px;line-height: 40px;color: #8492a6;cursor:pointer">
                    <b (click)="showHide($event)" data-toggle="dropdown" style="border-bottom: 2px solid;padding-bottom: 4px;">
                    {{item.duration.type.value===1?'Gửi ngay' : 'Sau ' + item.duration.value + ' ' + item.duration.type.name }}</b>
                    <div class="dropdown-content">
                        <div style="float: left;">
                            Tin nhắn này sẽ gửi:
                        </div>
                      <!-- <md-form-field class="duration-input">
                          <input class="duration-input" type="number" pattern="[0-9.]*" mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                          </md-form-field> -->
                        <input class="duration-input" (keyup)="validateInput($event, i)" (blur)="updateDurationValue(item)" [style.display]="item.duration.type.value ===1 ? 'none':'block'" style="float: left;width: 40px;line-height: 20px;" [(ngModel)]="item.duration.value" value="{{item.duration.value}}" name="inputTime">
                        <select class="duration-select" style="float:left;height:25px;margin-left:5px;" [(ngModel)]="item.duration.type" (ngModelChange)="onChangeObj(i, $event)" name="sel3">
                        <option [ngValue]="i" *ngFor="let i of deviceObjects">{{i.name}}</option>
                        </select>
                    </div>
          <!-- <div class="card-payment"> -->
          <!-- <div class="tut-payment modal-hana">
              <p><span style="text-decoration: underline;"><strong>Hướng dẫn nhập nhanh</strong></span></p>
              <p>Bạn c&oacute; thể copy từ nguồn b&ecirc;n ngo&agrave;i v&agrave;o. Mỗi c&acirc;u n&oacute;i c&aacute;ch nhau bằng k&yacute; tự "<strong>;</strong>"</p>
              </div> -->
          <!-- </div> -->
                </span>
        <span class="col" style="width: 10%;height: 40px;line-height: 40px;"><md-slide-toggle color="primary"  (change)="changeIsOnBroadCast($event, item)" [(ngModel)]="item.is_on"></md-slide-toggle></span>
        <span class="col" *ngIf="item.content_text" (click)="changeView(campaign.id, item.id)" style="width: 36%"><span style="border-bottom: 2px solid;padding-bottom: 4px;color:#01579B; cursor:pointer">{{item.content_text | truncate : 60}}</span></span>
        <span class="col" *ngIf="!item.content_text && item.content" (click)="changeView(campaign.id, item.id)" style="width: 36%;height: 40px;line-height: 40px;"><span style="border-bottom: 2px solid;padding-bottom: 4px;color:#01579B; cursor:pointer">Bản tin block</span></span>
        <span class="col" *ngIf="!item.content_text && !item.content" (click)="changeView(campaign.id, item.id)" style="width: 36%;height: 40px;line-height: 40px;"><span style="border-bottom: 2px solid;padding-bottom: 4px;color:#EF5350; cursor:pointer">Chưa nhập nội dung</span></span>
        <span class="col" style="width: 10%;height: 40px;line-height: 40px;">{{item?.num_sent || "0"}}</span>
        <span class="col" style="width: 10%;height: 40px;line-height: 40px;">{{item?.num_delivered || "0"}}</span>
        <span class="col" style="width: 10%;height: 40px;line-height: 40px;">{{item?.num_seen || "0"}}</span>
        <span class="col template-broadcast-delete" (click)="deleteBroadcast(item.id)" style="width: 5%;"></span>
      </li>
    </ul>
  </div>
</div>
<!-- <span class="dropdown" style="float:right;font-size:14px;">
    <span class="condition-item1" data-toggle="dropdown">
      <span style="margin-top:0px" class="btn btn-social btn-fill btn-linkedin">HÀNH ĐỘNG</span>
    </span>
    <ul class="dropdown-menu" style="margin: 2px 0 0 -60px;">
    <li style="cursor:pointer"><a (click)="openSendMessageDialog()">Gửi tin nhắn</a></li>
    </ul>
    </span> -->
<div class="row">
  <div class="col-md-12">
    <button (click)="addBroadCast(campaign.id)" class="btn btn-simple btn-linkedin">
      <i class="fa fa-plus"></i> THÊM TIN NHẮN
      <div class="ripple-container"></div>
    </button>
  </div>
</div>