.campaign-name {
  background: transparent;
  border: 0;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
}

.group-block-delete {
  position: absolute;
  background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
  height: 30px;
  width: 30px;
  right: 10px;
  top: -5px;
  opacity: 0.5;
  cursor:pointer;
}

.campaign-name:focus {
  border: 1px solid #ccc;
}

.structFilter.ui-widget-content {
  background: transparent;
  border: 0;
}

textarea {
  resize: none;
  width: 98%;
  /* margin-right: 20px; */
  background: transparent; // border: 1px solid #f6290c;
  border-radius: 10px;
  padding: 10px;
}

textarea::-webkit-input-placeholder {
  color: #f6290c;
}
input
textarea.nodata {
  border: 1px solid #f6290c;
}

textarea.hasdata {
  border: 1px solid #52B152;
}

// history
ul.campaign-history {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 98%; // padding: 10px;
}

li.body {
  position: relative;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #888888;
  padding-bottom: 5px;
  padding-top: 5px;
}

li span.col {
  float: left;
  // width: 16%;
  text-align: center;
  // z-index: 1000;
}

li span.col p {
  margin: 0 0 0;
}

// li.body span:first{
//   // margin-right: 0;
//   margin-left: 20px;
// }

// .dropdown {
//   position: relative;
//   display: inline-block;
// }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px; // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 99999;
  background-color: #fff; // border: 1px solid #e0e6ed;
  box-shadow: 0 0 10px 0 rgba(77, 77, 77, .2);
}

// .dropdown:hover .dropdown-content {
//   display: block;
// }

.template-broadcast-delete {
  position: absolute;
  background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
  height: 30px;
  line-height: 40px;
  width: 30px;
  // right: -20px;
  top: 10px;
  opacity: 0;
}

li.body:hover .template-broadcast-delete {
  opacity: 0.5;
  cursor: pointer;
}

li i {
  position: absolute;
  height: 30px;
  line-height: 40px;
  width: 30px;
  left: 5px;
  opacity: 0;
}

li.body:hover i {
  opacity: 0.5;
  cursor: move;
}

.tut-payment{
  position: absolute;
  background: #fff;
  z-index: 1000;
  right: 0;
  top: 0;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  padding: 25px 15px 15px;
  box-shadow: 0 0 20px 0 rgba(77,77,77,.2);
  // border-radius: 5px;
  border: 1px solid #e0e6ed;
  max-width: 400px;
  margin-bottom: 30px;
}