<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="close()"></div>
    <p class="text-center dialog-header-p">{{title}}</p>
    <md-dialog-content class="text-center">

        <textarea  class="form-control" rows="2" [(ngModel)]="messageSend" name="messageSend" placeholder="Tin nhắn"></textarea>

    </md-dialog-content>
    <md-dialog-actions>
        <div class="col-md-12 text-center">
            <button class="btn btn-facebook btn-rounded btn-save-customer" type="button" (click)="send()">Gửi</button>
        </div>
    </md-dialog-actions>
</div>