// component css goes here
.mat-select-trigger {
  display: flex;
  align-items: center;
  height: 30px;
  min-width: 241px !important;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 2px !important;
}

.hide-synName {
  display: none;
}
.form-group-AsynName{
  padding-bottom: 10px; margin: 20px 0 0 0; border: 1px double #eee; border-radius: 5px;
}
.form-group label.control-label {
  font-size: 15px;
  line-height: 1.07143;
  color: #777;
  font-weight: 400;
  margin: 16px 0 0 0;
}
.table td {
  padding: 0px 8px;
  vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 0px solid #ddd !important;
}
.form-group {
  padding-bottom: 10px;
}
.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: 0px;
  position: relative;
}
.btn-close-tdn {
  float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.btn-close-tuchinh {
  float: right;padding-right: 0px;margin-top: -2pc;position: relative;
}
@media (max-width: 991px) {
  .padding-left-10 {
    padding-left: 0px;
  }
  .btn-close-tuchinh {
    float: right;
    padding-right: 0px;
    margin-top: -38px;
    position: relative;
  }
  .mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    margin-top: 0px !important;
    width: 100%;
  }
}

.btn-close-tuchinh {
  float: right;
  padding-right: 0px;
  margin-top: -40px;
  position: relative;
}
.tbn-them-tu-dong-nghia {
  margin-left: 8px !important;
}

.btn-delete-tuchinh {
  vertical-align: middle;
  font-size: 21px !important;
  top: 2px !important;
  position: relative;
  color: #999999;
}

.btn-delete-tuchinh:hover {
  vertical-align: middle;
  font-size: 21px !important;
  top: 2px !important;
  position: relative;
  color: #337ab7;
}

.btn-delete-tudongnghia {
  vertical-align: middle;
  font-size: 21px !important;
  top: -7px !important;
  position: relative;
  color: #999999;
}

.btn-delete-tudongnghia:hover {
  vertical-align: middle;
  font-size: 21px !important;
  top: -7px !important;
  position: relative;
  color: #337ab7;
}
.form-group {
  padding-bottom: 0px !important;
}
.form-group {
  padding-bottom: 0px;
  margin: 7px 0 0 0;
}
.card .form-horizontal .label-on-left-new {
  padding-left: 25px;
  padding-top: 16px;
}
.padding-left-10-tdn {
  padding-left: 8px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.mat-input-wrapper {
  margin: 1em 0;
  padding-bottom: 0px;
  margin-top: 8px;
}
.div_check_box {
  padding-top: 10px; padding-bottom: 4px;
}
.card-entity {
  margin-top: 21px;
}
.checkbox-entity {
  margin-left: -30px
}
.btn-close-entity {
  float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.td-entity {
  padding: 0px
}
.btn-save-entity {
  float: right; margin-right: 0px
}
.hide-synName {
  display: none;
}
.form-group-AsynName{
  padding-bottom: 10px; margin: 20px 0 0 0; border: 1px double #eee; border-radius: 5px;
}
.form-group label.control-label {
  font-size: 15px;
  line-height: 1.07143;
  color: #777;
  font-weight: 400;
  margin: 16px 0 0 0;
}
.table td {
  padding: 0px 8px;
  vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 0px solid #ddd !important;
}
.form-group {
  padding-bottom: 10px;
}
.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: 0px;
  position: relative;
}
.btn-close-tdn {
  float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.btn-close-tuchinh {
  float: right;padding-right: 0px;margin-top: -2pc;position: relative;
}
@media (max-width: 991px) {
  .padding-left-10 {
    padding-left: 0px;
  }
  .btn-close-tuchinh {
    float: right;
    padding-right: 0px;
    margin-top: -38px;
    position: relative;
  }
  .mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    margin-top: 0px !important;
    width: 100%;
  }
}

.btn-close-tuchinh {
  float: right;
  padding-right: 0px;
  margin-top: -40px;
  position: relative;
}
.tbn-them-tu-dong-nghia {
  margin-left: 8px !important;
}

.btn-delete-tuchinh {
  vertical-align: middle;
  font-size: 21px !important;
  top: 2px !important;
  position: relative;
  color: #999999;
}

.btn-delete-tuchinh:hover {
  vertical-align: middle;
  font-size: 21px !important;
  top: 2px !important;
  position: relative;
  color: #337ab7;
}

.btn-delete-tudongnghia {
  vertical-align: middle;
  font-size: 21px !important;
  top: -7px !important;
  position: relative;
  color: #999999;
}

.btn-delete-tudongnghia:hover {
  vertical-align: middle;
  font-size: 21px !important;
  top: -7px !important;
  position: relative;
  color: #337ab7;
}
.form-group {
  padding-bottom: 0px !important;
}
.form-group {
  padding-bottom: 0px;
  margin: 7px 0 0 0;
}
.card .form-horizontal .label-on-left-new {
  padding-left: 25px;
  padding-top: 16px;
}
.padding-left-10-tdn {
  padding-left: 8px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.mat-input-wrapper {
  margin: 1em 0;
  padding-bottom: 0px;
  margin-top: 8px;
}
.div_check_box {
  padding-top: 10px; padding-bottom: 4px;
}
.card-entity {
  margin-top: 21px
}
.checkbox-entity {
  margin-left: -30px;
}
.btn-close-entity {
  float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.td-entity {
  padding: 0px
}
.btn-save-entity {
  float: right; margin-right: 0px;
}
.mat-select-placeholder.mat-floating-placeholder {
  top: -22px !important;
  left: -2px;
  text-align: left;
  transform: scale(.75);
}

.mat-select-placeholder {
  position: relative;
  padding: 0 2px;
  transform-origin: left top;
  flex-grow: 1;
}
.mat-select {
  display: inline-block;
  outline: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-top: 1px !important;
}
.mat-select-trigger {
  display: flex;
  align-items: center;
  height: 30px;
  min-width: 241px !important;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
}
.mat-select-placeholder {
  position: relative;
  padding: 0 2px;
  transform-origin: left top;
  flex-grow: 1;
  min-width: 214px !important;
}

.mat-select {
  display: inline-block;
  outline: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-top: -15px !important;
}