<md-select  [(ngModel)]="selected" (change)="change($event)" [disabled]="disabled">
  <md-option *ngFor="let state of actionBasics; let i = index" [value]="state.actionBaseName" >
    {{ state.nameDisplay }}
  </md-option>
</md-select >