<md-input-container>
    <div *ngIf="require">
        <input  class="input_err" [style.border-bottom-color]="css_color" maxlength="{{maxlength}}" *ngIf="is_focus" mdInput placeholder="{{lable}}  (*)"  (keypress)="check($event)"    (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl">
        <input  class="input_err" [style.border-bottom-color]="css_color" maxlength="{{maxlength}}" *ngIf="!is_focus" mdInput placeholder="{{lable}}  (*)" (keypress)="check($event)"     (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    </div>
    <div *ngIf="!require">
        <input  class="input_err"  [style.border-bottom-color]="css_color" maxlength="{{maxlength}}" *ngIf="is_focus" mdInput placeholder="{{lable}}"  (keypress)="check($event)"   (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl">
        <input  class="input_err"  [style.border-bottom-color]="css_color" maxlength="{{maxlength}}" *ngIf="!is_focus" mdInput placeholder="{{lable}}" (keypress)="check($event)"     (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    </div>
    <!--<span *ngIf="require" class="star custom-start">*</span>-->
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
    <md-option (onSelectionChange)="enterSelect($event, state, input_auto)"  *ngFor="let state of filteredStates" [value]="state">
        {{ state }}
    </md-option>
</md-autocomplete>