.fixed-button{
  position: fixed;
  bottom: 0;
  right: 0;
}
table input{
  margin: 0;
  padding: 0;
}

.form-group:hover .closed{
  display: block
}

.count-word{
  position: absolute;
  left: -10px;
  top: -10px;
  display: none;
}
.form-group:hover .count-word{
  display: block
}
.label-on-left-new {
  font-size: 14px;
  line-height: 1.42857;
  color: #777;
  font-weight: 400;
  padding-top: 30px;
}
.img {
  max-width: 200px;
}
.btn-close-my {
  float: right;
  /* margin-top: -33px; */
  /* margin-right: 9px; */
  position: absolute;
  right: 8px;
  top: -9px;
}
.btn-close-my-button {
  float: right; margin-top: -20px
}
.dropdown-menu .open {
  max-height: 266px;
}
.dropdown-menu {
  max-height: 266px
}
.open {
  max-height: 266px;
}
.mat-select-trigger {
  margin-top: -15px !important;
}
.label-on-left-new{
  font-size: 14px;
  line-height: 1.42857;
  color: #777;
  font-weight: 400;
  padding-top: 47px;
}
table {
  border-collapse: collapse;
}

table, th, td, th {
  border: 1px solid #ccc;
  padding: 5px;
}
table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}
td {
  text-align: center;
}
.btn-danger-custom {
  padding: 2px;
  background-color: #aaaaaa;
}

.mat-input-infix {
  position: relative;
  height: 36px !important;
}
.th-number {
  width: 50px;
}
.inner {
  margin-left: 10px;
}
.filter-input {
  width: 200px;
  border-radius: 2px;
  color: #666;
  text-align: left;
  cursor: pointer;
}
.dro-custom {
  margin-top: -11px;
  float: right;
}
.user_say_div {
  padding-top: 3px;
}
.top-32 {
  margin-top: 8px;
}
.card {
  margin-top: 0px !important;
}
.checkbox {
  padding: 10px;
}
.mat-input-container {
  display: inline-block;
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  line-height: normal;
  text-align: left;
  margin-top: 0px;
  width: 100%;
}
.tbn-add-usersay {
  margin-left: 10px;
}
.checkbox-cusotom {
  margin-left: 5px;
}
.closed {
  position: absolute;
  right: -15px;
  top: 9px;
  display: none;
}
.form-group-user-say {
  margin: 0px !important;
}
.close-ph {
  margin-top: -5px;
}
.close-ph-text {
  margin-right: -17px;
}
.close-nut-bam {
  position: relative;
  margin-top: 18px;
}
.close-ha{
  margin-right: -9px;
  margin-top: 4px;
}
.div-save-footer {
  margin-top: -60px;
}
.top--20 {
  margin-bottom: -58px !important;
}
.top-32 {
  margin-top: 8px !important;
}
.table_err {
  border: 1px double red;
  padding-bottom: 10px;
  padding: 2px;
}
.lbl-add {
  font-size: 14px !important;
  font-weight: 500;
  background: linear-gradient(60deg, #548ec1, #00bcd4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #f5f5f5;
}
.li-title-intent {
  list-style: none; margin-top: 29px;
}

.i-delete {
  font-size: 23px;
  color: #777;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #999;
}
.card {
  margin-top: 11px !important;
}
.form-group {
  padding-bottom: 9px;
  margin: 18px 0 0 0;
}

.div-add {
  margin-top: 16px; margin-left: -3px;
}
.div-input-name {
  margin-left: 15px
}
.dro-custom {
  margin-top: -11px;
  float: right;
  margin-right: -22px;
}
.i-delete {
  font-size: 24px;
}
.lbl-3 {
  margin-top: 27px;
}
.checkbox-cusotom {
  margin-left: -9px;
}
.tbn-add-usersay {
  margin-left: 0px;
}
.panel-group {
  margin-bottom: 4px;
}
.panel .panel-body {
  border: 0 none;
  padding: 0px 0px 0px;
}
.panel .panel-heading {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 5px 0px;
}
.form-group {
  padding-bottom: 0px;
  margin: 18px 0 0 0;
}
.panel-group .panel {
  margin-bottom: 7px;
  border-radius: 4px;
}
.top-25 {
  margin-top: 25px;
}
.top-20 {
  margin-top: 9px;
}
.top-10 {
  margin-top: 12px;
}
.btn-close-my-button {
  float: right;
  margin-top: -14px;
  position: absolute;
  right: -4px;
}
.card {
  margin-top: 11px !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.btn-close-my {
  float: right;
  position: absolute;
  right: 8px;
  top: 2px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 0px;
}
.card {
  margin-bottom: 0px;
}
.btn-close-my-button {
  float: right;
  margin-top: -30px;
  position: absolute;
  right: -11px;
}
.img-card {
  width: 50%
}
.div-nut-bam {
  margin-top: 17px
}
.card-content-div-card {
  min-height: auto !important; padding-top: 0px; padding-bottom: 20px;
}
.div-button {
  margin-top:5px
}
.delete-card {
  margin-right: 45px; margin-top: -27px; z-index: 999;
}
.title-down {
  margin-left: 27px; margin-top: -54px; font-size: 31px;
}
.form-group-url {
  margin-top: 0px; padding-bottom: 10px
}
.tbn-add-usersay {
  margin-left: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.btn.btn-warning, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning:active:focus, .btn.btn-warning:active:hover, .btn.btn-warning.active:focus, .btn.btn-warning.active:hover, .open > .btn.btn-warning.dropdown-toggle, .open > .btn.btn-warning.dropdown-toggle:focus, .open > .btn.btn-warning.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-warning, .navbar .navbar-nav > li > a.btn.btn-warning:hover, .navbar .navbar-nav > li > a.btn.btn-warning:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active, .navbar .navbar-nav > li > a.btn.btn-warning.active, .navbar .navbar-nav > li > a.btn.btn-warning:active:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active:hover, .navbar .navbar-nav > li > a.btn.btn-warning.active:focus, .navbar .navbar-nav > li > a.btn.btn-warning.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:hover {
  background-color: #337ab7;
  color: #FFFFFF;
}
.btn.btn-danger.btn-simple, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple {
  background-color: transparent;
  color: #337ab7;
  box-shadow: none;
}
.delete-card {
  margin-right: 45px;
  margin-top: -27px;
  z-index: 999;
}