<div>
    <div  data-header-animation="false" style="margin-left: 0px">
        <a href="#pablo">
            <img class="img img-card" src="{{res.message.attachment.payload.elements[0].image_url}}" onError="this.src='../assets/no_image.jpg';">
        </a>
    </div>
    <div>
        <div class="form-group top-10">
            <input type="text" name="image_url-{{i}}" [(ngModel)]="res.message.attachment.payload.elements[0].image_url" (keyup)="checkValidate()" placeholder="Nhập đường dẫn hình ảnh" class="form-control" value>
        </div>
        <div class="form-group top-10">
            <input type="text" #title_input name="item-title-{{i}}" [(ngModel)]="res.message.attachment.payload.elements[0].title" (keyup)="checkValidate()" placeholder="Nhập tiêu đề (80 kí tự)" class="form-control" maxlength="80" value>
            <span *ngIf="is_block" class="star custom-start">* Nội dung tiêu đề card không được trống nếu bạn có nhập 1 trong các trường khác</span>
            <span *ngIf="is_block_80_title" class="star custom-start">* Nội dung tiêu đề card chỉ cho phép tối đa 80 kí tự</span>

        </div>
        <div class="form-group top-10">
            <input type="text" name="item-subtitle-{{i}}" [(ngModel)]="res.message.attachment.payload.elements[0].subtitle" (keyup)="checkValidate()" placeholder="Nhập mô tả ngắn (80 kí tự)" maxlength="80" class="form-control" value>
            <span *ngIf="is_block_80_subtitle" class="star custom-start">* Nội dung mô tả ngắn card chỉ cho phép tối đa 80 kí tự</span>

        </div>
    </div>
    <div class="div-nut-bam">
        <p> Nút bấm (Tối đa 3 nút) </p>
        <div *ngFor="let button of res.message.attachment.payload.elements[0].buttons; let j = index">
            <div class="card">
                <div class="card-content card-content-div-card">
                    <div class="btn-close-my-button div-button">
                        <button  class="delete-card btn btn-danger btn-simple btn-round-delete" (click)="deleteButtonCard(button)" rel="tooltip" type="button" data-original-title="" title="">
                            <i class="material-icons">close</i>
                            <div class="ripple-container"></div>
                        </button>
                        <a  aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo-{{index}}-{{j}}" role="button">
                            <h4 class="panel-title title-down">
                                <i class="material-icons" >keyboard_arrow_down</i>
                            </h4>
                        </a>
                    </div>
                    <div class="form-group label-floating is-empty">
                        <input type="text" [(ngModel)]="res.message.attachment.payload.elements[0].buttons[j].title" (keyup)="checkValidate()" placeholder="Nội dung nút bấm (20 kí tự)" maxlength="20" class="form-control" value>
                    </div>
                    <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo-{{index}}-{{j}}" role="tabpanel" aria-expanded="false">
                        <div class="form-group form-group-url">
                            <input type="text" name="input-url-{{index}}-{{j}}" *ngIf="res.message.attachment.payload.elements[0].buttons[j].url != undefined" [(ngModel)]="res.message.attachment.payload.elements[0].buttons[j].url" (keyup)="checkValidate()"  placeholder="Đường dẫn cho nút bấm (Nếu có)" class="form-control" >
                            <input type="text" name="input-payload-{{index}}-{{j}}" *ngIf="res.message.attachment.payload.elements[0].buttons[j].payload != undefined" [(ngModel)]="res.message.attachment.payload.elements[0].buttons[j].payload" (keyup)="checkValidate()"  placeholder="Đường dẫn cho nút bấm (Nếu có)" class="form-control" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button *ngIf="is_block_nutbam" disabled style="background-color: #aaaaaa" (click)="addNutBam()" class="btn tbn-add-usersay btn-round btn-warning dropdown-toggle">
            <i class="material-icons">add</i>
            <div class="ripple-container"></div>
        </button>
        <button *ngIf="!is_block_nutbam" (click)="addNutBam()" class="btn tbn-add-usersay btn-round btn-warning dropdown-toggle">
            <i class="material-icons">add</i>
            <div class="ripple-container"></div>
        </button>
    </div>
</div>