<md-select   [(ngModel)]="selected" (change)="change($event)"  [disabled]="disabled">
  <md-option *ngFor="let state of source; let i = index" [value]="state.value" >
    {{ state.name }}
  </md-option>
</md-select >