// component css goes here
.mat-select-trigger {
  display: flex;
  align-items: center;
  height: 30px;
  min-width: 70px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  width: 168px !important;
}
.mat-select-trigger {
  display: flex;
  align-items: center;
  height: 30px;
  max-width: 53px  !important;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ccc !important;
  border-radius: 7px;
}