.fixed-button{
  position: fixed;
  bottom: 0;
  right: 0;
}
table input{
  margin: 0;
  padding: 0;
}

.form-group:hover .closed{
  display: block
}

.count-word{
  position: absolute;
  left: -10px;
  top: -10px;
  display: none;
}
.form-group:hover .count-word{
  display: block
}
.label-on-left-new {
  font-size: 14px;
  line-height: 1.42857;
  color: #777;
  font-weight: 400;
  padding-top: 30px;
}
.img {
  max-width: 200px;
}
.btn-close-my {
  float: right;
  /* margin-top: -33px; */
  /* margin-right: 9px; */
  position: absolute;
  right: 8px;
  top: -9px;
}
.btn-close-my-button {
  float: right; margin-top: -20px
}
.dropdown-menu .open {
  max-height: 266px;
}
.dropdown-menu {
  max-height: 266px
}
.open {
  max-height: 266px;
}
.mat-select-trigger {
  margin-top: -15px !important;
}
.label-on-left-new{
  font-size: 14px;
  line-height: 1.42857;
  color: #777;
  font-weight: 400;
  padding-top: 47px;
}
table {
  border-collapse: collapse;
}

table, th, td, th {
  border: 1px solid #ccc;
  padding: 5px;
}
table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}
td {
  text-align: center;
}
.btn-danger-custom {
  padding: 2px;
  background-color: #f44336;
}

.mat-input-infix {
  position: relative;
  height: 36px !important;
}
.th-number {
  width: 50px;
}
.inner {
  margin-left: 10px;
}
.filter-input {
  width: 200px;
  border-radius: 2px;
  color: #666;
  text-align: left;
  cursor: pointer;
}
.dro-custom {
  margin-top: -11px;
  float: right;
}
.user_say_div {
  padding-top: 3px;
}
.top-32 {
  margin-top: 8px;
}
.card {
  margin-top: 0px !important;
}
.checkbox {
  padding: 10px;
}
.mat-input-container {
  display: inline-block;
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  line-height: normal;
  text-align: left;
  margin-top: 0px;
  width: 100%;
}
.tbn-add-usersay {
  margin-left: 10px;
}
.checkbox-cusotom {
  margin-left: 5px;
}
.closed {
  position: absolute;
  right: -15px;
  top: 9px;
  display: none;
}
.form-group-user-say {
  margin: 0px !important;
}
.close-ph {
  margin-top: -5px;
}
.close-ph-text {
  margin-right: -17px;
}
.close-nut-bam {
  position: relative;
  margin-top: 18px;
}
.close-ha{
  margin-right: -9px;
  margin-top: 4px;
}
.div-save-footer {
  margin-top: -60px;
}
.top--20 {
  margin-bottom: -58px !important;
}
.top-32 {
  margin-top: 8px !important;
}
.table_err {
  border: 1px double red;
  padding-bottom: 10px;
  padding: 2px;
}
.lbl-add {
  font-size: 14px !important;
  font-weight: 500;
  background: linear-gradient(60deg, #548ec1, #00bcd4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #f5f5f5;
}
.li-title-intent {
  list-style: none; margin-top: 29px;
}

.i-delete {
  font-size: 23px;
  color: #777;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #999;
}
.card {
  margin-top: 11px !important;
}
.form-group {
  padding-bottom: 9px;
  margin: 18px 0 0 0;
}

.div-add {
  margin-top: 16px; margin-left: -3px;
}
.div-input-name {
  margin-left: 15px
}
.dro-custom {
  margin-top: -11px;
  float: right;
  margin-right: -22px;
}
.i-delete {
  font-size: 24px;
}
.lbl-3 {
  margin-top: 27px;
}
.checkbox-cusotom {
  margin-left: -9px;
}
.tbn-add-usersay {
  margin-left: 0px;
}
.panel-group {
  margin-bottom: 4px;
}
.panel .panel-body {
  border: 0 none;
  padding: 0px 0px 0px;
}
.panel .panel-heading {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 5px 0px;
}
.form-group {
  padding-bottom: 0px;
  margin: 18px 0 0 0;
}
.panel-group .panel {
  margin-bottom: 7px;
  border-radius: 4px;
}
.top-25 {
  margin-top: 26px;
}
.top-20 {
  margin-top: 9px;
}
.top-10 {
  margin-top: 12px;
}
.btn-close-my-button {
  float: right;
  margin-top: -14px;
  position: absolute;
  right: -4px;
}
.card {
  margin-top: 11px !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.btn-close-my {
  float: right;
  position: absolute;
  right: 8px;
  top: 2px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 0px;
}
.card-div {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.div-car-content {
  min-height: inherit !important;
  padding-bottom: 10px;
  padding-top: 1px;
}
.loader {
  margin: 0 auto;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 20% !important;
}
.col-sm-2-custom {
  width: 20%;
}
.p-left-0 {
  padding-left: 0px;
}
.card-intent-edit {
  margin-top: 12px; margin-left: -12px
}
.card-div-intent-edit {
  margin-top: 0px
}
.div-search {
  padding-bottom: 1px
}
.title-intent-edit {
  padding-top: 14px; margin-left: -3px
}
.row-event {
  margin-top: -2px; margin-bottom: 8px
}
.div-section {
  padding-bottom: 1px
}
.row-user-say {
  margin-top: 5px
}
.row-hanh-dong {
  margin-top: -6px
}
.div-inner {
  margin-top: 12px
}
.lbl-memory {
  margin-top: 13px
}
.div-event {
  padding-bottom: 10px
}
.div-hanh-dong {
  padding-bottom: 10px
}
.w-18-percent {
  width: 18%
}
.w-11-percen {
  width: 11%
}
.w-21-percen {
  width: 22%
}
.w-8-percent {
  width: 8%
}
.card-phan-hoi-nhanh {
  margin-bottom: 0px
}
.card-phan-hoi-nhanh {
  margin-top: -7px
}
.card-quick {
  margin-bottom: 0px
}
.card-quick-custom {
  margin-top: -7px; min-height: auto !important;
}
.div-select-res {
  margin-top: -3px; margin-bottom: -5px;
}
.img-phan-hoi-nhanh {
  padding-left: 20px; width: 50%
}
.tbn-add-usersay {
  margin-left: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.fixed-button{
  position: fixed;
  bottom: 0;
  right: 0;
}
table input{
  margin: 0;
  padding: 0;
}

.form-group:hover .closed{
  display: block
}

.count-word{
  position: absolute;
  left: -10px;
  top: -10px;
  display: none;
}
.form-group:hover .count-word{
  display: block
}
.label-on-left-new {
  font-size: 14px;
  line-height: 1.42857;
  color: #777;
  font-weight: 400;
  padding-top: 30px;
}
.img {
  max-width: 200px;
}
.btn-close-my {
  float: right;
  /* margin-top: -33px; */
  /* margin-right: 9px; */
  position: absolute;
  right: 8px;
  top: -9px;
}
.btn-close-my-button {
  float: right; margin-top: -20px
}
.dropdown-menu .open {
  max-height: 266px;
}
.dropdown-menu {
  max-height: 266px
}
.open {
  max-height: 266px;
}
.mat-select-trigger {
  margin-top: -15px !important;
}
.label-on-left-new{
  font-size: 14px;
  line-height: 1.42857;
  color: #777;
  font-weight: 400;
  padding-top: 47px;
}
table {
  border-collapse: collapse;
}

table, th, td, th {
  border: 1px solid #ccc;
  padding: 5px;
}
table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}
td {
  text-align: center;
}
.btn-danger-custom {
  padding: 2px;
  background-color: #f44336;
}

.mat-input-infix {
  position: relative;
  height: 36px !important;
}
.th-number {
  width: 50px;
}
.inner {
  margin-left: 10px;
}
.filter-input {
  width: 200px;
  border-radius: 2px;
  color: #666;
  text-align: left;
  cursor: pointer;
}
.dro-custom {
  margin-top: -11px;
  float: right;
}
.user_say_div {
  padding-top: 3px;
}
.top-32 {
  margin-top: 8px;
}
.card {
  margin-top: 0px !important;
}
.checkbox {
  padding: 10px;
}
.mat-input-container {
  display: inline-block;
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  line-height: normal;
  text-align: left;
  margin-top: 0px;
  width: 100%;
}
.tbn-add-usersay {
  margin-left: 10px;
}
.checkbox-cusotom {
  margin-left: 5px;
}
.closed {
  position: absolute;
  right: -15px;
  top: 9px;
  display: none;
}
.form-group-user-say {
  margin: 0px !important;
}
.close-ph {
  margin-top: -5px;
}
.close-ph-text {
  margin-right: -17px;
}
.close-nut-bam {
  position: relative;
  margin-top: 18px;
}
.close-ha{
  margin-right: -9px;
  margin-top: 4px;
}
.div-save-footer {
  margin-top: -60px;
}
.top--20 {
  margin-bottom: 38px !important;
}
.top-32 {
  margin-top: 8px !important;
}
.table_err {
  border: 1px double red;
  padding-bottom: 10px;
  padding: 2px;
}
.lbl-add {
  font-size: 14px !important;
  font-weight: 500;
  background: linear-gradient(60deg, #548ec1, #00bcd4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #f5f5f5;
}
.li-title-intent {
  list-style: none; margin-top: 29px;
}

.i-delete {
  font-size: 23px;
  color: #777;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #999;
}
.card {
  margin-top: 11px !important;
}
.form-group {
  padding-bottom: 9px;
  margin: 18px 0 0 0;
}

.div-add {
  margin-top: 16px; margin-left: -3px;
}
.div-input-name {
  margin-left: 15px
}
.dro-custom {
  margin-top: -11px;
  float: right;
  margin-right: -22px;
}
.i-delete {
  font-size: 24px;
}
.lbl-3 {
  margin-top: 27px;
}
.checkbox-cusotom {
  margin-left: -9px;
}
.tbn-add-usersay {
  margin-left: 0px;
}
.panel-group {
  margin-bottom: 4px;
}
.panel .panel-body {
  border: 0 none;
  padding: 0px 0px 0px;
}
.panel .panel-heading {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 5px 0px;
}
.form-group {
  padding-bottom: 0px;
  margin: 18px 0 0 0;
}
.panel-group .panel {
  margin-bottom: 7px;
  border-radius: 4px;
}
.top-25 {
  margin-top: 25px;
}
.top-20 {
  margin-top: 9px;
}
.top-10 {
  margin-top: 12px;
}
.btn-close-my-button {
  float: right;
  margin-top: -14px;
  position: absolute;
  right: -4px;
}
.card {
  margin-top: 11px !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.btn-close-my {
  float: right;
  position: absolute;
  right: 8px;
  top: 2px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 0px;
}
.card-div {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.div-car-content {
  min-height: inherit !important;
  padding-bottom: 10px;
  padding-top: 1px;
}

@-moz-document url-prefix() {
  .input-fifox {
    height: 27px !important;
    margin-top: 6px;
  }

}
.div-add-intent {
  margin-top: 11px;
}
.card-add-intent {
  margin-top: 0px
}
.div-search {
  padding-bottom: 1px
}
.title-search {
  padding-top: 14px; margin-left: -3px
}
.btn-search-usersay {
  margin-right: 0px
}
.col-sm-6-ngucanh {
  border-left: 1px double #d2d2d2;
}
.card-event {
  padding-bottom: 10px
}
.row-event {
  margin-top: -2px; margin-bottom: 8px
}
.card-user-say-custom {
  padding-bottom: 1px
}
.row-user-say {
  margin-top: 5px
}
.row-loai-hanh-dong {
  margin-top: -6px
}
.div-out {
  margin-top: 12px
}
.div-memory-custom {
  margin-top: 12px
}
.w-22-percent {
  width: 22%
}
.w-18-percent {
  width: 18%
}
.w-11-percent {
  width: 11%
}
.w-8-percent {
  width: 8%
}
.div-select-res {
  margin-top: -3px; margin-bottom: -5px;
}
.card-quick {
  margin-bottom: 0px
}
.card-phan-hoi-nhanh {
  margin-bottom: 0px
}
.card-content-phan-hoi-nhanh {
  margin-top: -7px
}
.col-sm-2-custom {
  width: 20%;
}
.p-left-0 {
  padding-left: 0px;
}
.tbn-add-usersay {
  margin-left: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.div-add-intent {
  margin-top: 11px;
}
.top--20 {
  margin-bottom: 38px!important;
}
.card-add-intent {
  margin-top: 0;
}
.card-div {
  margin-bottom: 0!important;
  padding-bottom: 0!important;
}
.card {
  margin-top: 11px!important;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.div-search {
  padding-bottom: 1px;
}
.div-car-content {
  min-height: inherit!important;
  padding-bottom: 10px;
  padding-top: 1px;
}
.card .card-content {
  padding: 15px 20px;
  position: relative;
  /* min-height: 200px !important; */
  background-color: #fff;
  border-radius: 5px;
}
.title-search {
  padding-top: 14px;
  margin-left: -3px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 0;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: 0px;
}
.icon-title-list {
  position: relative;
  top: 6px;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
  background-color: #3c8dbc;
  color: #FFFFFF;
}
.btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger:hover {
  box-shadow: none !important;
}
.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger {
  box-shadow: none !important;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: -2px;
}
.row-user-say {
  margin-top: 5px;
}
.panel .panel-heading {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 5px 0;
}
.form-group:hover .closed {
  display: block;
}
.btn.btn-danger.btn-simple:hover, .btn.btn-danger.btn-simple:focus, .btn.btn-danger.btn-simple:active, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:hover, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:focus, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:active {
  background-color: transparent;
  color: #337ab7;
}
.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: 0px;
  position: relative;
}
.btn.btn-danger.btn-simple, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple {
  background-color: transparent;
  color: #337ab7;
  box-shadow: none;
}
.closed {
  position: absolute;
  right: -15px;
  top: 9px;
  display: none;
}
.btn.btn-xs, .btn-group-xs .btn, .navbar .navbar-nav > li > a.btn.btn-xs, .btn-group-xs .navbar .navbar-nav > li > a.btn {
  padding: 4px 15px;
  font-size: 10px;
}
.closed {
  position: absolute;
  right: -15px;
  top: 9px;
  display: none;
}
.btn.btn-warning, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning:active:focus, .btn.btn-warning:active:hover, .btn.btn-warning.active:focus, .btn.btn-warning.active:hover, .open > .btn.btn-warning.dropdown-toggle, .open > .btn.btn-warning.dropdown-toggle:focus, .open > .btn.btn-warning.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-warning, .navbar .navbar-nav > li > a.btn.btn-warning:hover, .navbar .navbar-nav > li > a.btn.btn-warning:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active, .navbar .navbar-nav > li > a.btn.btn-warning.active, .navbar .navbar-nav > li > a.btn.btn-warning:active:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active:hover, .navbar .navbar-nav > li > a.btn.btn-warning.active:focus, .navbar .navbar-nav > li > a.btn.btn-warning.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:hover {
  background-color: #337ab7;
  color: #FFFFFF;
}
.btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning:hover, .navbar .navbar-nav > li > a.btn.btn-warning:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active, .navbar .navbar-nav > li > a.btn.btn-warning:hover {
  box-shadow: none;
}
.panel .panel-heading .panel-title {
  font-size: 15px;
  font-weight: bolder;
  color: #337ab7;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.col-sm-2-custom {
  width: 20%;
}
.top-25 {
  margin-top: 25px;
}
.p-left-0 {
  padding-left: 0;
}
.row-loai-hanh-dong {
  margin-top: -6px;
}
.top-25 {
  margin-top: 25px;
}
.div-memory-custom, .div-out {
  margin-top: 12px;
}
.form-group {
  padding-bottom: 0;
  margin: 18px 0 0;
}
.mat-autocomplete-panel.mat-autocomplete-panel-below {
  margin-top: 0px !important;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
  font-size: 14px;
  line-height: 1.42857;
  color: #777 !important;
  font-weight: 400;
}
td, th {
  text-align: center;
}
.form-control, .form-group .form-control {
  border: 0;
  background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  /* line-height: 1.8; */
  height: 33px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.i-delete {
  font-size: 24px !important;
}
.dropdown, .dropup {
  position: relative;
  max-height: 53px;
}
.pull-left {
  float: left!important;
}
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
  background-color: #337ab7;
  color: #FFFFFF;
}
footer {
  padding: 15px 0;
  margin-top: -16px;
}
.main-panel .main-content {
  /* margin-top: 70px; */
  margin-top: -41px !important;
  padding: 19px 1px !important;
  min-height: calc(100vh - 123px) !important;
  margin-bottom: 38px !important;
}
.btn.btn-warning, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning:active:focus, .btn.btn-warning:active:hover, .btn.btn-warning.active:focus, .btn.btn-warning.active:hover, .open > .btn.btn-warning.dropdown-toggle, .open > .btn.btn-warning.dropdown-toggle:focus, .open > .btn.btn-warning.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-warning, .navbar .navbar-nav > li > a.btn.btn-warning:hover, .navbar .navbar-nav > li > a.btn.btn-warning:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active, .navbar .navbar-nav > li > a.btn.btn-warning.active, .navbar .navbar-nav > li > a.btn.btn-warning:active:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active:hover, .navbar .navbar-nav > li > a.btn.btn-warning.active:focus, .navbar .navbar-nav > li > a.btn.btn-warning.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:hover {
  background-color: #337ab7;
  color: #FFFFFF;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
  background-color: #337ab7;
  color: #FFFFFF;
}
.top-25 {
  margin-top: 26px !important;
}
.row-hanh-dong {
  margin-top: -6px;
}
.mat-select {
  display: inline-block;
  outline: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-top: 0px !important;
}
.lbl-memory {
  margin-top: 10px !important;
}

input[type="text"],textarea[type="text"]::-webkit-input-placeholder {
  padding-top: 6px !important;
}
input[type="text"],textarea[type="text"]:-moz-placeholder {
  padding-top: 6px;
}
input[type="text"],textarea[type="text"]::-moz-placeholder {
  padding-top: 6px;
}
input[type="text"],textarea[type="text"]:-ms-input-placeholder {
  padding-top: 6px;
}