<ba-main>
    <div class="loader" *ngIf="is_load_entities"></div>
    <div style="margin-top: 25px" class="col-md-12 top--20 form-horizontal" *ngIf="!is_load_entities">
        <div class="card">
            <div class="card-content">
                <h4 class="card-title card-title-custom "><i class="material-icons icon-title-list">assignment</i>Cập Nhật Ý Định</h4>
                <br>
                <br>
                <div class="panel-group" id="accordion1" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingOne" role="tab">
                            <a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button" class="collapsed">
                                <h4 class="panel-title">
                                    TÊN Ý ĐỊNH
                                </h4>
                            </a>
                        </div>
                        <div aria-labelledby="headingOne" class="panel-collapse collapse in" id="collapseOne_no" role="tabpanel" aria-expanded="true" >
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="form-group label-floating is-empty">
                                            <input type="text" class="form-control" placeholder="Nhập tên ý định (Chỉ cho phép nhập [a-z], [A-Z], [0-9] và ký tự _ )" value="{{currentIntent.name}}" name="name" #name [(ngModel)]="currentIntent.name">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 div-add">
                                        <button style="margin-right: 0px"  class="btn btn-danger btn-search-right"  (click)="saveIntent()" type="button">Lưu <i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion2" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="div_ngucanh" role="tab">
                            <a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role="button">
                                <h4 class="panel-title">
                                    NGỮ CẢNH
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </h4>
                            </a>
                        </div>
                        <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <tag-input name="tagsContextIn" [(ngModel)]='intent_contexts_in' placeholder="THUỘC NHÓM (NGỮ CẢNH)..." secondaryPlaceholder="THUỘC NHÓM (NGỮ CẢNH)..." >
                                            <tag-input-dropdown [autocompleteItems]="tagsContextInAutoComplete" >
                                            </tag-input-dropdown>
                                        </tag-input>
                                        <div class="checkbox checkbox-cusotom">
                                            <label>
                                                <input type="checkbox" (change) = "currentIntent.is_just_understand_in_context = !currentIntent.is_just_understand_in_context" [checked]="currentIntent.is_just_understand_in_context" name="optionsCheckboxes1"> Chỉ hiểu khi trong ngữ cảnh này
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" style="border-left: 1px double #d2d2d2;">
                                        <tag-input name="tagsContextOut" [(ngModel)]='intent_contexts_out' placeholder="NGỮ CẢNH TIẾP THEO..." secondaryPlaceholder="NGỮ CẢNH TIẾP THEO..."  >
                                            <tag-input-dropdown [autocompleteItems]="tagsContextOutAutoComplete">
                                            </tag-input-dropdown>
                                        </tag-input>
                                        <div class="checkbox checkbox-cusotom">
                                            <label>
                                                <input type="checkbox" (change) = "currentIntent.is_suggestion_predict = !currentIntent.is_suggestion_predict"  [checked]="currentIntent.is_suggestion_predict" name="optionsCheckboxes2"> Cho phép gợi ý câu tiếp theo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="div_skdv" role="tab">
                            <a aria-controls="collapseThree" aria-expanded="true" class="" data-parent="#accordion" data-toggle="collapse" href="#sk_dv" role="button">
                                <h4 class="panel-title">
                                    SỰ KIỆN ĐẦU VÀO
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </h4>
                            </a>
                        </div>
                        <div aria-labelledby="headingThree" class="panel-collapse collapse in" id="sk_dv" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <tag-input name="tagsContextOut" [(ngModel)]='events_tags' placeholder="Nhập sự kiện đầu vào" secondaryPlaceholder="Nhập sự kiện đầu vào"  >
                                            <tag-input-dropdown [autocompleteItems]="tagsEventOutAutoComplete">
                                            </tag-input-dropdown>
                                        </tag-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion3" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="div_caunoinguoidung" role="tab">
                            <a aria-controls="collapseThree" aria-expanded="true" class="" data-parent="#accordion" data-toggle="collapse" href="#caunoinguoidung" role="button">
                                <h4 class="panel-title">
                                    CÂU NÓI NGƯỜI DÙNG
                                    <!--<i class="material-icons">keyboard_arrow_down</i>-->
                                </h4>
                            </a>
                        </div>
                        <div aria-labelledby="headingThree" class="panel-collapse collapse in" id="caunoinguoidung_no" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating is-empty form-group-user-say" *ngFor="let usersay of currentIntent.usersays; let i = index">
                                            <intent-user-say-auto [intent_entities]="entities_name" [intent_entities_auto_input]="auto_intent_entities" [intent_entities_memory]="currentIntent.intent_entities"  [intent_entities_tranning]="auto_intent_entities" (value_select)="usersay.content=$event" [query_default]="usersay.content" (auto_new_intent_entities)="auto_intent_entities=$event"></intent-user-say-auto>
                                            <button (click)="deleteUserSayInput(i)" class="closed btn btn-danger btn-simple btn-xs" rel="tooltip" data-original-title="Remove"><i class="material-icons">close</i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-round btn-warning dropdown-toggle tbn-add-usersay" (click)="addUserSayInput()">
                                    <i class="material-icons">add</i>
                                    <div class="ripple-container "></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion4" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="div_hanhdong" role="tab">
                            <a aria-controls="collapseThree" aria-expanded="true" class="" data-parent="#accordion" data-toggle="collapse" href="#hanhdong" role="button">
                                <h4 class="panel-title">
                                    HÀNH ĐỘNG
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </h4>
                            </a>
                        </div>
                        <div aria-labelledby="headingThree" class="panel-collapse collapse in" id="hanhdong" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                                <div class="row" style="margin-top: -6px">
                                    <label class="col-sm-3 label-on-left top-25">CHỌN HÀNH ĐỘNG</label>
                                    <div class="col-sm-9" id="outner" >
                                        <div class="form-group label-floating is-empty">
                                            <ba-autocomplete-intent-inner [source]="intent_inners" [selected]="is_inner"  (output)="is_inner=$event">
                                            </ba-autocomplete-intent-inner>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: -6px">
                                    <label class="col-sm-3 label-on-left top-25">Tên hành động</label>
                                    <div class="col-sm-5" *ngIf="is_inner=='outler_action'">
                                        <div class="form-group label-floating is-empty">
                                            <input  [(ngModel)]='outler_action' name="outler_action" type="text" class="form-control" placeholder="Nhập thông tin hành động" >
                                        </div>
                                    </div>
                                    <div class="col-sm-5" *ngIf="is_inner!='outler_action'">
                                        <div>
                                            <intent-action-auto [list_actions]="list_actions" [query_default]="inner_action" (value_select)="inner_action=$event"></intent-action-auto>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 label-on-left top-20">CHỌN BỘ NHỚ</label>
                                    <div class="col-sm-9"  >
                                        <ba-autocomplete-intent style="min-width: 200px;" [source]="objects" [objects]="objects" [user_say_intent_entities]="auto_intent_entities" [listEntyties]="listEntyties" (output_user_say_intent_entitie)="auto_intent_entities=$event" [selectDefault]="memory_id" (output)="currentIntent.intent_entities=$event" (memory_id)="memory_id=$event" (memory_name)="memory_name=$event" (list_param_name)="list_param_name=$event"></ba-autocomplete-intent>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="{{is_check_table}}">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>Bắt buộc</th>
                                                    <th>Tham số</th>
                                                    <th class="w-30-percen" style="width: 34%">Loại dữ liệu</th>
                                                    <th>Mặc định</th>
                                                    <th class="text-center">Câu hỏi</th>
                                                    <th class="text-center">Gợi ý</th>
                                                    <th class="text-center">Thao tác</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let entity of currentIntent.intent_entities; let i = index">
                                                    <td>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="optionsCheckboxe-{{i}}" (change)="entity.is_required = !entity.is_required" [checked]="entity.is_required">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <!--<md-input-container>-->
                                                        <!--<input mdInput placeholder="Tham số" value="{{entity.param}}" [(ngModel)]="entity.param">-->
                                                        <!--</md-input-container>-->
                                                        <param-autocomplete [entities_name]="list_param_name" [query_default]="entity.param" (value_select)="entity.param=$event"></param-autocomplete>

                                                    </td>
                                                    <td class="text-center">
                                                        <!--<my-select-autocomplete [sources]="states" [query]="entity.entity_name" (output)="entity.entity_name=$event" ></my-select-autocomplete>-->
                                                        <!---->
                                                        <entity-value-select-autocomplete [entities_name]="entities_name_memory" [query_default]="entity.entity_name" (value_select)="entity.entity_name=$event" ></entity-value-select-autocomplete>
                                                    </td>
                                                    <td class="text-center">
                                                        <input [(ngModel)]="entity.default_value" class="form-control my-number" style="margin-top: -20px" value="{{entity.default_value}}" type="text"  mdInput placeholder="Giá trị mặc định">
                                                    </td>
                                                    <td class="text-center">
                                                        <span *ngIf="!entity.response_messages || !entity.is_required ||  !entity.entity_name || entity.entity_name.length==0"></span>
                                                                    <span *ngIf="entity.response_messages.length === 0  && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                                    <ba-modal title="Câu hỏi gợi ý" vitri="{{i}}" (output)="entity.response_messages=$event" [response]="entity.response_messages"></ba-modal>
                                                                    </span>
                                                                    <span *ngIf="entity.response_messages.length > 0 && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                                    <ba-modal title="Câu hỏi gợi ý({{entity.response_messages.length}})" vitri="{{i}}"  (output)="entity.response_messages=$event" [response]="entity.response_messages"></ba-modal>
                                                                    </span>
                                                    </td>
                                                    <td class="text-center">
                                                        <span *ngIf="!entity.intent_entities_suggestion || !entity.is_required ||  !entity.entity_name || entity.entity_name.length==0"></span>
                                                                    <span *ngIf="entity.intent_entities_suggestion.length === 0  && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                                    <ba-modal-suggestion vitri="{{i}}" title="Gợi ý trả lời"  (output)="entity.intent_entities_suggestion=$event" [response]="entity.intent_entities_suggestion"></ba-modal-suggestion>
                                                                    </span>
                                                                    <span *ngIf="entity.intent_entities_suggestion.length > 0 && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                                    <ba-modal-suggestion vitri="{{i}}" title="Gợi ý trả lời({{entity.intent_entities_suggestion.length}})"  (output)="entity.intent_entities_suggestion=$event" [response]="entity.intent_entities_suggestion"></ba-modal-suggestion>
                                                                    </span>
                                                    </td>
                                                    <td class="td-actions text-center"><a (click)="removeIntentEntityRow(entity)" class="btn btn-round-delete"><i class="material-icons i-delete">delete</i></a></td>
                                                </tr>
                                                <tr *ngFor="let entity of auto_intent_entities; let i = index">
                                                    <td>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="optionsCheckboxes" (change)="entity.is_required = !entity.is_required" [checked]="entity.is_required">
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <!--<md-input-container>-->
                                                        <!--<input mdInput placeholder="Tham số" name="param-{}" value="{{entity.param}}" [(ngModel)]="entity.param">-->
                                                        <!--</md-input-container>-->
                                                        <param-autocomplete [entities_name]="list_param_name" [query_default]="entity.param" (value_select)="entity.param=$event"></param-autocomplete>

                                                    </td>
                                                    <td class="text-center">
                                                        <!--<my-select-autocomplete [sources]="states" [query]="entity.entity_name" (output)="entity.entity_name=$event" ></my-select-autocomplete>-->
                                                        <!---->
                                                        <entity-value-select-autocomplete [entities_name]="entities_name_memory" [query_default]="entity.entity_name" (value_select)="entity.entity_name=$event" ></entity-value-select-autocomplete>
                                                    </td>
                                                    <td class="text-center">
                                                        <input [(ngModel)]="entity.default_value" class="form-control my-number" style="margin-top: -20px" value="{{entity.default_value}}" type="text" min="1" mdInput placeholder="Giá trị mặc định">
                                                    </td>
                                                    <td class="text-center">
                                                        <span *ngIf="!entity.response_messages || !entity.is_required ||  !entity.entity_name || entity.entity_name.length==0"></span>
                                                                    <span *ngIf="entity.response_messages.length === 0  && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                                    <ba-modal title="Câu hỏi gợi ý" vitri="{{i}}" (output)="entity.response_messages=$event" [response]="entity.response_messages"></ba-modal>
                                                                    </span>
                                                                    <span *ngIf="entity.response_messages.length > 0 && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                                    <ba-modal title="Câu hỏi gợi ý({{entity.response_messages.length}})" vitri="{{i}}"  (output)="entity.response_messages=$event" [response]="entity.response_messages"></ba-modal>
                                                                    </span>
                                                    </td>
                                                    <td class="text-center">
                                                        <span *ngIf="!entity.intent_entities_suggestion || !entity.is_required ||  !entity.entity_name || entity.entity_name.length==0"></span>
                                                                    <span *ngIf="entity.intent_entities_suggestion.length === 0  && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                                    <ba-modal-suggestion vitri="{{i}}" title="Gợi ý trả lời"  (output)="entity.intent_entities_suggestion=$event" [response]="entity.intent_entities_suggestion"></ba-modal-suggestion>
                                                                    </span>
                                                                    <span *ngIf="entity.intent_entities_suggestion.length > 0 && entity.is_required &&  entity.entity_name && entity.entity_name.length>0">
                                                                    <ba-modal-suggestion vitri="{{i}}" title="Gợi ý trả lời({{entity.intent_entities_suggestion.length}})"  (output)="entity.intent_entities_suggestion=$event" [response]="entity.intent_entities_suggestion"></ba-modal-suggestion>
                                                                    </span>
                                                    </td>
                                                    <td class="td-actions text-center"><a (click)="removeIntentEntityRowAutoLoad(entity)" class="btn btn-round-delete"><i class="material-icons i-delete">delete</i></a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <button class="btn btn-round btn-warning dropdown-toggle tbn-them-tu-dong-nghia" (click)="addIntentEntityRow()">
                                                <i class="material-icons">add</i>
                                                <div class="ripple-container "></div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion5" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingThree" role="tab">
                            <a aria-controls="collapseThree" aria-expanded="true" class="" data-parent="#accordion" data-toggle="collapse" href="#collapseThree" role="button">
                                <h4 class="panel-title">
                                    PHẢN HỒI
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </h4>
                            </a>
                        </div>
                        <div aria-labelledby="headingThree" class="panel-collapse collapse in" id="collapseThree" role="tabpanel" aria-expanded="true">
                            <div class="panel-body">
                                <div>
                                    <br>
                                    <div class="row">
                                        <span *ngFor="let res of responseMessage; let i = index">
                                            <!-- TEXT -->
                                            <span class="response-text" *ngIf="res.type===1" >
                                                <div class="col-md-12">
                                                    <div class="card" style="margin-bottom: 0px">
                                                        <div class="card-header">
                                                            <h4 class="card-title">Phản hồi text</h4>
                                                            <div class="btn-close-my">
                                                                <button class="btn btn-danger btn-simple btn-round-delete" (click)="removeResponseMessage(res)" rel="tooltip" type="button" data-original-title="" title="">
                                                                    <i class="material-icons i-delete">delete</i>
                                                                    <div class="ripple-container"></div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-content" style="margin-top: -7px; min-height: auto !important;">
                                                            <div  class="form-group label-floating is-empty top-10" *ngFor="let text of res.message.posibleTexts; let j = index">
                                                                <span >
                                                                 <input  value="{{text.content}}" (keyup) = "addResponseTextInput($event,i,j)" type="text" placeholder="Nhập nội dung phản hồi" class="form-control">
                                                                 <button  class="closed btn btn-danger btn-simple btn-xs btn-close-ph" (click)="removeResponseTextInput($event,i,j)" rel="tooltip" data-original-title="Remove"><i class="material-icons">close</i></button>
                                                                 </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            <!-- CARD -->
                                            <span class="response-card" *ngIf="res.type===2" >
                                                <div class="col-md-12">
                                                    <div class="card" style="margin-bottom: 0px">
                                                        <div class="card-header">
                                                            <h4 class="card-title">Phản hồi card</h4>
                                                            <div class="btn-close-my">
                                                                <button class="btn btn-danger btn-simple btn-round-delete" (click)="removeResponseMessage(res)" rel="tooltip" type="button" data-original-title="" title="">
                                                                    <i class="material-icons i-delete">delete</i>
                                                                    <div class="ripple-container"></div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-content" style="margin-top: -7px">
                                                            <div>
                                                                <div  data-header-animation="false">
                                                                    <a href="#pablo">
                                                                        <img style="padding-left: 20px; width: 50%" class="img" src="{{res.message.attachment.payload.elements[0].item_url}}" onError="this.src='../assets/no_image.jpg';">
                                                                    </a>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group top-10">
                                                                        <input value="{{res.message.attachment.payload.elements[0].item_url}}" [(ngModel)]="res.message.attachment.payload.elements[0].item_url" type="text" (keyup)="addResponseCardInput_item_url($event,i)" placeholder="Nhập đường dẫn hình ảnh" class="form-control" >
                                                                    </div>
                                                                    <div class="form-group top-10">
                                                                        <input value="{{res.message.attachment.payload.elements[0].title}}" [(ngModel)]="res.message.attachment.payload.elements[0].title" type="text" (keyup)="addResponseCardInput_title($event,i)" placeholder="Nhập tiêu đề (80 kí tự)" class="form-control" >
                                                                    </div>
                                                                    <div class="form-group top-10">
                                                                        <input value="{{res.message.attachment.payload.elements[0].subtitle}}" [(ngModel)]="res.message.attachment.payload.elements[0].subtitle" type="text" (keyup)="addResponseCardInput_subtitle($event,i)" placeholder="Nhập mô tả ngắn (80 kí tự)" class="form-control" >
                                                                    </div>
                                                                </div>
                                                                <div style="margin-top: 17px">
                                                                    <p style="margin-bottom: -14px"> Nút bấm (Tối đa 3 nút) </p>
                                                                    <div *ngFor="let button of res.message.attachment.payload.elements[0].buttons; let j = index" >
                                                                        <div class="btn-close-my-button">
                                                                            <button class="btn btn-danger btn-simple close-nut-bam" (click)="deleteButtonCard(i, button)"  rel="tooltip" type="button" data-original-title="" title="">
                                                                                <i class="material-icons" style="margin-right: 9px;">close</i>
                                                                                <div class="ripple-container"></div>
                                                                            </button>
                                                                        </div>
                                                                        <div class="top-10">
                                                                           <input type="text" (keyup)="addNoiDungNutBam($event,i, j)" placeholder="Nội dung nút bấm" class="form-control" value="{{button.title}}">
                                                                        </div>
                                                                        <div>
                                                                            <div class="panel-heading" id="headingTwo" role="tab">
                                                                                <a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo-{{i}}-{{j}}" role="button">
                                                                                    <h4 class="panel-title">
                                                                                        <i class="material-icons dro-custom" style="margin-right: -16px; margin-top: -16px">keyboard_arrow_down</i>
                                                                                    </h4>
                                                                                </a>
                                                                            </div>
                                                                            <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo-{{i}}-{{j}}" role="tabpanel" aria-expanded="false">
                                                                                <div class="form-group top-10">
                                                                                    <input type="text" (keyup)="addDuongDamNutBam($event,i, j)"  placeholder="Đường dẫn cho nút bấm (Nếu có)" class="form-control" value="{{button.item_url}}" [(ngModel)]="res.message.attachment.payload.elements[0].buttons[j].item_url">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <button (click)="addNutBam(i)" class="btn btn-round btn-warning dropdown-toggle">
                                                                        <i class="material-icons">add</i>
                                                                        <div class="ripple-container"></div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            <!-- IMAGE -->
                                            <span class="response-image" *ngIf="res.type===3" >
                                                <div class="col-md-6">
                                                    <div class="card" style="margin-bottom: 0px">
                                                        <div class="card-header">
                                                            <h4 class="card-title">Phản hồi hình ảnh</h4>
                                                            <div class="btn-close-my">
                                                                <button class="btn btn-danger btn-simple close-ha btn-round-delete" (click)="removeResponseMessage(res)" rel="tooltip" type="button" data-original-title="" title="">
                                                                    <i class="material-icons i-delete">delete</i>
                                                                    <div class="ripple-container"></div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-content" style="margin-top: -7px">
                                                            <div data-header-animation="false">
                                                                 <a href="#pablo">
                                                                    <img style="padding-left: 20px; width: 50%" class="img" src="{{res.message.attachment.payload.url}}" onError="this.src='../assets/no_image.jpg';">
                                                                    </a>
                                                            </div>
                                                            <div class="top-10">
                                                                 <input type="text" (keyup)="addResponseImagesInput($event,i)"     placeholder="Nhập đường dẫn hình ảnh" class="form-control" [(ngModel)]="res.message.attachment.payload.url">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            <!-- QUICK REPLY -->
                                            <span class="response-quickreply" *ngIf="res.type===4" >
                                                <div class="col-md-6">
                                                    <div class="card" style="margin-bottom: 0px">
                                                        <div class="card-header">
                                                            <h4 class="card-title">Phản hồi Quick reply</h4>
                                                            <div class="btn-close-my">
                                                                <button class="btn btn-danger btn-simple close-ha btn-round-delete" (click)="removeResponseMessage(res)" rel="tooltip" type="button" data-original-title="" title="">
                                                                    <i class="material-icons i-delete">delete</i>
                                                                    <div class="ripple-container"></div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-content" style="margin-top: -7px; min-height: auto !important;">
                                                            <div class="form-group top-10">
                                                              <input type="text" (keyup)="setTitleQuickReplies($event,i)" placeholder="Nhập tiêu đề" class="form-control" name="message-text-{{i}}" [(ngModel)]="res.message.text" value="{{res.message.text}}">
                                                            </div>
                                                            <tag-input name="response_quickreply-{{i}}" [(ngModel)]="response_quickreply[i]"  (onAdd)="onItemAdded1(i, $event)"  (onRemove)="onItemRemoved(i, $event)" placeholder="Gợi ý [Tag]" secondaryPlaceholder="Gợi ý [Tag]">
                                                                </tag-input>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="dropdown pull-left">
                                        <div class="btn-group bootstrap-select ">
                                            <button type="button" class="dropdown-toggle bs-placeholder btn btn-primary btn-round" data-toggle="dropdown" role="button" title="Choose city" aria-expanded="true">
                                                <span class="filter-option pull-left">Thêm phản hồi</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                                                <div class="ripple-container"></div>
                                            </button>
                                            <div class="dropdown-menu open" role="combobox">
                                                <ul class="dropdown-menu inner" role="listbox" aria-expanded="true">
                                                    <li>
                                                        <a (click)="addResponseMessageType(1)">Phản hồi text</a>
                                                    </li>
                                                    <li>
                                                        <a (click)="addResponseMessageType(2)">Phản hồi card</a>
                                                    </li>
                                                    <li>
                                                        <a (click)="addResponseMessageType(3)">Phản hồi image</a>
                                                    </li>
                                                    <li *ngIf="show_quick_reply">
                                                        <a (click)="addResponseMessageType(4)">Phản hồi Quick reply</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ba-main>