<ng2-slim-loading-bar [color]="'green'" [height]="'8px'"></ng2-slim-loading-bar>
<div class="wrapper wrapper-full-page">
  <!--<div class="main-panel">-->
  <div>
    <navbar-cmp></navbar-cmp>
    <div class="main-content">
      <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2">
          <!--      Wizard container        -->
          <div class="wizard-container">
            <div class="card wizard-card" data-color="blue" id="wizardProfile">
              <form action="" method="">
                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                <div class="wizard-header">
                  <h3 class="wizard-title" *ngIf="appDetai; else company">
                    Cấu hình ứng dụng {{appDetai.company | uppercase}}
                  </h3>
                  <ng-template #company>
                    <h3 class="wizard-title">
                      Cấu hình ứng dụng
                    </h3>
                  </ng-template>
                  <button class="btn btn-facebook btn-lg" type="button" (click)="usingApp(app)" name='finish'>Sử dụng<div class="ripple-container"></div></button>
                </div>
                <div class="wizard-navigation">
                  <ul>
                    <!--<li>
                        <a href="#about" data-toggle="tab">Tích hợp</a>
                    </li>-->
                    <li>
                      <a href="#account" data-toggle="tab">Tích hợp</a>
                    </li>
                    <li>
                      <a href="#address" data-toggle="tab" id="invite-tab" (click)="loadInvite()">Mời người dùng</a>
                    </li>
                    <li>
                      <a href="#notification" data-toggle="tab" id="notification-tab" (click)="loadNotificaton()">Thông báo</a>
                    </li>
                    <li>
                      <a href="#config" data-toggle="tab" id="config-tab" (click)="loadConfig()">Cài đặt chung</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content">
  
                  <div class="tab-pane" id="account">
                    <h3 class="info-text"> Bạn muốn tích hợp gì?</h3>
                    <div class="row">
                      <div class="col-lg-10 col-lg-offset-1">
                        <div *ngIf="fanpageInfo && fanpageInfo.pageId && fanpageInfo.isExpire != 1; else login">
                          <div class="col-sm-6">
                            <div class="choice" data-toggle="wizard-checkbox" (click)="showModel('show-facebook-choose')">
                              <input type="checkbox" name="jobb" value="Design">
                              <div class="icon" style="border: 4px solid #4183C4;">
                                <i class="fa fa-facebook" aria-hidden="true" style="color: #4183C4"></i>
                              </div>
                              <h4 style="color: #4183C4"><strong>{{fanpageInfo.pageName}}</strong> <i class="fa fa-check-circle" style="color: #3598DB; font-size: 15px; line-height: 1px"
                                  aria-hidden="true"></i></h4>
                            </div>
                          </div>
                        </div>
                        <ng-template #login>
                          <div class="col-sm-6">
                            <div class="choice" data-toggle="wizard-checkbox" (click)="showModel('show-facebook-choose')">
                              <input type="checkbox" name="jobb" value="Design">
                              <div class="icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                              </div>
                              <h6>Facebook</h6>
                            </div>
                          </div>

                        </ng-template>

                        <div class="col-sm-6">
                          <div class="choice" data-toggle="wizard-checkbox" (click)="showScript('show-script-hana')">
                            <input type="checkbox" name="jobb" value="Code">
                            <div class="icon">
                              <i class="fa fa-terminal"></i>
                            </div>
                            <h6>Website</h6>
                          </div>
                        </div>
                        <!--<div class="col-sm-4">
                            <div class="choice" data-toggle="wizard-checkbox">
                                <input type="checkbox" name="jobb" value="Develop">
                                <div class="icon">
                                    <i class="fa fa-laptop"></i>
                                </div>
                                <h6>Develop</h6>
                            </div>
                        </div>-->
                      </div>
                    </div>
                    <!--<input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' />-->
                    <!--<button class="btn btn-rose" type="button" name='next' (click)="nextStep('invite-tab')">Tiếp<div class="ripple-container"></div></button>-->
                  </div>
                  <div class="tab-pane hana-text-align" id="address">
                    <div class="row">
                      <div class="col-sm-12">
                        <h3 class="info-text"> Nhập email thành viên </h3>
                      </div>
                      <div class="tab-content col-sm-6 col-md-offset-3">
                        <div class="tab-pane active">

                          <form class="ui form invite-email-hana">
                            <div class="field" *ngFor="let member of listMember" style="position: relative">
                              <!--<label>Email</label>-->
                              <!--<div class="ui right labeled input">-->
                              <input class="form-control" type="text" placeholder="Nhập email.." [(ngModel)]="member.email" name="email">
                              <!--<div class="ui basic label" (click)="removeNewEmail($event, member.id)">
                                  x
                                </div>-->
                              <span style="position: absolute;top: 0;right: 0; cursor: pointer" (click)="removeNewEmail($event, member.id)"><i class="fa fa-times" aria-hidden="true"></i></span>
                              <!--</div>-->
                            </div>
                          </form>
                          <div class="row">
                            <div class="col-md-12 text-center" (click)="addNewEmail()">
                              <div class="checkbox form-horizontal-checkbox">
                                <label>
                                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm mail khác
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-facebook btn-lg" type="button" (click)="inviteEmail()" name='finish'>Mời<div class="ripple-container"></div></button>
                    <div class="row" *ngIf="listMemberInvited?.length > 0">
                      <div class="card" style="box-shadow: none;">
                        <div class="card-content">
                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingfour">
                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                  <h4 class="panel-title">
                                    Các thành viên đã mời.
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </h4>
                                </a>
                              </div>
                              <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">

                                  <div class="table-responsive">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>STT</th>
                                          <th>Tên</th>
                                          <th>Email</th>
                                          <th>Nguồn</th>
                                          <th class="text-right">Trạng thái</th>
                                          <!--<th class="text-right">EE</th>-->
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <!--<tr *ngFor="let row of tableData1.dataRows">-->
                                        <tr *ngFor="let userinvite of listMemberInvited; let i = index">
                                          <td class="text-left">{{i+1}}</td>
                                          <td class="text-left">{{userinvite.full_name}}</td>
                                          <td class="text-left">{{userinvite.email}}</td>
                                          <td class="text-left">{{userinvite.type_login}}</td>
                                          <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success" *ngIf="userinvite.full_name; else pending">
                                                Đã tham gia
                                            </button>
                                            <ng-template #pending>
                                              <button type="button" rel="tooltip" class="btn btn-info ">
                                                Đang đợi
                                              </button>
                                            </ng-template>
                                          </td>

                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!--<button class="btn btn-rose" type="button" (click)="nextStep('notification-tab')" name='finish'>Tiếp<div class="ripple-container"></div></button>-->
                  </div>
                  <div class="tab-pane" id="notification" style="margin-top: -50px;">
                    <div class="row">
                      <div class="card" style="box-shadow: none;">
                        <div class="card-content">
                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <h4 class="panel-title">
                                    Cho phép nhận thông báo khi?
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </h4>
                                </a>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                  <div class="col-sm-10 col-sm-offset-1 checkbox-radios" *ngFor="let notification of notificationConfigs">
                                    <div class="checkbox" *ngIf="notification.notification_type == 'all_msg'">
                                      <label>
                                        <input type="checkbox" [checked]="notification.status == 1? true: false" (change)="notification.status = (notification.status == 1? 0: 1)"> Có tin nhắn mới
                                      </label>
                                    </div>
                                    <div class="checkbox" *ngIf="notification.notification_type == 'new_cus'">
                                      <label>
                                        <input type="checkbox" [checked]="notification.status == 1? true: false" (change)="notification.status = (notification.status == 1? 0: 1)"> Có khách hàng mới vào chat
                                      </label>
                                    </div>
                                    <div class="checkbox" *ngIf="notification.notification_type == 'info_customer'">
                                      <label>
                                        <input type="checkbox" [checked]="notification.status == 1? true: false" (change)="notification.status = (notification.status == 1? 0: 1)"> Trợ lý lấy được thông tin khách hàng chat
                                      </label>
                                    </div>
                                    <div class="checkbox" *ngIf="notification.notification_type == 'new_demand'">
                                      <label>
                                        <input type="checkbox" [checked]="notification.status == 1? true: false" (change)="notification.status = (notification.status == 1? 0: 1)"> Trợ lý lấy được nhu cầu
                                      </label>
                                    </div>
                                    <div class="checkbox" *ngIf="notification.notification_type == 'dont_understand'">
                                      <label>
                                        <input type="checkbox" [checked]="notification.status == 1? true: false" (change)="notification.status = (notification.status == 1? 0: 1)"> Trợ lý không hiểu ý khách hàng
                                      </label>
                                    </div>

                                  </div>
                                  <div class="row">
                                    <!--<label class="col-md-3"></label>-->
                                    <div class="col-md-12 text-center">
                                      <div class="form-group form-button">
                                        <button type="button" class="btn btn-fill btn-facebook btn-lg" (click)="saveNotification()">Lưu</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingfour">
                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                  <h4 class="panel-title">
                                    Cho phép thông báo, phát âm thanh khi nhận tin nhắn.
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </h4>
                                </a>
                              </div>
                              <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                  <div class="col-sm-10 col-sm-offset-1 checkbox-radios" *ngFor="let notification of notificationConfigs">
                                    <div class="checkbox" *ngIf="notification.notification_type == 'all_msg'">
                                      <label>
                                        <input type="checkbox" [checked]="play_sound == 1? true: false" (change)="play_sound = (play_sound == 1? 0: 1)"> Phát âm thanh khi nhận tin nhắn
                                      </label>
                                    </div>
                                    <div class="checkbox" *ngIf="notification.notification_type == 'new_cus'">
                                      <label>
                                        <input type="checkbox" [checked]="show_notify == 1? true: false" (change)="show_notify = (show_notify == 1? 0: 1)"> Hiển thị thông báo khi nhận tin nhắn
                                      </label>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <!--<label class="col-md-3"></label>-->
                                    <div class="col-md-12 text-center">
                                      <div class="form-group form-button">
                                        <button type="button" class="btn btn-fill btn-facebook btn-lg" (click)="savePlaySound()">Lưu</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingTwo">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true"
                                  aria-controls="collapseTwo">
                                  <h4 class="panel-title">
                                    Gửi mail khi?
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </h4>
                                </a>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">

                                  <div class="row">
                                    <div class="col-sm-12">
                                      <p>Có khách hàng mới, nhu cầu, báo cáo hàng ngày</p>
                                      <form class="form-horizontal" *ngIf="listEmailReport">
                                        <div class="row" *ngFor="let email of listEmailReport">
                                          <label class="col-md-3 label-on-left">Email</label>
                                          <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                              <label class="control-label"></label>
                                              <input type="email" class="form-control" [(ngModel)]="email.email" name="emailReport{{email.id}}">
                                            </div>
                                          </div>
                                          <div class="col-md-2" style="padding-top: 30px">
                                            <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEmailReport($event, email.id)"></i>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="row">
                                            <div class="col-md-8 col-md-offset-3">
                                              <div class="checkbox form-horizontal-checkbox">
                                                <label (click)="addEmailReport()">
                                                  <i aria-hidden="true" class="fa fa-plus-circle" ></i> Thêm mail
                                                </label>
                                              </div>
                                            </div>

                                          </div>
                                        </div>
                                        <div class="row">
                                          <!--<label class="col-md-3"></label>-->
                                          <div class="col-md-12 text-center">
                                            <div class="form-group form-button">
                                              <button type="button" class="btn btn-fill btn-facebook btn-lg" (click)="saveEmailReport()">Lưu</button>
                                            </div>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                  <br>
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <p>Phiên làm việc facebook bị hết hạn, hệ thống không thể kết nối</p>
                                      <form class="form-horizontal" *ngIf="listEmailFacebook">
                                        <div class="row" *ngFor="let email of listEmailFacebook">
                                          <label class="col-md-3 label-on-left">Email</label>
                                          <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                              <label class="control-label"></label>
                                              <input type="email" class="form-control" [(ngModel)]="email.email" name="emailFacebook" name="email{{email.id}}">
                                            </div>
                                          </div>
                                          <div class="col-md-2" style="padding-top: 30px">
                                            <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEmailFacebook($event, email.id)"></i>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="row">
                                            <div class="col-md-8 col-md-offset-3">
                                              <div class="checkbox form-horizontal-checkbox">
                                                <label (click)="addEmailFacebook()">
                                                  <i aria-hidden="true" class="fa fa-plus-circle" ></i> Thêm mail
                                                </label>
                                              </div>
                                            </div>

                                          </div>
                                        </div>
                                        <div class="row">
                                          <!--<label class="col-md-3"></label>-->
                                          <div class="col-md-12 text-center">
                                            <div class="form-group form-button">
                                              <button type="button" class="btn btn-fill btn-facebook btn-lg" (click)="saveEmailFacebook()">Lưu</button>
                                            </div>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!--<button class="btn btn-rose" type="button" (click)="nextStep('config-tab')" name='finish'>Tiếp<div class="ripple-container"></div></button>-->
                  </div>
                  <div class="tab-pane" id="config" style="margin-top: -50px;">
                    <div class="row">
                      <div class="card" style="box-shadow: none;">
                        <div class="card-content">
                          <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingOne1">
                                <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                  <h4 class="panel-title">
                                    Trợ lý thông minh
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </h4>
                                </a>
                              </div>
                              <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">

                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <!--<input type="text" class="form-control" placeholder="Trợ lý aaa" disabled>-->
                                            <!--<select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7">
                                                <option disabled selected>Choose city</option>
                                                <option value="2" selected>Foobar</option>
                                                <option value="3">Is great</option>
                                                <option *ngFor="let agents of listAgent" [value]="agents.id">{{agents.name}}</option>
                                              </select>-->
                                            <div class="field">
                                              <select [(ngModel)]="selectedValue" name="agentSelect1" style="padding: 10px 10px;border-radius: 5px;width: 186px;">
                                                  <option *ngFor="let agents of listAgent" [value]="agents.id">{{agents.name}}</option>
                                                </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-5 checkbox-radios">
                                          <div class="checkbox">
                                            <label>
                                                <input *ngIf="agentActive" type="checkbox" name="optionsCheckboxes" [checked]="agentActive.is_on == 1? true: false" (change)="agentActive.is_on = (agentActive.is_on == 1? 0:1)"> Sử dụng trợ lý để tư vấn
                                              </label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <!--<label class="col-md-3"></label>-->
                                    <div class="col-md-12 text-center">
                                      <div class="form-group form-button">
                                        <button type="button" class="btn btn-fill btn-facebook btn-lg" (click)="saveAgentConfig()">Lưu</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingfanpage">
                                <a role="button" data-toggle="collapse" data-parent="#accordionfanpage" href="#collapsefanpage" aria-expanded="true" aria-controls="collapsefanpage">
                                  <h4 class="panel-title">
                                    Fanpage
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </h4>
                                </a>
                              </div>
                              <div id="collapsefanpage" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfanpage">
                                <div class="panel-body">
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="form-group label-floating is-empty">
                                            <p class="control-label hana-color-black"> Bạn muốn thực hiện gì khi có bình luận của khách hàng? </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-sm-12 checkbox-radios hana-color-black">
                                          <div class="radio" *ngFor="let optionhide of hideCommentOption">
                                              <label>
                                                  <input type="radio" (change)="hideComment = optionhide.key" name="optionsRadios" [checked]="optionhide.key == hideComment? true: false"> {{optionhide.value}}
                                              </label>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <!--<label class="col-md-3"></label>-->
                                    <div class="col-md-12 text-center">
                                      <div class="form-group form-button">
                                        <button type="button" class="btn btn-fill btn-facebook btn-lg" (click)="saveCommentConfig()">Lưu</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingTwo1">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwo1" aria-expanded="true"
                                  aria-controls="collapseTwo1">
                                  <h4 class="panel-title">
                                    Màu sắc, kích thước hộp chat
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </h4>
                                </a>
                              </div>
                              <div id="collapseTwo1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo1">
                                <div class="panel-body">
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group label-floating is-empty">
                                            <label class="control-label hana-color-black">  </label>
                                          </div>
                                        </div>
                                        <div class="col-md-8 checkbox-radios">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox" name="collapsePopup" [checked]="collapsePopup == 1? false: true" (change)="collapsePopup = (collapsePopup == 1? 0:1)"> Tự động bật hộp chat
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group label-floating is-empty">
                                            <label class="control-label hana-color-black">  </label>
                                          </div>
                                        </div>
                                        <div class="col-md-8 checkbox-radios">
                                          <div class="checkbox">
                                            <label>
                                              <input type="checkbox" name="requireInfomation" [checked]="requireInfomation == 1? true: false" (change)="requireInfomation = (requireInfomation == 1? 0:1)"> Yêu cầu thông tin trước khi chat
                                            </label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group label-floating is-empty">
                                            <label class="control-label hana-color-black"> Màu sắc hộp chat website </label>
                                          </div>
                                        </div>
                                        <div class="col-md-8">
                                          <div class="form-group label-floating is-empty">
                                            <input [(colorPicker)]="colorBackground" [style.background]="colorBackground" [value]="colorBackground" />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group label-floating is-empty">
                                            <label class="control-label hana-color-black"> Màu nền nội dung chat website </label>
                                          </div>
                                        </div>
                                        <div class="col-md-8">
                                          <div class="form-group label-floating is-empty">
                                            <input [(colorPicker)]="colorBgContentChat" [style.background]="colorBgContentChat" [value]="colorBgContentChat" />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group label-floating is-empty">
                                            <label class="control-label hana-color-black"> Màu nội dung chat website </label>
                                          </div>
                                        </div>
                                        <div class="col-md-8">
                                          <div class="form-group label-floating is-empty">
                                            <input [(colorPicker)]="colorContentChat" [style.background]="colorContentChat" [value]="colorContentChat" />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group label-floating is-empty">
                                            <label class="control-label hana-color-black"> Chiều rộng hộp chat website (px)</label>
                                          </div>
                                        </div>
                                        <div class="col-md-8">
                                          <div class="form-group label-floating is-empty">
                                            <md-slider class="example-margin" [max]="max" [min]="min" [step]="step" [thumb-label]=true [tick-interval]=true [(ngModel)]="valueWidth"
                                              name="valueWidth">
                                            </md-slider>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group label-floating is-empty">
                                            <label class="control-label hana-color-black"> Chiều cao hộp chat website (px)</label>
                                          </div>
                                        </div>
                                        <div class="col-md-8">
                                          <div class="form-group label-floating is-empty">
                                            <md-slider class="example-margin" [max]="max" [min]="min" [step]="step" [thumb-label]=true [tick-interval]=true [(ngModel)]="valueHeight"
                                              name="valueHeight">
                                            </md-slider>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <!--<label class="col-md-3"></label>-->
                                    <div class="col-md-12 text-center">
                                      <div class="form-group form-button">
                                        <button type="button" class="btn btn-fill btn-facebook btn-lg" (click)="saveColorConfig()">Lưu</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingThree1">
                                <a role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                  <h4 class="panel-title">
                                    Thẻ đánh dấu cuộc chat
                                    <i class="material-icons">keyboard_arrow_down</i>
                                  </h4>
                                </a>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree1">
                                <div class="panel-body">
                                  <form class="row" *ngFor="let tag of listTags">
                                    <div class="col-md-3">
                                      <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input [(colorPicker)]="tag.color" [style.background]="tag.color" [value]="tag.color" name="tag{{tag.id}}" [(ngModel)]="tag.color"
                                        />
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" placeholder="Tên thẻ" [(ngModel)]="tag.name" name="name{{tag.id}}">
                                      </div>
                                    </div>
                                    <div class="col-md-2 " style="padding-top: 30px">
                                      <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteTag(event, tag.id, tag.delele)"></i>
                                    </div>
                                  </form>
                                  <div class="row">
                                    <div class="row">
                                      <div class="col-md-11" style="padding-left: 28px">
                                        <div class="checkbox form-horizontal-checkbox">
                                          <label (click)="addTagss()">
                                              <i aria-hidden="true" class="fa fa-plus-circle"></i> Thêm thẻ
                                            </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <!--<label class="col-md-3"></label>-->
                                    <div class="col-md-12 text-center">
                                      <div class="form-group form-button">
                                        <button type="submit" class="btn btn-fill btn-facebook btn-lg" (click)="saveTag()">Lưu</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!--<button class="btn btn-rose" type="button" (click)="finishDone()" name='finish'>Hoàn thành<div class="ripple-container"></div></button>-->
                  </div>


                </div>
                <!--<div class="wizard-footer">-->
                <!--<div class="pull-right">-->
                <!--<input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' />-->
                <!--<input type='button' class='btn btn-finish btn-fill btn-rose btn-wd' name='finish' value='Finish' />-->
                <!--</div>-->
                <!--<div class="pull-left">-->
                <!--<input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
                <!--</div>-->
              </form>
            </div>
          </div>
          <!-- wizard container -->
        </div>
      </div>
    </div>

  </div>
  <!-- Button trigger modal -->
  <application-facebook-choose [fanpageInfo]="fanpageInfo" [appId]="appId" [partnerId]="partnerId" [pageAccessToken]="pageAccessToken"
    [isIntegrate]="isIntegrate" (isIntegrateChange)="counterUpdate($event)"></application-facebook-choose>
  <!-- Modal -->
  <div class="modal fade" id="scriptModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--<div class="modal-header">-->
        <!--<h5 class="modal-title" id="exampleModalLongTitle"></h5>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--</div>-->
        <div class="modal-body">
          <div class="ui form">
            <div class="field">
              <label>Nhúng mã này sau thẻ body của trang muốn hiển thị hộp chat</label>
              <!--<textarea class="form-control">{{script}}</textarea>-->
              <div style="border: 1px solid #AAA; padding: 5px;">{{script}}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--<div class="modal-header">-->
        <!--<h5 class="modal-title" id="exampleModalLongTitle"></h5>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--</div>-->
        <div class="modal-body">
          <div class="ui form">
            <div class="field">
              <label>Lưu thành công</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>