<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="close()"></div>
    <p class="text-center dialog-header-p">{{title}}</p>
    <div class="create-demand">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">face</i>
            </span>
            <div class="form-group label-floating">
                <input placeholder="Tên khách hàng" name="name" type="text" class="form-control" [(ngModel)]="customerInfo.name" id="demandusername" maxlength="100">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">phone</i>
            </span>
            <div class="form-group label-floating is-empty">
                <input placeholder="Số điện thoại" name="phone" type="text" class="form-control"  [(ngModel)]="customerInfo.phone" maxlength="100">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">email</i>
            </span>
            <div class="form-group label-floating is-empty">
                <input placeholder="Email" name="email" type="text" class="form-control" [(ngModel)]="customerInfo.email" maxlength="100">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">home</i>
            </span>
            <div class="form-group label-floating is-empty">
                <input placeholder="Địa chỉ" name="address" type="text" class="form-control" [(ngModel)]="customerInfo.address"  maxlength="200">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">home</i>
            </span>
            <div class="form-group label-floating is-empty">
                <input placeholder="Tên nhu cầu" name="namedemand" type="text" class="form-control" [(ngModel)]="demandName" id="demandname" maxlength="100">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">event_note</i>
            </span>
            <div class="form-group label-floating is-empty">
                <textarea placeholder="Ghi chú" name="note" class="form-control" maxlength="500"  [(ngModel)]="demandDetail" id="demanddetail"></textarea>
            </div>
        </div>
        <div class="input-group text-center col-md-12">
            <button class="btn btn-facebook btn-rounded btn-create-demand-submit" type="button" (click)="saveDemand()">Lưu</button>
        </div>
    </div>
</div>