<div class="wrapper">
    <div class="main-panel" style="width: 100%">
        <navbar-cmp></navbar-cmp>
        <div class="main-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="rose">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-content">
                                <div><h4 class="card-title" >Trả lời nhanh</h4>
                                    <button class="btn btn-info" (click)="popupCreate()">
                                        Tạo
                                    </button></div>
                                
                                <div class="table-responsive">
                                    <table class="table">
                                            <thead>
                                                <tr>
                                                  <th class="text-center">#</th>
                                                  <th>Name</th>
                                                  <th>Job Position</th>
                                                  <th>Since</th>
                                                  <th class="text-right">Salary</th>
                                                  <th class="text-right">Actions</th>
                                                </tr>
                                            </thead>
                                          <tbody>
                                              <!----><tr>
                                                  <td class="text-center">1</td>
                                                  <td>Andrew Mike</td>
                                                  <td>Develop</td>
                                                  <td>2013</td>
                                                  <td class="text-right">€ 99,225</td>
                                                  <td class="td-actions text-right">
                                                      <button rel="tooltip" type="button" class="btn btn-info ">
                                                          <i class="material-icons">person</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-success ">
                                                          <i class="material-icons">edit</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-danger ">
                                                          <i class="material-icons">close</i>
                                                      </button>
                                                  </td>
                                              </tr><tr>
                                                  <td class="text-center">2</td>
                                                  <td>John Doe</td>
                                                  <td>Design</td>
                                                  <td>2012</td>
                                                  <td class="text-right">€ 89,241</td>
                                                  <td class="td-actions text-right">
                                                      <button rel="tooltip" type="button" class="btn btn-info btn-round">
                                                          <i class="material-icons">person</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-success btn-round">
                                                          <i class="material-icons">edit</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-danger btn-round">
                                                          <i class="material-icons">close</i>
                                                      </button>
                                                  </td>
                                              </tr><tr>
                                                  <td class="text-center">3</td>
                                                  <td>Alex Mike</td>
                                                  <td>Design</td>
                                                  <td>2010</td>
                                                  <td class="text-right">€ 92,144</td>
                                                  <td class="td-actions text-right">
                                                      <button rel="tooltip" type="button" class="btn btn-info btn-simple">
                                                          <i class="material-icons">person</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-success btn-simple">
                                                          <i class="material-icons">edit</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-danger btn-simple">
                                                          <i class="material-icons">close</i>
                                                      </button>
                                                  </td>
                                              </tr><tr>
                                                  <td class="text-center">4</td>
                                                  <td>Mike Monday</td>
                                                  <td>Marketing</td>
                                                  <td>2013</td>
                                                  <td class="text-right">€ 49,990</td>
                                                  <td class="td-actions text-right">
                                                      <button rel="tooltip" type="button" class="btn btn-info btn-round">
                                                          <i class="material-icons">person</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-success btn-round">
                                                          <i class="material-icons">edit</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-danger btn-round">
                                                          <i class="material-icons">close</i>
                                                      </button>
                                                  </td>
                                              </tr><tr>
                                                  <td class="text-center">5</td>
                                                  <td>Paul Dickens</td>
                                                  <td>Communication</td>
                                                  <td>2015</td>
                                                  <td class="text-right">€ 69,201</td>
                                                  <td class="td-actions text-right">
                                                      <button rel="tooltip" type="button" class="btn btn-info ">
                                                          <i class="material-icons">person</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-success ">
                                                          <i class="material-icons">edit</i>
                                                      </button>
                                                      <button rel="tooltip" type="button" class="btn btn-danger ">
                                                          <i class="material-icons">close</i>
                                                      </button>
                                                  </td>
                                              </tr>
                                          </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>
