<md-autocomplete
        #auto="mdAutocomplete">
  <md-option ng-selected="true" *ngFor="let state of filteredStates | async" [value]="state" (keyup)="choiceData(state)" (click)="choiceData(state)">
    {{ state }}
  </md-option>
</md-autocomplete>
<md-input-container>
  <input name="entity_name"  mdInput placeholder="Chọn loại dữ liệu" (keyup)="keyChange($event)" [mdAutocomplete]="auto" [formControl]="stateCtrl">
</md-input-container>