<div id="info-right-side" class="info-right-aside" *ngIf="chatOpenObject; else notopen">
    <div class="sidebar-customer">
        <div class="sidebar-wrapper">
            <div class="nav-container nav-container-chat">
                <ul class="nav nav-filter nav-filter-chat nav-customer-filter" *ngIf="navFilter">
                    <ng-container *ngFor="let navbar of navFilter">
                        <li class="example-tooltip-host" [ngClass]="{'hana-focus-navbar': navbar.focus}" mdTooltip="Thông tin khách hàng" [mdTooltipPosition]="position" class="nav-customer-icon"
                            style="cursor: pointer" (click)="scrollTo('cusinfo')" *ngIf="navbar.name == 'cusinfo'">
                            <i class="fa fa-address-book-o" aria-hidden="true"></i>
                        </li>
                        <li class="example-tooltip-host" [ngClass]="{'hana-focus-navbar': navbar.focus}" mdTooltip="Danh sách nhu cầu" [mdTooltipPosition]="position" class="nav-customer-icon" style="cursor: pointer"
                            (click)="scrollTo('demand')" *ngIf="navbar.name == 'demand'">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </li>
                        <li class="example-tooltip-host" [ngClass]="{'hana-focus-navbar': navbar.focus}" mdTooltip="Remarketing" [mdTooltipPosition]="position" class="nav-customer-icon" style="cursor: pointer"
                            (click)="scrollTo('addgroup')" *ngIf="navbar.name == 'addgroup'">
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                        </li>
                        <ng-container *ngIf="reportCounter === 0; else reportmulti">
                            <li class="example-tooltip-host" [ngClass]="{'hana-focus-navbar': navbar.focus}" mdTooltip="Báo xấu" [mdTooltipPosition]="position" class="nav-customer-icon" style="cursor: pointer"
                                (click)="scrollTo('report')" *ngIf="navbar.name == 'report'">
                                <i class="fa fa-bug" aria-hidden="true"></i>
                            </li>
                        </ng-container>
                        <ng-template #reportmulti>
                            <li class="example-tooltip-host" [ngClass]="{'hana-focus-navbar': navbar.focus}" mdTooltip="Báo xấu" [mdTooltipPosition]="position" class="nav-customer-icon" style="cursor: pointer; color: red"
                                (click)="scrollTo('report')" *ngIf="navbar.name == 'report'">
                                <i class="fa fa-bug" aria-hidden="true"></i>
                            </li>
                        </ng-template>
                        <li class="example-tooltip-host" [ngClass]="{'hana-focus-navbar': navbar.focus}" mdTooltip="Đào tạo" [mdTooltipPosition]="position" class="nav-customer-icon" style="cursor: pointer"
                            (click)="scrollTo('training')" *ngIf="navbar.name == 'training'">
                            <i class="fa fa-android" aria-hidden="true"></i>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
    <div class="side-content-customer" id="side-content-customer">
        <ng-container *ngFor="let navbar of navFilter">
            <ng-container *ngIf="navbar.name == 'cusinfo'">
                <div class="header-div" id="cusinfo">
                    <p>Thông tin khách hàng</p>
                </div>
                <div class="panel-body" [ngClass]="{'hana-content-background': navbar.focus}">
                    <div class="customer-info-view" *ngIf="customerInfo">
                        <span>
                            <div class="row">
                                <div class="col-sm-12 customer-info-detail">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <input placeholder="Tên khách hàng" name="name" type="text" maxlength="250" class="form-control" [(ngModel)]="customerInfo.name">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">phone</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <input placeholder="Số điện thoại" name="phone" type="text" maxlength="250" class="form-control" [(ngModel)]="customerInfo.phone">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">contact_phone</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <input placeholder="SĐT Hana lấy đươc" name="phonepos" maxlength="250" type="text" class="form-control" [(ngModel)]="customerInfo.phone_posible">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <input placeholder="Email" name="email" type="text" maxlength="250" class="form-control" [(ngModel)]="customerInfo.email">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">home</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <input placeholder="Địa chỉ" name="address" type="text" maxlength="250" class="form-control" [(ngModel)]="customerInfo.address">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                    <div class="input-group" *ngIf="customerInfo.site_url">
                                        <span class="input-group-addon">
                                            <i class="material-icons">link</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <input placeholder="Vị trí" name="site_url" maxlength="250" type="text" class="form-control" [(ngModel)]="customerInfo.site_url">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">event_note</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <textarea placeholder="ghi chú" name="note" type="text" rows="3" maxlength="500" class="form-control" [(ngModel)]="customerInfo.note"></textarea>
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-facebook btn-rounded btn-save-customer" type="button" (click)="updateCustomerInfo()">Cập nhật</button>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="navbar.name == 'demand'">
                <div class="header-div" id="demand">
                    <p>Danh sách nhu cầu</p>
                </div>
                <div class="panel-body" [ngClass]="{'hana-content-background': navbar.focus}">
                    <div class="customer-info-view">
                        <span>
                            <div class="row ">
                                <div class="col-sm-12 text-center list-demand">
                                    <div class="table-responsive">
                                        <table class="table" *ngIf="listDemand">
                                            <!-- <thead>
                                                        <tr>
                                                            <th class="text-center">abc</th>
                                                            <th>def</th>
            
                                                            <th class="text-right">#</th>
                                                        </tr>
                                                    </thead> -->
                                            <tbody>
                                                <tr *ngFor="let demand of listDemand">
                                                    <td class="text-left">{{demand.description | lengthlimit : 100}}</td>
                                                    <td class="text-center">{{demand.created_date | mysqltimetostring}}</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" class="btn btn-success" (click)="dialogDemand('edit', demand)">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <!-- <button type="button" rel="tooltip" class="btn btn-danger">
                                                                    <i class="material-icons">close</i>
                                                                </button> -->
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-facebook btn-rounded btn-save-customer" type="button" (click)="dialogDemand('create', '')"> Tạo nhu cầu</button>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="navbar.name == 'addgroup'">
                <div class="header-div" id="addgroup">
                    <p>Remarketing</p>
                </div>
                <div class="panel-body" [ngClass]="{'hana-content-background': navbar.focus}">
                    <p class="hana-groups">Thêm vào nhóm</p>
                    <div class="customer-info-view">
                        <span>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <tag-input (onAdd)="addToGroup($event)" (onRemove)="removeOutGroup($event)" [modelAsStrings]="true" theme='minimal' placeholder="+Thêm vào nhóm"
                                        secondaryPlaceholder="+Thêm vào nhóm" [(ngModel)]='tags'>
                                        <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="listHastag">
                                        </tag-input-dropdown>
                                    </tag-input>
                                </div>
                            </div>
                        </span>
                    </div>
                    <p class="hana-sequence">Thêm vào chuỗi</p>
                    <div class="customer-info-view">
                        <span>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <tag-input (onAdd)="addToSequence($event)" (onRemove)="removeOutSequence($event)" [modelAsStrings]="true" theme='minimal' placeholder="+Thêm vào chuỗi"
                                        secondaryPlaceholder="+Thêm vào chuỗi" [(ngModel)]='sequenceTags'>
                                        <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="listSequencetag">
                                        </tag-input-dropdown>
                                    </tag-input>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="navbar.name == 'report'">
                <div class="header-div" id="report">
                    <p>Báo xấu</p>
                </div>
                <div class="panel-body" *ngIf="reportCounter && reportCounter > 0; else addReport" [ngClass]="{'hana-content-background': navbar.focus}">
                    <div class="customer-info-view">
                        <span>
                            <div class="row ">
                                <div class="col-sm-12 text-center list-demand">
                                    <div class="table-responsive">
                                        <table class="table" *ngIf="listReport">
                                            <tbody>
                                                <tr *ngFor="let report of listReport">
                                                    <td class="text-left">{{report.reason | lengthlimit : 100}}</td>
                                                    <td class="td-actions text-right" *ngIf="partnerId === report.partner_id">
                                                        <button type="button" rel="tooltip" class="btn btn-danger" (click)="dialogReport('delete', report)">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-facebook btn-rounded btn-save-customer" type="button" (click)="dialogReport('create', '')"> Tạo báo xấu</button>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
                <ng-template #addReport>
                    <div class="panel-body" [ngClass]="{'hana-content-background': navbar.focus}">
                        <div class="customer-info-view">
                            <span>
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <button class="btn btn-facebook btn-rounded btn-save-customer" (click)="dialogReport('create', '')" type="button">Báo xấu
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            <ng-container *ngIf="navbar.name == 'training'">
                <div class="header-div" id="training">
                    <p>Đào tạo</p>
                </div>
                <div class="panel-body" [ngClass]="{'hana-content-background': navbar.focus}">
                    <div class="customer-info-view">
                        <span>
                            <div class="row ">
                                <div class="col-sm-12 text-center">
                                    <div class="flex-2-child">
                                        <md-chip-list>
                                            <!-- <md-chip *ngIf="searchKey && searchKey !== ''" class="parent-popup-event" style="cursor: move;cursor: url(images/grab.cur); /* fallback: Internet Explorer */ cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */ cursor:    -moz-grab; /* Firefox 1.5-26 */ cursor:grab; margin: 5px;min-width:100px"
                                                selected="true" pDraggable="cars" (onDragStart)="dragStart($event,searchKey)"
                                                (onDragEnd)="dragEnd($event)" aria-hidden="true" mdTooltip="Kéo thả câu nói này vào câu tương tự"
                                                [mdTooltipPosition]="position">
                                                {{searchKey}}
                                                <div class="btn-popup-one" (click)="dialogTraining()" aria-hidden="true" mdTooltip="Thêm mới câu nói" [mdTooltipPosition]="position">
                                                    <i class="fa fa-plus hana-icon-traing"></i>
                                                </div>
                                            </md-chip> -->
                                            <md-chip *ngFor="let stringKey of listTrainingString;  let i = index" class="parent-popup-event" style="cursor: move;cursor: url(images/grab.cur); /* fallback: Internet Explorer */ cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */ cursor:    -moz-grab; /* Firefox 1.5-26 */ cursor:grab; margin: 5px;min-width:100px"
                                            selected="true" pDraggable="cars" (onDragStart)="dragStart($event,stringKey)"
                                            (onDragEnd)="dragEnd($event)" aria-hidden="true" mdTooltip="Kéo thả câu nói này vào câu tương tự"
                                            [mdTooltipPosition]="position">
                                            {{stringKey}}
                                            <div class="btn-popup-one" (click)="dialogTraining(stringKey)" aria-hidden="true" mdTooltip="Thêm mới câu nói" [mdTooltipPosition]="position">
                                                <i class="fa fa-plus hana-icon-traing"></i>
                                            </div>
                                        </md-chip>
                                        </md-chip-list>

                                        <div class="form-group is-empty">
                                            <input [(ngModel)]="searchKey" (keyup)="valuechangeSearch($event)" value="{{searchKey}}" autocomplete="off" class="form-control"
                                                style="padding-left: 10px; border: 1px solid #ccc; width: 100%;background-image: none;background-position: none;background-color:#fff;border-radius:7px"
                                                placeholder="Lọc theo câu nói và nhấn Enter để tìm kiếm" type="text" (keyup.enter)="getListIntentByUsersay()">
                                        </div>
                                        <div class="hana-dont-understand">
                                            <div *ngFor="let intent of intents; let i = index" style="margin-bottom: 10px">
                                                <div pDroppable="cars" (onDrop)="drop($event, i)" [ngClass]="{'ui-state-highlight':draggedCar}">
                                                    <ba-chips [values]="intent.usersays" (output)="backToDontUnderstand($event, i)"></ba-chips>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="msg" *ngIf="errorMes">Không tìm thấy câu nói tương tự</div>
                                    </div>
                                </div>

                            </div>
                        </span>
                    </div>
                </div>
                <ng-template #addReport>
                    <div class="panel-body" [ngClass]="{'hana-content-background': navbar.focus}">
                        <div class="customer-info-view">
                            <span>
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <button class="btn btn-facebook btn-rounded btn-save-customer" (click)="dialogReport('create', '')" type="button">Báo xấu
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
    </div>
</div>
<ng-template #notopen>
    <div id="info-right-side" class="info-right-aside">
        <div class="side-content-customer" id="side-content-customer">
        </div>
    </div>
</ng-template>