
.sidebar-customer {
    width: 40px;
    background-color: #F4F5F7;
    height:  calc(100vh - 60px) !important;
    position: absolute;
}
#info-right-side .nav-customer-filter {
    width: 40px;

}
#info-right-side .nav-customer-icon {
    text-align: center;
    padding: 10px 0;
}

#info-right-side .nav-customer-icon.selected {
    background: #bec9db;
}

.side-content-customer {
    background-color: #FFFFFF;
    height: calc(100vh - 60px) !important;
    padding-left: 40px;
    overflow-x: hidden;
}
.header-div p {
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
    background: #F4F5F7;
}
.customer-info-detail {
    padding: 0 10px 0 0;
}
#info-right-side .material-icons {
    font-size: 16px;
}

#info-right-side .list-demand {
    max-height: 400px;
    overflow-x: hidden;
}
#info-right-side .nav-customer-icon {
    font-size: 19px;
}
#info-right-side .hana-dont-understand {
    max-height: 500px;
    overflow-x: hidden;
}

#info-right-side .hana-icon-traing {
    font-size: 16px;
    padding-top: 3px;
}

#info-right-side .hana-focus-navbar {
    background-color: #bcd6ff;
}
#info-right-side .hana-content-background {
    background-color: #f7f4f4;
}
#info-right-side .header-div p {
    margin: 0 0 0px;
}
#info-right-side .hana-sequence {
    font-weight: bold;
    padding-top: 12px;
}
#info-right-side .hana-groups {
    font-weight: bold;
}