
<div class="row" style="display:none">
  <div class="col-md-12" style="margin-top: 13px;margin-bottom: 13px;">
    <!-- <label>CẤU HÌNH GỬI THEO TỪNG ĐỢT</label> -->
    <div class="checkbox-radios">
      <div class="checkbox">
        <label>
          <input type="checkbox" [checked]="isTachTiep" (change)="isTachTiep = !isTachTiep; clearTachtiep()" name="optionsCheckboxes">
          <span>CẤU HÌNH GỬI THEO TỪNG ĐỢT</span>
        </label>
      </div>
    </div>
  </div>

  <div class="config-tach-tiep" *ngIf="isTachTiep">
    <div class="col-md-12">
      <label>(Nếu ngày 01/10/2017 bạn gửi tin cho 2900 người với cấu hình số lượng khách hàng mỗi đợt là 1000 và số ngày cách nhau
        mỗi đợt là 2 thì đợt 1 gửi ngày 01/10/2017, đợt tiếp theo gửi ngày 03/10/2017 và đợt cuối gửi ngày 05/10/2017 với
        số lượng khách tối đa mỗi đợt là 1000)</label>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <label>Số lượng khách hàng gửi mỗi đợt:</label>
        </div>
        <div class="col-md-3">
          <!-- <input type="number" (blur)="updateTemplateBroadcast()" [(ngModel)]="templateBroadcast.data_set_size" value="{{templateBroadcast.data_set_size}}"> -->
          <input type="number" autocomplete="off" pattern="[0-9]" (blur)="updateTemplateBroadcast()" [(ngModel)]="templateBroadcast.data_set_size"
            value="{{templateBroadcast.data_set_size}}" mdInput placeholder="Nhập tối đa 1000" style="float:left; height: 30px;border: 0;padding-left: 5px; padding-right: 5px; padding-top: 5px;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
        </div>
      </div>
    </div>

    <div class="col-md-12" style="margin-top:5px">
      <div class="row">
        <div class="col-md-3">
          <label>Số ngày cách nhau giữa mỗi đợt gửi:</label>
        </div>
        <div class="col-md-3">
          <!-- <input type="number" (blur)="updateTemplateBroadcast()" [(ngModel)]="templateBroadcast.expand_days" value="{{templateBroadcast.expand_days}}"> -->
          <input type="number" autocomplete="off" pattern="[0-9]" (blur)="updateTemplateBroadcast()" [(ngModel)]="templateBroadcast.expand_days"
            value="{{templateBroadcast.expand_days}}" mdInput placeholder="Nhập lớn hơn 0" style="float:left; height: 30px;border: 0;padding-left: 5px; padding-right: 5px; padding-top: 5px;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
        </div>
      </div>
    </div>
  </div>



</div>

<!-- <div class="row">
  <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
</div> -->
<div class="row" style="margin-bottom:5px">
  <div class="col-md-12">
    <label>NỘI DUNG TIN NHẮN CẤU TRÚC</label>
    <div><span style="font-weight: bold;color: #EC407A;"><i style="font-size: 19px;float:left" class="material-icons">error_outline</i></span><span style="font-weight: bold;">{{configService.facebookPolicy}}</span></div>
  </div>
  <div class="col-md-12">
    <ba-structured [id_component]="'send-now'" [hideTitle]="true" [blockInput]="blockCurrent" (blockOutput)="updateBlock($event)"></ba-structured>
  </div>
</div>