<div class="container-custom" >
    <div class="input-field col s12">
        <input id="response" placeholder="Nhập {{(query != '') ? query : 'Tên dự án' }}" type="text" [(ngModel)]="query_string" class="form-control validate filter-input"  (keyup)=filter($event) >
    </div>
    <div class="suggestions"  *ngIf="filteredList.length > 0">
        <ul *ngFor="let item of filteredList" >
            <li >
                <a (click)="select(item)">{{item}}</a>
            </li>
        </ul>

    </div>
</div>