<div class="row">
    <div class="col-md-12 group-block">
        <span *ngIf="index ===0" style="float:left;height: 31px;padding: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">NẾU</span>

        <!-- <button *ngIf="index !==0" [mdMenuTriggerFor]="menu" style="float:left; height: 31px;padding: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important"><span style="float:left">{{conditionOperatorSelected}}</span> <span class="btn-label btn-label-right"><i class="material-icons">arrow_drop_down</i></span></button> -->

        <!-- <md-menu #menu="mdMenu">
            <button md-menu-item (click)="conditionOperatorSelected = 'VÀ'; buildSyntax()">VÀ</button>
            <button md-menu-item (click)="conditionOperatorSelected = 'HOẶC'; buildSyntax()">HOẶC</button>
        </md-menu> -->

        <span *ngIf="index !==0" style="float:left;height: 31px;padding: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">VÀ</span>

        <md-select [(ngModel)]="paramModelSelected" (change)="loadOperator($event.value.type)" placeholder="Chọn tham số" style="float:left;padding-left: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important"
                   name="city">
            <md-option *ngFor="let city of searchParam" [value]="city">
                {{ city.label }}
            </md-option>
        </md-select>

        <md-select [(ngModel)]="operatorModelSelected" *ngIf="paramSelected === 'number' || paramSelected === 'text' || paramSelected === 'list' || paramSelected === 'date'"
                   (change)="setEditor($event.value.value)" placeholder="Chọn phép toán" style="float:left;padding-left: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
            <md-option *ngFor="let city of searchOperator" [value]="city">
                {{ city.label }}
            </md-option>
        </md-select>

        <md-radio-group [(ngModel)]="radioSelected" (ngModelChange)="buildRadio()"  *ngIf="paramSelected === 'boolean'" style="float:left;margin-left: 10px;line-height: 31px;">
            <md-radio-button style="margin-left:10px" *ngFor="let oper of searchOperator" [value]="oper">{{oper.label}}</md-radio-button>
        </md-radio-group>

        <input type="number" min="0" *ngIf="showInput && paramSelected === 'number'" [(ngModel)]="inputValue" (ngModelChange)="buildInputValue()"  mdInput placeholder="Nhập giá trị" style="float:left;padding-left: 5px; height: 30px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
        <input *ngIf="showInput && paramSelected === 'text'" [(ngModel)]="inputValue" (ngModelChange)="buildInputValue()" mdInput placeholder="Nhập giá trị" style="float:left;padding-left: 5px; height: 30px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">

        <md-select [(ngModel)]="mutiSelected" (change)="buildSelectMulti()" *ngIf="showSelectMultiple" multiple placeholder="Chọn dữ liệu" style="float:left;padding-left: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
            <md-option *ngFor="let city of cities" [value]="city">
                {{ city.label }}
            </md-option>
        </md-select>

        <span *ngIf="showSelectDateBefore" style="float:left;height: 31px;padding-left: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
            <md-form-field>
                <input [(ngModel)]="dateBefore" (ngModelChange)="buildDateBefore()" style="float:left;border:0; background: transparent;line-height: 31px;" mdInput [mdDatepicker]="picker" placeholder="Chọn ngày...">
                <md-datepicker-toggle style="float:right;margin-top: -5px;" mdSuffix [for]="picker"></md-datepicker-toggle>
                <md-datepicker #picker></md-datepicker>
            </md-form-field>
        </span>

        <span *ngIf="showSelectDateAfter" style="float: left;height: 31px;margin-left: 10px;line-height: 31px;"> và </span>
        <span *ngIf="showSelectDateAfter" style="float:left;height: 31px;padding-left: 5px;border: 0;margin-left: 10px;width: auto;border-radius: 7px;background: #fff;border: 1px solid rgba(0,0,0,.12)!important">
            <md-form-field>
                <input [(ngModel)]="dateAfter" (ngModelChange)="buildDateAfter()" style="float:left;border:0; background: transparent;line-height: 31px;" mdInput [mdDatepicker]="picker" placeholder="Chọn ngày...">
                <md-datepicker-toggle style="float:right;margin-top: -5px;" mdSuffix [for]="picker"></md-datepicker-toggle>
                <md-datepicker #picker></md-datepicker>
            </md-form-field>
        </span>
        <span class="group-block-delete" (click)="deleteQuery()"></span>

    </div>
</div>