.ui-widget-content{
    border: 0;
  }
  .simple .mat-select-trigger {
    margin: 0;
    padding-bottom: 0;
    color: #ffffff !important;
    font-size: 12px !important;
  }
  .mat-select {
    margin-top: 0;
    padding-top: 0;
    padding-left: 5px;
  }
  thead {
    border: 0;
}

.group-block-delete {
  position: absolute;
  background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
  height: 30px;
  width: 30px;
  left: -5px;
  top: 0px;
  opacity: 0;
}
.group-block:hover .group-block-delete {
  opacity: 0.5;
  cursor: pointer;
}
.query-item {
  padding-left: 15px;
  margin-top: 2px !important;
  padding-right: 15px;
}


.cdk-overlay-container {
  position: fixed;
  z-index: 1100 !important;
}
