<!-- them khai niem-->
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog modal-notice" >
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">THÊM KHÁI NIỆM</h4>
            </div>
            <div class="modal-body">
                <!-- content add -->
                <div class="card">
                    <div class="card-content-custom">
                        <form  class="form-horizontal" action="" method="" #frm_new_entity="ngForm" novalidate="novalidate">
                            <div class="row">
                                <label class="col-sm-2 label-on-left" style="width: 21%;">Tên khái niệm</label>
                                <div class="col-sm-10" style="width: 78%;">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" [(ngModel)]="entity_name_value" #entity_name placeholder="Tên khái niệm (Chỉ cho phép nhập [a-z], [A-Z], [0-9] và _ )" name="name_entity" >

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button style="display: none" type="button" class="btn btn-default p-r" data-dismiss="modal" #btnCloseAddEntity>Hủy</button>
                        <button class="btn btn-danger btn-search-right" (click)="saveEntity();" type="submit">Lưu <i class="material-icons">save</i></button>
                    </div>
                </div>
                <!-- end content add-->
            </div>
        </div>
    </div>
</div>
