
.fa-plus-circle {
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.hidden-div {
    display: none;
}
.card .table tr:first-child td {
    border-top: none;
    padding: 0px;
}
.tags {
    margin-bottom: -15px;
}
.tbn-them-tu-dong-nghia {
    margin-left: 15px;
}
.ttt {
    max-width: 200px;
}
.table > tfoot > tr > td {
    padding: 12px 2px !important;
    vertical-align: middle;
}
.table-td {
    padding-top: 54px;
}
label.control-label {
    font-size: 15px;
    line-height: 1.07143;
    color: #777777;
    font-weight: 400;
    margin: 26px 0 0 0;
}

label.control-label {
    font-size: 15px;
    line-height: 1.07143;
    color: #777777;
    font-weight: 400;
    margin: 26px 0 0 0;
}

label.control-label {
    font-size: 15px;
    line-height: 1.07143;
    color: #777777;
    font-weight: 400;
    margin: 26px 0 0 0;
}
.dropdown, .dropup {
    position: relative;
    max-height: 56px;
}

table {
    border-collapse: collapse;
}

table, th, td, th {
    border: 1px solid #ccc;
}
table {
    width: 100%;
}

th {
    height: 50px;
    text-align: center;
    font-size: 13px;
}
td {
    text-align: center;
}
.btn-danger-custom {
    padding: 2px;
    background-color: #f44336;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.add-entity {
    font-weight: bold;

    color: #0000cc}
.card .card-content-custom {
    padding: 15px 20px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
}
.text-center {
    text-align: center;
    padding: 5px;
}
textarea.form-control {
    min-height: 53px;
}
.btn-huy {
    background-color: #aaaaaa !important;
    float: right;
    margin-right: 8px
}

.w-11-percen {
    width: 11%;
}
.w-73px {
    width: 73px !important;
}
.w-100px {
    min-width: 100px;
}
.table-responsive-custom {
    overflow-x: scroll;
    overflow-y: hidden;
}
.text-right {
    text-align: right;
}
.p-r {
    margin-right: 10px !important;
}

.btn-round-delete {
    background-color: transparent;
    padding: 3px;
    font-size: 10px;
    color: #777;
}
.btn-round-delete {
    background-color: transparent;
    padding: 3px;
    font-size: 13px;
    color: #777;
}
.btn-round-delete :hover {
//background-color: #777;
    color: red;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: -1px;
}
.form-group {
    padding-bottom: 0px;
    margin: 7px 0 0 0;
}

.text-center {
    text-align: center;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
textarea.form-control {
    min-height: 53px;
    padding-top: 5px;
    line-height: 1.5;
}
.form-group {
    padding-bottom: 0px !important;
}
.form-group {
    padding-bottom: 0px;
    margin: 7px 0 0 0;
}

.padding-left-10-tdn {
    padding-left: 8px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
}
.mat-input-wrapper {
    margin: 1em 0;
    padding-bottom: 0px;
    margin-top: 8px;
}
.div_check_box {
    padding-top: 10px; padding-bottom: 4px;
}
.modal-body {
    padding-top: 0px;
}
.modal-body {
    padding-top: 0;
}
.modal-content .modal-body {
    padding-top: 24px;
    padding-right: 24px;
    /* padding-bottom: 16px; */
    padding-left: 24px;
}
.modal-content .modal-body {
    padding-top: 5px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
}
.card .form-horizontal .label-on-left {
    padding: 16px 5px 0 0;
    padding-left: 0px;
    text-align: left;
}
.form-group {
    padding-bottom: 0!important;
    padding-bottom: 0;
    margin: 7px 0 0;
}
.card .card-content-custom {
    padding: 15px 20px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
}
.modal-content .modal-header {
    border-bottom: none;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 0;
    padding-left: 24px;
}
.modal-body {
    padding-top: 0 !important;
}
.card {
    padding-top: 0px;
    margin-top: 15px;
}
.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
    background-color: #3c8dbc;
    color: #FFFFFF;
}
.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger {
    box-shadow: none;
}
.modal .modal-header .close {
    color: #999999;
}
.modal .modal-header .close {
    color: #999999;
    font-size: 23px;
}
.modal-header .close {
    margin-top: -2px;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
    font-size: 14px;
    line-height: 1.42857;
    color: #777;
    font-weight: 400;
}
.card .form-horizontal .label-on-left {
    padding: 16px 5px 0 0;
    padding-left: 15px;
    text-align: left;
}