<div class="container-memory" >
    <div class="input-field col s12">
        <input id="country" placeholder="Chọn sản phẩm" type="text" class="form-control validate filter-input" [(ngModel)]="query" (keyup)=filter() (click)="filter_click()">
        <span class="mat-select-arrow" style="position: relative; top: -28px; right: -182px;"></span>
    </div>
    <div class="suggestions"  *ngIf="filteredList.length > 0">
        <ul *ngFor="let item of filteredList" >
            <li >
                <a (click)="select(item.name)">{{item.name}}</a>
            </li>
        </ul>
    </div>
</div>