<md-input-container>
    <input mdInput placeholder="Chọn khái niệm" (keyup)="check($event)" (click)="clickCheck($event)" name="entity-value-synonyms-auto#{{index}}" #input_auto [(ngModel)]="selected" [mdAutocomplete]="auto" [formControl]="stateCtrl" class="input-auto-entity">
</md-input-container>
<md-autocomplete #auto="mdAutocomplete">
    <md-option (click)="clickAddEntity()"><a data-toggle="modal" (click)="showModel()" class="add-entity" style="padding: 0px">+ Thêm khái niệm</a></md-option>
    <md-option (onSelectionChange)="enterSelect($event, state)" (click)="selectValue(state)"  *ngFor="let state of filteredStates" [value]="state.name">
        {{ state.name }}
    </md-option>
</md-autocomplete>
<a data-toggle="modal" #link_add_entity (click)="showModel1()" class="link-hide">Thêm khái niệm</a>