.add-entity {
  color: #0000ee;
  font-weight: 500;
  text-align: left;
  margin: auto;
  margin-left: 0px;
  font-size: 14px;
}
@media (min-width: 991px) {
  .add-entity {
    color: #0000ee;
    font-weight: 500;
    text-align: left;
    margin: auto;
    margin-left: 0px;
    font-size: 14px;
  }
}
.custom-select-icon {
  position: relative;
}
.input-auto-entity {
  min-width: 100px;
}
.link-hide {
  display: none;
}
.mat-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 36px;
  height: 36px;
  padding: 0 16px;
  font-size: 16px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  text-align: left;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  outline: 0;
}
.mat-input-container {
  display: inline-block;
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  line-height: normal;
  text-align: left;
  margin-top: 10px;
  width: 100%;
}
.mat-input-infix {
  display: block;
  position: relative;
  flex: auto;
  margin-top: 3px !important;
}