<div class="loader" *ngIf="is_uploading==true">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<input (keypress)="emitSave()" (blur)="emitSave()"  style="border: 0px; height: 40px; width: 86%; padding-left: 5px" type="text" class="ng-valid ng-isolate-scope ng-valid-maxlength ng-touched ng-not-empty ng-dirty ng-valid-parse res-text-{{i}}"
        [(ngModel)]="url" placeholder="Đường dẫn hình ảnh.."
       maxlength="2000">
<a style="cursor: pointer" (click)="single_fileup.click();"><i class="material-icons" style="color: rgba(124, 124, 124, 0.61)">cloud_upload</i></a>
<form action="" #frm_upload method="" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
    <input style="display: none" type="file" (change)="selectFile($event); frm_upload.reset()" name="single_fileup" #single_fileup>
</form>
