<md-input-container>
    <div *ngIf="require">
        <input *ngIf="is_focus" mdInput placeholder="{{lable}}  (*)" autofocus  (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl">
        <input *ngIf="!is_focus" mdInput placeholder="{{lable}}  (*)"   (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl">

    </div>
    <div *ngIf="!require">
        <input *ngIf="is_focus" mdInput placeholder="{{lable}}" autofocus  (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl">
        <input *ngIf="!is_focus" mdInput placeholder="{{lable}}"   (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl">

    </div>

    <!--<span *ngIf="require" class="star custom-start">*</span>-->
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
    <md-option (onSelectionChange)="enterSelect($event, state)" (click)="selectValue(state)"  *ngFor="let state of filteredStates" [value]="state">
        {{ state }}
    </md-option>
</md-autocomplete>