<div aria-multiselectable="true" class="panel-group"  id="accordion" role="tablist" *ngIf="intentDontunderstands.length>0">
  <div class="panel panel-default">
    <div class="panel-heading" id="headingOne" style="padding-top:10px" role="tab">
      <a aria-controls="collapseOne" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button" class="collapsed">
        <h4 class="panel-title">
          Có {{intentDontunderstands.length}} câu nói của người dùng chưa hiểu. Cần đào tạo ngay!
          <i class="material-icons search-close">keyboard_arrow_down</i>
        </h4>
      </a>
    </div>
    <div aria-labelledby="headingOne" class="panel-collapse collapse in"  id="collapseOne" role="tabpanel" aria-expanded="true">
      <div class="panel-body" style="padding-top: 0px">
        <div class="row list-search">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" >
              <div class="item active">
                <div *ngFor="let item of intentDontunderstands; let i = index">
                  <div *ngIf="i<=2">
                    <div class="row" >
                      <div class="col-md-10 col-md-10-custom">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="Câu nói của người dùng" value="{{item.content}}"  type="text" style="width: 100%"  name="inputSearch" readonly  >
                            <span class="input-group-addon">
                                 <a (click)="setValueFilter(item.content)" href="#/pages/intents/intentList"><i class="material-icons">search</i></a>
                            </span>
                            <span class="input-group-addon">
                                 <a data-toggle="modal" data-target="#confirm-delete-{{item.id}}" href="#confirm-delete-{{item.id}}" rel="tooltip"><i class="material-icons btn-round-custom">close</i></a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item" *ngFor="let rows of list_filter_intent">
                <div class="row" *ngFor="let item of rows">
                  <div class="col-md-10 col-md-10-custom">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" placeholder="Câu nói của người dùng" value="{{item.content}}"  type="text" style="width: 100%"  name="inputSearch"  >
                        <span class="input-group-addon">
                             <a (click)="setValueFilter(item.content)" href="#/pages/intents/intentList"><i class="material-icons">search</i></a>
                        </span>
                        <span class="input-group-addon">
                             <a data-toggle="modal" data-target="#confirm-delete-{{item.id}}" href="#confirm-delete-{{item.id}}" rel="tooltip" ><i class="material-icons btn-round-custom">close</i></a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a *ngIf="intentDontunderstands.length>0" class="right carousel-control right-pre"  href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left icon-next-search"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a *ngIf="intentDontunderstands.length>0" class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right icon-next-search"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div *ngFor="let item of intentDontunderstands; let i = index">
          <div  class="modal fade" id="confirm-delete-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notice" >
              <div class="modal-content">
                <div class="modal-body">
                  <span>Bạn có chắc muốn xóa câu nói <b> "{{item.content}}" </b> không ?</span>
                </div>
                <div class="modal-footer">
                  <button (click)="delete(item.id)" class="btn btn-danger btn-ok" data-dismiss="modal" style="float: right; ">Xóa <i class="material-icons">delete</i></button>
                  <button type="button" class="btn btn-danger btn-ok" data-dismiss="modal" style="background-color: #aaaaaa !important; padding: 12px; float: right; margin-right: 10px">Hủy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>