button {
    line-height: 6px;
    width: auto;
    float: left;
}
.btn-filter {
    margin-top: -2px;
}
tr {
    margin-bottom: 0px;
}
.right-pre {
    margin-right: 38px;
}
.search-close {
    margin-right: -15px;
}
.col-md-10-custom {
    width: 85% !important;
}