<md-dialog-content class="text-center">Bạn chắc chắn muốn xóa?</md-dialog-content>
<md-dialog-actions>
  <div class="btn-close-popup-large" (click)="dialogRef.close('false')"></div>
  <div class="col-md-12 text-center">
    <button md-raised-button md-dialog-close>Không</button>
    <button md-button [md-dialog-close]="true">Có</button>
  </div>
</md-dialog-actions>
