<div class="main-content">
    <div class="container-fluid entity">
        <div class="loader" *ngIf="is_load_list_action && is_load_entity">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
        <div class="row" *ngIf="!is_load_list_action && !is_load_entity">
            <div class="col-md-12">
                <div class="card card-action">
                    <div class="card-content">
                        <h4 class="card-title card-title-custom "><i class="material-icons icon-title-list">assignment</i>Thêm Hành Động</h4>
                        <br>
                        <br>
                        <form  action="" class="form-horizontal" method="" #frm_new="ngForm" novalidate="novalidate">
                            <div class="row">
                                <label class="col-sm-2 label-on-left" >Tên hành động</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control"  type="name" name="name" #name [(ngModel)]="currentAction.nameDisplay" (keyup)="checkEmptyUpdate(currentAction.nameDisplay)" placeholder="Chỉ cho phép nhập [a-z], [A-Z], [0-9] và ký tự _" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Loại hành động</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty group-loai-hanh-dong">
                                        <ba-autocomplete-action-basic style="min-width: 200px;" [source]="states" [selected]="selected_lhd" [actionBasics]="actionBasics" (output)="currentAction.actionBaseName=$event"></ba-autocomplete-action-basic>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Sản phẩm</label>
                                <div class="col-sm-10">
                                    <div  class="group-san-pham form-group label-floating is-empty form-product">
                                        <product-select2-custome [sources]="states" [products]="states" [entities]="entities" (product_criterias_name)="product_criterias_name=$event" (product_id)="product_id=$event" (product_criterias)="product_criterias=$event" (is_show)="is_show=$event" (output)="currentAction.inputs=$event" (name_memory)="currentAction_name_custom=$event"></product-select2-custome>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="currentAction_name_custom" class="row">
                                <label class="col-sm-2 label-on-left lbl-memory">Bộ nhớ sử dụng</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty div-memory">
                                        <div class="checkbox" *ngIf="currentAction.actionBaseName=='search'">
                                            <label>
                                                <i class="material-icons icon-custom">stop</i> <span>Lưu trữ thông tin khách hàng yêu cầu trong <span class="currentAction_name_custom">yeucau_{{currentAction_name_custom}}</span></span>
                                            </label>
                                            <label>
                                                <i class="material-icons icon-custom">stop</i> <span>Lưu trữ thông tin sản phẩm tìm kiếm thành công trong <span class="currentAction_name_custom">phanhoi_{{currentAction_name_custom}}</span></span>
                                            </label>
                                        </div>
                                        <div class="checkbox" *ngIf="currentAction.actionBaseName!='search'">
                                            <label>
                                                <i class="material-icons icon-custom">stop</i> <span>Lưu trữ thông tin khách hàng yêu cầu trong <span class="currentAction_name_custom">yeucau_{{currentAction_name_custom}}</span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>

                                <div class="row div-tieuchi" *ngIf="is_show!=false">
                                    <div class="col-sm-12">
                                        <div class="table-tieu-chi">
                                            <h6 class="card-title pd-bttom-20">Thông tin các tiêu chí hành động</h6>
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th>Bắt buộc</th>
                                                    <th class="thuoc-tinh">Thuộc tính</th>
                                                    <th>Khái niệm</th>
                                                    <th class="type-search">Kiểu tìm kiếm</th>
                                                    <th class="number-th">Trọng số</th>
                                                </tr>
                                                </thead>
                                                <tbody *ngIf="currentAction.inputs">
                                                <tr *ngFor="let input of currentAction.inputs; let i = index">
                                                    <td *ngIf="input.meta" class="table-td td-meta">
                                                        <div class="checkbox checkbox-input">
                                                            <check-box (valueChange)="input.meta[1].value=$event" [(value)]="input.meta[1].value" [data]="checkboxData "></check-box>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="input.meta" class="table-td">{{input.name}}</td>
                                                    <td *ngIf="input.meta" class="table-td">{{input.meta[3].value}}</td>
                                                    <td *ngIf="input.meta">
                                                        <div style="margin-top: -10px">
                                                                <ba-autocomplete-action-search-type [source]="searchTypes" [selected]="selected"  (output)="input.meta[0].value=$event">
                                                                    </ba-autocomplete-action-search-type>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="input.meta">
                                                        <div class="form-group" style="margin-top: 20px !important;">
                                                            <input  class="form-control custom-input control-number" type="number"  [(ngModel)]="input.meta[2].value" name="weight-{{i}}"  placeholder="Từ chính..." min="1" (keyup)="updateNumber($event, i)"  >
                                                        </div>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row div-hd" *ngIf="currentAction_name_custom_res">
                                    <div class="col-sm-12">
                                        <div class="table-thong-tin">
                                            <h6 class="card-title pd-bttom-20">Thông tin kết quả hành động</h6>
                                            <table  *ngIf="currentAction.actionBaseName=='search'">
                                                <thead>
                                                <tr>
                                                    <th>Các trường hợp</th>
                                                    <th>Sự kiện trả về</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="text-left">Tìm thấy thông tin</td>
                                                    <td class="text-left">{{currentAction_name_custom_res}}_co_ket_qua</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Tìm không thấy thông tin</td>
                                                    <td class="text-left">{{currentAction_name_custom_res}}_khong_co_ket_qua</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Không còn thông tin khác tư vấn</td>
                                                    <td class="text-left">{{currentAction_name_custom_res}}_het_tu_van</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table *ngIf="currentAction.actionBaseName!='search'">
                                                <thead>
                                                <tr>
                                                    <th>Các trường hợp</th>
                                                    <th>Sự kiện trả về</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Lọc được nhiều hơn 1 thông tin</td>
                                                    <td class="td-filter-info">
                                                        <div class="form-group">
                                                            <textarea type="text"  [(ngModel)]="noi_dung_tra_ve_trc_khi_loc" name="input_message_if_has_solution" #noidung_tra_ve_trc_thong_tin_loc placeholder="Nội dung trả về trước thông tin lọc (*)" class="form-control" value  autosize maxlength="640"></textarea>
                                                            <!--<span class="star custom-start">*</span>-->
                                                        </div>
                                                        <div class="radio radio-info">
                                                            <label>
                                                                <input (change)="changeType()" checked="true" name="optionsRadios" type="radio">
                                                                <span class="circle"></span><span class="check"></span> Kiểu thẻ
                                                            </label>
                                                            <label>
                                                                <input  (change)="changeType()" name="optionsRadios" type="radio">
                                                                <span class="circle"></span><span class="check"></span> Trả lời nhanh
                                                            </label>
                                                        </div>
                                                        <div *ngIf="type_res">
                                                            <div class="card-content card-content-loc div-input">
                                                                <div>
                                                                    <div>
                                                                        <entity-value-autocomplete [lable]="'Nhập url hình ảnh'" [product_criterias_name]="product_criterias_name" [product_id]="product_id" (value_select)="input_kqhds[4].defaultValue=$event"></entity-value-autocomplete><br>
                                                                        <entity-value-autocomplete [css_color]="getStyle(input_kqhds[1].defaultValue)" [maxlength]="80" [lable]="'Nhập tiêu đề (80 kí tự)'" [require]="'true'" [is_focus]="is_focus_noidungtrave" [product_criterias_name]="product_criterias_name" [product_id]="product_id" (value_select)="input_kqhds[1].defaultValue=$event"></entity-value-autocomplete><br>
                                                                        <entity-value-autocomplete [maxlength]="80" [lable]="'Nhập mô tả ngắn (80 kí tự)'" [product_criterias_name]="product_criterias_name" [product_id]="product_id" (value_select)="input_kqhds[3].defaultValue=$event"></entity-value-autocomplete><br>
                                                                    </div>
                                                                    <div>
                                                                        <div>
                                                                            <entity-value-autocomplete [maxlength]="20" [lable]="'Tiêu đề nút bấm (20 kí tự)'" [product_criterias_name]="product_criterias_name" [product_id]="product_id" (value_select)="input_kqhds[5].defaultValue=$event"></entity-value-autocomplete>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="!type_res">
                                                            <div class="card-content-custom div-nutbam-info">
                                                                    <div class="div-input"><br>
                                                                    <entity-value-autocomplete [maxlength]="20" [lable]="'Tiêu đề nút bấm (20 kí tự)'"  [require]="'true'" [is_focus_tieu_de_button]="is_focus_tieu_de_nut_bam" [product_criterias_name]="product_criterias_name" [product_id]="product_id" (value_select)="input_kqhds[5].defaultValue=$event"></entity-value-autocomplete><br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="loc-co-thong-tin">Lọc được chỉ 1 thông tin</td>
                                                    <td>{{currentAction_name_custom_res}}_co_ket_qua</td>
                                                </tr>
                                                <tr>
                                                    <td class="loc-co-thong-tin" style="width: 221px">Lọc không có thông tin</td>
                                                    <td>{{currentAction_name_custom_res}}_khong_co_ket_qua</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5"></div>
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-4">
                                        <button class="btn-save-action btn btn-danger btn-search-right"  (click)="saveAction();" type="button">Lưu <i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>