<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="dialogRef.close('')"></div>
    <h6 class="text-center">TÌM KIẾM BÀI POST THEO NGÀY</h6>
    <div class="row">
        <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <md-dialog-content class="text-left">
        <div class="row">
            <div class="col-md-12 form-group is-empty">
                <md-form-field>
                    <input (dateInput)="onInput($event)" (dateChange)="onChange($event)" style="float:left;border:0; background: transparent" mdInput [mdDatepicker]="pickerFrom" placeholder="Từ ngày">
                    <md-datepicker-toggle mdSuffix [for]="pickerFrom"></md-datepicker-toggle>
                    <md-datepicker #pickerFrom></md-datepicker>
                </md-form-field>
            </div>
        </div>
         <div class="row">
            <div class="col-md-12 form-group is-empty">
                <md-form-field>
                    <input (dateInput)="onInputEnd($event)" (dateChange)="onChangeEnd($event)" style="float:left;border:0; background: transparent" mdInput [mdDatepicker]="pickerTo" placeholder="Đến ngày">
                    <md-datepicker-toggle mdSuffix [for]="pickerTo"></md-datepicker-toggle>
                    <md-datepicker #pickerTo></md-datepicker>
                </md-form-field>
            </div>
        </div>
    </md-dialog-content>
    <div class="row">
        <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
    </div>
    <md-dialog-actions>
        <div class="col-md-12 text-center">
            <button md-raised-button (click)="search()">TÌM</button>
            <!-- <button md-button (click)="dialogRef.close('')">ĐÓNG</button> -->
            <button md-raised-button (click)="dialogRef.close('')">ĐÓNG</button>
        </div>
    </md-dialog-actions>
</div>