<md-input-container>
    <input mdInput placeholder="Nhập từ chính"  (keyup)="check()" (click)="check()" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl" style="width: 97%">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
    <md-option (onSelectionChange)="enterSelect($event, state)" (click)="selectValue(state)"  *ngFor="let state of filteredStates" [value]="state">
        {{ state }}
    </md-option>
</md-autocomplete>