@media (max-width: 991px) {
  .mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    margin-top: -10px !important;
    width: 100%;
  }
}
/* Target Firefox only */
@-moz-document url-prefix() {
  .mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    margin-top: 0px !important;
    width: 100%;
  }
}


.mat-input-wrapper {
  margin: 1em 0 !important;
  padding-bottom: 6px !important;
}
.mat-input-subscript-wrapper {
  position: absolute !important;
  font-size: 75%;
  top: 100%;
  width: 100%;
  margin-top: -1em !important;
  overflow: hidden;
}
.mat-input-placeholder-wrapper {
  position: absolute !important;
  left: 0 !important;
  top: 0em !important;
  width: 100%;
  padding-top: 1em;
  overflow: hidden;
  pointer-events: none;
  transform: translate3d(0,0,0);
}
.mat-focused .mat-input-placeholder.mat-float, .mat-input-placeholder.mat-float:not(.mat-empty) {
  display: block;
  transform: translateY(-1.35em) scale(.75) !important;
  width: 133.33333% !important;
}
.mat-input-placeholder {
  position: absolute !important;
  left: 0;
  top: 0 !important;
  font-size: 100%;
  pointer-events: none;
  z-index: 1;
  padding-top: 1em;
  width: 100%;
  display: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateY(0);
  transform-origin: bottom left;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
}
.mat-input-hint-wrapper {
  opacity: 1; transform: translateY(0%);
}






.ng-pristine input {
  display: inline;
  vertical-align: middle;
  border: none;
  padding: 0 0rem;
  height: 20px;
  font-size: 1em;
  /* font-family: "Roboto", "Helvetica Neue", sans-serif; */
  background-color: none;
}
.mat-input-placeholder-wrapper {
  position: absolute;
  left: 0;
  top: -1em;
  width: 100%;
  padding-top: 1em;
  overflow: hidden;
  pointer-events: none;
  transform: translate3d(0,0,0);
}
.mat-input-placeholder-wrapper {
  position: absolute;
  left: 0 !important;
  top: 0em !important;
  width: 100%;
  padding-top: 1em;
  overflow: hidden;
  pointer-events: none;
  transform: translate3d(0,0,0);
}
.mat-focused .mat-input-placeholder.mat-float, .mat-input-placeholder.mat-float:not(.mat-empty) {
  display: block;
  transform: translateY(-1.35em) scale(.75);
  width: 133.33333%;
}
.mat-input-placeholder:not(.mat-empty) {
  transition: none;
}
.mat-input-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100%;
  pointer-events: none;
  z-index: 1;
  padding-top: 1em;
  width: 100%;
  display: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateY(0);
  transform-origin: bottom left;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
}
.mat-input-placeholder {
  color: rgba(0,0,0,.38);
}
.mat-input-placeholder {
  padding: 0 !important;
}
.mat-input-wrapper {
  position: relative;
  margin: 1em 0;
  padding-bottom: 6px;
}
.mat-input-container {
  display: inline-block;
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  line-height: normal;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding: 0px; */
  width: 100%;
}
.mat-input-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100%;
  pointer-events: none;
  z-index: 1;
  padding-top: 1em;
  width: 100%;
  display: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateY(0);
  transform-origin: bottom left;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
}
.mat-input-placeholder {
  color: rgba(0,0,0,.38);
}
.mat-input-placeholder {
  padding: 0 !important;
}