.mat-input-wrapper {
  margin: auto !important;
  padding-bottom: 0px !important;
}
.ng-pristine {
  border: 1px solid #ccc !important;
  padding: 2px !important;
  padding-left: 5px !important;
  border-radius: 5px !important;
}
input {
  border: 1px solid #ccc !important;
  padding: 2px !important;
  padding-left: 5px !important;
  border-radius: 5px !important;
}