.mat-input-wrapper {
  margin: auto !important;
  padding-bottom: 0px !important;
}
.mat-input-container {
  display: inline-block;
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  line-height: normal;
  text-align: left;
  margin-top: 0px !important;
  margin-bottom: -4px !important;
}
.ng-pristine {
  margin-top: 7px !important;
  border: 1px solid #ccc !important;
  padding: 2px !important;
  padding-left: 5px !important;
  border-radius: 5px !important;
}
input {
  margin-top: 7px !important;
  border: 1px solid #ccc !important;
  padding: 2px !important;
  padding-left: 5px !important;
  border-radius: 5px !important;
}