<md-input-container>
    <input  style="width: 96%" mdInput placeholder="Nhập câu nói người dùng" (focus)="getValueOld($event)" (keypress)="check($event)" (paste)="onPaste($event)" (click)="clickInput($event)"  (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto">
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
    <md-option (onSelectionChange)="enterSelect($event, state, query_default, input_auto)"  *ngFor="let state of filteredStates" [value]="state">
        {{ state }}
    </md-option>
</md-autocomplete>