<div id="hana-quick-reply" class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="close()"></div>
    <p class="text-center dialog-header-p">Danh sách câu trả lời</p>

    <md-dialog-content class="text-left">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <button class="btn text-center" (click)="createQuick()">Tạo</button>
                </div>
                <div class="col-md-9">
                    <input placeholder="Tìm kiếm" name="searchContent" type="text" maxlength="250" class="form-control" [(ngModel)]="searchContent"
                        (keyup)="searchQuick()">
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Câu trả lời</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let template of templateReply; let i = index">
                                <td class="text-center">{{i}}</td>
                                <td>{{template.text_search | lengthlimit: 150}}</td>

                                <td class="td-actions text-right">
                                    <button type="button" class="btn btn-success " (click)="sendMessage('edit', template)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" class="btn btn-danger " (click)="sendMessage('send', template)">
                                        <i class="material-icons">send</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </md-dialog-content>
</div>