<div class="main-content">
    <div class="container-fluid entity">
        <div class="loader" *ngIf="id_loading">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
        <div class="card" *ngIf="!id_loading" style="margin-top: 21px">
            <div class="card-content">
                <h4 class="card-title card-title-custom "><i class="material-icons icon-title-list">assignment</i>Danh Sách Hành Động</h4>
                <div class="row container-agents">
                    <div class="col-md-12">
                        <a class="btn btn-danger btn-search-right"  href="#/pages/actions/actionNew" >
                            Tạo mới  <i class="material-icons">add_box</i>
                            <div class="ripple-container"></div>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" style="margin-top: 3px;">
                            <div class="input-group">
                                <input class="form-control" placeholder="Tìm tên hành động" type="text" style="width: 100%" #inputSearch id="inputSearch" name="inputSearch"  [(ngModel)]="filterQuery"  >
                                <span class="input-group-addon">
                                <i class="material-icons">search</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row container-agents">
                    <div class="material-datatables" *ngIf="(lists | filterActionsPipe: filterQuery).length === 0">
                        <div class="header text-center">
                            <h4 class="title">Không có dữ liệu</h4>
                        </div>
                    </div>
                    <div class="material-datatables" *ngIf="lists.length>0">
                        <table  class="table table-hover" [mfData]="lists | filterActionsPipe : filterQuery" #mf="mfDataTable"
                                [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <tbody>
                            <tr *ngFor="let item of mf.data">
                                <td class="text-left td-name"><a [routerLink]="['/pages/actions/actionEdit',item.id]"> <h4 class="card-title">{{item.nameDisplay}}</h4></a></td>
                                <td class="td-actions text-right w-20">
                                    <a (click)="deleteAciton(item.id)" data-toggle="modal" data-target="#confirm-delete-{{item.id}}" href="#confirm-delete-{{item.id}}" rel="tooltip" title="" type="button" class="btn btn-round-delete"><i class="material-icons i-delete">delete</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr *ngIf="lists.length>5">
                                <td colspan="3">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>