// component css goes here
table {
  border-collapse: collapse;
}

table, th, td, th {
  padding: 5px;
}
table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}
td {
  text-align: center;
}
.btn-round  {
  padding: 2px;
}
.text-left {
  text-align: left;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 32px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
  float: right;
  margin-right: 15px;
  margin-top: 25px
}

//@media (max-width: 991px) {
//  .navbar-form .btn {
//    position: absolute;
//    top: -13px;
//    right: -22px;
//  }
//  #inputSearch {
//    width: 100% !important;
//  }
//  .form-search {
//    width: 100% !important;
//  }
//}
.container-agents {
  padding-bottom: 0px;
}
.btn-search-right {
  float: right;
  margin-right: 0px;
}
.frm-s {
  width: 93%;
  margin-left: -26px;
}
//@media (max-width: 991px) {
//  .frm-s {
//    width: 90%;
//    margin-left: 0px;
//  }
//}
td, th {
  border-bottom: 1px dotted #eee;
  padding: 5px;
}
.link-bold {
  font-weight: 500;
}
.w-20 {
  width: 40px;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #f44336;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #777;
}
.i-delete {
  font-size: 27px;
}
.pre-26 {
  margin-top: -51px;
}
.custom-search {
  float: right;
  margin-right: 15px;
  margin-top: 15px
}
.material-datatables {
  padding: 14px !important;
}
.btn-search-entities {
  margin-top: 22px;
}
.container-agents {
  padding-bottom: 5px;
}
//
//@media (max-width: 768px) {
//  .btn-search-right {
//    margin-right: 0px;
//  }
//  .material-datatables {
//    padding: 0px !important;
//  }
//  .container-agents {
//    padding-left: 6px;
//    padding-right: 15px;
//    padding-bottom: 20px !important;
//  }
//}

.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #999999;
}
.container-agents {
  padding-bottom: 0px;
}
.material-datatables {
  margin-top: -17px;
}
.text-left {
  padding-left: 3px !important;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: -3px;
}
.main-panel .main-content {
  /* margin-top: 70px; */
  margin-top: -41px !important;
  padding: 19px 1px;
  min-height: calc(100vh - 123px);
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 47px 0;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); */
  border-radius: 6px;
  color: #777;
  /* background: #fff; */
}
.card .card-content {
  padding: 15px 20px;
  position: relative;
  /* min-height: 200px !important; */
  background-color: #fff;
  border-radius: 5px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: -3px;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: 0px;
}
.container-agents {
  padding-bottom: 0;
}
.container-agents {
  padding-bottom: 0;
}
.btn-search-right {
  float: right;
  margin-right: 0;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: -3px !important;
}
.card .card-title {
  margin-top: 0 !important;
  margin-bottom: 3px !important;
  margin-left: 0px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.icon-title-list {
  position: relative;
  top: 6px;
}
.btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger:hover {
  box-shadow: 0 14px 26px -12px #337ab7, 0 4px 23px 0px #337ab7, 0 8px 10px -5px #337ab7;
}
.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
  background-color: #3c8dbc;
  color: #FFFFFF;
}
.btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger:hover {
  box-shadow: 0 14px 26px -12px #337ab7, 0 4px 23px 0px #337ab7, 0 8px 10px -5px #337ab7;
}
.btn-search-right {
  float: right;
  margin-right: 0;
}
.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: 0px;
  position: relative;
}
.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger {
  box-shadow: none !important;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: 0px;
}
td h4.card-title {
  color: #3c8dbc;
  font-weight: 300;
}
h4, .h4 {
  font-size: 16px;
  line-height: 1.4em;
}
.form-control, .form-group .form-control {
  border: 0;
  background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  /* line-height: 1.8; */
  height: 33px;
}
.form-group .form-control.valid:focus {
  background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-focused .form-control {
  outline: none;
  background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}
.form-group.is-focused .form-control .material-input:after {
  background-color: #337ab7;
}
.form-group.is-focused.form-info .form-control {
  background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-focused.form-success .form-control {
  background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}
#inputSearch {
  min-height: 33px;
}
.input-group .input-group-addon {
  border: 0;
  background: transparent;
  padding: 6px 0px 0px;
}
.i-delete {
  font-size: 27px !important;
}