<div class="loader" *ngIf="is_load == true" style="z-index: 2000 !important;">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<div class="loader" *ngIf="is_load_update == true" style="z-index: 2000 !important;">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>
<div *ngIf="is_load == false" class="parent-popup-event div-detail-button">
  <div class="row" style="margin-top: 5px">
    <div class="btn-close-popup-large" style="margin-top: 10px" (click)="dialogRef.close('')"></div>
  </div>
  <md-dialog-content class="text-left">
    <div class="row">
      <div class="col-md-12">
        <span style="padding-top: 2px; font-size: 15px; font-weight: bold; color: #3f51b5;">HÀNH ĐỘNG</span>
        <div class="tab-content clearfix">
          <hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">
          <div id="tab-action" class="tab-pane active" style="margin-top: -5px; padding-right: 5px;">
            <div class="container-tab" style="position: relative; ">
              <div *ngIf="currentIntent != undefined && currentIntent.intent_actions != undefined">
                <br *ngIf="currentIntent.intent_actions.length == 0">
                <div class="group-block" *ngIf="checkAction('createInboxFromComment')">
                 <div>
                   <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Comment thành inbox </p>
                   <span class="group-block-delete" (click)="deleteAction('createInboxFromComment')"></span>
                 </div>

                  <textarea [style.border-color]="getStyleText(textToInbox.trim().length)" placeholder="Nhập nội dung inbox"  maxlength="640" [(ngModel)]="textToInbox" pInputTextarea autoResize="autoResize" class="input-inbox" style="width: 99% !important; margin-left: 5px; margin-right: 5px"></textarea>
                  <p style="margin-bottom: 3px; font-weight: bold; color: #3f51b5;">Khi khách hàng phản hồi inbox thì trả lời mặc định</p>
                  <tag-input name="select_block" [(ngModel)]="createInboxFromComment"
                             theme="bootstrap"
                             [onlyFromAutocomplete]="true"
                             placeholder="Chọn block..." secondaryPlaceholder="Chọn block...">
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListBlocks" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                    </tag-input-dropdown>
                  </tag-input>
                  <!--<span class="group-block-delete" (click)="deleteAction('createInboxFromComment')"></span>-->
                  <br>
                </div>
              </div>
              <div style="margin-top: -18px">
                <br>
                <p style="padding-bottom: 0px; font-weight: bold; margin-bottom: 0px; font-size: 13px; color: #3f51b5;"><i class="fa fa-plus"></i> THÊM HÀNH ĐỘNG</p>
                <md-select style="width: 180px; padding-top: 0px; margin-top: 0px" (change)="addAction($event.value)"  placeholder="Chọn hành động"
                           name="city">
                  <md-option *ngFor="let city of paramModelSelected" [value]="city">
                    {{ city.lable }}
                  </md-option>
                </md-select>
              </div>
            </div>
          </div>
          <hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">
          <div class="row" style="margin-top: 13px; margin-bottom: 5px;">
            <button md-raised-button (click)="okClick()" style="margin: auto; margin-left: 40%;">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</div>