<div class="parent-popup-event div-detail-button">
    CẬP NHẬT ĐƠN HÀNG
    <div class="btn-close-popup-large" (click)="dialogRef.close('')"></div>
    <div class="row" style="margin-top: 5px">
        <hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">
    </div>
    <md-dialog-content class="text-left">
        <div class="row">
            <br>
            <div class="col-md-12">
                <span>Mô tả</span>
                <textarea style="width: 100%; border-radius: 3px"
                          autosize maxlength="640" id="prompt-empty" name="note" [(ngModel)]="note"
                          class="borderless ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                          placeholder="Nội dung mô tả...">

                </textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 15px; margin-bottom: 5px">
            <button md-raised-button (click)="okClick()" style="margin: auto; margin-left: 40%;">Lưu lại</button>
        </div>
    </md-dialog-content>
</div>