.btn.btn-danger.btn-simple, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple {
  background-color: transparent;
  color: #3f51b5;
  box-shadow: none;
  margin-top: -20px;
}
a:hover {
  color: #337ab7;
  text-decoration: underline;
}
.btn-danger, .btn-danger:hover {
  background-color: #337ab7;
  color: #FFFFFF;
}
.btn-danger, .btn-danger:hover {
  box-shadow: none;
}
.form-group {
  padding-bottom: 0px;
  margin: 20px 0 0 0;
}