<div class="wrapper">
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="main-content">
            <div class="container-fluid">
                <div class="crm-customer-scroll">
                    <div class="row" style="padding: 5px 12px">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title">Khách hàng</h4>

                                    <div class="table-responsive">
                                        <div class="row">
                                            <button class="btn btn-facebook" (click)='exportData()'>Xuất khách hàng</button>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input *ngIf="config.filtering" placeholder="Tìm tất cả" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)"
                                                />
                                            </div>
                                        </div>
                                        <br>
                                        <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
                                        </ng-table>
                                        <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                                            [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)"
                                            (numPages)="numPages = $event">
                                        </pagination>
                                        <pre *ngIf="config.paging" class="card card-block card-header">Trang: {{page}} / {{numPages}}</pre>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>