button {
    line-height: 6px;
    width: auto;
    float: left;
}
.btn-filter {
    margin-top: -2px;
}
tr {
    margin-bottom: 0px;
}
.right-pre {
    margin-right: 38px;
}
.search-close {
    margin-right: -15px;
}
.col-md-10-custom {
    width: 85% !important;
}
.input-group-addon-custom {
    /* padding: 6px 12px; */
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}
.p-r {
    padding-right: 11px;
}
.list-search {
    margin-left: 0px !important;
}
h4, .h4 {
    font-size: 16px;
    line-height: 1.4em;
}
.input-group-addon-custom {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border-radius: 4px;
}
.p-r {
    padding-right: 11px;
}
.input-group-addon-custom {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border-radius: 4px;
}
.btn-round-custom {
    color: #337ab7;
}
.panel .panel-heading .panel-title {
    font-size: 15px;
    font-weight: bolder;
    color: #337ab7;
}