<div aria-multiselectable="true" class="panel-group" style="margin-bottom: 0px" id="accordion" role="tablist" *ngIf="intentDontunderstands.length>0">
  <div class="panel panel-default">
    <div class="panel-heading" id="headingOne" style="padding-top:10px" role="tab">
      <a aria-controls="collapseOne" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button" class="collapsed">
        <h4 class="panel-title">
          Có {{intentDontunderstands.length}} câu nói của người dùng chưa hiểu. Cần đào tạo ngay!
          <i class="material-icons search-close">keyboard_arrow_down</i>
        </h4>
      </a>
    </div>
    <div aria-labelledby="headingOne" class="panel-collapse collapse in" id="collapseOne" role="tabpanel" aria-expanded="true">
      <div class="panel-body" style="padding-top: 0px">
        <div class="row list-search">
          <div class="material-datatables" *ngIf="intentDontunderstands.length>0">
            <table style="border: none !important;" class="table" [mfData]="intentDontunderstands" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage">
              <tbody>
              <tr *ngFor="let item of mf.data">
                <td style="padding: 0px !important;" class="left-content">
                  <h4>{{item.content}}</h4>
                </td>
                <td class="text-right">
                  <span class="input-group-addon-custom">
                        <a (click)="setValueFilter(item.content)" href="#/pages/intents/intentList"><i class="material-icons">search</i></a>
                  </span>
                  <span class="input-group-addon-custom p-r">
                        <a (click)="delete(item.id)" data-toggle="modal" data-target="#confirm-delete-{{item.id}}" href="#confirm-delete-{{item.id}}" rel="tooltip"><i class="material-icons btn-round-custom">close</i></a>
                  </span>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="5" style="padding: 0px !important;">
                  <mfBootstrapPaginator [rowsOnPageSet]="[3,6,9]"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>