.picture-group {
  border: 1px dashed #b8b8b8;
  width: 202px;
  height: 202px;
  position: relative;
  cursor: pointer;
  .picture-wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  i {
    display: none;
    position: absolute;
    font-size: 32px;
    background: #fff;
    cursor: pointer;
    color: #739;
    top: -11px;
    right: -11px;
    height: 26px;
    border-radius: 50%;
    &:before {
      line-height: 26px;
    }
    &:hover {
      color: red;
    }
  }
  a.change-picture {
    display: none;
    width: 202px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 200ms ease-in-out;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: -1px;
    left: -1px;
    line-height: 32px;
    text-align: center;
  }
  &:hover {
    i {
      display: block;
    }
    .change-picture {
      display: block;
    }
  }

  .loading {
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .spinner {
    width: 60px;
    height: 60px;
    position: relative;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% {
      -webkit-transform: scale(0.0)
    }
    50% {
      -webkit-transform: scale(1.0)
    }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    }
    50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}
