// model
.modal .modal-header .close {
  font-size: 30px;
}
// end model
// redio button
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}
.example-radio-button label {
  color: black;
}
.example-selected-value {
  margin: 15px 0;
}

.mat-radio-label-content {
  color: black;
}
.example-radio-group .mat-radio-checked .mat-radio-outer-circle {
  border-color: #3B5998;
}
.example-radio-group .mat-radio-label-content {
  color: black;
}
.example-radio-group .mat-radio-label {
  color: black;
}
// end radio button
.card {
  display: inline-block;
  position: relative;
  //width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}
//.ng-pristine input {
//  display: inline;
//  vertical-align: middle;
//  border: none;
//  padding: 0 0.5rem;
//  height: 38px;
//  font-size: 1em;
//  font-family: "Roboto", "Helvetica Neue", sans-serif;
//  background-color: transparent !important;
//}
.ng2-tag-input  {
  border-bottom: 1px double #d2d2d2 !important;
}
//input {
//  background-color: transparent !important;
//}
.card-pricing {
  box-shadow: 6px -5px 21px 0px rgba(173,168,173,1);
}
.app-img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.category {
    height: 25px;
    overflow: hidden;
}
.card-description{
    height: 25px;
    overflow: hidden;
}
//.ui.form.invite-email-hana {
//  font-size: 14px;
//}
//.ui.form {
//  font-size: 14px;
//}


//wizard
.wizard {
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  //padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width : 585px ) {

  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
.wizard-card .disabled {
  display: block;
}

.wizard-card .wizard-header {
  text-align: center;
  padding: 5px 0 5px;
}
.wizard-card .info-text {
  text-align: center;
  font-weight: 300;
   margin: 0;
}

.wizard-pointer {
  cursor: pointer;
}
.modal-content .modal-header {
  border-bottom: none;
   padding-top: 0px;
  padding-right: 24px;
   padding-bottom: 0;
   padding-left: 24px;
}
.modal-header {
  padding: 0px;
}
.wizard-float-left {
  float: left;
}

.wizard-float-left.content {
  padding-top: 10px;
}

//check box
.checkbox label::before {

}

.hana-float-right {
  float: right;
}
.hana-text-align {
  text-align: center;
}
//font chu
.checkbox label {
  color: black;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
  color: black;
}
.mat-slider-horizontal {
  min-width: 300px;
}
.hana-color-black {
  color: black !important;
}

.btn.btn-lg, .btn-group-lg .btn, .navbar .navbar-nav > li > a.btn.btn-lg, .btn-group-lg
 .navbar .navbar-nav > li > a.btn {
    padding: 11px 30px;
}
.form-group .form-control{
  height: auto;
  padding: 0;
  line-height: 0;
  text-align: center;
  padding-bottom: 2px;
}