<!--https://bootsnipp.com/snippets/featured/form-wizard-using-tabs-->
<div class="wrapper wrapper-full-page">
    <!--<div class="main-panel">-->
    <div>
        <navbar-cmp></navbar-cmp>
        <div class="main-content">
            <div class="container-fluid">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="rose" id="wizardProfile">
                            <div class="container col-md-12">
                                <div class="row">
                                    <section>
                                        <div class="wizard-header">
                                            <h3 class="wizard-title" *ngIf="appDetai; else company">
                                                Cấu hình ứng dụng {{appDetai.company | uppercase}}
                                            </h3>
                                            <ng-template #company>
                                                <h3 class="wizard-title">
                                                    Cấu hình ứng dụng
                                                </h3>
                                            </ng-template>

                                        </div>
                                        <div class="wizard">
                                            <div class="wizard-inner">
                                                <div class="connecting-line"></div>
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Tích hợp ứng dụng">
                                                            <span class="round-tab">
                                                            <i class="fa fa-cogs" aria-hidden="true"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li role="presentation" class="">
                                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Mời người dùng" id="invite-tab">
                                                            <span class="round-tab">
                                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li role="presentation" class="">
                                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Thông báo">
                                                            <span class="round-tab">
                                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li role="presentation" class="">
                                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Cấu hình chung">
                                                            <span class="round-tab">
                                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <form role="form">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                                        <div class="ui special cards">
                                                            <div class="card" *ngIf="fanpageInfo && fanpageInfo.pageId && fanpageInfo.isExpire != 1; else login">
                                                                <div class="blurring dimmable image">
                                                                    <div class="ui dimmer">
                                                                        <div class="content">
                                                                            <div class="center">
                                                                                <div class="ui inverted button">Add Friend</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <i class="fa fa-facebook-square wizard-pointer" (click)="showModel('show-facebook-choose')" style="font-size: 80px; color: #2D4485"
                                                                        aria-hidden="true"></i>
                                                                </div>
                                                                <div class="content" (click)="showModel('show-facebook-choose')">
                                                                    <a class="header">Facebook <i class="fa fa-check-circle" style="color: #3598DB" aria-hidden="true"></i></a>
                                                                    <div class="meta">
                                                                        <span class="date">{{fanpageInfo.pageName}}</span>
                                                                    </div>
                                                                </div>
                                                                <!--<div class="extra content">
                                  <a>
                                    <i class="users icon"></i>
                                    2 Members
                                  </a>
                                </div>-->
                                                            </div>
                                                            <ng-template #login>
                                                                <div class="card">
                                                                    <div class="blurring dimmable image">
                                                                        <div class="ui dimmer">
                                                                            <div class="content">
                                                                                <div class="center">
                                                                                    <div class="ui inverted button">Add Friend</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <i class="fa fa-facebook-square wizard-pointer" (click)="showModel('show-facebook-choose')" style="font-size: 80px; color: #2D4485"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="content" (click)="showModel('show-facebook-choose')">
                                                                        <a class="header">Facebook</a>
                                                                        <div class="meta">
                                                                            <span class="date">Tích hợp facebook</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                            <div class="card">
                                                                <div class="blurring dimmable image">
                                                                    <div class="ui inverted dimmer">
                                                                        <div class="content">
                                                                            <div class="center">
                                                                                <div class="ui primary button">Add Friend</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <i class="fa fa-internet-explorer wizard-pointer" (click)="showScript('show-script-hana')" style="font-size: 80px; color: #20BEEE"
                                                                        aria-hidden="true"></i>
                                                                </div>
                                                                <div class="content " (click)="showScript('show-script-hana')">
                                                                    <a class="header">Website</a>
                                                                    <div class="meta">
                                                                        <span class="date">Tích hợp website</span>
                                                                    </div>
                                                                </div>
                                                                <!--<div class="extra content">
                                  <a>
                                    <i class="users icon"></i>
                                    2 Members
                                  </a>
                                </div>-->
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-rose" type="button" (click)="nextStep()">Tiếp<div class="ripple-container"></div></button>
                                                    </div>
                                                    <div class="tab-pane" role="tabpanel" id="step2">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <h3 class="info-text"> Nhập email thành viên </h3>
                                                            </div>
                                                            <div class="tab-content col-sm-6 col-md-offset-3">
                                                                <div class="tab-pane active">

                                                                    <form class="ui form invite-email-hana">
                                                                        <div class="field" *ngFor="let member of listMember">
                                                                            <!--<label>Email</label>-->
                                                                            <div class="ui right labeled input">
                                                                                <input type="text" placeholder="Nhập email.." [(ngModel)]="member.email" name="email">
                                                                                <div class="ui basic label" (click)="removeNewEmail($event, member.id)">
                                                                                    x
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    <div class="row">
                                                                        <div class="col-md-8 col-md-offset-1" (click)="addNewEmail()">
                                                                            <div class="checkbox form-horizontal-checkbox">
                                                                                <label>
                                          <i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm mail khác
                                        </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-rose" type="button" (click)="inviteEmail()" name='finish'>Mời<div class="ripple-container"></div></button>
                                                    </div>
                                                    <div class="tab-pane" role="tabpanel" id="step3">
                                                      <div class="card">
                                                        <div class="card-header">
                                                          <h4 class="card-title">Navigation Pills -
                                                            <small>Horizontal Tabs</small>
                                                          </h4>
                                                        </div>
                                                        <div class="card-content">
                                                          <ul class="nav nav-pills nav-pills-warning">
                                                            <li class="active">
                                                              <a href="#pill1" data-toggle="tab">Profile</a>
                                                            </li>
                                                            <li>
                                                              <a href="#pill2" data-toggle="tab">Settings</a>
                                                            </li>
                                                            <li>
                                                              <a href="#pill3" data-toggle="tab">Options</a>
                                                            </li>
                                                          </ul>
                                                          <div class="tab-content">
                                                            <div class="tab-pane active" id="pill1">
                                                              Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                                              <br />
                                                              <br /> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                                              <br />
                                                              <br /> This is very nice.
                                                            </div>
                                                            <div class="tab-pane" id="pill2">
                                                              Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                                              <br />
                                                              <br />Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                                            </div>
                                                            <div class="tab-pane" id="pill3">
                                                              Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                                              <br />
                                                              <br />Dynamically innovate resource-leveling customer service for state of the art customer service.
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                        <h3>Thông báo</h3>
                                                      <label>Cho phép nhận thông báo khi?</label>
                                                      <div class="row">
                                                        <div class="col-sm-10 checkbox-radios">
                                                          <div class="checkbox">
                                                            <label>
                                                              <input type="checkbox" [checked]="isNewMsg" (change)="isNewMsg = !isNewMsg"> Có tin nhắn mới
                                                            </label>
                                                          </div>
                                                          <div class="checkbox">
                                                            <label>
                                                              <input type="checkbox" [checked]="isNewMember" (change)="isNewMember = !isNewMember"> Có khách hàng mới vào chat
                                                            </label>
                                                          </div>
                                                          <div class="checkbox">
                                                            <label>
                                                              <input type="checkbox" [checked]="isNewInfo" (change)="isNewInfo = !isNewInfo"> Trợ lý lấy được thông tin khách hàng chat
                                                            </label>
                                                          </div>
                                                          <div class="checkbox">
                                                            <label>
                                                              <input type="checkbox" [checked]="isNewDemand" (change)="isNewDemand = !isNewDemand"> Trợ lý lấy được nhu cầu
                                                            </label>
                                                          </div>
                                                          <div class="checkbox">
                                                            <label>
                                                              <input type="checkbox" [checked]="isUnderstand" (change)="isUnderstand = !isUnderstand"> Trợ lý không hiểu ý khách hàng
                                                            </label>
                                                          </div>
                                                        </div>
                                                      </div>

                                                        <div class="ui form">
                                                            <div class="grouped fields">
                                                                <label>Gửi email khi</label>
                                                                <div class="field">
                                                                    <label>Có nhu khách hàng mới, nhu cầu mới, báo cáo hằng ngày</label>
                                                                    <div class="ui action input">

                                                                        <input type="text" placeholder="Nhập email muốn thông báo">
                                                                        <button class="ui button">Lưu</button>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" role="tabpanel" id="complete">
                                                      <div class="field">
                                                        <label>Trợ lý thông minh</label>
                                                        <input type="text" name="first-name" placeholder="First Name">
                                                      </div>

                                                        <div class="checkbox">
                                                          <label>
                                                            <input type="checkbox" [checked]="isNewDemand" (change)="isNewDemand = !isNewDemand"> Sử dụng trợ lý
                                                          </label>
                                                        </div>
                                                        <button class="ui button" type="button">Đổi trợ lý</button>

                                                      <div class="field">
                                                        <label>Chọn màu hộp chat</label>
                                                        <input type="text" name="first-name" placeholder="First Name">
                                                      </div>
                                                      <div class="field">
                                                        <label>THẻ đánh dấu cuộc chat</label>
                                                      </div>


                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- wizard container -->
                </div>
            </div>
        </div>

    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <application-facebook-choose [fanpageInfo]="fanpageInfo" [appId]="appId" [partnerId]="partnerId" [pageAccessToken]="pageAccessToken"
        [isIntegrate]="isIntegrate" (isIntegrateChange)="counterUpdate($event)"></application-facebook-choose>
    <div class="modal fade" id="scriptModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLongTitle"></h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <!--</div>-->
                <div class="modal-body">
                    <div class="ui form">
                        <div class="field">
                            <label>Nhúng mã này sau thẻ body của trang muốn hiển thị hộp chat</label>
                            <textarea>{{script}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
