// component css goes here
#post-training-search .post-card-search {
    margin: 8px 0;
}
#post-training-search .post-card-search .card-content {
    padding: 0;
    position: relative;
    min-height: 115px;
    background-color: #fff;
    border-radius: 5px;
}
#post-training-search .timeline.timeline-simple {
    margin-top: 0;
}
#post-training-search .timeline > li.timeline-inverted > .timeline-panel:before {
    left: 0;
}

#post-training-search .timeline > li {
    margin-bottom: 0;
}
#post-training-search .timeline-inverted > .timeline-panel {
    float: right;
    background-color: #FFFFFF;
}
#post-training-search .post-training-item-parent li > .timeline-panel {
    padding: 3px;
    width: 100%;
    cursor: pointer;
}
#post-training-search li > .timeline-panel {
    width: 85%;
    cursor: pointer;
}
#post-training-search li > .timeline-panel {
    float: left;
    padding: 3px;
    margin-bottom: 5px;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
}
#post-training-search .ul-list-post-train {
    overflow-x: hidden;
    max-height: calc(100vh - 150px);
    min-height: 300px;
}
#post-training-search .post-parent-expand-more {
    position: absolute;
    right: 16px;
    bottom: 0px;
    font-size: 30px;
    color: #337ab7;
    margin-top: 10px;
}
#post-training-search .post-parent-edit {
    position: absolute;
    right: 16px;
    top: -5px;
    font-size: 20px;
    color: #ccc;
    margin-top: 10px;
    z-index: 100;
}
#post-training-search .post-image {
    float: left;
    padding-right: 7px;
}
#post-training-search .image-post {
    max-height: 100px;
    max-width: 135px;
}
#post-training-search .post-content {
    // float: right;
}
#post-training-search .dropdown-menu-right {
    right: auto;
}

#post-training-search .background-selected {
    background-color: #ccdfff !important;
}

#post-training-search .hana-post-row {
    margin: 0;
}
#post-training-search .post-time {
    margin: 0;
    opacity: 0.5;
    font-style: italic;
}
#post-training-search .post-tag {
    margin: 0;
    color: #337ab7;
    margin-right: 30px;
}
#post-training-search .post-text {
    margin: 0;
}
#post-training-search a {
    color: #337ab7;
}
.main-content .form-group {
    margin: 0;
    margin-bottom: 0;
    // margin-top: 10px;
    padding: 0;
  }
  
  .fa-filter {
    float: right;
    margin-right: 20%;
    // padding-right: 10px;
    margin-top: -30px;
    color: #ccc;
    font-size: 25px;
  }