<div class="parent-popup-event">
    <div class="btn-close-popup-large" (click)="close()"></div>
    <p class="text-center dialog-header-p">{{title}}</p>

    <ba-faq-v2 *ngFor="let item of intents; let i = index" [index]="i" [typeFaq]="'inbox'"
    [currentIntent]="item" [blocks]="blocks"></ba-faq-v2>
</div>