<md-select  [(ngModel)]="active" (change)="change($event)" [disabled]="disabled" placeholder="Chọn bộ nhớ">
  <md-option *ngFor="let state of objects; let i = index" [value]="state.id" >
    {{ state.name }}
  </md-option>
</md-select >