<div class="wrapper">
    <div class="main-panel" style="width: 100%">
        <navbar-cmp></navbar-cmp>
        <div class="main-content">
            <div class="container-fluid">

                <div class="row template-quick-class">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="card">
                        
                            <div class="card-content">
                                <div>
                                    <h4 class="card-title">Trả lời nhanh</h4>
                                    <button class="btn btn-info" (click)="popupCreate()">
                                            Tạo
                                        </button></div>

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <!-- <th class="text-center">#</th> -->
                                                <th>STT</th>
                                                <th>Tìm nhanh</th>
                                                <th>Nội dung</th>
                                                
                                                <th class="text-right" style="width: 80px">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!---->
                                            <ng-container *ngFor="let template of listQuickTemplate">
                                                <tr>
                                                    <!-- <td class="text-center">1</td> -->
                                                    <td>{{template.order_num}}</td>
                                                    <td><div style="max-height:40px; overflow:hidden">{{template.quick_search}}</div></td>
                                                    <td><div style="max-height:40px; overflow:hidden">{{template.text_search}}</div></td>
                                                    <td class="td-actions text-right">
                                                    
                                                        <button rel="tooltip" type="button" class="btn btn-success " (click)="edit(template)" >
                                                                        <i class="material-icons">edit</i>
                                                                    </button>
                                                        <button rel="tooltip" type="button" class="btn btn-danger " (click)="delete(template)">
                                                                        <i class="material-icons">close</i>
                                                                    </button>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<create-quick-template [partnerId]="partnerId" [editValue]="editValue" (isChange)="counterUpdate($event)"></create-quick-template>