<div class="wrapper wrapper-full-page">
    <!--<div class="main-panel">-->
    <div>
        <navbar-cmp></navbar-cmp>
        <div class="main-content">
            <div class="container-fluid">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="blue" id="wizardProfile">
                            <form action="" method="">
                                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                                <div class="wizard-header">
                                    <h2 class="wizard-title" *ngIf="appDetai; else company">
                                        Cấu hình ứng dụng {{appDetai.company | uppercase}}
                                    </h2>
                                    <ng-template #company>
                                        <h3 class="wizard-title">
                                            Cấu hình ứng dụng
                                        </h3>
                                    </ng-template>

                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <!--<li>
                                            <a href="#about" data-toggle="tab">Tích hợp</a>
                                        </li>-->
                                        <li>
                                            <a href="#account" data-toggle="tab">Tích hợp</a>
                                        </li>
                                        <li>
                                            <a href="#address" data-toggle="tab" id="invite-tab">Mời người dùng</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <!--<div class="tab-pane" id="about">
                                        <div class="row">
                                            <h4 class="info-text"> Let's start with the basic information (with validation)</h4>
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="../../assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                                                        <input type="file" id="wizard-picture">
                                                    </div>
                                                    <h6>Choose Picture</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">First Name
                                                    <small>(required)</small>
                                                </label>
                                                        <input name="firstname" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                <i class="material-icons">record_voice_over</i>
                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Last Name
                                                    <small>(required)</small>
                                                </label>
                                                        <input name="lastname" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Email
                                                    <small>(required)</small>
                                                </label>
                                                        <input name="email" type="email" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="tab-pane" id="account">
                                        <h3 class="info-text"> Bạn muốn tích hợp gì?</h3>
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div *ngIf="fanpageInfo && fanpageInfo.pageId && fanpageInfo.isExpire != 1; else login">
                                                    <div class="col-sm-6">
                                                        <div class="choice" data-toggle="wizard-checkbox" (click)="showModel('show-facebook-choose')">
                                                            <input type="checkbox" name="jobb" value="Design">
                                                            <div class="icon" style="border: 4px solid #4183C4;">
                                                                <i class="fa fa-facebook" aria-hidden="true" style="color: #4183C4"></i>
                                                            </div>
                                                            <h4 style="color: #4183C4"><strong>{{fanpageInfo.pageName}}</strong> <i class="fa fa-check-circle"
                                                                    style="color: #3598DB; font-size: 15px; line-height: 1px"
                                                                    aria-hidden="true"></i></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ng-template #login>
                                                    <div class="col-sm-6">
                                                        <div class="choice" data-toggle="wizard-checkbox" (click)="showModel('show-facebook-choose')">
                                                            <input type="checkbox" name="jobb" value="Design">
                                                            <div class="icon">
                                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                                            </div>
                                                            <h6>Facebook</h6>
                                                        </div>
                                                    </div>

                                                </ng-template>

                                                <div class="col-sm-6">
                                                    <div class="choice" data-toggle="wizard-checkbox" (click)="showScript('show-script-hana')">
                                                        <input type="checkbox" name="jobb" value="Code">
                                                        <div class="icon">
                                                            <i class="fa fa-terminal"></i>
                                                        </div>
                                                        <h6>Website</h6>
                                                    </div>
                                                </div>
                                                <!--<div class="col-sm-4">
                                                    <div class="choice" data-toggle="wizard-checkbox">
                                                        <input type="checkbox" name="jobb" value="Develop">
                                                        <div class="icon">
                                                            <i class="fa fa-laptop"></i>
                                                        </div>
                                                        <h6>Develop</h6>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>
                                        <!--<input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' />-->
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button class="btn btn-facebook" type="button" name='next' (click)="nextStep()">Tiếp<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="address">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3 class="info-text"> Nhập email thành viên </h3>
                                            </div>
                                            <div class="tab-content col-sm-6 col-md-offset-3">
                                                <div class="tab-pane active">

                                                    <form class="ui form invite-email-hana">
                                                        <div class="field" *ngFor="let member of listMember" style="position: relative">
                                                            <!--<label>Email</label>-->
                                                            <div class="ui right labeled input">
                                                                <input class="form-control" type="text" placeholder="Nhập email.." [(ngModel)]="member.email" name="email">
                                                                <!--<div class="ui basic label" (click)="removeNewEmail($event, member.id)">
                                                                    x
                                                                </div>-->
                                                                <span style="position: absolute;top: 0;right: 0; cursor: pointer" (click)="removeNewEmail($event, member.id)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center" (click)="addNewEmail()">
                                                            <div class="checkbox form-horizontal-checkbox">
                                                                <label>
                                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm mail khác
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button class="btn btn-facebook" type="button" (click)="inviteEmail()" name='finish'>Mời<div class="ripple-container"></div></button>
                                                <button class="btn btn-facebook" type="button" (click)="inviteDone()" name='finish'>Hoàn thành<div class="ripple-container"></div></button>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="listMemberInvited?.length > 0">
                                            <div class="card" style="box-shadow: none;">
                                                <div class="card-content">
                                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                                                        <div class="panel panel-default">
                                                            <div class="panel-heading" role="tab" id="headingfour">
                                                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                                    <h4 class="panel-title">
                                                                        Các thành viên đã mời.
                                                                        <i class="material-icons">keyboard_arrow_down</i>
                                                                    </h4>
                                                                </a>
                                                            </div>
                                                            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                                                                <div class="panel-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>STT</th>
                                                                                    <th>Tên</th>
                                                                                    <th>Email</th>
                                                                                    <th>Nguồn</th>
                                                                                    <th class="text-right">Trạng thái</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr *ngFor="let userinvite of listMemberInvited; let i = index">
                                                                                    <td class="text-left">{{i+1}}</td>
                                                                                    <td class="text-left">{{userinvite.full_name}}</td>
                                                                                    <td class="text-left">{{userinvite.email}}</td>
                                                                                    <td class="text-left">{{userinvite.type_login}}</td>
                                                                                    <td class="td-actions text-right">
                                                                                        <button type="button" rel="tooltip" class="btn btn-success" *ngIf="userinvite.full_name; else pending">
                                                                                            Đã tham gia
                                                                                        </button>
                                                                                        <ng-template #pending>
                                                                                            <button type="button" rel="tooltip" class="btn btn-info ">
                                                                                            Đang đợi
                                                                                        </button>
                                                                                        </ng-template>
                                                                                    </td>

                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="wizard-footer">-->
                                <!--<div class="pull-right">-->
                                <!--<input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' />-->
                                <!--<input type='button' class='btn btn-finish btn-fill btn-rose btn-wd' name='finish' value='Finish' />-->
                                <!--</div>-->
                                <!--<div class="pull-left">-->
                                <!--<input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />-->
                                <!--</div>-->
                                <!--<div class="clearfix"></div>-->
                                <!--</div>-->
                            </form>
                        </div>
                    </div>
                    <!-- wizard container -->
                </div>
            </div>
        </div>

    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <application-facebook-choose [fanpageInfo]="fanpageInfo" [appId]="appId" [partnerId]="partnerId" [pageAccessToken]="pageAccessToken"
        [isIntegrate]="isIntegrate" (isIntegrateChange)="counterUpdate($event)"></application-facebook-choose>
    <div class="modal fade" id="scriptModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--<div class="modal-header">-->
                <!--<h5 class="modal-title" id="exampleModalLongTitle"></h5>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <!--</div>-->
                <div class="modal-body">
                    <div class="ui form">
                        <div class="field">
                            <label>Nhúng mã này sau thẻ body của trang muốn hiển thị hộp chat</label>
                            <div style="border: 1px solid #AAA; padding: 5px;">{{script}}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="copyToClipboard()" class="btn btn-secondary btn-facebook" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>