<!--https://bootsnipp.com/snippets/featured/form-wizard-using-tabs-->
<div class="wrapper wrapper-full-page">
  <!--<div class="main-panel">-->
  <div>
    <navbar-cmp></navbar-cmp>
    <div class="main-content">
      <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2">
          <!--      Wizard container        -->
          <div class="wizard-container">
            <div class="card wizard-card" data-color="rose" id="wizardProfile">
              <div class="container col-md-12">
                <div class="row">
                  <section>
                    <div class="wizard-header">
                      <h3 class="wizard-title" *ngIf="appDetai; else company">
                        Cấu hình ứng dụng {{appDetai.company  | uppercase}}
                      </h3>
                      <ng-template #company>
                        <h3 class="wizard-title">
                          Cấu hình ứng dụng
                        </h3>
                      </ng-template>

                    </div>
                    <div class="wizard">
                      <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                          <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Tích hợp ứng dụng">
                  <span class="round-tab">
                  <i class="fa fa-cogs" aria-hidden="true"></i>
                  </span>
                                        </a>
                          </li>
                          <li role="presentation" class="">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Mời người dùng" id="invite-tab">
                  <span class="round-tab">
                  <i class="fa fa-user-plus" aria-hidden="true"></i>
                  </span>
                                        </a>
                          </li>
                          <!--<li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                  <span class="round-tab">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                  </span>
                                        </a>
                          </li>
                          <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                  <span class="round-tab">
                  <i class="glyphicon glyphicon-ok"></i>
                  </span>
                                        </a>
                          </li>-->
                        </ul>
                      </div>
                      <form role="form">
                        <div class="tab-content">
                          <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="ui special cards">
                              <div class="card" *ngIf="fanpageInfo && fanpageInfo.pageId && fanpageInfo.isExpire != 1; else login">
                                <div class="blurring dimmable image">
                                  <div class="ui dimmer">
                                    <div class="content">
                                      <div class="center">
                                        <div class="ui inverted button">Add Friend</div>
                                      </div>
                                    </div>
                                  </div>
                                  <i class="fa fa-facebook-square wizard-pointer" (click)="showModel('show-facebook-choose')" style="font-size: 80px; color: #2D4485" aria-hidden="true"></i>
                                </div>
                                <div class="content" (click)="showModel('show-facebook-choose')">
                                  <a class="header">Facebook <i class="fa fa-check-circle" style="color: #3598DB" aria-hidden="true"></i></a>
                                  <div class="meta">
                                    <span class="date">{{fanpageInfo.pageName}}</span>
                                  </div>
                                </div>
                                <!--<div class="extra content">
                                  <a>
                                    <i class="users icon"></i>
                                    2 Members
                                  </a>
                                </div>-->
                              </div>
                              <ng-template #login>
                                <div class="card">
                                  <div class="blurring dimmable image">
                                    <div class="ui dimmer">
                                      <div class="content">
                                        <div class="center">
                                          <div class="ui inverted button">Add Friend</div>
                                        </div>
                                      </div>
                                    </div>
                                    <i class="fa fa-facebook-square wizard-pointer"(click)="showModel('show-facebook-choose')"  style="font-size: 80px; color: #2D4485" aria-hidden="true"></i>
                                  </div>
                                  <div class="content" (click)="showModel('show-facebook-choose')">
                                    <a class="header">Facebook</a>
                                    <div class="meta">
                                      <span class="date">Tích hợp facebook</span>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                              <div class="card">
                                <div class="blurring dimmable image">
                                  <div class="ui inverted dimmer">
                                    <div class="content">
                                      <div class="center">
                                        <div class="ui primary button">Add Friend</div>
                                      </div>
                                    </div>
                                  </div>
                                  <i class="fa fa-internet-explorer wizard-pointer" (click)="showScript('show-script-hana')" style="font-size: 80px; color: #20BEEE" aria-hidden="true"></i>
                                </div>
                                <div class="content " (click)="showScript('show-script-hana')">
                                  <a class="header">Website</a>
                                  <div class="meta">
                                    <span class="date">Tích hợp website</span>
                                  </div>
                                </div>
                                <!--<div class="extra content">
                                  <a>
                                    <i class="users icon"></i>
                                    2 Members
                                  </a>
                                </div>-->
                              </div>
                            </div>
                            <button class="btn btn-rose" type="button" (click)="nextStep()">Tiếp<div class="ripple-container"></div></button>
                          </div>
                          <div class="tab-pane" role="tabpanel" id="step2">
                            <div class="row">
                              <div class="col-sm-12">
                                <h3 class="info-text"> Nhập email thành viên </h3>
                              </div>
                              <div class="tab-content col-sm-6 col-md-offset-3">
                                <div class="tab-pane active">

                                  <form class="ui form invite-email-hana">
                                    <div class="field" *ngFor="let member of listMember">
                                      <!--<label>Email</label>-->
                                      <div class="ui right labeled input">
                                        <input type="text" placeholder="Nhập email.." [(ngModel)]="member.email" name="email" >
                                        <div class="ui basic label" (click)="removeNewEmail($event, member.id)">
                                          x
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                  <div class="row">
                                    <div class="col-md-8 col-md-offset-1"  (click)="addNewEmail()">
                                      <div class="checkbox form-horizontal-checkbox">
                                        <label>
                                          <i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm mail khác
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button class="btn btn-rose" type="button" (click)="inviteEmail()" name='finish'>Mời<div class="ripple-container"></div></button>
                            <button class="btn btn-rose" type="button" (click)="inviteDone()">Hoàn thành<div class="ripple-container"></div></button>
                          </div>
                         <!-- <div class="tab-pane" role="tabpanel" id="step3">
                            <h3>Step 3</h3>
                            <p>This is step 3</p>
                            <ul class="list-inline pull-right">
                              <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                              <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                              <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                            </ul>
                          </div>
                          <div class="tab-pane" role="tabpanel" id="complete">
                            <h3>Complete</h3>
                            <p>You have successfully completed all steps.</p>
                          </div>-->
                          <div class="clearfix"></div>
                        </div>
                      </form>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <!-- wizard container -->
        </div>
      </div>
    </div>

  </div>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <application-facebook-choose [fanpageInfo]="fanpageInfo" [appId]="appId" [partnerId]="partnerId" [pageAccessToken]="pageAccessToken"
    [isIntegrate]="isIntegrate" (isIntegrateChange)="counterUpdate($event)"></application-facebook-choose>
  <div class="modal fade" id="scriptModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--<div class="modal-header">-->
        <!--<h5 class="modal-title" id="exampleModalLongTitle"></h5>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--</div>-->
        <div class="modal-body">
          <div class="ui form">
            <div class="field">
              <label>Nhúng mã này sau thẻ body của trang muốn hiển thị hộp chat</label>
              <textarea>{{script}}</textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
