<!-- show list button -->
<div>
    <div  style="position: relative" *ngFor="let button of input_list_buttons; let i = index">
        <div class="button-box">
            <div>
                <span class="title-button campaign-name" style="cursor: pointer" (click)="showEditButton(button)">{{ button.title }}</span>
                <i  class="block-delete" (click)="deleteButton(button)"></i>
            </div>
            <p (click)="showEditButton(button)" style="clear: both; cursor: pointer" class="block_span" *ngIf="button.type == 'web_url'">{{ button?.url | truncate:30 }}</p>
            <p (click)="showEditButton(button)" style="clear: both; cursor: pointer" class="block_span" *ngIf="button.type != 'web_url'">{{ button?.value | truncate:30 }}</p>
        </div>
    </div>
</div>
<!-- end show list button -->
<button *ngIf="input_list_buttons.length < 3" class="ml5 mat-raised-button" style="width: 100%; font-size: 13px;" (click)="showAddButton()">
    <i class="fa fa-plus"></i> THÊM BUTTON
</button>