.title-button {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #448af1;
}

.button-box {
  padding: 0px 0 0;
  padding-bottom: 4px;
  width: 100%;
  text-align: center;
  border: 1px double #f8f8f8;
  background-color: #fff;
}

.block-delete {
  position: absolute;
  background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
  height: 25px;
  width: 28px;
  right: 10px;
  top: 8px;
  opacity: 0.5;
  cursor: pointer;
  display: none;
}

.button-box:hover {
  .block-delete {
    display: block;
  }
}

.block_span {
  position: relative;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #767676;
  white-space: nowrap;
  border-radius: 3px;
  background-color: #f3f2f2;
  padding: 0 2px;
  margin: 0 7px 0 0;
}

.campaign-name {
  background: transparent;
  border: 0;
  border-radius: 10px;
  padding: 5px;
}
.campaign-name:focus {
  border: 1px solid #ccc;
}
.campaign-name {
  background: none;
  border: 0;
  border-radius: 10px;
  padding: 0px;
}
.title-button {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  color: #3f7fdf;
}

.button-box {
  padding: 0px 0 0;
  padding-bottom: 4px;
  width: 100%;
  text-align: center;
  border: 1px double #eeeeee;
  background-color: #fff;
}