 <h6 class="text-center">{{(actionType==="add")?"THÊM KHÁCH HÀNG VÀO NHÓM":"XÓA KHÁCH HÀNG KHỎI NHÓM"}}</h6> 
<md-dialog-content class="text-center">
  <div class="row">
    <div class="col-md-12 text-left">
      <input type="text" style="width:0px;height:0px;border:0">
      <md-input-container>
        <input maxlength="45" type="text" step="height:0px;" placeholder="{{(actionType==='add')?'Tạo hoặc chọn nhóm(tối đa 45 ký tự)...':'Chọn nhóm...'}}" mdInput [formControl]="myControl" [mdAutocomplete]="auto">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
        <md-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.name }}
        </md-option>
      </md-autocomplete>
    </div>
  </div>
</md-dialog-content>
<md-dialog-actions>
  <div class="col-md-12 text-center">
    <button md-raised-button (click)="action()">ĐỒNG Ý</button>
    <button md-button (click)="dialogRef.close('')">KHÔNG</button>
  </div>
</md-dialog-actions>
