<label class="switch switch-left-right">
    <input class="switch-input" type="checkbox" [checked]="checked" (change)="change(this)" />
    <span class="switch-label" data-on="BẬT" data-off="TẮT"></span>
    <span class="switch-handle"></span>
</label>
