<!DOCTYPE html>
<html>
<!-- <html style="overflow:auto"> -->

<head>
  <meta charset="utf-8">
  <!--<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png" />-->
  <link rel="icon" type="image/png" href="./assets/img/logo-hana-40.png" />
  <link rel="icon" type="image/x-icon" href="./assets/img/logo-hana-40.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <!--<meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="960920835497-3ul430b6376a002nvuseui57h7r75g7m.apps.googleusercontent.com">-->

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
      <% } %>

        <!-- base url -->
        <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
        <!-- Latest compiled and minified CSS -->
        <!-- Bootstrap core CSS     -->
        <!--<link href="./assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />       sss -->
        <!--<link href="./assets/ng2-select/css/ng2-select.css" rel="stylesheet" />-->
        <!--  Material Dashboard CSS    -->
        <!--<link href="./assets/css/material-dashboard.css" rel="stylesheet" />  ssss-->
        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <!--<link href="./assets/css/demo.css" rel="stylesheet" /> ssss-->
        <!--     Fonts and icons     -->
        <!--<link href="./assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
        <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">-->
        <!-- <link href="https://unpkg.com/@angular/material@2.0.0-beta.3/prebuilt-themes/indigo-pink.css" rel="stylesheet"> -->
        <!--<link href="./assets/css/indigo-pink.css" rel="stylesheet">-->
        <!--<link href="../node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">-->

        <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"/>-->


        <!-- <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet"> -->


        <link href="./assets/plugins/taggle/taggle.min.css" rel="stylesheet">
        <!-- <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet"> -->

        <link rel="stylesheet" type="text/css" href="./assets/plugins/primeng/resources/themes/omega/theme.css" />
        <link rel="stylesheet" type="text/css" href="./assets/plugins/primeng/resources/primeng.min.css" />
        <link href="./assets/js/chat/css/chat.css" rel="stylesheet">
        <link href="./assets/js/chat/css/report.css" rel="stylesheet">
        <link href="https://file.mideasvn.com/emoticon/hana/emoticon.css" rel="stylesheet">
        <link href="./assets/plugins/structured-filter/css/structured-filter.css" rel="stylesheet">
        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.query-builder/2.4.1/css/query-builder.default.min.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css">  -->
        <!-- </style> -->

        <link rel="stylesheet" type="text/css" href="./assets/plugins/ng-pick-datetime/styles/picker.min.css" />

        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">-->
        <!-- <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css">    -->
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
          w[l] = w[l] || []; w[l].push({
            'gtm.start':
              new Date().getTime(), event: 'gtm.js'
          }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', 'GTM-T6C7CTK');</script>
        <!-- End Google Tag Manager -->
        <script>
          (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
          })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

          ga('create', 'UA-102427574-2', 'auto');
          ga('send', 'pageview');
        </script>
        <script>
          window.fbAsyncInit = function () {
            FB.init({
              appId: '189605364869646',
              autoLogAppEvents: true,
              xfbml: true,
              version: 'v2.11'
            });
          };

          (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- Facebook Pixel Code -->
        <script>
          !function (f, b, e, v, n, t, s) {            
if (f.fbq) return; n = f.fbq = function () {
              n.callMethod ?
              n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
          }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '145667389341897');
          fbq('track', 'PageView');
        </script>
        <noscript>
          <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=145667389341897&ev=PageView&noscript=1"
          />
        </noscript>
        <!-- End Facebook Pixel Code -->
        <!-- Latest compiled and minified CSS -->
        <!-- Bootstrap core CSS     -->
        <!-- <link href="./assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
        <!--<link href="./assets/ng2-select/css/ng2-select.css" rel="stylesheet" />-->
        <!--  Material Dashboard CSS    -->
        <!-- <link href="./assets/css/material-dashboard_config.css" rel="stylesheet" /> -->
        <!-- <link href="./assets/css/material-dashboard.css" rel="stylesheet" /> -->
        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <!-- <link href="./assets/css/demo.css" rel="stylesheet" /> -->
        <!--     Fonts and icons     -->
        <link href="./assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://unpkg.com/@angular/material@2.0.0-beta.3/prebuilt-themes/indigo-pink.css" rel="stylesheet">
        <link href="./assets/css/font.css" rel="stylesheet">
        <!-- slick -->
        <link href="./assets/js/chat/plugins/slick/slick.css" rel="stylesheet">
        <link href="./assets/js/chat/plugins/slick/slick-theme.css" rel="stylesheet">

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6C7CTK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <my-app>
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>
  <!--   </div>
    </div> -->
    <!-- <div class="fb-customerchat" page_id="1850420618511272" minimized="true">
    </div> -->
</body>
<!--   Core JS Files   -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script src="./assets/js/core/jquery-3.1.1.min.js" type="text/javascript"></script>
<!-- <script src="./assets/js/chat/js/main.js"></script>  -->
<!--<script src="./assets/js/semantic.js"></script>-->
<script src="./assets/js/core/jquery-ui.min.1.12.1.js" type="text/javascript"></script>
<script src="./assets/js/chat/js/jquery.base64.min.js"></script>
<script src="./assets/js/chat/plugins/slick/slick.min.js"></script>
<!-- <script src="./assets/js/chat/js/xml2json.js"></script>  -->
<script src="./assets/js/chat/js/xml2json.min.js"></script>

<!-- <script src="./assets/js/core/jquery-ui.min.js" type="text/javascript"></script> -->
<script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="./assets/js/core/arrive.js" type="text/javascript"></script>
<script src="./assets/js/core/material.min.js" type="text/javascript"></script>
<!--<script src="./assets/js/core/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>-->
<!-- Forms Validations Plugin -->
<script src="./assets/js/core/jquery.validate.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="./assets/js/plugins/moment.min.js"></script>
<!--  Charts Plugin -->
<script src="./assets/js/plugins/chartist.min.js"></script>
<!--  Plugin for the Wizard -->
<script src="./assets/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="./assets/js/plugins/bootstrap-notify.js"></script>
<!-- DateTimePicker Plugin -->
<script src="./assets/js/plugins/bootstrap-datetimepicker.js"></script>
<!-- Sliders Plugin -->
<script src="./assets/js/plugins/nouislider.min.js"></script>
<!-- Select Plugin -->
<script src="./assets/js/plugins/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin    -->
<script src="./assets/js/plugins/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="./assets/js/plugins/sweetalert2.min.js"></script>
<!--	Plugin for Fileupload  -->
<script src="./assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin    -->
<script src="./assets/js/plugins/fullcalendar.min.js"></script>
<!-- TagsInput Plugin -->
<!-- <script src="./assets/js/plugins/jquery.tagsinput.js"></script> -->
<!-- Bootstrap TagsInput Plugin -->


<!--Únderscore-->
<script src="./assets/js/plugins/underscore-min.js"></script>
<script src="./assets/js/plugins/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="./assets/js/material-dashboard-angular.js"></script>
<!-- Material Dashboard DEMO methods,
   don't include it in your project! -->
<script src="./assets/js/demo.js"></script>
<script src="./assets/js/plugins/bootstrap3-typeahead.js"></script>
<script src="./assets/js/chat/bootstraptags/bootstrap-tagsinput.js"></script>
<script src="./assets/js/chat/bootstraptags/bootstrap-typeahead.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<!--<script src="//connect.facebook.net/en_US/sdk.js"></script>-->
<script src="./assets/js/facebook-sdk.js"></script>
<!--<script src="./assets/js/google-sdk.js"></script>-->
<script src="./assets/js/init/initTooltips.js"></script>
<script src="./assets/plugins/taggle/taggle.min.js"></script>
<script src="./assets/js/chat/js/jquery.slimscroll.min.js"></script>
<script src="./assets/js/slides/js/jquery.bxslider.min.js"></script>
<script src="./assets/js/pushnotification/push-client.js"></script>
<script src="./assets/js/pushnotification/app-controller.js"></script>
<script src="./assets/js/pushnotification/main.js"></script>
<script src="./assets/js/pushnotification/encryption/helpers.js"></script>
<script src="./assets/js/pushnotification/encryption/hmac.js"></script>
<script src="./assets/js/pushnotification/encryption/hkdf.js"></script>
<script src="./assets/js/pushnotification/encryption/encryption-factory.js"></script>
<!-- <script src="./assets/js/chat/js/converse-new-temp.js"></script>  -->
<script src="./assets/js/chat/js/main.js"></script>
<script src="./assets/js/chat/js/my.js"></script>



<!-- <script src="https://cdn.jsdelivr.net/jquery.query-builder/2.4.1/js/query-builder.standalone.min.js"></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript" charset="utf-8"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>  -->

<link href="./assets/css/tags.css" rel="stylesheet">
<script type="text/javascript" src="./assets/js/plugins/bootstrap-timepicker.js"></script>
</html>