.card-content {
  min-height: 66px;
}


/* enable absolute positioning */

.inner-addon {
  position: relative;
}


/* style glyph */

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}


/* align glyph */

.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}


/* add padding  */

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.card-header i {
  font-size: 25px;
}

.card-content {
  min-height: 0px
}
a {
  color: #777;
}
.head-table {
  color: #333;
}
table {
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}

.btn-round  {
  padding: 2px;
}
.text-left {
  text-align: left;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 7px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
  float: right;
  margin-right: 15px;
  margin-top: 25px
}

.container-agents {
  padding-left: 6px;
  padding-right: 15px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .btn-search-right {
    margin-right: 0px;
  }
}

@media (max-width: 991px) {
  .navbar-form .btn {
    position: absolute;
    top: -13px;
    right: -22px;
  }
  #inputSearch {
    width: 100% !important;
  }
  .form-search {
    width: 100% !important;
  }
  .material-datatables {
    margin-top: 15px;
  }
}
.container-agents {
  padding-bottom: 0px;
}
.btn-search-right {
  float: right;
  margin-right: 0px;
}
.frm-s {
  width: 93%;
  margin-left: -26px;
}
@media (max-width: 991px) {
  .frm-s {
    width: 90%;
    margin-left: 0px;
  }
}

.link-bold {
  font-weight: 500;
}
.w-20 {
  width: 40px;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #999999
}
.i-delete {
  font-size: 27px;
}
.pre-26 {
  margin-top: -26px;
}
.btn-search-entities {
  margin-top: 22px;
}
td, th {
  border-bottom: 1px dotted #eee;
  padding: 5px;
}
.material-datatables {
  padding-left: 3px;
  padding-right: 14px;
}
.text-left {
  padding-left: 3px !important;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 2px;
}
.btn-can-action {
  background-color: #aaaaaa !important
}