<div *ngFor="let item of products">
    <div  class="modal fade" id="confirm-delete-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notice" >
            <div class="modal-content">
                <div class="modal-body">
                    <span>Bạn có chắc muốn xóa sản phẩm <b>{{item.name}}</b> không ?</span>
                </div>
                <div class="modal-footer">
                    <button #cancel_product type="button" class="btn btn-default btn-can-action" data-dismiss="modal">Hủy</button>
                    <button (click)="deleteProduct(item.id)" class="btn btn-danger btn-ok" data-dismiss="modal">Xóa <i class="material-icons">delete</i></button>
                </div>
            </div>
        </div>
    </div>
</div>