label{
    color: #000;
}

div.header-payment {
    width: 100%;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

div.card-payment {
    color: #000;
    background: #fff;
    padding: 10px;
    position: relative;
}
  
div.container-payment {
    padding: 10px;
}
.expired-date.valid{
    background: blue;
    color: #fff;
}
.tut-payment{
    position: absolute;
    background: #fff;
    z-index: 1000;
    right: 0;
    top: 0;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
    padding: 25px 15px 15px;
    box-shadow: 0 0 20px 0 rgba(77,77,77,.2);
    // border-radius: 5px;
    border: 1px solid #e0e6ed;
    max-width: 400px;
    margin-bottom: 30px;
}