<!-- <div class="row">
    <hr style="border-top: 1px solid rgba(0,0,0,.09); margin-top:5px;margin-bottom:5px">
</div> -->

<div class="row" (click)="close()">
    <div class="col-md-12">
        <label>MÃ KHUYẾN MÃI</label>
        <div style="margin-left:20px">
            <input name="maVoucher" #maVoucher (keyup.enter)="checkVoucherCode(maVoucher.value)" class="maVoucher" style="height: 30px;border: 1px solid rgba(0, 0, 0, .12)!important;font-family: 'Arial';
            padding: 5px;width: calc(100% - 100px)"
                placeholder="Nhập mã khuyến mãi...">
            <button [disabled]="isCheckVoucher" class="btn btn-facebook" (click)="checkVoucherCode(maVoucher.value)">Kích hoạt</button>
            <span class="voucher-message">{{messageVoucher}}</span>
        </div>
    </div>

    <div class="col-md-12" *ngIf="pageInfo.expiry_date">
        <label>THÔNG TIN ỨNG DỤNG</label>
        <div style="margin-left:20px">
            <label>Ngày hết hạn:</label>
            <span class="expired-date valid">{{pageInfo.expiry_date}}<span style="color:#B71C1C" *ngIf="pageInfo.is_expired === true">(Hết hạn)</span></span>
        </div>
    </div>

    <div class="col-md-12">
        <label>HƯỚNG DẪN THANH TOÁN</label>
        <div style="margin-left:20px">
            <div>
                <div class="header-payment">
                    <div class="container-payment">
                        <span>Thông tin chuyển khoản</span>
                    </div>
                    <div class="card-payment" [innerHTML]="paymentInto">
                    </div>
                </div>
            </div>
            <p></p>
            <div>
                <div class="header-payment">
                    <div class="container-payment">
                        <span>Nội dung chuyển khoản</span>
                        <i (click)="open()" style="float: right;cursor: pointer;" class="material-icons">help_outline</i>
                    </div>
                    <div class="card-payment">
                        <span>
                            <p>DK HANA &lt;T&Ecirc;N G&Oacute;I&gt; &lt;THỜI HẠN&gt; &lt;T&Ecirc;N ỨNG DỤNG&gt; &lt;SỐ USER&gt;</p>
                            <p>Số lượng &lt;= 3000 user: <span style="text-decoration: line-through;">499K</span> -&gt; 299k (thanh to&aacute;n 01/2018)</p>
                            <p>Số lượng &lt;= 5000 user: <span style="text-decoration: line-through;">699K</span> --&gt; 399K (thanh to&aacute;n 01/2018)</p>
                            <p>Số lượng &lt;= 10000 user: <span style="text-decoration: line-through;">1199K</span> -&gt; 699k (thanh to&aacute;n 01/2018)</p>
                            <p>Số lượng &lt;= 15000 user: <span style="text-decoration: line-through;">1499K</span> -&gt; 999K (thanh to&aacute;n 01/2018)</p>
                        </span>
                        <div [innerHTML]="tutPaymentContent" class="tut-payment modal-hana">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:5px">
        <label>LỊCH SỬ THANH TOÁN</label>
        <div>
            <p-dataTable emptyMessage="{{tableMessage}}" [style]="{'margin-left':'4px'}" [value]="histories" [rows]="10" [paginator]="true"
                [totalRecords]="totalRecords" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">

                <p-column field="type" [sortable]="true" header="Loại" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center'}">
                </p-column>
                <p-column [sortable]="true" header="Thời gian" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center'}">
                    <ng-template let-car="rowData" pTemplate="body">
                        <span>{{ car.payment_date | date: 'dd/MM/yyyy hh:mm:ss' }} </span>
                    </ng-template>
                </p-column>
                <p-column field="package" [sortable]="true" header="Gói" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center'}">
                </p-column>
                <p-column field="code" [sortable]="true" header="Mã KM" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center'}">
                </p-column>
                <p-column field="total_money" [sortable]="true" header="Số tiền" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center'}">
                </p-column>
                <p-column [sortable]="true" header="Giá trị" [style]="{'background':'#fff', 'color':'#000', 'text-align':'center'}">
                    <ng-template let-car="rowData" pTemplate="body">
                        <span *ngIf="car.type === 'credit'">{{ 'Giảm ' + car.value + '%' }} </span>
                        <span *ngIf="car.type === 'voucher'">{{ 'Thêm ' + car.value + ' ngày' }} </span>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>