<md-input-container>
    <input mdInput placeholder="Tham số" (click)="check($event)"  (keypress)="check($event)" (keyup)="check($event)" name="entity-value-synonyms-auto" #input_auto [(ngModel)]="query_default" [mdAutocomplete]="auto" [formControl]="stateCtrl" class="input-auto-entity">
</md-input-container>
<md-autocomplete #auto="mdAutocomplete">
    <md-option (onSelectionChange)="enterSelect($event, state)" (click)="enterSelect($event, state)"  *ngFor="let state of filteredStates" [value]="state">
        {{ state }}
    </md-option>
</md-autocomplete>