@media (max-width: 991px) {
  .mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    margin-top: -10px !important;
    width: 100%;
  }
}
.mat-input-container {
  display: inline-block;
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  line-height: normal;
  text-align: left;
  margin-top: 0px !important;
  width: 100%;
}