.container-group {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  border: 0;
  background: #FDFDFD;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 7px;
}

.flex-1 {
  width: 50%;
  border-right: 1px solid rgba(0, 0, 0, .2);
  text-align: left;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-2 {
  position: relative;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2-child {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.taggle-input {
  height: auto;
  border: 0;
  background: #FDFDFD;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
  min-height: 45px;
  padding: 8px;
  border-radius: 3px;
  color: #555;
  transition: all .25s;
  cursor: text;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 0;
}

li.ui-chips-token.ui-state-highlight {
  color: #fff;
}

.disabled {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

.ng2-tag-input {
  border: 0;
}

* .ng2-dropdown-menu {
  margin-left: 5%;
  max-height: 200px;
  width: auto;
}

.input-inbox {
  // resize: none;
  width: 100%;
  // margin-top: 10px;
  border: 1px solid #3f51b5;
  border-radius: 4px;
  color: #3f51b5;
}
