<div class="card parent-popup-event" style="width: 100%;margin-bottom:10px; margin-top: 10px;">
  <div class="btn-trash-icon btn-popup-one" (click)="delete()"></div>
  <div class="btn-save-icon btn-popup-two" (click)="save()"></div>
  <div class="card-content" style="min-height: 0;padding: 0;">
    <div class="container-group">
      <div class="flex-1">
        <label>NẾU KHÁCH HÀNG NÓI TƯƠNG TỰ NHƯ SAU</label>
        <!--<div class="taggle-input clearfix">
          <div id="{{intentId}}_usersay" style="height: auto"></div>
        </div>-->
        <p-chips color="chip-white" [(ngModel)]="usersaysTemp" placeholder="" (onAdd)="onAdd($event)" (onRemove)="onRemove($event)">
          <ng-template let-item pTemplate="item">
            {{item.content}}
          </ng-template>
        </p-chips>
      </div>
      <div class="flex-2">
        <div class="flex-2-child">
          <label *ngIf="typeFaq !== 'inbox'">THÌ HANA SẼ TRẢ LỜI</label>
          <label *ngIf="typeFaq === 'inbox'">THÌ HANA SẼ TRẢ LỜI VỚI <span style="color: blue;text-decoration: underline;cursor: pointer;" (click)="responseTextType = !responseTextType">{{responseTextType ? 'TEXT':'BLOCK'}}</span></label>

          <md-slide-toggle style="margin-left:50px" *ngIf="typeFaq === 'comment'" color="primary" [(ngModel)]="isToInbox" (change)="changeSwitch($event)"><span style="color:#3f51b5">Chuyển inbox</span></md-slide-toggle>
          <!--<div class="taggle-input clearfix">
            <div id="{{intentId}}_response"></div>
          </div>-->
          <p-chips [style.display]="responseTextType ? 'block':'none'" color="chip-grey" [(ngModel)]="response_message" placeholder="">
            <ng-template let-item pTemplate="item">
              {{item}}
            </ng-template>
          </p-chips>

          <tag-input placeholder="+Thêm block" secondaryPlaceholder="Click vào để chọn block" (onAdd)="onItemAdded($event)" (onRemove)="onItemRemoved($event)"
            [style.display]="!responseTextType ? 'block':'none'" theme='minimal' [(ngModel)]='blockSelected' [onlyFromAutocomplete]="true">
            <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="blocks">
              <ng-template let-item="item" let-index="index" pTemplate="body">
                <div>
                  <span>{{item.display}}</span>
                </div>
              </ng-template>
            </tag-input-dropdown>
          </tag-input>
          <span *ngIf="typeFaq !== 'inbox' && isToInbox===true">
            <label style="color: #3f51b5; margin-top:10px">NỘI DUNG GỬI INBOX</label>
            <textarea maxlength="640" pInputTextarea autoResize="autoResize" [(ngModel)]="textToInbox" class="input-inbox"></textarea>
            <span style="float: right; color: #3f51b5;">({{640 - textToInbox.length}})</span>
          </span>
          <ba-intent-action *ngIf="typeFaq === 'inbox' && currentIntent"></ba-intent-action>
        </div>
      </div>
    </div>
  </div>
</div>
