// component css goes here
table {
  border-collapse: collapse;
}

table, th, td, th {
  padding: 5px;
}
table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}
td {
  text-align: center;
}
.btn-round  {
  padding: 2px;
}
.text-left {
  text-align: left;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 32px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
  float: right;
  margin-right: 15px;
  margin-top: 25px
}
.container-agents {
  padding-bottom: 0px;
}
.btn-search-right {
  float: right;
  margin-right: 0px;
}
.frm-s {
  width: 93%;
  margin-left: -26px;
}
td, th {
  border-bottom: 1px dotted #eee;
  padding: 5px;
}
.link-bold {
  font-weight: 500;
}
.w-20 {
  width: 40px;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #f44336;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #777;
}
.i-delete {
  font-size: 27px;
}
.pre-26 {
  margin-top: -51px;
}
.custom-search {
  float: right;
  margin-right: 15px;
  margin-top: 15px
}
.material-datatables {
  padding: 14px !important;
}
.btn-search-entities {
  margin-top: 22px;
}
.container-agents {
  padding-bottom: 5px;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #999999;
}
.container-agents {
  padding-bottom: 0px;
}
.material-datatables {
  margin-top: -17px;
}
.text-left {
  padding-left: 3px !important;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: -3px;
}
.cancel_action {
  background-color: #aaaaaa !important
}