<div class="parent-popup-event div-detail-button" style="margin-top: -28px">
  <div class="btn-close-popup-large" (click)="dialogRef.close('')"></div>
  <input [style.border-color]="getStyleText(title_value.trim().length)" (blur)="returnData()" type="text" placeholder="Nhập tiêu đề (20 ký tự)" maxlength="20" id="title_value" name="title_value" [(ngModel)]="title_value" class="ng-pristine ng-valid ng-empty ng-touched ct-input" style="width: 337px; margin-left: 21%;">
  <div class="row" style="margin-top: 5px">
    <hr style="border-top: 1px solid #e0e0e0; margin-top:5px;margin-bottom:5px">
  </div>
  <md-dialog-content class="text-left">
    <div class="row">
      <div class="col-md-12">
        <ul  class="nav nav-pills">
          <li (click)=onFocusTag($event) [ngClass]="(data.button.button_type==='text') ? 'active':''" >
            <a  href="#tab-text" data-toggle="tab" class="tab-custom" (click)="updateTypeButton('text')">Text</a>
          </li>
          <li (click)=onFocusTagLiBlock($event) [ngClass]="(data.button.button_type==='block') ? 'active':''">
            <a href="#tab-blocks" data-toggle="tab" class="tab-custom" (click)="updateTypeButton('block')">
              <span style="padding-top: 2px;" class="block-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Blocks</span>
            </a>
          </li>
          <li (click)=onFocusTag($event) [ngClass]="(data.button.button_type==='url') ? 'active':''">
            <a href="#tab-url" data-toggle="tab" class="tab-custom" (click)="updateTypeButton('url')">
              <span style="padding-top: 2px;" class="url-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; URL</span>
            </a>
          </li>
        </ul>
        <div class="tab-content clearfix">
          <div [ngClass]="(data.button.button_type==='text') ? 'tab-pane active':'tab-pane'"  id="tab-text">
            <div class="container-tab">
              <input (click)=onFocusTag($event) [style.border-color]="getStyleText(text_value.trim().length)" (blur)="returnData()" type="text" placeholder="Nhập nội dung gửi về cho bot xử lý"   id="text_value" name="text_value" [(ngModel)]="text_value" class="ng-pristine ng-valid ng-empty ng-touched ct-input">
            </div>

            <br>
            <div>
              <p style="margin-bottom: -15px; font-weight: bold; color: #555555;">Đưa vào nhóm khi khách hàng click</p>
              <tag-input name="select_block" [(ngModel)]="selectedItemsGroupText"
                         (onAdd)="onAddGroupText($event)"
                         (onSelect)="onSelectedGroup($event)"
                         (onRemove)="onSelectedGroup($event)"
                         placeholder="Chọn nhóm" secondaryPlaceholder="Chọn nhóm">
                <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                </tag-input-dropdown>
              </tag-input>
            </div>
            <br>
            <div>
              <p style="margin-bottom: -15px; font-weight: bold; color: #555555;">Đưa khách hàng vào quy trình chăm sóc</p>
              <tag-input name="select_block" [(ngModel)]="selectedItemsSequncesText"
                         [onlyFromAutocomplete]="true"
                         (onAdd)="onSelectedSequence($event)"
                         (onSelect)="onSelectedSequence($event)"
                         (onRemove)="onSelectedSequence($event)"
                         placeholder="Chọn quy trình chăm sóc" secondaryPlaceholder="Chọn quy trình chăm sóc">
                <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                </tag-input-dropdown>
              </tag-input>
            </div>

            <!-- delete -->
            <br>
            <div>
              <p style="margin-bottom: -15px; font-weight: bold; color: #555555;">Bỏ khách hàng ra khỏi nhóm khi click</p>
              <tag-input name="select_block" [(ngModel)]="selectedItemsGroupTextDelete"
                         [onlyFromAutocomplete]="true"
                         (onAdd)="onSelectedGroup($event)"
                         (onSelect)="onSelectedGroup($event)"
                         (onRemove)="onSelectedGroup($event)"
                         placeholder="Chọn nhóm" secondaryPlaceholder="Chọn nhóm">
                <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                </tag-input-dropdown>
              </tag-input>
            </div>
            <br>
            <div>
              <p style="margin-bottom: -15px; font-weight: bold; color: #555555;">Bỏ khách hàng ra khỏi quy trình chăm sóc</p>
              <tag-input name="select_block" [(ngModel)]="selectedItemsSequncesTextDelete"
                         [onlyFromAutocomplete]="true"
                         (onAdd)="onSelectedSequence($event)"
                         (onSelect)="onSelectedSequence($event)"
                         (onRemove)="onSelectedSequence($event)"
                         placeholder="Chọn quy trình chăm sóc" secondaryPlaceholder="Chọn quy trình chăm sóc">
                <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                </tag-input-dropdown>
              </tag-input>
            </div>
            <!-- end delete -->

          </div>
          <div [ngClass]="(data.button.button_type==='block') ? 'tab-pane active':'tab-pane'" id="tab-blocks">
            <div class="container-tab" style="position: relative; ">
              <br>
              <div>
                <p style="margin-bottom: -15px; font-weight: bold; color: #555555;">Thì Hana sẽ trả lời</p>
                <tag-input name="select_block" [(ngModel)]="selectedItems"
                           [onlyFromAutocomplete]="true"
                           (onAdd)="onSelectedBlock($event)"
                           (onSelect)="onSelectedBlock($event)"
                           (onRemove)="onSelectedBlock($event)"
                           [onlyFromAutocomplete]="true"
                           [addOnBlur]="true"
                           placeholder="Chọn block" secondaryPlaceholder="Chọn block">
                  <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownList" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                  </tag-input-dropdown>
                </tag-input>
              </div>
              <br>
              <div>
                <p style="margin-bottom: -15px; font-weight: bold; color: #555555;">Đưa vào nhóm khi khách hàng click</p>
                <tag-input name="select_block" [(ngModel)]="selectedItemsGroup"
                           (onAdd)="onAddGroup($event)"
                           (onSelect)="onSelectedGroup($event)"
                           (onRemove)="onSelectedGroup($event)"
                           placeholder="Chọn nhóm" secondaryPlaceholder="Chọn nhóm">
                  <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                  </tag-input-dropdown>
                </tag-input>
              </div>
              <br>
              <div>
                <p style="margin-bottom: -15px; font-weight: bold; color: #555555;">Đưa khách hàng vào quy trình chăm sóc</p>
                <tag-input name="select_block" [(ngModel)]="selectedItemsSequnces"
                          [onlyFromAutocomplete]="true"
                           (onAdd)="onSelectedSequence($event)"
                           (onSelect)="onSelectedSequence($event)"
                           (onRemove)="onSelectedSequence($event)"
                           placeholder="Chọn quy trình chăm sóc" secondaryPlaceholder="Chọn quy trình chăm sóc">
                  <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                  </tag-input-dropdown>
                </tag-input>
              </div>
              <!-- remove -->
              <br>
              <div>
                <p style="margin-bottom: -15px; font-weight: bold; color: #555555;">Bỏ khách hàng ra khỏi nhóm khi click</p>
                <tag-input name="select_block" [(ngModel)]="selectedItemsGroupDelete"
                           [onlyFromAutocomplete]="true"
                           (onAdd)="onSelectedGroup($event)"
                           (onSelect)="onSelectedGroup($event)"
                           (onRemove)="onSelectedGroup($event)"
                           placeholder="Chọn nhóm" secondaryPlaceholder="Chọn nhóm">
                  <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListGroups" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                  </tag-input-dropdown>
                </tag-input>
              </div>
              <br>
              <div>
                <p style="margin-bottom: -15px; font-weight: bold; color: #555555;">Bỏ khách hàng ra khỏi quy trình chăm sóc</p>
                <tag-input name="select_block" [(ngModel)]="selectedItemsSequncesDelete"
                           [onlyFromAutocomplete]="true"
                           (onAdd)="onSelectedSequence($event)"
                           (onSelect)="onSelectedSequence($event)"
                           (onRemove)="onSelectedSequence($event)"
                           placeholder="Chọn quy trình chăm sóc" secondaryPlaceholder="Chọn quy trình chăm sóc">
                  <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="dropdownListSequnces" [identifyBy]="'id'" [displayBy]="'name'" [appendToBody]="false">
                  </tag-input-dropdown>
                </tag-input>
              </div>
              <!-- end remove -->
            </div>
          </div>
          <div [ngClass]="(data.button.button_type==='url') ? 'tab-pane active':'tab-pane'" id="tab-url">
            <div class="container-tab">
              <input (click)=onFocusTag($event) [style.border-color]="getStyleText(url_value.trim().length)" (blur)="returnData()" type="text" placeholder="Nhập url" id="url_value" name="url_value" [(ngModel)]="url_value" class="ng-pristine ng-valid ng-empty ng-touched ct-input">
            </div>
          </div>
          <div class="row" style="margin-top: 45px; margin-bottom: 5px">
            <button md-raised-button (click)="okClick()" style="margin: auto; margin-left: 40%;">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</div>