.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}

.main-content .form-group {
  margin: 0;
  margin-bottom: 0;
  // margin-top: 10px;
  padding: 0;
}

.fa-filter {
  float: right;
  margin-right: 10%;
  padding-right: 10px;
  margin-top: -30px;
  color: #ccc;
  font-size: 25px;
}

.hana-training-inbox {
  width:96%;
  margin: 0px 20px 0px 20px;
  // max-height: calc(100vh - 105px);
  // overflow-x: hidden;
}
.hana-control-inbox {
  margin: 10px 20px 0px 5px;
  margin-left:5px;
}