<div class="container-fluid entity-div">
    <div class="row div-top--20px" style="min-height: 550px">
        <div class="col-md-12">
            <div class="loader" *ngIf="is_loading">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
            <div class="card card-entity" *ngIf="!is_loading">
                <form action="/" class="form-horizontal" method="get" #frm_new="ngForm" novalidate="novalidate">
                    <div class="card-content">
                        <h4 class="card-title card-title-custom "><i class="material-icons icon-title-list">assignment</i>Dữ Liệu Sản Phẩm</h4>
                        <br>
                        <br>
                        <div class="row" *ngFor="let key of data_product_items_keys; let i = index">
                            <div *ngIf="key !='_id'">
                                <label class="col-sm-2 label-on-left">{{key}}</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="name-{{key}}"  [(ngModel)]='data_product_items[key]' maxlength="250"  placeholder="Nhập {{key}}">
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div *ngIf="i == 0">
                                        <button class="btn-save-entity btn btn-danger"  (click)="saveForm();" type="button">Lưu <i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>