.hide-synName {
  display: none;
}
.form-group-AsynName{
  padding-bottom: 10px; margin: 20px 0 0 0; border: 1px double #eee; border-radius: 5px;
}
.form-group label.control-label {
  font-size: 15px;
  line-height: 1.07143;
  color: #777;
  font-weight: 400;
  margin: 16px 0 0 0;
}
.table td {
  padding: 0px 8px;
  vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 0px solid #ddd !important;
}
.form-group {
  padding-bottom: 10px;
}
.btn .material-icons {
  vertical-align: middle;
  font-size: 17px;
  top: 0px;
  position: relative;
}
.btn-close-tdn {
  float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.btn-close-tuchinh {
  float: right;padding-right: 0px;margin-top: -2pc;position: relative;
}
@media (max-width: 991px) {
  .padding-left-10 {
    padding-left: 0px;
  }
  .btn-close-tuchinh {
    float: right;
    padding-right: 0px;
    margin-top: -38px;
    position: relative;
  }
  .mat-input-container {
    display: inline-block;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    line-height: normal;
    text-align: left;
    margin-top: 0px !important;
    width: 100%;
  }
}

.btn-close-tuchinh {
  float: right;
  padding-right: 0px;
  margin-top: -40px;
  position: relative;
}
.tbn-them-tu-dong-nghia {
  margin-left: 8px !important;
}

.btn-delete-tuchinh {
  vertical-align: middle;
  font-size: 21px !important;
  top: 2px !important;
  position: relative;
  color: #999999;
}

.btn-delete-tuchinh:hover {
  vertical-align: middle;
  font-size: 21px !important;
  top: 2px !important;
  position: relative;
  color: #337ab7;
}

.btn-delete-tudongnghia {
  vertical-align: middle;
  font-size: 21px !important;
  top: -7px !important;
  position: relative;
  color: #999999;
}

.btn-delete-tudongnghia:hover {
  vertical-align: middle;
  font-size: 21px !important;
  top: -7px !important;
  position: relative;
  color: #337ab7;
}
.form-group {
  padding-bottom: 0px !important;
}
.form-group {
  padding-bottom: 0px;
  margin: 7px 0 0 0;
}
.card .form-horizontal .label-on-left-new {
  padding-left: 25px;
  padding-top: 16px;
}
.padding-left-10-tdn {
  padding-left: 8px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.form-control {
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.mat-input-wrapper {
  margin: 1em 0;
  padding-bottom: 0px;
  margin-top: 8px;
}
.div_check_box {
  padding-top: 10px; padding-bottom: 4px;
}
.card-entity {
  margin-top: 21px;
}
.checkbox-entity {
  margin-left: -30px
}
.btn-close-entity {
  float: right; padding-right: 0px; margin-top: -35px; position: relative;
}
.td-entity {
  padding: 0px
}
.btn-save-entity {
  float: left; margin-right: 0px
}




.card-content {
  min-height: 66px;
}


/* enable absolute positioning */

.inner-addon {
  position: relative;
}


/* style glyph */

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}


/* align glyph */

.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}


/* add padding  */

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.card-header i {
  font-size: 25px;
}

.card-content {
  min-height: 0px
}
a {
  color: #777;
}
.head-table {
  color: #333;
}
table {
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  height: 50px;
  text-align: center;
  font-size: 13px;
}

.btn-round  {
  padding: 2px;
}
.text-left {
  text-align: left;
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 7px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
}
.custom-search {
  float: right;
  margin-right: 15px;
  margin-top: 25px
}

.container-agents {
  padding-left: 6px;
  padding-right: 15px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .btn-search-right {
    margin-right: 0px;
  }
}

@media (max-width: 991px) {
  .navbar-form .btn {
    position: absolute;
    top: -13px;
    right: -22px;
  }
  #inputSearch {
    width: 100% !important;
  }
  .form-search {
    width: 100% !important;
  }
  .material-datatables {
    margin-top: 15px;
  }
}
.container-agents {
  padding-bottom: 0px;
}
.btn-search-right {
  float: right;
  margin-right: 0px;
}
.frm-s {
  width: 93%;
  margin-left: -26px;
}
@media (max-width: 991px) {
  .frm-s {
    width: 90%;
    margin-left: 0px;
  }
}

.link-bold {
  font-weight: 500;
}
.w-20 {
  width: 40px;
}
.btn-round-delete {
  background-color: transparent;
  padding: 3px;
  font-size: 10px;
  color: #777;
}
.btn-round-delete :hover {
  //background-color: #777;
  color: #999999
}
.i-delete {
  font-size: 27px;
}
.pre-26 {
  margin-top: -26px;
}
.btn-search-entities {
  margin-top: 22px;
}
td, th {
  border: 1px dotted #eee;
  padding: 5px;
}
.material-datatables {
  padding-left: 3px;
  padding-right: 14px;
}
.text-left {
  padding-left: 3px !important;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 2px;
}

.div-search-product-data {
  margin-top: 40px !important;
}
table, th, td, th {
  border: 1px solid #ccc;
}
table {
  width: 100%;
}
.table > tfoot > tr > td {
  padding: 12px 2px !important;
  vertical-align: middle;
}
.card .table tr:first-child td {
  padding-left: 5px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px 0px;
  vertical-align: middle;
  padding-left: 0px;
  padding-left: 5px !important;
}
.card .table tr:first-child td {
  border-top: 1px solid #ccc;
}
.form-group input[type=file] {
  opacity: 1 !important;
  position: relative !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding-left: 7px;
  width: 201px;
}
.m-top0 {
  margin-top: 0px !important;
}
.export {
  float: right;
  margin-left: 11px;
}
.div-tool {
  margin-top: -5px;
}
.table > tfoot > tr > td {
  padding: 0px 0px !important;
  vertical-align: middle;
}
.select-file {
  text-align: right;
  width: 105px;
  padding-right: 0px;
}
.dowload-file {
  color: #3c8dbc;
  padding-left: 18px;
  text-decoration: underline;
}
td, th {
  border: 1px dotted #eee;
  padding: 0px !important;
}
.card .card-content {
  padding: 15px 20px;
  position: relative;
  /* min-height: 200px !important; */
  background-color: #fff;
  border-radius: 5px;
}
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 47px 0;
  /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); */
  border-radius: 6px;
  color: #777;
  /* background: #fff; */
}
.main-panel .main-content {
  /* margin-top: 70px; */
  margin-top: -41px !important;
  padding: 19px 1px;
  min-height: calc(100vh - 123px);
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card .card-content {
  padding: 15px 20px;
  position: relative;
  /* min-height: 200px !important; */
  background-color: #fff;
  border-radius: 5px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 2px;
}
.card .card-title {
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: 0px;
}
.card-title-custom {
  font-weight: 400;
  position: fixed;
  margin-left: 5px;
}
.icon-title-list {
  position: relative;
  top: 6px;
}
.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
  background-color: #3c8dbc;
  color: #FFFFFF;
}
.btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger:hover {
  box-shadow: none;
}
.btn-danger {
  box-shadow: none;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
  font-size: 14px;
  line-height: 1.42857;
  color: #777 !important;
  font-weight: 400;
}
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 19px 0;
  border-radius: 6px;
  color: #777;
}
.card .form-horizontal .label-on-left {
  padding: 16px 5px 0 0;
  text-align: right;
}