<div class="modal fade" id="createQuickTemplateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="card-content" *ngIf="editValue; else falsyTemplate">
                        <h4 class="card-title">Chỉnh sửa trả lời nhanh</h4>
                        <div class="form-group label-floating is-empty">
                            <input class="form-control ng-pristine ng-invalid ng-touched" placeholder="Số thứ tự" name="ordernum" type="number" [(ngModel)]="editValue.order_num"></div>
                        <div class="form-group label-floating is-empty">
                            <input maxlength="200" class="form-control ng-pristine ng-invalid ng-touched" placeholder="Tìm nhanh" name="quicktext" type="text" [(ngModel)]="editValue.quick_search"></div>
                        <div class="form-group label-floating is-empty">
                        
                            <textarea maxlength="2000" id="myArea" class="form-control" rows="4" cols="50" placeholder="Nội dung" name="content" type="text" [(ngModel)]="editValue.text_search"></textarea>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-rose btn-fill btn-wd" type="button" (click)="saveEdit(editValue)">Lưu</button>
                        </div>
                </div>

                <ng-template #falsyTemplate>
                        <div class="card-content">
                                <h4 class="card-title">Thêm câu trả lời nhanh</h4>
                                <div class="form-group label-floating is-empty">
                                    <input class="form-control ng-pristine ng-invalid ng-touched" placeholder="Số thứ tự" name="ordernum" type="number" [(ngModel)]="ordernum"></div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label" for="">Tìm nhanh
                                                        </label>
                                    <input maxlength="200" class="form-control ng-pristine ng-invalid ng-touched" name="quicktext" type="text" [(ngModel)]="quicktext"></div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label" for="">Nội dung
                                                    <span class="star">*</span>
                                                </label>
                                    <textarea maxlength="2000" id="myArea" class="form-control" rows="4" cols="50" name="content" type="text" [(ngModel)]="content"></textarea>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-rose btn-fill btn-wd" type="button" (click)="save()">Lưu</button>
                                </div>
                            </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>