<img *ngIf="res.image_url?.length > 0" class="img" style="width: 100%; border-radius: 0px; height: 199px" src="{{res.image_url}}" onError="this.src='../assets/no_image.jpg';">
<div>
    <div class="input-group solid-input first" style="width: 100%">
        <div class="completer__wrapper">
            <!--<input style="border: 0px; height: 40px; width: 100%; padding-left: 5px"  type="text" (blur)="emitSave()" class="ng-valid ng-isolate-scope ng-valid-maxlength ng-touched ng-not-empty ng-dirty ng-valid-parse res-text-{{index_nam}}" name="image_url-{{i}}" [(ngModel)]="res.image_url" (keyup)="checkValidate()" placeholder="Nhập đường dẫn hình ảnh" maxlength="2000">-->
            <ba-file-upload [url]="res.image_url" (output)="res.image_url=$event"></ba-file-upload>

            <hr style="margin-top: 0px; margin-bottom: 0px;">
            <input [style.border-color]="getStyle(res)" style="height: 40px; width: 100%; padding-left: 5px" type="text" (blur)="emitSave()" class="ng-valid ng-isolate-scope ng-valid-maxlength ng-touched ng-not-empty ng-dirty ng-valid-parse input_err" #title_input name="item-title-{{i}}" [(ngModel)]="res.title" placeholder="Nhập tiêu đề (80 kí tự) (*)" maxlength="80">
            <hr style="margin-top: 0px; margin-bottom: 0px;">
            <input style="border: 0px; height: 40px; width: 100%; padding-left: 5px" type="text" class="ng-valid ng-isolate-scope ng-valid-maxlength ng-touched ng-not-empty ng-dirty ng-valid-parse" name="item-subtitle-{{i}}" [(ngModel)]="res.subtitle" (blur)="emitSave()" placeholder="Nhập mô tả ngắn (80 kí tự)" maxlength="80">
            <div>
                <!--<div *ngFor="let button of res.buttons; let j = index">-->
                    <!--<div style="position: relative">-->
                        <!--&lt;!&ndash;<hr style="margin-top: 0px; margin-bottom: 0px;">&ndash;&gt;-->
                        <!--<input  style="border: 0px; height: 40px; width: 100%; padding-left: 5px; padding-right: 22px; border-top: 3px solid #efeff0" type="text" (blur)="emitSave()" [(ngModel)]="button.title"  placeholder="Tên button (20 kí tự)" name="buttons-{{id_component}}-{{j}}-{{index_nam}}-{{index}} " maxlength="20">-->
                        <!--<div  aria-multiselectable="true" class="panel-group" id="accordion" role="tablist" style="padding: 0px;margin-bottom: 0px;margin-top: 0px;">-->
                            <!--<div  class="panel panel-default" style="padding: 0px;">-->
                                <!--<div  class="panel-heading" id="headingOne" role="tab" style="border: 0px !important">-->
                                    <!--<a  aria-controls="collapseOne" aria-expanded="false" class="" data-parent="#accordion" data-toggle="collapse" href="#collapseOne-{{id_component}}-{{j}}-{{index_nam}}-{{index}}" role="button">-->
                                        <!--<h4  class="panel-title" style="position: absolute;right: 0px;margin-top: -30px;color: #c0c0c0;">-->
                                            <!--<i  class="material-icons">keyboard_arrow_down</i>-->
                                        <!--</h4>-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div aria-expanded="true" aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne-{{id_component}}-{{j}}-{{index_nam}}-{{index}}" role="tabpanel" style="">-->
                                    <!--<div  class="panel-body" style="padding-bottom: 0px;padding-top: 0px;margin-bottom: 0px;margin-top: 0px;">-->
                                        <!--<input *ngIf="button.url != undefined" style="border: 0px; height: 40px; width: 100%; padding-left: 5px" type="text" (blur)="emitSave()" [(ngModel)]="button.url"  name="url-{{id_component}}-{{j}}-{{index_nam}}-{{index}}"  placeholder="Đường dẫn button (nếu có)" >-->
                                        <!--<input *ngIf="button.payload != undefined" style="border: 0px; height: 40px; width: 100%; padding-left: 5px" type="text" (blur)="emitSave()" [(ngModel)]="button.payload"  name="url-{{id_component}}-{{j}}-{{index_nam}}-{{index}}"  placeholder="Đường dẫn button (nếu có)" >-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<i class="block-delete" (click)="deleteBba-button-blockuttonCard(button)" style="position: absolute; margin-right: 7px; margin-top: 2px;"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<button (click)="addNutBam()" *ngIf="!is_block_nutbam" style="width: 100%; margin-top: 2px; /* border-top: 1px red !important; */ font-size: 13px; padding: 5px;" class="ml5 mat-raised-button"><i class="fa fa-plus"></i> THÊM BUTTON</button>-->

                <ba-button-gallery [block_cur]="block_cur"  [input_list_buttons]="res.buttons" (output)="res.buttons=$event"></ba-button-gallery>

            </div>
        </div>
    </div>
</div>



