.menu-box {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 365px;
  min-height: 56px;
  padding: 0px;
  margin: 0 32px 0 0;
  box-sizing: content-box;
  background-color: #FDFDFD !important;
  /* border: 1px solid #dfe0e2 !important; */
  border-radius: 7px !important;
  color: rgba(0, 0, 0, 0.2) !important;
}

.menu-item {
  border: 1px solid #efefef;
  min-height: 56px;
  padding: 0px 12px 0;
  line-height: inherit;
  box-sizing: border-box;
  font-size: 15px;
  color: #5c5656;
  padding-top: 13px;
  position: inherit;
}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 20px;
  width: 13px !important;
}

.group-block-delete {
  position: absolute;
  background: url(/assets/icon/ic_trash_midle.svg) no-repeat 50%;
  height: 30px;
  width: 30px;
  right: -16px;
  top: 8px;
  opacity: 0;
}
.dd-item:hover .group-block-delete {
  opacity: 0.5;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}

.title-button {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #448af1;
}

.button-box {
  padding: 0px 0 0;
  padding-bottom: 4px;
  width: 100%;
  text-align: center;
  border: 1px double #f8f8f8;
  background-color: #fff;
}
.button-box:hover {
  .block-delete {
    display: block;
  }
}

.block_span {
  position: relative;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #767676;
  white-space: nowrap;
  border-radius: 3px;
  background-color: #f3f2f2;
  padding: 0 2px;
  margin: 0 7px 0 0;
}

.campaign-name {
  background: transparent;
  border: 0;
  border-radius: 10px;
  padding: 5px;
}
.campaign-name:focus {
  border: 1px solid #ccc;
}
.campaign-name {
  background: none;
  border: 0;
  border-radius: 10px;
  padding: 0px;
}
.title-button {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  color: #3f7fdf;
}

.button-box {
  padding: 0px 0 0;
  padding-bottom: 4px;
  width: 100%;
  text-align: center;
  border: 1px double #eeeeee;
  background-color: #fff;
}

.menu-item .edit-submenu {
  width: 124px;
  height: 23px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #a6a6a6;
  background-position: 110px;
  background-repeat: no-repeat;
  background-image: url(https://dashboard.chatfuel.com/fonts/ic-arrow-right.svg?1.4.0);
  padding: 0 0 0 18px;
  overflow: hidden;
  margin-right: 33px;
  margin-bottom: 13px;
}
.button-ver2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.menu-item:hover .edit-submenu {
  color:#0084ff;
  background-position: 110px;
  background-repeat: no-repeat;
  background-image: url(https://dashboard.chatfuel.com/fonts/ic-arrow-right-hover.svg?1.4.0);
}

.menu-item .pre-left {
  width: 128px;
  height: 23px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  color: #a6a6a6;
  background-position: 2px;
  background-repeat: no-repeat;
  background-image: url(https://dashboard.chatfuel.com/fonts/ic-arrow-left.svg?1.4.0);
  padding: 0 0 0 18px;
  overflow: hidden;
  margin-left: 11px;
  margin-bottom: 18px;
  padding-right: 2px;
}

.menu-item:hover .pre-left {
  color:#0084ff;
  background-repeat: no-repeat;
  background-image: url(https://dashboard.chatfuel.com/fonts/ic-arrow-left-hover.svg?1.4.0);
}

.campaign-name {
  background: transparent;
  border: 0;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
}

.campaign-name:focus {
  border: 1px solid #ccc;
}
.title-module {
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1.5;
  color: #000;
  padding: 0;
  margin: -4px 0 16px;
  text-align: left;
  display: inline-block;
}
.input-sort {
  width: 33px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 1px;
}
.menu-item .edit-submenu {
  width: 129px;
  height: 23px;
  position: absolute;
  bottom: 5px;
  right: 0px;
  font-size: 12px;
  color: #a6a6a6;
  background-position: 110px;
  background-repeat: no-repeat;
  background-image: url(https://dashboard.chatfuel.com/fonts/ic-arrow-right.svg?1.4.0);
  padding: 0 0 0 0px;
  overflow: hidden;
  margin-right: 33px;
  margin-bottom: 13px;
}
ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  margin-top: 0px !important;
  padding-top: 0px !important;

  -webkit-margin-before: 0em !important;
  -webkit-margin-after: 0em !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  -webkit-padding-start: 0px !important;
}
.menu-item .edit-submenu {
  width: 129px;
  height: 23px;
  position: absolute;
  bottom: 14px;
  right: 0px;
  font-size: 12px;
  color: #a6a6a6;
  background-position: 110px;
  background-repeat: no-repeat;
  background-image: url(https://dashboard.chatfuel.com/fonts/ic-arrow-right.svg?1.4.0);
  padding: 0 0 0 0px;
  overflow: hidden;
  margin-right: 33px;
  margin-bottom: 13px;
}
.dran-icon {
  position: absolute;
  margin-left: -31px;
  margin-top: 0px;
  background-image: url(https://dashboard.chatfuel.com/fonts/ic_drag_ver.svg?1.4.0);
  cursor: ns-resize;
  width: 24px;
  height: 24px;
  opacity: 0.5;
}
.config-sub-menu {
  text-align: right;
  float: right;
  font-size: 13px;
  color: #004eff;
  background-repeat: no-repeat;
  background-image: url(https://dashboard.chatfuel.com/fonts/ic-arrow-right-hover.svg?1.4.0);
  padding: 0 6px 0px 0px;
  margin-right: 10px;
  background-position: right;
  background-size: auto;
  margin-top: -20px;
}

.menu-item {
  border: 1px solid #eeeeee78;
  min-height: 56px;
  padding: 0px 12px 0;
  line-height: inherit;
  box-sizing: border-box;
  font-size: 16px;
  color: #5c5656;
  padding-top: 13px;
  position: relative;
}
.dd-item:hover .dran-icon {
  opacity: 1;
}
.menu-box {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 345px !important;
  min-height: 56px;
  padding: 0px;
  margin: 0 2px 0 0;
  box-sizing: content-box;
  background-color: #FDFDFD !important;
  border-radius: 7px !important;
  color: rgba(0, 0, 0, 0.2) !important;
}
.btn-add-button {
  color: #3f7fdf;
  min-height: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
}

.borderless {
  border-color: transparent
}

[template-editor] textarea,
[textcomplete] textarea,
textarea[textcomplete] {
  resize: none
}
.borderless {
  border-color: transparent;
  width: 60% !important;
  padding: 5px;
  line-height: inherit;
  font-weight: 100;
  border-radius: 5px;
}