








.create-new {
    margin-top: 13px;
    margin-bottom: -10px;
}

.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
    background-color: #5690c2;
    color: #FFFFFF;
}
.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger {
    box-shadow: none;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: 11px;
}
.icon-title-list {
    position: relative;
    top: 6px;
}

.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
}

.ng-pristine {
              display: inline;
              vertical-align: middle;
              border: none;
              padding: 0;
              height: auto;
              min-height: 30px!important;
              line-height: 1.7!important;
              font-size: 1em;
              font-family: Roboto,Helvetica Neue,sans-serif;
              background-color: transparent!important;
          }

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    /* line-height: 1.8; */
    height: 33px;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.form-group-top-10 {
    padding-top: 10px;
}
.form-group {
    padding-bottom: 0!important;
    padding-bottom: 0;
    margin: 7px 0 0;
}
.btn-search-right {
    float: right;
    position: relative;
    margin-top: 5px !important;
}
.btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    /* padding: 12px 30px; */
    margin: 10px 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn .material-icons {
    vertical-align: middle;
    font-size: 17px;
    top: 0px;
    position: relative;
}
.input-group .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 0px 0px;
}
.form-group-top-10 {
    padding-top: 10px;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: 11px;
}
h4, .h4 {
    font-size: 16px;
    line-height: 1.4em;
}




.myicon-delete {
    font-size: 24px
}
.my-btn-delete {
    margin-top: -3px
}
.btn-search-right {
    float: right;
    position: relative;
    margin-right: 0px;
}
.modal-backdrop.in {
    opacity: 0 !important;
}
.modal-body {
    padding-top: 0px;
}
.btn-agent {
    padding: 5px !important;
}
.checkbox {
    background-color: #4caf50 !important;
}

.link-list {
    clear: both;font-weight: bold;color: #3c8dbc;
}
.no-agent {
    min-height: 350px; text-align: center
}
.err {
    background-image: linear-gradient(#3c8dbc, #3c8dbc), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    transition-duration: 0.3s;
}
.ng-pristine{
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0 0rem;
    height: auto;
    min-height: 30px !important;
    line-height: 1.7 !important;
    font-size: 1em;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    background-color: transparent !important;
}
.ng2-tag-input  {
    border-bottom: 1px double #d2d2d2 !important;
}
input {
    background-color: transparent !important;
}
.img-agent {
    border-radius: 203px; width: 117px;
}
.card-agent {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: #777;
    min-height: 225px !important;
}
.card-header {
    min-height: 121px;
    padding-top: 6px;
    margin-top: 13px;
}
.list-agent{
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 21px;
    margin-left: 0px;
}
.togglebutton {
    float: right;
}
.description {
    min-height: 20px;
}
.container-agents {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

/*@media (max-width: 768px) {*/
/*.btn-search-right {*/
/*margin-right: 0px;*/
/*}*/
/*.form-search {*/
/*padding-bottom: 15px !important;*/
/*}*/
/*.container-agents {*/
/*padding-left: 15px;*/
/*padding-right: 15px;*/
/*padding-bottom: 5px;*/
/*margin-top: 13px !important;*/
/*}*/
/*.div_save_close {*/
/*float: right !important;*/
/*}*/
/*}*/
.btn-search-right {
    float: right;
    position: relative;
    margin-top: 10px;
}
.close_save_agent {
    float: right !important;
    margin-right: 15px;
    background-color: #aaaaaa !important;
}
.save_agent {
    margin-right: 5px;
}

.input-search {
    width: 90%;
}
/*.btn-search-agent {*/
/*padding: 9px;background-color: #fff;margin-left: -16px;*/
/*}*/


.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
.list-agent {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 21px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px !important;
}

.btn-delete-right {
    background-color: transparent;
    padding: 3px;
    font-size: 10px;
    color: #777 !important;
}
.btn-delete-right :hover {
    color: #999 !important;
}
.card-title-custom {
    font-weight: 400;
    position: fixed;
    margin-left: 11px;
}

.img-agent {
    border-radius: 203px;
    max-width: 117px;
}
.form-group {
    padding-bottom: 0px !important;
}
.form-group {
    padding-bottom: 0px;
    margin: 7px 0 0 0;
}
.card .form-horizontal .label-on-left-new {
    padding-left: 25px;
    padding-top: 16px;
}
.padding-left-10-tdn {
    padding-left: 8px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
}
.mat-input-wrapper {
    margin: 1em 0;
    padding-bottom: 0px;
    margin-top: 8px;
}
.div_check_box {
    padding-top: 10px; padding-bottom: 4px;
}

.modal-title-custom {
    margin-left:-4px
}
.col-sm-2-custom {
    width: 21%;
}
.col-sm-10-custom {
    width: 78%;
}
.form-group-top-10 {
    padding-top: 10px
}
.img-tro-ly {
    width: 110px; height: 110px !important;
}
.card-content {
    text-align: center;
}
.card-agent {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
    color: #777;
    min-height: 225px!important;
}
.btn-delete-right {
    background-color: transparent;
    padding: 3px;
    font-size: 10px;
    color: #777!important;
}
.my-btn-delete {
    margin-top: -3px;
}
.myicon-delete {
    font-size: 24px;
}
.btn .material-icons {
    vertical-align: middle;
    font-size: 17px;
    top: 0px;
    position: relative;
}
.card-header {
    min-height: 121px;
    padding-top: 6px;
    margin-top: 13px;
}
.btn-delete-right {
    position: absolute;
    float: right;
    right: 0px;
    top: 14px;
}
.myicon-delete {
    font-size: 24px !important;
}
.card .form-horizontal .label-on-left {
    padding: 16px 5px 0 0 !important;
    padding-left: 0px;
    text-align: left;
}
.col-sm-2-custom {
    width: 21%;
}
.card .card-content {
    padding: 15px 20px;
    position: relative;
    /* min-height: 200px !important; */
    background-color: #fff;
    border-radius: 5px;
}
.modal-dialog .card {
    margin-bottom: 7px;
    margin-top: 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
}
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 47px 0;
    /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); */
    border-radius: 6px;
    color: #777;
    /* background: #fff; */
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right {
    font-size: 14px;
    line-height: 1.42857;
    color: #777;
    font-weight: 400;
}
.card form [class*="col-"]:first-child {
    padding-left: 15px !important;
}

.form-group textarea {
    resize: none;
    /* padding-left: 4px; */
    margin-top: 2px !important;
}
.form-group textarea {
    resize: none;
    margin-top: 8px !important;
    padding-top: 2px !important;
}
.card .form-horizontal .label-on-left {
    padding: 15px 5px 0 0 !important;
    padding-left: 0px;
    text-align: left;
}
.card-agent {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 1px 4px 0 #ddd;
    border-radius: 6px;
    color: #777;
    min-height: 225px!important;
    border: 1px solid #ddd;
    cursor: pointer;
}