<!-- new agent -->
<!-- pub up-->
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog modal-notice" >
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" style="padding: 0; cursor: pointer; background: #fff !important; border: 0 !important; -webkit-appearance: none !important; color: #212121 !important; opacity: 2 !important; font-size: 24px !important;" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modal-title-custom"><i class="material-icons icon-title-list">assignment</i>THÊM TRỢ LÝ</h4>
            </div>
            <div class="modal-body" >
                <!-- content add -->
                <div class="card">
                    <div class="card-content">
                        <form  (ngSubmit)="newAgent()" class="form-horizontal"  action="" method=""  novalidate="novalidate">
                            <div class="row">
                                <label class="col-sm-2 label-on-left col-sm-2-custom" style="padding-top: 15px">Tên trợ lý</label>
                                <div class="col-sm-10 col-sm-10-custom">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" value="{{currentAgent.name}}" name="name" #name_new  [(ngModel)]="currentAgent.name" placeholder="Nhập tên trợ lý" maxlength="50" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2  label-on-left col-sm-2-custom">Ảnh đại diện</label>
                                <div class="col-sm-10 col-sm-10-custom">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control"  type="text" name="avatar_url" value="{{currentAgent.avatar_url}}"  [(ngModel)]="currentAgent.avatar_url" placeholder="Nhập url ảnh đại diện" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left col-sm-2-custom">Mô tả</label>
                                <div class="col-sm-10 col-sm-10-custom">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <textarea style="height: 187px !important;" class="form-control" name="description" [(ngModel)]="currentAgent.description" placeholder="Nhập mô tả" maxlength="450">{{currentAgent.description}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4 div_save_close">
                                        <button class="btn btn-danger save_agent"  type="submit">Lưu <i class="material-icons">save</i></button>
                                        <button  class="close_save_agent" type="button" #btnCloseAdd class="btn btn-default btn-dong" data-dismiss="modal">Đóng</button>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end content add-->
            </div>
        </div>
    </div>
</div>
<!-- end -->
<!-- end new agent -->
<div class="main-content main-custom">
    <div class="loader" *ngIf="id_loading">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div class="container-fluid list-agent" *ngIf="!id_loading">
        <div class="card-content">
            <h4 class="card-title card-title-custom "><i class="material-icons icon-title-list">assignment</i>Danh Sách Trợ Lý</h4>
            <div class="row container-agents" >
                <!-- Input Group -->
                <div class="col-md-12 create-new">
                    <button  (click)="updateStatus()" class="btn btn-danger btn-search-right">
                        Tạo mới  <i class="material-icons">add_box</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="col-md-12">
                    <div class="form-group form-group-top-10">
                        <div class="input-group">
                            <input class="form-control" placeholder="Tìm trợ lý ảo" type="text" style="width: 100%" #inputSearch [(ngModel)]="value_filter" id="inputSearch" name="inputSearch" >
                            <span class="input-group-addon">
                            <i class="material-icons">search</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row container-agents">
                <div class="card-content no-agent"  *ngIf="(agents | searchPipe: value_filter).length === 0">
                    <span>Không có dữ liệu</span>
                </div>
                <div class="col-md-4" *ngFor="let agent of agents | searchPipe: value_filter;  let j = index ">
                    <div class="card-agent">
                        <div class="card-header card-chart">
                            <div class="icon icon-rose" style="text-align: center">
                                <a (click)="deleteAgent(agent.id)" data-toggle="modal" data-target="#confirm-delete-{{agent.id}}" href="#confirm-delete-{{agent.id}}"  class="btn btn-primary btn-simple btn-xs my-btn-delete btn-delete-right" rel="tooltip" title="" type="button" data-original-title="Xóa trợ lý">
                                    <i class="material-icons myicon-delete">delete</i>
                                </a>
                                <img class="img-agent img-tro-ly" src="{{ agent.avatar_url || '../assets/img/faces/hana-avatar.png'}}" onError="this.src='../assets/img/faces/hana-avatar.png';"  />
                            </div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">
                                <a (click)="showAgentEdit(agent.id); clickAgentEdit()"  title="{{agent.tmp_name}}" >
                                    <h4 class="card-title">{{agent.name}}</h4>
                                </a>
                            </h4>
                            <p class="card-description" data-toggle="tooltip" title="{{agent.tmp_description}}" data-placement="top" >{{agent.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>