<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let state of products" [value]="state.name" (keyup)="choiceData(state.name)" (click)="choiceData(state.name)">
    {{ state.name }}
  </md-option>
</md-autocomplete>
<md-input-container>
  <input name="entity_name" mdInput placeholder="Chọn sản phẩm" (keyup)="keyChange($event)" [mdAutocomplete]="auto" [formControl]="stateCtrl">
</md-input-container>
