<!-- SIDEBAR -->
<div class="logo div-no-agent">
  <div class="logo-normal">
    <a href="#" class="simple-text no-agent" rel="tooltip" data-placement="left" title="Remove item">
            HANA.AI
        </a>
  </div>
  <div class="logo-img">
    <img src="/assets/img/chat/logo.png" />
</div>
</div>


<div class="sidebar-wrapper">
  <div class="nav-container">
    <ul class="nav">
      <!-- <li routerLinkActive="active " *ngFor=" let item of menuItems ">
        <a *ngIf="item.show" routerLinkActive="active visible" [routerLink]="[item.path]">
                    <i class="material-icons">{{item.icon}}</i>
                    <p>{{item.title}}
                    </p>
                </a>
      </li> -->

      <!-- <li routerLinkActive="active ">
        <a routerLinkActive="active visible" [routerLink]="customers">
                    <i class="material-icons">people</i>
                    <p>KHÁCH HÀNG
                    </p>
                </a>
      </li>

       <li routerLinkActive=" ">
        <a routerLinkActive="active visible" [routerLink]="faq">
                    <i class="material-icons">playlist_add</i>
                    <p>ĐÀO TẠO HANA
                    </p>
                </a>
      </li> -->


       <li routerLinkActive="active " *ngFor=" let item of menuItems ">
        <a *ngIf="item.show" routerLinkActive="active visible" [routerLink]="[item.path]">
                    <i class="material-icons" *ngIf="item.icon !== 'hashtags'">{{item.icon}}</i>
                    <i class="fa fa-hashtag" *ngIf="item.icon === 'hashtags'" aria-hidden="true"></i>
                    <p>{{item.title}}
                    </p>
                </a>
      </li> 

      <li class="version-1" style="display:none">
        <a href="{{consoleHana}}/training-manager">
                <i class="material-icons">android</i>
                    <p>ĐÀO TẠO HANA
                    </p>
              </a>
      </li>
    </ul>
  </div>
</div>
<!-- SIDEBAR -->
