<div *ngFor="let item of intentDontunderstands; let i = index">
    <div  class="modal fade" id="confirm-delete-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notice" >
            <div class="modal-content">
                <div class="modal-body">
                    <span>Bạn có chắc muốn xóa câu nói <b> "{{item.content}}" </b> không ?</span>
                </div>
                <div class="modal-footer">
                    <button (click)="delete(item.id)" class="btn btn-danger btn-ok" data-dismiss="modal" style="float: right; ">Xóa <i class="material-icons">delete</i></button>
                    <button type="button" class="btn btn-danger btn-ok" data-dismiss="modal" style="background-color: #aaaaaa !important; padding: 12px; float: right; margin-right: 10px">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>