<div class="card parent-popup-event" style="width: 100%;margin-bottom:10px; margin-top: 10px;">
  <div class="btn-trash-icon btn-popup-one" (click)="delete()"></div>
  <!-- <div class="btn-save-icon btn-popup-two" (click)="save()"></div> -->
  <div class="card-content" style="min-height: 0;padding: 0;">
    <div class="container-group">
      <div class="flex-1" style="position:relative">
        <label>NẾU KHÁCH HÀNG NÓI TƯƠNG TỰ NHƯ SAU</label>
        <i style="float: right;cursor: pointer;font-size:20px" class="material-icons">help_outline</i>
        <!-- <p-chips color="chip-white" [(ngModel)]="usersaysTemp" placeholder="" (onAdd)="onAdd($event)" (onRemove)="onRemove($event)">
          <ng-template let-item pTemplate="item">
            {{item.content}}
          </ng-template>
        </p-chips> -->
        <md-slide-toggle style="margin-right: 10px" color="primary" [(ngModel)]="currentIntent.is_machine_learning" (change)="updateMachineLearning($event)"><span style="color:#3f51b5">Hiểu gần đúng</span></md-slide-toggle>
        <div class="card-payment">
          <div class="tut-payment modal-hana">
              <p><span style="text-decoration: underline;"><strong>Hướng dẫn nhập nhanh</strong></span></p>
              <p>Bạn c&oacute; thể copy từ nguồn b&ecirc;n ngo&agrave;i v&agrave;o. Mỗi c&acirc;u n&oacute;i c&aacute;ch nhau bằng k&yacute; tự "<strong>;</strong>"</p>
          </div>
        </div>
        <tag-input (onSelect)="onTagEdited($event)" [addOnBlur]="true" [addOnPaste]="true" [pasteSplitPattern]="';'" [blinkIfDupe]="true" [tabindex]="'index1'" theme="bootstrap"
          [(ngModel)]="usersaysTemp" [modelAsStrings]="true" placeholder="+Thêm câu nói" secondaryPlaceholder="+Thêm câu nói"
          (onAdd)="onAfterAddUsersay($event)" (onRemove)="onRemoveUsersay($event)">
        </tag-input>
      </div>
      <div class="flex-2">
        <div class="flex-2-child">
          <label *ngIf="typeFaq !== 'inbox'">THÌ HANA SẼ TRẢ LỜI</label>
          <label *ngIf="typeFaq === 'inbox'">THÌ HANA SẼ TRẢ LỜI VỚI <span style="color: blue;text-decoration: underline;cursor: pointer;" (click)="responseTextType = !responseTextType; updateIntentToBlock();">{{responseTextType ? 'TEXT':'BLOCK'}}</span></label>
          <i style="float: right;cursor: pointer;font-size:20px" class="material-icons">help_outline</i>
          <!--<md-slide-toggle style="margin-right:10px" *ngIf="typeFaq === 'comment'" color="primary" [(ngModel)]="isToInbox" (change)="changeSwitch($event)"><span style="color:#3f51b5">Chuyển inbox</span></md-slide-toggle>-->

          <!-- <p-chips [style.display]="responseTextType ? 'block':'none'" color="chip-grey" [(ngModel)]="response_message" placeholder="">
            <ng-template let-item pTemplate="item">
              {{item}}
            </ng-template>
          </p-chips> -->

          <tag-input (onSelect)="onTagResponseEdited($event)" [dragZone]="'zone1'" [style.display]="responseTextType ? 'block':'none'" [addOnBlur]="true" [addOnPaste]="true" [pasteSplitPattern]="';'"
            [blinkIfDupe]="true" [tabindex]="'index1'" theme="minimal" [(ngModel)]="responseMessage" [modelAsStrings]="true"
            placeholder="+Thêm câu trả lời" secondaryPlaceholder="+Thêm câu trả lời" (onAdd)="updateResponse()" (onRemove)="updateResponse()">
          </tag-input>

          <tag-input theme='minimal' placeholder="+Thêm block" secondaryPlaceholder="Click vào để chọn block" (onAdd)="updateResponseBlock($event)"
            (onRemove)="RemoveResponseBlock($event)" [style.display]="!responseTextType ? 'block':'none'" [(ngModel)]='blockSelected'
            [onlyFromAutocomplete]="true">
            <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="blocks">
              <ng-template let-item="item" let-index="index" pTemplate="body">
                <div>
                  <span>{{item.display}}</span>
                </div>
              </ng-template>
            </tag-input-dropdown>
          </tag-input>
          <!--<span *ngIf="typeFaq === 'comment' && isToInbox===true">-->
            <!--<label style="color: #3f51b5; margin-top:10px">NỘI DUNG GỬI INBOX</label>-->
            <!--<textarea maxlength="640" pInputTextarea autoResize="autoResize" [(ngModel)]="textToInbox" class="input-inbox" (blur)="updateContentSendInbox()"></textarea>-->
            <!--<span style="float: right; color: #3f51b5;">({{640 - textToInbox.length}})</span>-->
          <!--</span>-->
          <ba-intent-action *ngIf="typeFaq === 'inbox' && currentIntent" [currentIntent]="currentIntent"></ba-intent-action>

          <!-- @Tam theo vao -->
          <ba-comment-inbox *ngIf="typeFaq === 'comment' && currentIntent" [currentIntent]="currentIntent"></ba-comment-inbox>
          <!-- End @Tam theo vao -->

        </div>
      </div>
    </div>
  </div>
</div>