<div class="card parent-popup-event" style="width:100%;margin-bottom:10px; margin-top: 10px;">
  <!-- <div class="btn-save-icon btn-popup-one" (click)="save()"></div> -->
  <div class="card-content" style="min-height: 0;padding: 0;">
    <div class="container-group">
      <div class="flex-2">
        <div class="flex-2-child">
          <label *ngIf="typeFaq === 'inbox'" style="color:red">NẾU HANA KHÔNG HIỂU CÂU NÓI CỦA KHÁCH HÀNG, HANA SẼ TRẢ LỜI VỚI <span style="color: blue;text-decoration: underline;cursor: pointer;" (click)="responseTextType = !responseTextType; updateIntentToBlock();">{{responseTextType ? 'TEXT':'BLOCK'}}</span></label>
          <!-- <label *ngIf="typeFaq === 'inbox'">THÌ HANA SẼ TRẢ LỜI VỚI <span style="color: blue;text-decoration: underline;cursor: pointer;" (click)="responseTextType = !responseTextType; updateIntentToBlock();">{{responseTextType ? 'TEXT':'BLOCK'}}</span></label> -->
          <label *ngIf="typeFaq !== 'inbox'" style="color:red">NẾU HANA KHÔNG HIỂU COMMENT CỦA KHÁCH HÀNG, HANA SẼ TRẢ LỜI:</label>
          <!--<md-slide-toggle style="float:right" *ngIf="typeFaq !== 'inbox'" color="primary" [(ngModel)]="isToInbox" (change)="changeSwitch($event)"><span style="color:#3f51b5">Chuyển inbox</span></md-slide-toggle>-->
          <!---->
          <!-- <p-chips color="chip-grey" [(ngModel)]="response_message" placeholder="">
            <ng-template let-item pTemplate="item">
              {{item}}
            </ng-template>
          </p-chips> -->
          <tag-input [style.display]="responseTextType ? 'block':'none'"
            (onSelect)="onTagResponseEdited($event)"
            [addOnBlur]="true"
            [addOnPaste]="true"
            [pasteSplitPattern]="';'"
            [blinkIfDupe]="true"
            [tabindex]="'index1'"
            theme="minimal"
            [(ngModel)]="responseMessage"
            [modelAsStrings]="true"
            placeholder="+Thêm câu trả lời"
            secondaryPlaceholder="+Thêm câu trả lời"
            (onAdd) = "updateResponse()"
            (onRemove)="updateResponse()">
          </tag-input>
          <tag-input theme='minimal' placeholder="+Thêm block" secondaryPlaceholder="Click vào để chọn block" (onAdd)="updateResponseBlock($event)"
            (onRemove)="RemoveResponseBlock($event)" [style.display]="!responseTextType ? 'block':'none'" [(ngModel)]='blockSelected'
            [onlyFromAutocomplete]="true">
            <tag-input-dropdown style="width:auto" [showDropdownIfEmpty]="true" [autocompleteItems]="blocks">
              <ng-template let-item="item" let-index="index" pTemplate="body">
                <div>
                  <span>{{item.display}}</span>
                </div>
              </ng-template>
            </tag-input-dropdown>
          </tag-input>
          <!-- <span *ngIf="typeFaq !== 'inbox' && isToInbox===true">
            <label style="color: #3f51b5; margin-top:10px">NỘI DUNG GỬI INBOX</label>
            <textarea maxlength="640" pInputTextarea autoResize="autoResize" [(ngModel)]="textToInbox" class="input-inbox" (blur)="updateContentSendInbox()"></textarea>
            <span style="float: right; color: #3f51b5;">({{640 - textToInbox.length}})</span>
          </span> -->
          <ba-intent-action *ngIf="typeFaq === 'inbox' && currentIntent" [currentIntent]="currentIntent"></ba-intent-action>
          <!-- @Tam theo vao -->
          <ba-comment-inbox *ngIf="typeFaq === 'comment' && currentIntent" [currentIntent]="currentIntent"></ba-comment-inbox>
          <!-- End @Tam theo vao -->
        </div>
      </div>
    </div>
  </div>
</div>
